table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 0px !important;

  tbody {
    margin-bottom: 85px !important;
    display: table;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
    line-height: 22px;
    max-width: 400px;

    &:first-child {
      padding-left: 20px;
    }

    .checkbox {
      line-height: 11px;
    }

    label {
      margin: 0;
      color: #212529;
    }
  }

  th:first-child {
    min-width: 280px;
    padding-left: 46px;
  }

  th:nth-child(2) {
    min-width: 200px;
  }

  tr:nth-child(2n) {
    background: #f9f9f9;
  }

  .dropdown-menu.show {
    max-height: 100px;
    overflow-y: auto;
  }

  .dropdown-toggle {
    padding: 0;
    background: none;
    border: 0;
    text-transform: none;
    text-align: left;
    font-weight: 500;
    color: #212529;

    &:active,
    &:focus {
      background: none;
      color: #212529;
    }
  }
}

label {
  font-weight: 500;
}

.toggle-accounts {
  font-weight: 500;
  font-size: 22px;
  padding: 8px 0;
  overflow: hidden;

  .source {
    width: 30px;
    height: 30px;
  }

  .toggle-arrow {
    svg {
      width: 30px;
      height: 30px;
      fill: #333;
      transition: fill 0.15s ease-in-out;
    }

    &:hover {
      svg {
        fill: #2972d8;
      }
    }

    &.disabled {
      cursor: default;

      svg {
        fill: #ccc;
      }
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 767px) {
  .toggle-accounts {
    > div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .header {
    border-top: 0 !important;

    &.loaded {
      display: block !important;
    }
  }
}

@media all and (max-width: 576px) {
  div.text-center {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    a {
      padding: 12px 10px;
      display: table;
    }
  }

  div.text-center::-webkit-scrollbar,
  div.text-center::-webkit-scrollbar-thumb,
  div.text-center::-webkit-scrollbar-track {
    background-color: transparent !important;
    border: 0;
    height: 0px !important;
  }

  .filter-tabs {
    a {
      padding: 12px 15px;
    }
  }

  table {
    th,
    td {
      padding: 10px 5px !important;
      min-width: 190px;

      &:first-child {
        padding-left: 15px;
      }
    }

    th:first-child {
      min-width: 50px;
      padding-left: 15px;
    }
  }

  div.checkbox {
    label {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }
  }
}
/* mobile media queries end */
