<div
  class="header col-12"
  [ngClass]="{ loaded: backupAccounts && backupAccounts.length > 0 && loaded }"
>
  <svg class="help-icon d-none d-md-inline-block" (click)="openHelp()">
    <use xlink:href="/Images/svg-sprite.svg#question-circle-icon"></use>
  </svg>
  <ol class="breadcrumb d-none d-md-block">
    <li [translate]="'BACKUP_AND_RESTORE_HEADER'"></li>
  </ol>
  <div
    class="page-title d-none d-md-block"
    *ngIf="!backupFolders"
    [translate]="'BACKUP_AND_RESTORE_HEADER'"
  ></div>
  <div
    class="toggle-accounts d-flex justify-content-between"
    *ngIf="backupAccounts && backupFolders && loaded"
  >
    <a
      class="float-left toggle-arrow"
      [ngClass]="{ pointer: currentAccount > 0, disabled: currentAccount == 0 }"
      (click)="toggleAccount(false)"
    >
      <svg class="d-inline-block">
        <use xlink:href="/Images/svg-sprite.svg#arrow-l-icon"></use>
      </svg>
    </a>

    <div title="{{ backupAccounts[currentAccount].Username }}">
      <svg class="source mr-1">
        <use
          attr.xlink:href="/Images/sources.svg#{{
            backupAccounts[currentAccount].ProviderCode | lowercase
          }}-circle-icon"
        ></use></svg
      >{{ backupAccounts[currentAccount].Username }}
    </div>
    <a
      class="float-right toggle-arrow"
      [ngClass]="{
        pointer: currentAccount + 1 < backupAccounts.length,
        disabled: currentAccount + 1 >= backupAccounts.length
      }"
      (click)="toggleAccount(true)"
    >
      <svg class="d-inline-block">
        <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
      </svg>
    </a>
  </div>
  <div
    class="text-center filter-tabs"
    *ngIf="backupFolders && backupFolders.Replicas && loaded"
  >
    <a
      title="{{ replica.TypeName | translate }}"
      *ngFor="let replica of backupFolders.Replicas; let i = index"
      [ngClass]="{ active: i == currentReplica }"
      (click)="selectReplica(i)"
      >{{ replica.TypeName | translate }}</a
    >
  </div>
</div>
<div class="content col-12">
  <p
    *ngIf="backupAccounts && backupAccounts.length == 0 && loaded"
    [translate]="'RESTORE_NO_ACCOUNTS_TO_RESTORE'"
  ></p>
  <p
    *ngIf="
      loaded &&
      backupFolders &&
      backupFolders.Replicas[currentReplica].Folders.length == 0
    "
    [translate]="'NO_FOLDERS_BACKUPED'"
  ></p>
  <div
    *ngIf="
      backupAccounts &&
      backupAccounts.length > 0 &&
      loaded &&
      backupFolders.Replicas[currentReplica].Folders.length > 0
    "
  >
    <div class="mt-1 mb-3">
      <button
        type="button"
        class="btn btn-sm btn-toggle mx-0"
        [ngClass]="{ active: backupFolders.ExcludeRemovedFolders }"
        (click)="toggleExclude()"
        data-toggle="button"
        [attr.aria-pressed]="backupFolders.ExcludeRemovedFolders"
        autocomplete="off"
      >
        <div class="handle"></div>
        <div
          [ngClass]="
            backupFolders.ExcludeRemovedFolders ? 'status-on' : 'status-off'
          "
        >
          {{
            (backupFolders.ExcludeRemovedFolders ? "STATUS_ON" : "STATUS_OFF")
              | translate
          }}
        </div>
      </button>
      <label
        (click)="toggleExclude()"
        [translate]="'EXCLUDE_RESTORED_GROUPS'"
      ></label>
    </div>
    <p class="mb-3" [translate]="'SELECT_CONTACT_FOLDERS_TO_RESTORE'"></p>
    <div class="checkbox mb-3" [ngClass]="{ partial: partiallySelected }">
      <input
        type="checkbox"
        id="all"
        name="all"
        [checked]="allFoldersSelected"
        (change)="toggleAllFolders()"
      />
      <label
        title="{{ 'CHECK_UNCHECK_ALL' | translate }}"
        for="all"
        [translate]="'CHECK_UNCHECK_ALL'"
      ></label>
    </div>
    <div class="row-content">
      <table class="list-table">
        <tbody>
          <tr>
            <th [translate]="'TABLE_HEAD_FOLDERS'"></th>
            <th [translate]="'TABLE_HEAD_BACKUP_DATE'"></th>
            <th [translate]="'TABLE_HEAD_RESTORE_STATUS'"></th>
          </tr>
          <tr
            *ngFor="
              let folder of backupFolders.Replicas[currentReplica].Folders;
              let i = index
            "
          >
            <td>
              <div class="checkbox">
                <input
                  type="checkbox"
                  id="folder{{ i }}"
                  name="folder"
                  [checked]="folder.IsSelected"
                  (change)="toggleFolder(i)"
                />
                <label title="{{ folder.DisplayName }}" for="folder{{ i }}">{{
                  folder.DisplayName
                }}</label>
              </div>
            </td>
            <td>
              <div *ngIf="folder.BackupedFolders.length == 1">
                {{ folder.BackupedFolders[0].Date | todayDate }}
              </div>
              <div
                *ngIf="folder.BackupedFolders.length > 1"
                class="d-inline"
                ngbDropdown
                placement="bottom-right"
                [attr.autoClose]="'inside'"
              >
                <ng-container *ngFor="let bFolder of folder.BackupedFolders">
                  <button
                    type="button"
                    class="btn"
                    id="dropdown{{ folder.PrimaryId }}"
                    *ngIf="bFolder.IsSelected"
                    ngbDropdownToggle
                  >
                    {{ bFolder.Date | todayDate }}
                  </button>
                </ng-container>

                <ul
                  ngbDropdownMenu
                  attr.aria-labelledby="dropdown{{ folder.PrimaryId }}"
                >
                  <li *ngFor="let bFolder of folder.BackupedFolders">
                    <button
                      ngbDropdownItem
                      type="button"
                      class="dropdown-item"
                      (click)="changeBackupFolder(i, bFolder.BackupedFolderId)"
                    >
                      {{ bFolder.Date | todayDate }}
                    </button>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <span *ngIf="folder.LastRestored">{{
                folder.LastRestored | todayDate
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="action-controls pt-0 text-center">
      <button
        class="btn btn-primary"
        [disabled]="
          !backupFolders ||
          backupAccounts[currentAccount].IsRestoreDisabled ||
          backupFolders.Replicas[currentReplica].Folders.length === 0 ||
          (progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100)
        "
        [translate]="'RESTORE'"
        (click)="restore()"
      ></button>
    </div>
  </div>
</div>
