.service-img {
  svg {
    width: 80px;
    height: 80px;
    fill: #5e5e5e;
  }
}

.separator {
  margin: 10px 0px 10px 0px;
  height: 20px;
  position: relative;
  border-bottom: 2px solid #ddd;

  span {
    width: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -15px;
    position: absolute;
    background-color: #fff;
    color: #999;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
}
.row {
  > div {
    margin: 0 auto;
  }
}

.hidden-overflow {
  overflow: hidden;
}
