<div class="content col-12 p-0">
  <div class="row pt-3 px-3 pb-1">
    <div class="col-12 col-sm-6">
      <div class="service-img text-center mt-2 mb-3">
        <svg class="mb-1">
          <use
            xlink:href="/Images/svg-sprite.svg#microsoft-circle-icon-grey"
          ></use>
        </svg>
      </div>
      <h5 class="text-center mt-3">
        {{ "WORK_OR_SCHOOL_ACCOUNT_OFFICE365" | translate }}
      </h5>
      <h6 class="text-center mb-3">
        {{ "CREATED_BY_YOUR_IT_DEPARTMENT" | translate }}
      </h6>
      <form class="mt-3 pt-3" (ngSubmit)="addExternal()" novalidate>
        <div class="form-group">
          <button
            type="submit"
            id="add-external-source"
            class="btn btn-block btn-primary"
            [translate]="'ADD_SOURCE'"
          ></button>
        </div>
      </form>
    </div>
  </div>

  <div class="separator">
    <span [translate]="'OR'"></span>
  </div>

  <div class="row pt-1 px-3 pb-3">
    <div class="col-12 col-sm-6">
      <h4 class="text-center my-2">
        {{ "MICROSOFT_OR_OFFICE365" | translate }}
      </h4>
      <form [formGroup]="form" (ngSubmit)="add()" novalidate>
        <div class="form-group">
          <label
            for="email"
            [translate]="'ENTER_CREDENTIALS_LABEL_EMAIL_OR_USERNAME'"
          ></label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [ngClass]="
              form.get('username')?.invalid &&
              (form.get('username')?.dirty || form.get('username')?.touched)
                ? 'is-invalid'
                : ''
            "
            maxlength="120"
            formControlName="username"
          />
          <app-show-errors
            [control]="form.get('username')!"
            [errorMessage]="usernameErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="password"
            [translate]="'ENTER_CREDENTIALS_LABEL_PASSWORD'"
          ></label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [ngClass]="
              form.get('password')?.invalid &&
              (form.get('password')?.dirty || form.get('password')?.touched)
                ? 'is-invalid'
                : ''
            "
            maxlength="256"
            formControlName="password"
          />
          <app-show-errors
            [control]="form.get('password')!"
            [errorMessage]="passwordErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <input
              type="checkbox"
              id="autoDiscovery"
              name="autoDiscovery"
              value="true"
              formControlName="autoDiscovery"
            />
            <label
              for="autoDiscovery"
              [translate]="'ENTER_CREDENTIALS_CHECKBOX'"
            ></label>
          </div>
        </div>
        <div
          class="form-group hidden-overflow"
          *ngIf="!form.get('autoDiscovery')!.value"
          [@inputAnimation]
        >
          <label
            for="server"
            [translate]="'ENTER_CREDENTIALS_LABEL_SERVER'"
          ></label>
          <input
            type="text"
            name="server"
            id="server"
            class="form-control"
            maxlength="2000"
            formControlName="server"
          />
        </div>
        <div class="form-group">
          <button
            type="submit"
            id="add-source"
            class="btn btn-block btn-primary"
            [translate]="'ADD_SOURCE'"
          ></button>
        </div>
        <div class="form-group">
          <a
            (click)="openHelp('FORGOT_PASSWORD_EXCHANGE_DESC')"
            href="javascript:void(0)"
            >{{ "FORGOT_PASSWORD_WITHOUT_YOUR" | translate }}</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
