.second-column {
  padding-left: 47px;
}

.search {
  background: url(/Images/enterprise-icons/search.svg);
  padding-left: 28px;
  background-position: 4px 8px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.list-table-controls {
  > span,
  > a {
    padding: 7px;
    display: inline-block;
  }
}

.list-table tr td:first-child {
  padding-left: 0;
  text-align: center;
}

div.col-2 svg,
tbody tr td:nth-of-type(2) svg {
  width: 35px !important;
  height: 35px !important;
}

.status {
  height: 52px;
  width: 7px;
  float: left;
  margin: -1px 0;

  &.active {
    background-color: #00c10a;
  }

  @keyframes status-bar-stripes {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 0 18px;
    }
  }

  &.restore,
  &.requestsent,
  &.scheduled,
  &.cancelationinprogress,
  &.pending,
  &.inprogress {
    background-color: #2972d8;
    -webkit-animation: status-bar-stripes 1s linear infinite;
    -moz-animation: status-bar-stripes 1s linear infinite;
    -o-animation: status-bar-stripes 1s linear infinite;
    animation: status-bar-stripes 1s linear infinite;
    background-size: 18px 18px;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 75%,
      transparent
    );
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 75%,
      transparent
    );
  }

  &.failed,
  &.error,
  &.errordisabled,
  &.errorinactive,
  &.errorhttpcode5xx,
  &.errorsuspended {
    background-color: #ef452e;
  }

  &.completedwithissues,
  &.cancelationcompleted,
  &.needsreconnect,
  &.cancelled,
  &.skipped,
  &.warning {
    background-color: #ffd800;
  }

  &.inactive {
    background-color: #ccc;
  }

  &.partial-access {
    background-color: #ffda40;
  }

  &.errorhttpcode4xx {
    background-color: #777;
  }
}

.m-toggle-list {
  .list-group-item {
    padding-left: 15px;

    .list-header {
      padding: 11px 0;
    }

    .sublist {
      margin-left: 0;
    }
  }
}
.list-header {
  span.align-middle {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.error-msg {
  width: 100%;
  text-align: left;
  line-height: 36px;
  position: absolute;
  display: none;
  border-top: 1px solid #d2d2d2;

  &.failed,
  &.error,
  &.errordisabled,
  &.errorinactive,
  &.errorhttpcode4xx,
  &.errorhttpcode5xx,
  &.errorsuspended {
    display: block;
  }

  &.errorhttpcode4xx {
    svg {
      fill: #777 !important;
    }

    .error-msg-text {
      color: black;
    }
  }
}
.error-msg-icon {
  fill: #ef452e;
  margin: 0 21px;
}
.error-msg-text {
  color: #ef452e;
  vertical-align: middle;
  margin: 0 0 0 38px;
  line-height: 19px;

  a {
    color: #0496ff;
  }
}
.warning-msg {
  width: 100%;
  text-align: left;
  line-height: 36px;
  position: absolute;
  display: none;
  border-top: 1px solid #d2d2d2;

  &.partial-access {
    display: block;
  }
}
.warning-msg-icon {
  fill: #ffda40;
  margin: 0 21px;
}
.warning-msg-text {
  vertical-align: middle;
  margin: 0 0 0 38px;
}
.needsreconnect-text {
  vertical-align: middle;
  margin: 0 0 0 38px;
  color: #ffda40;
  line-height: 19px;
}
.list-table tr.active .error-msg-icon,
.list-table tr.active:hover .error-msg-icon {
  fill: #ef452e;
}

.list-table tr.active .warning-msg-icon,
.list-table tr.active:hover .warning-msg-icon {
  fill: #ffda40;
}

.selectable {
  &.failed,
  &.error,
  &.errordisabled,
  &.errorinactive,
  &.errorsuspended,
  &.errorhttpcode4xx,
  &.errorhttpcode5xx,
  &.needsreconnect,
  &.partial-access {
    td {
      padding-bottom: 37px;
    }
  }

  .btn-toggle {
    margin-left: 3px !important;
  }
}
.selectable {
  &.failed:last-child,
  &.error:last-child,
  &.errordisabled:last-child,
  &.errorinactive:last-child,
  &.errorsuspended:last-child,
  &.partial-access:last-child {
    border-bottom: none;
  }
}
.list-table tr.selectable:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.list-table tr.selectable:hover .error-msg,
.list-table tr.selectable:hover .warning-msg {
  background: #fff;
  border-bottom: 1px solid #d2d2d2;
}
.list-table tr.selectable:last-child:hover .error-msg,
.list-table tr.selectable:last-child:hover .warning-msg {
  border-bottom: none;
}
.list-table tr.active,
.list-table tr.active:hover {
  background-color: #1869db;
  color: #fff;
}
.list-table tr.active .error-msg,
.list-table tr.active:hover .error-msg,
.list-table tr.active .warning-msg,
.list-table tr.active:hover .warning-msg {
  background-color: #fff;
  color: #212529;
  border-bottom: 1px solid #d2d2d2;
}
.list-table tr.active:last-child .error-msg,
.list-table tr.active:last-child .warning-msg {
  border-bottom: none;
}
.error-msg-mobile {
  color: #ef452e;
  display: none;

  &.failed,
  &.error,
  &.errordisabled,
  &.errorinactive,
  &.errorsuspended,
  &.errorhttpcode4xx,
  &.errorhttpcode5xx,
  &.partial-access {
    display: flex;
  }
}

.m-toggle-list .list-group-item .sublist > .row.error-msg-mobile,
.m-toggle-list .list-group-item .sublist > .row.warning-msg-mobile {
  padding: 6px 3px;
}

.error-msg-mobile {
  &.errorhttpcode4xx {
    svg {
      fill: #777 !important;
    }

    span.align-middle {
      color: black;
    }
  }

  .error-msg-icon {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.warning-msg-mobile {
  display: none;

  &.partial-access {
    display: flex;
  }
}

.warning-msg-mobile {
  .warning-msg-icon {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-right: 8px;
    flex-shrink: 0;
  }
}
/* mobile media queries start */
@media all and (max-width: 767px) {
  .status {
    height: 58px;
    width: 7px;
    margin: -12px 0;
  }
}

@media all and (max-width: 576px) {
  .m-toggle-list {
    .list-group-item {
      padding-left: 10px;
    }
  }
}
/* mobile media queries end */
