<div class="content col-12">
  <div *ngIf="loaded">
    <p [translate]="'SELECT_SERVICES'"></p>
    <div class="d-none d-md-block position-relative">
      <div class="list-table-controls">
        <a
          id="add-source"
          [routerLink]="['/synchronization/addsyncaccount']"
          class="btn-link pull-left"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
          <span [translate]="'ADD_ACCOUNT'"></span>
        </a>
        <span
          id="what-yo-sync"
          (click)="openFilters()"
          class="btn-link pull-left"
          [ngClass]="{
            disabled:
              activeAccounts == 0 ||
              (progressBar &&
                progressBar.progress > 0 &&
                progressBar.progress < 100)
          }"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#filter-icon"></use>
          </svg>
          <span [translate]="'FILTERS'"></span>
        </span>
        <span
          id="directions"
          (click)="openDirection()"
          class="btn-link pull-left"
          [ngClass]="{
            disabled:
              activeAccounts == 0 ||
              (progressBar &&
                progressBar.progress > 0 &&
                progressBar.progress < 100)
          }"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#two-way-sync-arrows"></use>
          </svg>
          <span [translate]="'DIRECTION'"></span>
        </span>
        <span
          id="remove-account"
          class="btn-link pull-left"
          [ngClass]="{
            disabled:
              selected === 0 ||
              (progressBar &&
                progressBar.progress > 0 &&
                progressBar.progress < 100)
          }"
          (click)="remove()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#trash-circle-icon"></use>
          </svg>
          <span [translate]="'REMOVE'"></span>
        </span>
        <span
          id="change-password"
          class="btn-link pull-left d-none"
          [ngClass]="{
            disabled:
              selected === 0 ||
              filteredAccountsPage[selected].IsSyncCompanySource ||
              filteredAccountsPage[selected].ProviderCode == 'Google' ||
              filteredAccountsPage[selected].ProviderCode == 'OutlookRest' ||
              filteredAccountsPage[selected].ProviderCode == 'Office365' ||
              filteredAccountsPage[selected].Status == 'Error' ||
              (!filteredAccountsPage[selected].IsSelected &&
                filteredAccountsPage[selected].Status == 'Inactive') ||
              (filteredAccountsPage[selected].ProviderCode == 'Exchange' &&
                filteredAccountsPage[selected].IsAlternativeCredentials)
          }"
          (click)="changePass()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#key-circle-icon"></use>
          </svg>
          <span [translate]="'CHANGE_PASSWORD'"></span>
        </span>
        <span
          id="reconnect"
          class="btn-link pull-left"
          [ngClass]="{
            disabled:
              selected === 0 ||
              (!filteredAccountsPage[selected].IsSelected &&
                filteredAccountsPage[selected].Status == 'Inactive') ||
              (progressBar &&
                progressBar.progress > 0 &&
                progressBar.progress < 100)
          }"
          (click)="reconnect()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#refresh-circle-icon"></use>
          </svg>
          <span [translate]="'RECONNECT'"></span>
        </span>
        <span
          id="allow-access"
          class="btn-link pull-left"
          *ngIf="
            filteredAccountsPage[selected] &&
            !filteredAccountsPage[selected].IsSyncCompanySource &&
            ((!filteredAccountsPage[selected].HasFullAccess &&
              filteredAccountsPage[selected].ProviderCode !== 'ICloud' &&
              filteredAccountsPage[selected].ProviderCode !== 'Office365' &&
              filteredAccountsPage[selected].ProviderCode !== 'OutlookRest') ||
              filteredAccountsPage[selected].BackupAccountCanBeAdded)
          "
          (click)="allowFullAccess()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
          </svg>
          <span [translate]="'ALLOW_ACCESS'"></span>
        </span>

        <span
          id="search-sources"
          class="btn-link pull-left"
          *ngIf="allAccounts.length > pageSize"
          [ngClass]="{
            disabled:
              progressBar &&
              progressBar.progress > 0 &&
              progressBar.progress < 100
          }"
        >
          <input
            type="text"
            [formControl]="searchControl"
            placeholder="{{ 'SEARCH_SOURCES' | translate }}"
            class="form-control m-1 search"
            [ngbTypeahead]="search"
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
          />
        </span>
      </div>
      <table class="list-table">
        <tbody>
          <tr>
            <th [translate]="'TABLE_HEAD_ENABLED'"></th>
            <th
              class="second-column"
              [translate]="'TABLE_HEAD_ACCOUNT_NAME'"
            ></th>
            <th
              *ngIf="!hasSyncCompanyAccount"
              [translate]="'TABLE_HEAD_FILTERS'"
            ></th>
            <th *ngIf="hasSyncCompanyAccount" [translate]="'NAME'"></th>
          </tr>
          <tr
            class="selectable  {{ account.Status | lowercase }} {{
              account.NeedsReconnect && account.Status == 'Active'
                ? 'needsreconnect'
                : ' '
            }}"
            *ngFor="let account of filteredAccountsPage; let i = index"
            (click)="select(i)"
            [ngClass]="{ active: selected == i }"
          >
            <td>
              <div
                class="status {{ account.Status | lowercase }} {{
                  account.NeedsReconnect && account.Status == 'Active'
                    ? 'needsreconnect'
                    : ' '
                }}"
              ></div>

              <button
                type="button"
                class="btn btn-sm btn-toggle mx-0"
                [ngClass]="{
                  active: account.IsSelected,
                  disabled:
                    account.Status == 'Pending' ||
                    (progressBar &&
                      progressBar.progress > 0 &&
                      progressBar.progress < 100)
                }"
                (click)="toggle(i)"
                data-toggle="button"
                [attr.aria-pressed]="account.IsSelected"
                autocomplete="off"
              >
                <div class="handle"></div>
                <div
                  [ngClass]="account.IsSelected ? 'status-on' : 'status-off'"
                >
                  {{
                    (account.IsSelected ? "STATUS_ON" : "STATUS_OFF")
                      | translate
                  }}
                </div>
              </button>

              <div class="error-msg {{ account.Status | lowercase }} ">
                <svg class="error-msg-icon">
                  <use
                    xlink:href="/Images/svg-sprite.svg#cancel-circle-icon"
                  ></use>
                </svg>
                <span
                  class="error-msg-text"
                  [innerHTML]="
                    'ERROR_MSG_STATUS_' + account.Status.toUpperCase()
                      | translate
                      | safeHtml
                  "
                ></span>
              </div>
              <div
                *ngIf="account.NeedsReconnect && account.Status == 'Active'"
                class="warning-msg partial-access {{
                  account.Status | lowercase
                }} "
              >
                <svg class="warning-msg-icon">
                  <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
                </svg>
                <span
                  class="warning-msg-text needsreconnect-text"
                  [innerHTML]="
                    'ERROR_MSG_NEEDSRECONNECT' | translate | safeHtml
                  "
                ></span>
              </div>
            </td>
            <td>
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    account.ProviderCode.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
              {{ account.Username }}
            </td>
            <td
              *ngIf="!hasSyncCompanyAccount"
              [translate]="
                account.IsFilterApplied
                  ? 'FILTER_STATUS_APPLIED'
                  : 'FILTER_STATUS_ALL_CONTENT'
              "
            ></td>
            <td *ngIf="hasSyncCompanyAccount">{{ account.FullName }}</td>
          </tr>
          <tr
            *ngIf="
              allAccounts.length > pageSize && filteredAccountsPage.length === 0
            "
          >
            <td class="text-center" colspan="4">
              {{ "DIDNT_FIND_ANY_SOURCES_CHECK_SPELLING" | translate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-md-none">
      <span
        class="pull-left"
        *ngIf="allAccounts.length > pageSize"
        [ngClass]="{
          disabled:
            progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100
        }"
      >
        <input
          type="text"
          [formControl]="searchControl"
          placeholder="{{ 'SEARCH_SOURCES' | translate }}"
          class="form-control mb-2 search pb-1"
          [ngbTypeahead]="search"
          [resultFormatter]="formatter"
          [inputFormatter]="formatter"
        />
      </span>
      <ul class="list-group m-toggle-list">
        <ng-container
          *ngFor="let account of filteredAccountsPage; let i = index"
        >
          <li
            class="list-group-item"
            *ngIf="account.AccountId != null"
            [ngClass]="{ opened: selected == i }"
          >
            <div class="list-header row" (click)="select(i, true)">
              <div class="col-1">
                <div class="status {{ account.Status | lowercase }}"></div>
              </div>
              <div class="col-2 col-sm-1 text-center">
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      account.ProviderCode.toLowerCase()
                    }}-circle-icon"
                  ></use>
                </svg>
              </div>
              <div class="col-7 col-sm-8 d-flex align-items-center">
                <span class="type align-middle">{{ account.Username }}</span>
              </div>
              <div
                class="col-2 text-right arrow"
                [ngClass]="{ open: selected == i }"
              >
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
                </svg>
              </div>
            </div>
            <div class="sublist" *ngIf="selected == i" @toggleAnimation>
              <div
                class="row error-msg-mobile {{ account.Status | lowercase }}"
              >
                <div class="col-12 d-flex flex-nowrap align-items-center">
                  <svg class="error-msg-icon">
                    <use
                      xlink:href="/Images/svg-sprite.svg#cancel-circle-icon"
                    ></use>
                  </svg>
                  <span
                    class="align-middle"
                    [innerHTML]="
                      'ERROR_MSG_STATUS_' + account.Status.toUpperCase()
                        | translate
                        | safeHtml
                    "
                  ></span>
                </div>
              </div>
              <div
                *ngIf="!account.HasFullAccess"
                class="row warning-msg-mobile"
              >
                <div class="col-12 d-flex flex-nowrap align-items-center">
                  <svg class="warning-msg-icon">
                    <use
                      xlink:href="/Images/svg-sprite.svg#cancel-circle-icon"
                    ></use>
                  </svg>
                  <span class="align-middle">{{
                    "PARTIAL_ACCESS_WARNING_" + account.Scopes
                      | translate: { var0: account.ProviderCode }
                  }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <span
                    class="align-middle"
                    [translate]="'TABLE_HEAD_ENABLED'"
                  ></span>
                </div>
                <div class="col-3 text-right">
                  <button
                    type="button"
                    class="btn btn-sm btn-toggle mx-0"
                    [ngClass]="{
                      active: account.IsSelected,
                      disabled:
                        account.Status == 'Pending' ||
                        (progressBar &&
                          progressBar.progress > 0 &&
                          progressBar.progress < 100)
                    }"
                    (click)="toggle(i)"
                    data-toggle="button"
                    [attr.aria-pressed]="account.IsSelected"
                    autocomplete="off"
                  >
                    <div class="handle"></div>
                    <div
                      [ngClass]="
                        account.IsSelected ? 'status-on' : 'status-off'
                      "
                    >
                      {{
                        (account.IsSelected ? "STATUS_ON" : "STATUS_OFF")
                          | translate
                      }}
                    </div>
                  </button>
                </div>
              </div>
              <div class="row d-none">
                <div
                  class="button col-12"
                  [ngClass]="{
                    disabled:
                      selected === 0 ||
                      filteredAccountsPage[selected].ProviderCode == 'Google' ||
                      filteredAccountsPage[selected].Status == 'Error' ||
                      !filteredAccountsPage[selected].IsSelected
                  }"
                  (click)="changePass()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#key-circle-icon"
                    ></use>
                  </svg>
                  <span
                    class="align-middle"
                    [translate]="'CHANGE_PASSWORD'"
                  ></span>
                </div>
              </div>
              <div class="row">
                <div
                  class="button col-12"
                  [ngClass]="{
                    disabled:
                      selected === 0 ||
                      (!filteredAccountsPage[selected].IsSelected &&
                        filteredAccountsPage[selected].Status != 'Error') ||
                      (progressBar &&
                        progressBar.progress > 0 &&
                        progressBar.progress < 100)
                  }"
                  (click)="reconnect()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#refresh-circle-icon"
                    ></use>
                  </svg>
                  <span class="align-middle" [translate]="'RECONNECT'"></span>
                </div>
              </div>
              <div class="row">
                <div
                  class="button col-12"
                  [ngClass]="{
                    disabled:
                      selected === 0 ||
                      (progressBar &&
                        progressBar.progress > 0 &&
                        progressBar.progress < 100)
                  }"
                  (click)="remove()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#trash-circle-icon"
                    ></use>
                  </svg>
                  <span class="align-middle" [translate]="'REMOVE'"></span>
                </div>
              </div>
              <div
                class="row"
                *ngIf="
                  filteredAccountsPage[selected] &&
                  !filteredAccountsPage[selected].HasFullAccess
                "
              >
                <div class="button col-12" (click)="allowFullAccess()">
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exclamark-icon"
                    ></use>
                  </svg>
                  <span
                    class="align-middle"
                    [translate]="'ALLOW_ACCESS'"
                  ></span>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
        <li
          *ngIf="
            allAccounts.length > pageSize && filteredAccountsPage.length === 0
          "
          class="p-3"
        >
          {{ "DIDNT_FIND_ANY_SOURCES_CHECK_SPELLING" | translate }}
        </li>
      </ul>
    </div>
    <div
      *ngIf="collectionSize > pageSize"
      class="p-0 d-flex justify-content-center align-items-center d-md-none"
    >
      <ngb-pagination
        [collectionSize]="collectionSize"
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        [(page)]="currentPage"
        size="sm"
        [maxSize]="8"
        (pageChange)="changePage()"
      ></ngb-pagination>
    </div>
    <div
      *ngIf="collectionSize > pageSize"
      class="p-0 justify-content-center align-items-center d-none d-md-block"
    >
      <ngb-pagination
        [collectionSize]="collectionSize"
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        [(page)]="currentPage"
        [maxSize]="8"
        (pageChange)="changePage()"
      ></ngb-pagination>
    </div>
    <div class="action-controls text-center">
      <a
        class="btn btn-primary d-md-none"
        [routerLink]="['/synchronization/addsyncaccount']"
        [translate]="'ADD_ACCOUNT'"
      ></a>
      <button
        class="btn btn-primary d-md-none"
        [disabled]="
          activeAccounts == 0 ||
          (progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100)
        "
        [translate]="'FILTERS'"
        (click)="openFilters()"
      ></button>
      <button
        class="btn btn-primary d-md-none ml-0"
        [disabled]="
          activeAccounts == 0 ||
          (progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100)
        "
        [translate]="'DIRECTION'"
        (click)="openDirection()"
      ></button>
      <button
        class="btn btn-primary ml-md-0"
        [disabled]="
          activeAccounts < 2 ||
          (progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100)
        "
        [translate]="'SYNC_ALL'"
        (click)="sync()"
      ></button>
    </div>
  </div>
</div>
