<div class="content col-12" *ngIf="!change; else changeForm">
  <div *ngIf="logins">
    <p [translate]="'MANAGE_MY_LOGINS'"></p>
    <div class="d-none d-md-block">
      <div class="list-table-controls">
        <a
          id="btnAdd"
          [routerLink]="['/account/mylogins/addlogin']"
          class="btn-link pull-left"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
          <span [translate]="'LOGINS_LIST_ADD'"></span>
        </a>
        <span
          id="btnRemove"
          class="btn-link pull-left"
          [ngClass]="{ disabled: selected == null || logins.length < 2 }"
          (click)="remove()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#trash-circle-icon"></use>
          </svg>
          <span [translate]="'LOGINS_LIST_REMOVE'"></span>
        </span>
        <span
          id="btnChangePassword"
          class="btn-link pull-left"
          [ngClass]="{
            disabled:
              selected == null ||
              logins[selected].LoginProvider === 'Google' ||
              logins[selected].LoginProvider === 'Microsoft'
          }"
          (click)="changePass()"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#key-circle-icon"></use>
          </svg>
          <span [translate]="'CHANGE_PASSWORD'"></span>
        </span>
      </div>
      <table class="list-table">
        <tbody>
          <tr>
            <th
              class="first-column"
              [translate]="'LOGINS_LIST_LOGIN_TYPE'"
            ></th>
            <th [translate]="'LOGINS_LIST_LOGIN_NAME'"></th>
            <th [translate]="'LOGINS_LIST_DATE_CREATED'"></th>
          </tr>
          <tr
            class="selectable"
            *ngFor="let login of logins; let i = index"
            (click)="select(i)"
            [ngClass]="{ active: selected == i }"
          >
            <td>
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    login.LoginProvider.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
              <span class="align-middle">{{ login.LoginProvider }}</span>
            </td>
            <td>{{ login.Email }}</td>
            <td>{{ login.DateAdded | todayDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-md-none">
      <ul class="list-group m-toggle-list">
        <li
          class="list-group-item"
          *ngFor="let login of logins; let i = index"
          [ngClass]="{ opened: selected == i }"
        >
          <div class="list-header row" (click)="select(i, true)">
            <div class="col-2 text-center align-self-center">
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    login.LoginProvider.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
            </div>
            <div class="col-8">
              <span class="type align-middle">{{ login.LoginProvider }}</span
              ><br />
              <span class="name align-middle">{{ login.Email }}</span>
            </div>
            <div
              class="col-2 text-right align-self-center arrow"
              [ngClass]="{ open: selected == i }"
            >
              <svg>
                <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
              </svg>
            </div>
          </div>
          <div class="sublist" *ngIf="selected == i" @toggleAnimation>
            <div class="row">
              <div
                class="button col-12"
                [ngClass]="{
                  disabled:
                    selected == null ||
                    logins[selected].LoginProvider === 'Google' ||
                    logins[selected].LoginProvider === 'Microsoft'
                }"
                (click)="changePass()"
              >
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#key-circle-icon"
                  ></use>
                </svg>
                <span
                  class="align-middle"
                  [translate]="'CHANGE_PASSWORD'"
                ></span>
              </div>
            </div>
            <div class="row">
              <div
                class="button col-12"
                [ngClass]="{ disabled: selected == null || logins.length < 2 }"
                (click)="remove()"
              >
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#trash-circle-icon"
                  ></use>
                </svg>
                <span
                  class="align-middle"
                  [translate]="'LOGINS_LIST_REMOVE'"
                ></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="action-controls text-center d-md-none">
      <a
        class="btn btn-primary"
        [routerLink]="['/account/mylogins/addlogin']"
        [translate]="'LOGINS_LIST_ADD'"
      ></a>
    </div>
  </div>
</div>

<ng-template #changeForm>
  <app-change-password-validate
    [account]="selected"
    [change]="change"
  ></app-change-password-validate>
</ng-template>
