<h1 [translate]="'CHANGE_PASSWORD'"></h1>
<p class="subheader" [translate]="'CHANGE_PASSWORD_DESC'"></p>
<form [formGroup]="form" (ngSubmit)="change()" novalidate>
  <div class="form-group">
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          form.get('password')?.invalid &&
          (form.get('password')?.dirty || form.get('password')?.touched)
            ? 'is-invalid'
            : ''
      }"
      minlength="8"
      maxlength="50"
      formControlName="password"
      placeholder="{{ 'NEW_PASSWORD' | translate }}"
      required
    />
    <app-show-errors
      [control]="form.get('password')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
  </div>
  <div class="form-group">
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          form.get('confirmPassword')?.invalid &&
          (form.get('confirmPassword')?.dirty ||
            form.get('confirmPassword')?.touched)
            ? 'is-invalid'
            : ''
      }"
      maxlength="50"
      formControlName="confirmPassword"
      placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
      required
    />
    <app-show-errors
      [control]="form.get('confirmPassword')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-warning"
      [translate]="'CHANGE_PASSWORD'"
    ></button>
  </div>
</form>
