<div class="wizard-page">
  <div class="body rounded overflow-hidden">
    <div class="mb-3 d-flex justify-content-center logo-holder">
      <a [routerLink]="['/']">
        <svg class="logo">
          <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
        </svg>
      </a>
    </div>
    <div *ngIf="!isLoaded && !responseReceived && !isError"></div>

    <div *ngIf="!isLoaded && !responseReceived && !isError">
      <div class="text-center mt-3">
        <b>
          {{ "WE_ARE_SETTING_YOUR_ACCOUNT" | translate }}<br />
          {{ "PLEASE_WAIT" | translate }}
        </b>
      </div>
    </div>
    <div *ngIf="isLoaded && responseReceived">
      <div class="text-center mt-3">
        <b>
          {{ "THANK_YOU_FOR_USING_SYNCGENE" | translate }}<br />
          {{ "YOU_CAN_CLOSE_THIS_TAB_NOW" | translate }}
        </b>
      </div>
    </div>
  </div>
</div>
