<div class="menu-container col-3 d-none d-lg-block d-print-none">
  <div class="left-menu">
    <hr *ngIf="currentRoute != '/account/unsubscribe'" />
    <div class="list-group">
      <!-- Status -->
      <button
        class="list-group-item list-group-item-action action"
        [disabled]="
          pendingAction ||
          activeAccounts < 2 ||
          (progressBar?.progress > 0 && progressBar?.progress < 100)
        "
        (click)="sync()"
        *ngIf="
          showSyncAll &&
          (!progressBar ||
            ((progressBar?.progress == 0 || progressBar?.progress == 100) &&
              progressBar?.actionType != 'CancelAction'))
        "
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#sync-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5 class="list-group-item-heading" [translate]="'SYNC_ALL'"></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_SYNC_ALL_DESC'"
          ></p>
        </div>
      </button>
      <button
        class="list-group-item list-group-item-action action"
        [disabled]="
          pendingAction ||
          progressBar?.progress == 0 ||
          progressBar?.progress > 95 ||
          progressBar?.actionType == 'CancelAction'
        "
        (click)="cancel()"
        *ngIf="
          showCancelSync &&
          progressBar?.progress > 0 &&
          progressBar?.progress < 100
        "
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#cancel-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_CANCEL_SYNC'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_CANCEL_SYNC_DESC'"
          ></p>
        </div>
      </button>
      <a
        [routerLink]="['/synchronization/addsyncaccount']"
        [class.active]="
          isLinkActive([
            '/synchronization/addsyncaccount',
            '/synchronization/addsyncaccount/add-exchange',
            '/synchronization/addsyncaccount/add-icloud'
          ])
        "
        class="list-group-item list-group-item-action action"
        *ngIf="showAddAccount"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5 class="list-group-item-heading" [translate]="'ADD_ACCOUNT'"></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ADD_ACCOUNT_DESC'"
          ></p>
        </div>
      </a>
      <!-- My Logins -->
      <a
        [routerLink]="['/account/mylogins/addlogin']"
        [class.active]="isLinkActive(['/account/mylogins/addlogin'])"
        class="list-group-item list-group-item-action action"
        *ngIf="showAddLogin"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_ADD_LOGIN'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ADD_LOGIN_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <!-- Status -->
      <a
        [routerLink]="['/purchase']"
        routerLinkActive="active"
        class="list-group-item list-group-item-action action"
        *ngIf="canPurchaseOrChangePlanBeShown"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#cart-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="
              currentUser?.Subscription?.SubscriptionStatus !== 'New' &&
              subscriptionEndDateValid
                ? 'LEFT_MENU_CHANGE_PLAN'
                : 'LEFT_MENU_PURCHASE'
            "
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_PURCHASE_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/account/paymenthistory']"
        [class.active]="isLinkActive(['/account/paymenthistory'])"
        class="list-group-item list-group-item-action action"
        *ngIf="canPaymentHistoryBeShown"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#history-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_PAYMENT_HISTORY'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_PAYMENT_HISTORY_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/account/cancelsubscription']"
        [class.active]="
          isLinkActive([
            '/account/cancelsubscription',
            '/account/cancelsubscription/step2',
            '/account/cancelsubscription/step3'
          ])
        "
        class="list-group-item list-group-item-action action"
        *ngIf="canCancelSubscrBeShown"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#cancel-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_CANCEL_SUBSCRIPTION'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_CANCEL_SUBSCRIPTION_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <hr
        *ngIf="
          currentUser &&
          currentRoute != '/account/billinginformation' &&
          currentRoute !=
            '/account/billinginformation/editcontactinformation' &&
          currentRoute !=
            '/account/billinginformation/editbillinginformation' &&
          currentRoute != '/account/billinginformation/currentsubscription' &&
          'account/billinginformation/currentsubscription/redeempromocode' &&
          currentRoute != '/account/mylogins' &&
          currentRoute != '/account/mylogins/addlogin' &&
          currentRoute != '/account/preferences' &&
          currentRoute != '/purchase' &&
          currentRoute != '/purchase/billinginformation' &&
          currentRoute != '/purchase/revieworder' &&
          currentRoute != '/purchase/processing' &&
          currentRoute != '/purchase/complete' &&
          currentRoute != '/account/paymenthistory' &&
          currentRoute != '/account/changepassword' &&
          currentRoute != '/account/feedback' &&
          !urlIncludesCancelSubscr &&
          !mobile &&
          ((currentUser?.Subscription?.SubscriptionStatus === 'Active' &&
            currentRoute != '/account/notifications' &&
            currentRoute != '/synchronization/restore' &&
            urlIncludesShare) ||
            !currentUser.Subscription ||
            currentUser?.Subscription?.SubscriptionStatus !== 'Active')
        "
      />
      <a
        [routerLink]="['/synchronization/status']"
        [class.active]="isLinkActive(['/synchronization/status'])"
        class="list-group-item list-group-item-action"
        *ngIf="showStatus"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_STATUS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_STATUS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/synchronization/management']"
        [class.active]="isLinkActive(['/synchronization/management'])"
        class="list-group-item list-group-item-action"
        *ngIf="showAccounts"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_ACCOUNTS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ACCOUNTS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/synchronization/report']"
        [class.active]="isLinkActive(['/synchronization/report'])"
        class="list-group-item list-group-item-action"
        *ngIf="showReport"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_REPORT'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_REPORT_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <!-- Backup & Restore -->
      <a
        [routerLink]="['/synchronization/restore']"
        [class.active]="isLinkActive(['/synchronization/restore'])"
        class="list-group-item list-group-item-action action"
        *ngIf="parameterlessUrl == '/synchronization/restore'"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#refresh-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5 class="list-group-item-heading" [translate]="'RESTORE'"></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_RESTORE_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/synchronization/management']"
        class="list-group-item list-group-item-action"
        *ngIf="parameterlessUrl == '/synchronization/restore'"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_ACCOUNTS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ACCOUNTS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <!-- Notifications -->
      <a
        [routerLink]="['/account/notifications']"
        [class.active]="isLinkActive(['/account/notifications'])"
        class="list-group-item list-group-item-action"
        *ngIf="parameterlessUrl == '/account/notifications'"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_NOTIFICATIONS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_NOTIFICATIONS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <!-- My Profile -->
      <button
        class="list-group-item list-group-item-action action"
        [disabled]="pendingAction"
        (click)="recoverPassword()"
        *ngIf="currentUser && (showRecoverPassword || urlIncludesCancelSubscr)"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#key-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_RECOVER_PASSWORD'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_RECOVER_PASSWORD_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </button>
      <button
        id="removeAccountButton"
        class="list-group-item list-group-item-action action"
        [disabled]="pendingAction"
        (click)="removeAccount()"
        *ngIf="
          (currentUser?.isNotEnterprise && showRemoveAccount) ||
          urlIncludesCancelSubscr
        "
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#trash-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_REMOVE_ACCOUNT'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_REMOVE_ACCOUNT_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </button>
      <hr
        *ngIf="
          currentUser &&
          (parameterlessUrl == '/account/billinginformation' ||
            parameterlessUrl ==
              '/account/billinginformation/editcontactinformation' ||
            parameterlessUrl ==
              '/account/billinginformation/editbillinginformation' ||
            parameterlessUrl ==
              '/account/billinginformation/currentsubscription' ||
            parameterlessUrl ==
              '/account/billinginformation/currentsubscription/redeempromocode' ||
            parameterlessUrl == '/account/mylogins' ||
            parameterlessUrl == '/account/mylogins/addlogin' ||
            parameterlessUrl == '/account/preferences' ||
            parameterlessUrl == '/purchase' ||
            parameterlessUrl == '/purchase/billinginformation' ||
            parameterlessUrl == '/purchase/revieworder' ||
            parameterlessUrl == '/purchase/processing' ||
            parameterlessUrl == '/purchase/complete' ||
            parameterlessUrl == '/purchase/enterpriseactivated' ||
            parameterlessUrl == '/purchase/teamspurchased' ||
            parameterlessUrl == '/account/paymenthistory' ||
            parameterlessUrl == '/account/changepassword' ||
            parameterlessUrl == '/account/feedback' ||
            urlIncludesCancelSubscr)
        "
      />
      <a
        [routerLink]="['/account/billinginformation']"
        [class.active]="isLinkActive(['/account/billinginformation'])"
        class="list-group-item list-group-item-action"
        *ngIf="(currentUser && showProfile) || urlIncludesCancelSubscr"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_PROFILE'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_PROFILE_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/account/mylogins']"
        [class.active]="isLinkActive(['/account/mylogins'])"
        class="list-group-item list-group-item-action"
        *ngIf="(currentUser && showMyLogins) || urlIncludesCancelSubscr"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_MYLOGINS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_MYLOGINS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/account/preferences']"
        [class.active]="isLinkActive(['/account/preferences'])"
        class="list-group-item list-group-item-action"
        *ngIf="
          (currentUser && showNotificationsPreferences) ||
          urlIncludesCancelSubscr
        "
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_NOTIFICATIONS_PREFERENCES'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_NOTIFICATIONS_PREFERENCES_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="[
          '/account/billinginformation/currentsubscription/redeempromocode'
        ]"
        [class.active]="
          isLinkActive([
            '/account/billinginformation/currentsubscription/redeempromocode'
          ])
        "
        class="list-group-item list-group-item-action"
        *ngIf="
          (currentUser && !isMobileIos && showNotificationsPreferences) ||
          urlIncludesCancelSubscr
        "
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'PURCHASE_REVIEW_PROMO_CODE'"
          ></h5>
          <p class="list-group-item-text" [translate]="'GET_A_DISCOUNT'"></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <!-- Sharing -->
      <a
        [routerLink]="['/synchronization/addsyncaccount']"
        class="list-group-item list-group-item-action action"
        *ngIf="currentRoute && urlIncludesShare"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5 class="list-group-item-heading" [translate]="'ADD_ACCOUNT'"></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ADD_ACCOUNT_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/share/select-account']"
        [class.active]="isLinkActive(['/share/select-account'])"
        class="list-group-item list-group-item-action action"
        *ngIf="currentRoute && urlIncludesShar"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#add-circle-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_SHARE'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_SHARE_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <hr *ngIf="currentUser && currentRoute && urlIncludesShare" />
      <a
        [routerLink]="['/share/manage-shared-calendars']"
        [class.active]="isLinkActive(['/share/manage-shared-calendars'])"
        class="list-group-item list-group-item-action"
        *ngIf="currentRoute && urlIncludesShar"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_MANAGE_SHARED_CALENDARS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_MANAGE_SHARED_CALENDARS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
      <a
        [routerLink]="['/share/accepted-calendars']"
        [class.active]="isLinkActive(['/share/accepted-calendars'])"
        class="list-group-item list-group-item-action"
        *ngIf="currentRoute && urlIncludesShar"
      >
        <div class="menu-icon">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#folder-icon"></use>
          </svg>
        </div>
        <div class="menu-text">
          <h5
            class="list-group-item-heading"
            [translate]="'LEFT_MENU_ACCEPTED_CALENDARS'"
          ></h5>
          <p
            class="list-group-item-text"
            [translate]="'LEFT_MENU_ACCEPTED_CALENDARS_DESC'"
          ></p>
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
