<form [formGroup]="form" (ngSubmit)="login()" novalidate>
  <div class="form-group">
    <input
      type="email"
      name="email"
      id="email"
      class="form-control icon email"
      [ngClass]="
        form.get('username')?.invalid &&
        (form.get('username')?.dirty || form.get('username')?.touched)
          ? 'is-invalid'
          : ''
      "
      maxlength="120"
      formControlName="username"
      placeholder="{{ 'ENTER_EMAIL_ADDRESS' | translate }}"
    />
    <app-show-errors
      [control]="form.get('username')!"
      [errorMessage]="usernameErrorList"
    ></app-show-errors>
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      id="password"
      class="form-control icon key"
      [ngClass]="
        form.get('password')?.invalid &&
        (form.get('password')?.dirty || form.get('password')?.touched)
          ? 'is-invalid'
          : ''
      "
      maxlength="50"
      formControlName="password"
      placeholder="{{ 'ENTER_PASSWORD' | translate }}"
    />
    <app-show-errors
      [control]="form.get('password')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
    <a
      [routerLink]="['/resetPassword']"
      [translate]="'FORGOT_PASSWORD'"
      *ngIf="!isExtendedProcess"
    ></a>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-warning icon">
      <svg>
        <use xlink:href="/Images/svg-sprite.svg#login-icon"></use>
      </svg>
      <span [translate]="'LOG_IN'"></span>
    </button>
  </div>
</form>
