<div class="content col-12">
  <div *ngIf="preferences">
    <p [translate]="'CHOOSE_WHAT_NOTIFICATIONS'"></p>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="checkbox" [ngClass]="{ partial: partial }">
          <input
            type="checkbox"
            id="all"
            name="all"
            [checked]="checked"
            (change)="toggleAll()"
          />
          <label for="all" [translate]="'ENABLE_NOTIFICATIONS'"></label>
        </div>
        <div class="desc" [translate]="'ENABLE_NOTIFICATIONS_DESC'"></div>
      </li>
      <li class="list-group-item indent" *ngFor="let pref of preferences">
        <div class="checkbox">
          <input
            type="checkbox"
            id="{{ pref.TranslationAlias }}"
            name="{{ pref.TranslationAlias }}"
            [checked]="pref.IsEmailNotificationEnabled"
            (change)="
              pref.IsEmailNotificationEnabled =
                !pref.IsEmailNotificationEnabled;
              toggleOne()
            "
          />
          <label for="{{ pref.TranslationAlias }}">{{
            pref.TranslationAlias.toUpperCase() | translate
          }}</label>
        </div>
        <div class="desc">
          {{ pref.TranslationAlias.toUpperCase() + "_DESC" | translate }}
        </div>
      </li>
    </ul>
    <div class="action-controls text-center">
      <button
        type="button"
        class="btn btn-primary"
        (click)="save()"
        [translate]="'SAVE'"
      ></button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="cancel()"
        [translate]="'CANCEL'"
      ></button>
    </div>
  </div>
</div>
