.list-group {
  margin-bottom: 15px;

  .list-group-item {
    padding: 0.95rem 0.85rem;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    label {
      font-weight: 500;
    }

    .desc {
      padding-left: 25px;
      color: #777;
    }
  }

  .indent {
    padding-left: 40px;
  }
}

@media all and (max-width: 576px) {
  .list-group {
    .list-group-item {
      padding: 0.95rem 0;
    }

    .indent {
      padding-left: 26px;
    }
  }
}
