.trust-logos {
  margin-top: 35px;
  text-align: center;

  a,
  span {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;

    svg,
    svg svg {
      width: 115px;
      height: 50px;
      fill: #999;

      .black,
      .gold,
      .green,
      .grey,
      .blue,
      .green-sectigo {
        fill: #999;
        transition: fill 0.3s;
      }

      &:hover {
        .black {
          fill: #000;
        }

        .gold {
          fill: #dac061;
        }

        .green {
          fill: #79c400;
        }

        .green-sectigo {
          fill: #00aa6c;
        }

        .grey {
          fill: #515151;
        }

        .blue {
          fill: #24abe2;
        }
      }
    }
  }
}

@media all and (max-width: 575px) {
  .trust-logos {
    margin-top: 25px;
  }
}
