.questions {
  .form-group {
    margin-bottom: 0.8rem;
    overflow: hidden;
  }
}

/* mobile media queries start */
@media all and (max-width: 768px) {
  div.radio {
    padding: 5px 0;
  }
}
/* mobile media queries end */
