<div class="content col-12 questions">
  <p [translate]="'WHAT_BOTHERED_YOU'"></p>
  <form [formGroup]="form" (ngSubmit)="cancel()" novalidate>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="tryingToSaveMoney"
        name="tryingToSaveMoney"
        formControlName="TryingToSaveMoney"
      />
      <label for="tryingToSaveMoney" [translate]="'CANCEL_REASON_1'"></label>
    </div>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="dontNeedPremiumFeatures"
        name="dontNeedPremiumFeatures"
        formControlName="DontNeedPremiumFeatures"
      />
      <label
        for="dontNeedPremiumFeatures"
        [translate]="'CANCEL_REASON_2'"
      ></label>
    </div>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="premiumPackageMissingFeatures"
        name="premiumPackageMissingFeatures"
        formControlName="PremiumPackageMissingFeatures"
      />
      <label
        for="premiumPackageMissingFeatures"
        [translate]="'CANCEL_REASON_3'"
      ></label>
    </div>
    <div
      class="mb-4 pl-5"
      *ngIf="form.value.PremiumPackageMissingFeatures"
      [@toggleAnimation]
    >
      <div class="checkbox">
        <input
          type="checkbox"
          id="oneWaySync"
          name="oneWaySync"
          formControlName="OneWaySync"
        />
        <label for="oneWaySync" [title]="'MISSING_FEATURE_0' | translate">{{
          "MISSING_FEATURE_0" | translate
        }}</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="advancedMapping"
          name="advancedMapping"
          formControlName="AdvancedMapping"
        />
        <label
          for="advancedMapping"
          [title]="'MISSING_FEATURE_1' | translate"
          >{{ "MISSING_FEATURE_1" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="companyAccount"
          name="companyAccount"
          formControlName="CompanyAccount"
        />
        <label for="companyAccount" [title]="'MISSING_FEATURE_2' | translate">{{
          "MISSING_FEATURE_2" | translate
        }}</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="immediateSync"
          name="immediateSync"
          formControlName="ImmediateSync"
        />
        <label for="immediateSync" [title]="'MISSING_FEATURE_3' | translate">{{
          "MISSING_FEATURE_3" | translate
        }}</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="advansedSettings"
          name="advansedSettings"
          formControlName="AdvansedSettings"
        />
        <label
          for="advansedSettings"
          [title]="'MISSING_FEATURE_4' | translate"
          >{{ "MISSING_FEATURE_4" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="autoSyncFrequency"
          name="autoSyncFrequency"
          formControlName="AutoSyncFrequency"
        />
        <label
          for="autoSyncFrequency"
          [title]="'MISSING_FEATURE_5' | translate"
          >{{ "MISSING_FEATURE_5" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="noteSync"
          name="noteSync"
          formControlName="NoteSync"
        />
        <label for="noteSync" [title]="'MISSING_FEATURE_6' | translate">{{
          "MISSING_FEATURE_6" | translate
        }}</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="otherFeatureMissing"
          name="otherFeatureMissing"
          formControlName="OtherFeatureMissing"
        />
        <label
          for="otherFeatureMissing"
          [title]="'MISSING_FEATURE_7' | translate"
          >{{ "MISSING_FEATURE_7" | translate }}</label
        >
      </div>
      <div *ngIf="form.value.OtherFeatureMissing" [@toggleAnimation]>
        <div class="row">
          <div class="col-12 col-md-7">
            <textarea
              name="otherFeatureText"
              id="otherFeatureText"
              class="form-control"
              formControlName="OtherFeatureText"
              rows="3"
              maxlength="500"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="technicalIssues"
        name="technicalIssues"
        formControlName="TechnicalIssues"
      />
      <label for="technicalIssues" [translate]="'CANCEL_REASON_4'"></label>
    </div>
    <div
      class="mb-4 pl-5"
      *ngIf="form.value.TechnicalIssues"
      [@toggleAnimation]
    >
      <div class="checkbox">
        <input
          type="checkbox"
          id="cantAddIcloud"
          name="cantAddIcloud"
          formControlName="CantAddIcloud"
        />
        <label for="cantAddIcloud" [title]="'TECHNICAL_ISSUE_0' | translate">{{
          "TECHNICAL_ISSUE_0" | translate
        }}</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="cantAddExchange"
          name="cantAddExchange"
          formControlName="CantAddExchange"
        />
        <label
          for="cantAddExchange"
          [title]="'TECHNICAL_ISSUE_1' | translate"
          >{{ "TECHNICAL_ISSUE_1" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="requestsNotSynchronizing"
          name="requestsNotSynchronizing"
          formControlName="RequestsNotSynchronizing"
        />
        <label
          for="requestsNotSynchronizing"
          [title]="'TECHNICAL_ISSUE_2' | translate"
          >{{ "TECHNICAL_ISSUE_2" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="calendarNotSynchronizing"
          name="calendarNotSynchronizing"
          formControlName="CalendarNotSynchronizing"
        />
        <label
          for="calendarNotSynchronizing"
          [title]="'TECHNICAL_ISSUE_3' | translate"
          >{{ "TECHNICAL_ISSUE_3" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="contactsNotSynchronizing"
          name="contactsNotSynchronizing"
          formControlName="ContactsNotSynchronizing"
        />
        <label
          for="contactsNotSynchronizing"
          [title]="'TECHNICAL_ISSUE_4' | translate"
          >{{ "TECHNICAL_ISSUE_4" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="syncTakesForever"
          name="syncTakesForever"
          formControlName="SyncTakesForever"
        />
        <label
          for="syncTakesForever"
          [title]="'TECHNICAL_ISSUE_5' | translate"
          >{{ "TECHNICAL_ISSUE_5" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="syncShowsCancelling"
          name="syncShowsCancelling"
          formControlName="SyncShowsCancelling"
        />
        <label
          for="syncShowsCancelling"
          [title]="'TECHNICAL_ISSUE_6' | translate"
          >{{ "TECHNICAL_ISSUE_6" | translate }}</label
        >
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="otherTechnicalIssue"
          name="otherTechnicalIssue"
          formControlName="OtherTechnicalIssue"
        />
        <label
          for="otherTechnicalIssue"
          [title]="'TECHNICAL_ISSUE_7' | translate"
          >{{ "TECHNICAL_ISSUE_7" | translate }}</label
        >
      </div>
      <div *ngIf="form.value.OtherTechnicalIssue" [@toggleAnimation]>
        <div class="row">
          <div class="col-12 col-md-7">
            <textarea
              name="otherIssueText"
              id="otherIssueText"
              class="form-control"
              formControlName="OtherIssueText"
              rows="3"
              maxlength="500"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group checkbox">
      <input type="checkbox" id="other" name="other" formControlName="Other" />
      <label for="other" [translate]="'CANCEL_REASON_5'"></label>
    </div>
    <div class="form-group" *ngIf="form.value.Other" [@toggleAnimation]>
      <div class="row">
        <div class="col-12 col-md-7">
          <textarea
            class="form-control"
            formControlName="OtherReasonText"
            rows="3"
            maxlength="500"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="action-controls text-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
          !form.value.TryingToSaveMoney &&
          !form.value.DontNeedPremiumFeatures &&
          !form.value.PremiumPackageMissingFeatures &&
          !form.value.TechnicalIssues &&
          !form.value.Other
        "
        [translate]="'CANCEL_SUBSCRIPTION'"
      ></button>
      <a
        [routerLink]="['/billing']"
        class="btn btn-primary"
        [translate]="'KEEP_SUBSCRIPTION'"
      ></a>
    </div>
  </form>
</div>
