.panel-left {
  background-color: #f2f2f2;

  .history-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
    color: #757575;
    font-size: 13px;
    font-weight: 500;

    > div {
      display: inline-block;
    }

    div:first-child {
      width: 40%;
    }

    div:nth-child(2) {
      width: 30%;
    }
  }

  .list-group {
    .list-group-item {
      padding: 1.8rem 1rem 0.7rem;

      > div {
        display: inline-block;
        font-weight: 500;
        color: #333;
      }

      .order-id {
        position: absolute;
        top: 14px;
        font-size: 13px;
        color: grey;
      }

      .date {
        width: 39%;
        font-size: 1rem;
      }

      .amount {
        width: 30%;
      }

      .status {
        &.unpaid {
          color: #ed1722;
        }

        &.pending {
          color: #2972d8;
        }
      }
    }
  }
}

.panel-right {
  overflow: auto;
}

.invoice {
  width: 100%;
  min-width: 680px;
  padding: 0 10px 10px 10px;

  &.d-print-block {
    padding: 0;
    width: 1040px;

    table {
      font-size: 20px;
    }

    .invoice-merchant img {
      width: 80px;
      height: auto;
    }
  }

  .invoice-head {
    width: 100%;

    div.first {
      float: left;
      width: 60%;

      table {
        margin-top: 80px;
      }
    }

    div.second {
      float: left;
      width: 40%;

      table {
        text-align: right;
      }
    }

    tr td {
      padding: 0 5px;
    }
  }

  .invoice-merchant img {
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;

    th {
      padding: 5px;
      color: #fff !important;
      background-color: #92d050 !important;
      font-weight: 400 !important;
      -webkit-print-color-adjust: exact;
    }

    tr td {
      color: #333;
      font-weight: 400;
    }
  }

  .invoice-table tr td {
    padding: 5px;
  }
}

/* mobile media queries start */
@media all and (max-width: 767px) {
  .payments {
    .m-toggle-list {
      .list-group-item {
        .sublist {
          margin: 0;

          > .row {
            padding: 12px 0 10px;
            font-size: initial;
            text-transform: none;

            .invoice {
              min-width: 100%;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
/* mobile media queries end */
