<div class="content no-padding col-12 d-print-none">
  <p *ngIf="!payments && loaded" [translate]="'NO_PAYMENTS_RECORDED'"></p>
  <div class="row d-none d-lg-block" *ngIf="payments && loaded">
    <div class="panel-left">
      <div class="header-text" [translate]="'HISTORY_TEXT_LABEL'"></div>
      <div class="history-header">
        <div [translate]="'INVOICE_DATE'"></div>
        <div [translate]="'SUM'"></div>
        <div [translate]="'STATUS'"></div>
      </div>
      <div class="list-group">
        <div
          (click)="select(i)"
          class="list-group-item list-group-item-action"
          *ngFor="let payment of payments; let i = index"
          [ngClass]="{ active: selected == i }"
        >
          <div class="order-id">{{ payment.OrderNumber }}</div>
          <div class="date">
            {{ payment.PaymentItemDate | date: "shortDate" }}
          </div>
          <div class="amount">
            {{ payment.Price | currency: payment.Currency:"symbol" }}
          </div>
          <div
            class="status"
            [ngClass]="
              payment.Status == 1 || payment.Status == 3
                ? 'pending'
                : '' +
                  (payment.Status == 2 || payment.Status == 4 ? 'unpaid' : '')
            "
          >
            {{
              (payment.Status == 0
                ? "PAID"
                : "" + payment.Status === "1"
                ? "PENDING"
                : "" + payment.Status === "2"
                ? "UNPAID"
                : "" + payment.Status === "3"
                ? "PROCESSING"
                : "" + payment.Status === "4"
                ? "REJECTED"
                : ""
              ) | translate
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-right">
      <div class="invoice" *ngIf="selected != null">
        <div class="invoice-head">
          <div class="first">
            <table class="invoice-address">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>{{ "INVOICE" | translate }}:</td>
                <td>{{ payments[selected].OrderNumber }}</td>
              </tr>
              <tr
                *ngIf="
                  payments[selected].FirstName || payments[selected].LastName
                "
              >
                <td>{{ "CUSTOMER" | translate }}:</td>
                <td>
                  {{ payments[selected].FirstName }}
                  {{ payments[selected].LastName }}
                </td>
              </tr>
              <tr *ngIf="payments[selected].Company">
                <td>{{ "PURCHASE_FORM_LABEL_COMPANY" | translate }}:</td>
                <td>{{ payments[selected].Company }}</td>
              </tr>
              <tr
                *ngIf="
                  payments[selected].Address1 || payments[selected].Address2
                "
              >
                <td>{{ "ADDRESS" | translate }}:</td>
                <td>
                  {{
                    payments[selected].Address1 +
                      " " +
                      (payments[selected].Address2
                        ? payments[selected].Address2
                        : "")
                  }}
                </td>
              </tr>
              <tr *ngIf="payments[selected].City || payments[selected].State">
                <td *ngIf="payments[selected].City">
                  {{ "PURCHASE_FORM_LABEL_CITY" | translate }}:
                </td>
                <td *ngIf="payments[selected].City">
                  {{ payments[selected].City }}
                </td>
                <td *ngIf="payments[selected].StateProvince">
                  {{ "STATE" | translate }}:
                </td>
                <td *ngIf="payments[selected].StateProvince">
                  {{ payments[selected].StateProvince }}
                </td>
              </tr>
              <tr *ngIf="payments[selected].Email || payments[selected].Phone">
                <td *ngIf="payments[selected].Email">
                  {{ "PURCHASE_FORM_LABEL_EMAIL" | translate }}:
                </td>
                <td *ngIf="payments[selected].Email">
                  {{ payments[selected].Email }}
                </td>
                <td *ngIf="payments[selected].Phone">
                  {{ "PHONE" | translate }}:
                </td>
                <td *ngIf="payments[selected].Phone">
                  {{ payments[selected].Phone }}
                </td>
              </tr>
              <tr *ngIf="payments[selected].InvoiceDate">
                <td>{{ "HISTORY_TABLE_DATA" | translate }}:</td>
                <td>
                  {{ payments[selected].InvoiceDate | date: "shortDate" }}
                </td>
              </tr>
              <tr
                *ngIf="
                  payments[selected].ZipPostalCode || payments[selected].Country
                "
              >
                <td *ngIf="payments[selected].ZipPostalCode">
                  {{ "PURCHASE_POSTAL" | translate }}:
                </td>
                <td *ngIf="payments[selected].ZipPostalCode">
                  {{ payments[selected].ZipPostalCode }}
                </td>
                <td *ngIf="payments[selected].Country">
                  {{ "Country" | translate }}:
                </td>
                <td *ngIf="payments[selected].Country">
                  {{ payments[selected].Country }}
                </td>
              </tr>
            </table>
          </div>
          <div class="second">
            <table class="invoice-merchant">
              <tr>
                <td>
                  <img
                    src="/Images/4team_logo.png"
                    alt="4Team Corporation"
                    width="57"
                    height="70"
                  />
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">
                  {{ "MERCHANT_NAME" | translate }}
                </td>
              </tr>
              <tr>
                <td>{{ "MERCHANT_ADDRESS1" | translate }}</td>
              </tr>
              <tr>
                <td>{{ "MERCHANT_ADDRESS2" | translate }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">
                  {{ "PHONE_NUMBERS" | translate }}:
                </td>
              </tr>
              <tr>
                <td>{{ "USA_PHONE" | translate }}</td>
              </tr>
              <tr>
                <td>{{ "UK_PHONE" | translate }}</td>
              </tr>
              <tr>
                <td>{{ "CA_PHONE" | translate }}</td>
              </tr>
              <tr>
                <td>{{ "FR_PHONE" | translate }}</td>
              </tr>
              <tr>
                <td>{{ "MERCHANT_FAX" | translate }}</td>
              </tr>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
        <table class="invoice-table">
          <tr>
            <th>{{ "DESCRIPTION" | translate }}</th>
            <th>{{ "MERCHANT" | translate }}</th>
            <th>{{ "STATE" | translate }}</th>
            <th>{{ "LICENSES_QTY" | translate }}</th>
            <th>{{ "PAYMENT_FREQUENCY" | translate }}</th>
            <th>{{ "PRICE_PER_USER" | translate }}</th>
            <th class="text-right">{{ "DISCOUNT" | translate }}</th>
            <th class="text-right">{{ "TAX" | translate }}</th>
            <th class="text-right">{{ "SUBTOTAL" | translate }}</th>
          </tr>
          <tr>
            <td>{{ payments[selected].ProductName }}</td>
            <td>{{ payments[selected].MerchantName }}</td>
            <td>FL</td>
            <td>{{ payments[selected].NumberOfLicences }}</td>
            <td>
              {{
                (payments[selected].PaymentFrequency === "Day"
                  ? "DAILY"
                  : payments[selected].PaymentFrequency === "Month"
                  ? "MONTHLY"
                  : payments[selected].PaymentFrequency === "Year"
                  ? "YEARLY"
                  : ""
                ) | translate
              }}
            </td>
            <td>
              {{
                payments[selected].PricePerUser
                  | currency: payments[selected].Currency:"symbol"
              }}
            </td>
            <td class="text-right">
              {{
                payments[selected].Discount
                  | currency: payments[selected].Currency:"symbol"
              }}
            </td>
            <td class="text-right">
              {{
                payments[selected].Tax
                  | currency: payments[selected].Currency:"symbol"
              }}
            </td>
            <td class="text-right">
              {{
                payments[selected].Price
                  | currency: payments[selected].Currency:"symbol"
              }}
            </td>
          </tr>
          <tr>
            <td colspan="8" class="text-right font-weight-bold">
              {{ "TOTAL" | translate }}:
            </td>
            <td class="text-right font-weight-bold">
              {{
                payments[selected].Price
                  | currency: payments[selected].Currency:"symbol"
              }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button
        class="btn btn-primary btn-sm"
        *ngIf="selected != null && payments[selected].CanBePaid"
        [translate]="'PAY_NOW'"
        (click)="pay()"
      ></button
      >&nbsp;
      <button
        class="btn btn-primary btn-sm"
        [translate]="'PRINT'"
        (click)="print()"
      ></button>
    </div>
  </div>
  <div class="d-lg-none payments" *ngIf="payments && loaded">
    <p [translate]="'HISTORY_TEXT_LABEL'"></p>
    <ul class="list-group m-toggle-list">
      <li
        class="list-group-item"
        *ngFor="let payment of payments; let i = index"
        [ngClass]="{ opened: selected == i }"
        id="payment{{ i }}"
      >
        <div class="list-header row" (click)="select(i, true)">
          <div class="col-10">
            <span class="title align-middle">{{ payment.OrderNumber }}</span
            ><br />
            <span class="date align-middle"
              >{{ payment.PaymentItemDate | date: "shortDate" }}
              {{
                payment.Price | currency: payments[selected].Currency:"symbol"
              }}
              -
              {{
                (payment.Status == 0
                  ? "PAID"
                  : "" + payment.Status === "1"
                  ? "PENDING"
                  : "" + payment.Status === "2"
                  ? "UNPAID"
                  : ""
                ) | translate
              }}</span
            >
          </div>
          <div
            class="col-2 text-right align-self-center arrow"
            [ngClass]="{ open: selected == i }"
          >
            <svg>
              <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
            </svg>
          </div>
        </div>
        <div class="sublist" *ngIf="selected == i" @toggleAnimation>
          <div class="row">
            <div class="col-12">
              <div class="invoice">
                <div>
                  <div
                    *ngIf="
                      payments[selected].FirstName ||
                      payments[selected].LastName
                    "
                  >
                    {{ "CUSTOMER" | translate }}:
                    {{
                      payments[selected].FirstName +
                        " " +
                        payments[selected].LastName
                    }}
                  </div>
                  <div *ngIf="payments[selected].Company">
                    {{ "PURCHASE_FORM_LABEL_COMPANY" | translate }}:
                    {{ payments[selected].Company }}
                  </div>
                  <div
                    *ngIf="
                      payments[selected].Address1 || payments[selected].Address2
                    "
                  >
                    {{ "ADDRESS" | translate }}:
                    {{
                      payments[selected].Address1 +
                        " " +
                        (payments[selected].Address2
                          ? payments[selected].Address2
                          : "")
                    }}
                  </div>
                  <div *ngIf="payments[selected].City">
                    {{ "PURCHASE_FORM_LABEL_CITY" | translate }}:
                    {{ payments[selected].City }}
                  </div>
                  <div *ngIf="payments[selected].Country">
                    {{ "Country" | translate }}:
                    {{ payments[selected].Country }}
                  </div>
                  <div *ngIf="payments[selected].Email">
                    {{ "PURCHASE_FORM_LABEL_EMAIL" | translate }}:
                    {{ payments[selected].Email }}
                  </div>
                  <div *ngIf="payments[selected].ZipPostalCode">
                    {{ "PURCHASE_POSTAL" | translate }}:
                    {{ payments[selected].ZipPostalCode }}
                  </div>
                </div>
                <table class="invoice-table">
                  <tr>
                    <th>{{ "DESCRIPTION" | translate }}</th>
                  </tr>
                  <tr>
                    <td>{{ payments[selected].ProductName }}</td>
                  </tr>
                  <tr>
                    <th>{{ "LICENSES_QTY" | translate }}</th>
                  </tr>
                  <tr>
                    <td>{{ payments[selected].NumberOfLicences }}</td>
                  </tr>
                  <tr>
                    <th>{{ "DISCOUNT" | translate }}</th>
                  </tr>
                  <tr>
                    <td>
                      {{
                        payments[selected].Discount
                          | currency: payments[selected].Currency:"symbol"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <th>{{ "TOTAL" | translate }}</th>
                  </tr>
                  <tr>
                    <td>
                      {{
                        payments[selected].Price
                          | currency: payments[selected].Currency:"symbol"
                      }}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="action-controls text-center mt-3 mb-3">
                <button
                  class="btn btn-primary"
                  *ngIf="payments[selected].CanBePaid"
                  [translate]="'PAY_NOW'"
                  (click)="pay()"
                ></button>
                <button
                  class="btn btn-primary"
                  [translate]="'PRINT'"
                  (click)="print()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Print view begin -->
<div
  class="invoice d-none d-print-block"
  *ngIf="payments && loaded && selected != null"
>
  <div class="invoice-head">
    <div class="first">
      <table class="invoice-address">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>{{ "INVOICE" | translate }}:</td>
          <td>{{ payments[selected].OrderNumber }}</td>
        </tr>
        <tr *ngIf="payments[selected].FirstName || payments[selected].LastName">
          <td>{{ "CUSTOMER" | translate }}:</td>
          <td>
            {{ payments[selected].FirstName }} {{ payments[selected].LastName }}
          </td>
        </tr>
        <tr *ngIf="payments[selected].Company">
          <td>{{ "PURCHASE_FORM_LABEL_COMPANY" | translate }}:</td>
          <td>{{ payments[selected].Company }}</td>
        </tr>
        <tr *ngIf="payments[selected].Address1 || payments[selected].Address2">
          <td>{{ "ADDRESS" | translate }}:</td>
          <td>
            {{
              payments[selected].Address1 +
                " " +
                (payments[selected].Address2 ? payments[selected].Address2 : "")
            }}
          </td>
        </tr>
        <tr *ngIf="payments[selected].City || payments[selected].State">
          <td *ngIf="payments[selected].City">
            {{ "PURCHASE_FORM_LABEL_CITY" | translate }}:
          </td>
          <td *ngIf="payments[selected].City">{{ payments[selected].City }}</td>
          <td *ngIf="payments[selected].StateProvince">
            {{ "STATE" | translate }}:
          </td>
          <td *ngIf="payments[selected].StateProvince">
            {{ payments[selected].StateProvince }}
          </td>
        </tr>
        <tr *ngIf="payments[selected].Email || payments[selected].Phone">
          <td *ngIf="payments[selected].Email">
            {{ "PURCHASE_FORM_LABEL_EMAIL" | translate }}:
          </td>
          <td *ngIf="payments[selected].Email">
            {{ payments[selected].Email }}
          </td>
          <td *ngIf="payments[selected].Phone">{{ "PHONE" | translate }}:</td>
          <td *ngIf="payments[selected].Phone">
            {{ payments[selected].Phone }}
          </td>
        </tr>
        <tr *ngIf="payments[selected].InvoiceDate">
          <td>{{ "HISTORY_TABLE_DATA" | translate }}:</td>
          <td>{{ payments[selected].InvoiceDate | date: "shortDate" }}</td>
        </tr>
        <tr
          *ngIf="payments[selected].ZipPostalCode || payments[selected].Country"
        >
          <td *ngIf="payments[selected].ZipPostalCode">
            {{ "PURCHASE_POSTAL" | translate }}:
          </td>
          <td *ngIf="payments[selected].ZipPostalCode">
            {{ payments[selected].ZipPostalCode }}
          </td>
          <td *ngIf="payments[selected].Country">
            {{ "Country" | translate }}:
          </td>
          <td *ngIf="payments[selected].Country">
            {{ payments[selected].Country }}
          </td>
        </tr>
      </table>
    </div>
    <div class="second">
      <table class="invoice-merchant">
        <tr>
          <td>
            <img
              src="/Images/4team_logo.png"
              alt="4Team Corporation"
              width="57"
              height="70"
            />
          </td>
        </tr>
        <tr>
          <td class="bold">{{ "MERCHANT_NAME" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "MERCHANT_ADDRESS1" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "MERCHANT_ADDRESS2" | translate }}</td>
        </tr>
        <tr>
          <td class="bold">{{ "PHONE_NUMBERS" | translate }}:</td>
        </tr>
        <tr>
          <td>{{ "USA_PHONE" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "UK_PHONE" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "CA_PHONE" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "FR_PHONE" | translate }}</td>
        </tr>
        <tr>
          <td>{{ "MERCHANT_FAX" | translate }}</td>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
  <table class="invoice-table">
    <tr>
      <th>{{ "DESCRIPTION" | translate }}</th>
      <th>{{ "MERCHANT" | translate }}</th>
      <th>{{ "STATE" | translate }}</th>
      <th>{{ "LICENSES_QTY" | translate }}</th>
      <th>{{ "PAYMENT_FREQUENCY" | translate }}</th>
      <th>{{ "PRICE_PER_USER" | translate }}</th>
      <th class="text-right">{{ "DISCOUNT" | translate }}</th>
      <th class="text-right">{{ "TAX" | translate }}</th>
      <th class="text-right">{{ "SUBTOTAL" | translate }}</th>
    </tr>
    <tr>
      <td>{{ payments[selected].ProductName }}</td>
      <td>{{ payments[selected].MerchantName }}</td>
      <td>FL</td>
      <td>{{ payments[selected].NumberOfLicences }}</td>
      <td>
        {{
          (payments[selected].PaymentFrequency === "Day"
            ? "DAILY"
            : payments[selected].PaymentFrequency === "Month"
            ? "MONTHLY"
            : payments[selected].PaymentFrequency === "Year"
            ? "YEARLY"
            : ""
          ) | translate
        }}
      </td>
      <td>
        {{
          payments[selected].PricePerUser
            | currency: payments[selected].Currency:"symbol"
        }}
      </td>
      <td class="text-right">
        {{
          payments[selected].Discount
            | currency: payments[selected].Currency:"symbol"
        }}
      </td>
      <td class="text-right">
        {{
          payments[selected].Tax
            | currency: payments[selected].Currency:"symbol"
        }}
      </td>
      <td class="text-right">
        {{
          payments[selected].Price
            | currency: payments[selected].Currency:"symbol"
        }}
      </td>
    </tr>
    <tr>
      <td colspan="8" class="text-right bold">{{ "TOTAL" | translate }}:</td>
      <td class="text-right bold">
        {{
          payments[selected].Price
            | currency: payments[selected].Currency:"symbol"
        }}
      </td>
    </tr>
  </table>
</div>
<!-- Print view end -->
