<div class="wizard-page" *ngIf="loaded">
  <div class="body rounded">
    <div class="logo-holder">
      <a [routerLink]="['/']">
        <svg>
          <title>SyncGene</title>
          <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
        </svg>
      </a>
    </div>
    <div *ngIf="!isLinkExpired">
      <p
        class="subheader"
        [innerHTML]="
          'ACCEPT_ENTERPRISE_LINK'
            | translate: { userName: userName, companyName: companyName }
        "
      ></p>
      <div class="form-group mt-2 mb-3">
        <button
          type="button"
          class="btn btn-block btn-warning icon"
          (click)="join()"
          [disabled]="hasErrors"
        >
          {{ "JOIN_TEAM" | translate }}
        </button>
      </div>
      <div class="row mt-1">
        <div class="col-3 d-none d-md-block"></div>
        <div
          class="col-12 col-md-6 text-center align-self-center font-weight-bold"
        >
          <div class="errors" *ngIf="hasErrors">
            <span *ngFor="let err of errors"
              ><fa-icon icon="exclamation-triangle" class="mr-1"></fa-icon
              >{{ err | translate }}<br
            /></span>
            <span [translate]="'CONTACT_ADMIN'"></span>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3 d-none d-md-block"></div>
        <div
          class="col-12 col-md-6 text-center align-self-center font-weight-bold"
        >
          <p class="mb-0" *ngIf="!isLoggedIn">
            <span [translate]="'YOU_NOT_LOGGED_IN'"></span>&nbsp;
            <a
              [routerLink]="['/']"
              [queryParams]="{ returnUrl: 'enterprise/accept/' + this.id }"
              [translate]="'LOG_IN'"
            ></a>
          </p>

          <p class="mb-0 mt-3" *ngIf="isLoggedIn">
            <span
              [translate]="'YOU_ARE_LOGGED_IN'"
              [translateParams]="{ var0: email }"
            ></span
            >&nbsp;
            <a
              (click)="logOut()"
              class="text-primary"
              [translate]="'LOG_OUT'"
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLinkExpired"
      class="expired-link-text d-flex flex-column align-items-center"
    >
      <p
        class="text-center m-auto"
        [innerHTML]="'EXPIRED_INVITATION_LINK_TEXT' | translate"
      ></p>
    </div>
  </div>
</div>
