.wizard-page {
  .body {
    .expired-link-text {
      margin-top: 130px;
    }

    .errors {
      color: red;
    }

    .btn-warning:disabled {
      background-color: grey;
      border-color: grey;
    }

    .bottom {
      position: relative;
      bottom: 0;
    }
  }
}

@media all and (max-width: 768px) {
  .wizard-page .body .expired-link-text {
    margin-top: 50px;
  }
}
