<form novalidate>
  <div class="form-group">
    <button
      type="button"
      name="provider"
      class="btn btn-block btn-social btn-google"
      (click)="externalLogin('Google')"
      [attr.title]="'LOGIN_USING_TITLE' | translate: { service: 'Google' }"
    >
      <div class="icon">
        <svg class="d-block">
          <use xlink:href="/Images/svg-sprite.svg#google-color-icon"></use>
        </svg>
      </div>
      <span
        [translate]="'LOGIN_USING' | translate: { service: 'Google' }"
      ></span>
    </button>
  </div>
  <div class="form-group">
    <button
      type="button"
      name="provider"
      class="btn btn-block btn-social btn-facebook"
      (click)="externalLogin('Facebook')"
      [attr.title]="'LOGIN_USING_TITLE' | translate: { service: 'Facebook' }"
    >
      <div class="icon">
        <svg class="d-block">
          <use xlink:href="/Images/svg-sprite.svg#fb-icon"></use>
        </svg>
      </div>
      <span
        [translate]="'LOGIN_USING' | translate: { service: 'Facebook' }"
      ></span>
    </button>
  </div>
  <div class="form-group">
    <button
      type="button"
      name="provider"
      class="btn btn-block btn-social btn-microsoft"
      (click)="externalLogin('Microsoft')"
      [attr.title]="'LOGIN_USING_TITLE' | translate: { service: 'Microsoft' }"
    >
      <div class="icon">
        <svg class="d-block">
          <use xlink:href="/Images/svg-sprite.svg#ms-icon"></use>
        </svg>
      </div>
      <span
        [translate]="'LOGIN_USING' | translate: { service: 'Microsoft' }"
      ></span>
    </button>
  </div>
  <div class="form-group">
    <button
      type="button"
      name="provider"
      class="btn btn-block btn-social btn-apple"
      (click)="externalLogin('Apple')"
      [attr.title]="'LOGIN_USING_TITLE' | translate: { service: 'Apple' }"
    >
      <div class="icon">
        <svg class="d-block">
          <use xlink:href="/Images/svg-sprite.svg#apple-icon"></use>
        </svg>
      </div>
      <span
        [translate]="'LOGIN_USING' | translate: { service: 'Apple' }"
      ></span>
    </button>
  </div>
</form>
