<div
  class="content col-12"
  [ngClass]="{ 'no-padding': notifications && notifications.length > 0 }"
>
  <div *ngIf="loaded">
    <p
      *ngIf="!notifications || notifications.length < 1"
      [translate]="'NOTIFICATIONS_NOT_FOUND'"
    ></p>
    <div *ngIf="notifications && notifications.length > 0">
      <div class="row d-none d-lg-block">
        <div
          class="panel-left"
          infiniteScroll
          (scrolledUp)="onScrollUp()"
          (scrolled)="onScrollDown()"
          [scrollWindow]="false"
        >
          <div
            class="header-text"
            [translate]="'NOTIFICATIONS_TEXT_LABEL'"
          ></div>
          <div class="list-group">
            <div
              (click)="select(i)"
              class="list-group-item list-group-item-action"
              *ngFor="let notification of notifications; let i = index"
              [ngClass]="{ active: selected == i }"
            >
              <div class="date">{{ notification.Time | date: "short" }}</div>
              <h5>{{ notification.Title }}</h5>
            </div>
          </div>
        </div>
        <div #scrollTop class="panel-right">
          <h2 *ngIf="notifications[selected]">
            {{ notifications[selected].Title }}
          </h2>
          <div class="date" *ngIf="notifications[selected]">
            {{ notifications[selected].Time | date: "short" }}
          </div>
          <div
            class="content notification-content"
            [ngClass]="{ 'mobile-app': mobile }"
            *ngIf="notifications[selected]"
            [innerHTML]="notifications[selected].Contents | safeHtml"
            hrefDirective
          ></div>
        </div>
        <div class="panel-footer">
          <button
            class="btn btn-primary btn-sm mr-3"
            [translate]="'DELETE_ALL'"
            (click)="deleteAll()"
            *ngIf="notifications.length > 1"
          ></button>
          <button
            class="btn btn-primary btn-sm"
            [translate]="'DELETE'"
            (click)="delete()"
            [disabled]="notifications.length == 0"
          ></button>
        </div>
      </div>
      <div
        class="d-lg-none notifications"
        infiniteScroll
        (scrolledUp)="onScrollUp(true)"
        (scrolled)="onScrollDown(true)"
      >
        <p [translate]="'NOTIFICATIONS_TEXT_LABEL'"></p>
        <ul class="list-group m-toggle-list">
          <li
            class="list-group-item"
            *ngFor="let notification of notifications; let i = index"
            [ngClass]="{ opened: selected == i }"
            id="notification{{ i }}"
          >
            <div class="list-header row" (click)="select(i, true)">
              <div class="col-10">
                <span class="title align-middle">{{ notification.Title }}</span
                ><br />
                <span class="date align-middle">{{
                  notification.Time | date: "MMMM d, yyyy h:mm a"
                }}</span>
              </div>
              <div
                class="col-2 text-right align-self-center arrow"
                [ngClass]="{ open: selected == i }"
              >
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
                </svg>
              </div>
            </div>
            <div class="sublist" *ngIf="selected == i" @toggleAnimation>
              <div class="row">
                <div class="col-12">
                  <div
                    class="notification-content"
                    [ngClass]="{ 'mobile-app': mobile }"
                    [innerHTML]="notifications[selected].Contents | safeHtml"
                    hrefDirective
                  ></div>
                  <div class="action-controls text-center mt-3 mb-3">
                    <button
                      class="btn btn-primary"
                      [translate]="'DELETE_ALL'"
                      (click)="deleteAll()"
                      *ngIf="notifications.length > 1"
                    ></button>
                    <button
                      class="btn btn-primary"
                      [translate]="'DELETE'"
                      (click)="delete()"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
