<div class="header col-12">
  <svg class="help-icon" (click)="openHelp()" *ngIf="!isHideHelp">
    <use xlink:href="/Images/svg-sprite.svg#question-circle-icon"></use>
  </svg>
  <ol class="breadcrumb">
    <ng-container *ngFor="let b of breadcrumb">
      <li *ngIf="b.url">
        <a [routerLink]="['/' + b.url]" [translate]="b.title">&nbsp;</a>
      </li>
      <li
        *ngIf="!b.url"
        [innerHtml]="b.title ? (b.title | translate) : '&nbsp;'"
      ></li>
    </ng-container>
  </ol>
  <div class="page-title" [translate]="title">&nbsp;</div>
</div>
