<div class="modal-header">
  <h4
    *ngIf="modalData.titleTranslated; else elseTitleBlock"
    class="modal-title"
  >
    {{ modalData.title }}
  </h4>
  <ng-template #elseTitleBlock>
    <h4 class="modal-title">{{ modalData.title! | translate }}</h4>
  </ng-template>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('secondary')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="modalData.textTranslated; else elseTextBlock">
    <p *ngFor="let val of modalData.textArray" [innerHtml]="val"></p>
  </div>

  <ng-template #elseTextBlock>
    <div *ngIf="modalData.textList">
      <p
        *ngFor="let val of modalData.textArray"
        [innerHtml]="val | translate"
      ></p>
    </div>
  </ng-template>
  <p *ngIf="modalData.hasGoogle !== ''">
    {{ modalData.hasGoogle! | translate }}
  </p>
  <ul *ngIf="modalData.checkbox && modalData.checkbox.length > 0">
    <li *ngFor="let val of modalData.textList">
      <span [translate]="val"></span>
    </li>
  </ul>
  <div *ngIf="modalData.checkbox && modalData.checkbox.length > 0" class="mb-2">
    <div *ngFor="let val of modalData.checkbox" class="checkbox">
      <input
        type="checkbox"
        id="updates"
        name="updates"
        value="false"
        [(ngModel)]="modalData.options![val.split('*')[1]]"
      />
      <label for="updates" [innerHTML]="val.split('*')[0] | translate"></label>
    </div>
  </div>
  <div class="enterprise-icon-container">
    <img
      src="/Images/enterprise-icons/SG-pop-up-icon.png"
      alt="{{ syncGeneEnterprisePlan }}"
      title="{{ syncGeneEnterprisePlan }}"
      class="enterprise-icon"
    />
  </div>
  <div
    *ngIf="modalData.table && modalData.table.length > 0"
    class="col-12 d-flex justify-content-center enterprise-table-container"
  >
    <div
      *ngFor="let val of modalData.table"
      class="table-container d-flex flex-column"
    >
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{ val.th | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of val.td">
            <td scope="row" class="mt-3">
              <img class="mr-2" src="/Images/green-tick.svg" />
            </td>
            <td>{{ val | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a
    *ngIf="modalData.link !== ''"
    [href]="modalData.link"
    [target]="modalData.linkTarget"
    class="btn btn-primary btn-sm"
    [translate]="modalData.linkTranslate!"
  ></a>
  <div
    [ngClass]="
      modalData.secondaryButton !== '' ? 'col-12 col-lg-6 col-sm-6' : 'col-12'
    "
  >
    <a
      href="http://www.syncgene.com/livehelp?external=true"
      target="_blank"
      class="btn btn-primary btn-sm"
      *ngIf="modalData.support"
      [translate]="'CONTACT_US'"
    ></a>
    <button
      *ngIf="modalData.primaryButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="
        modalData.checkbox && modalData.checkbox.length > 0
          ? activeModal.close(modalData.options)
          : activeModal.close('primary')
      "
      [translate]="modalData.primaryButton!"
    ></button>
    <button
      *ngIf="modalData.primaryTextButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="
        modalData.checkbox && modalData.checkbox.length > 0
          ? activeModal.close(modalData.options)
          : activeModal.close('primary')
      "
    >
      {{ modalData.primaryTextButton }}
    </button>
    <h6 *ngIf="modalData.buttonTitle !== ''" class="text-center h6">
      {{ modalData.buttonTitle! | translate }}
    </h6>
  </div>

  <div class="col-12 col-lg-6 col-sm-6">
    <button
      *ngIf="modalData.secondaryButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="activeModal.dismiss('secondary')"
      [translate]="modalData.secondaryButton!"
    ></button>
    <button
      *ngIf="modalData.secondaryTextButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="activeModal.dismiss('secondary')"
    >
      {{ modalData.secondaryTextButton }}
    </button>
  </div>

  <div class="col-12">
    <button
      *ngIf="modalData.thirdButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="activeModal.dismiss('third')"
      [translate]="modalData.thirdButton!"
    ></button>
    <button
      *ngIf="modalData.thirdTextButton !== ''"
      type="button"
      class="btn btn-primary btn-sm"
      (click)="activeModal.dismiss('third')"
    >
      {{ modalData.thirdTextButton }}
    </button>
  </div>
</div>
