/* wizard pages start */
.wizard-page {
  > .body {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
/* wizard pages end */
.form-container {
  .isCloud {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 16px;
    font-weight: bold;
  }

  .separator-whole {
    margin: 10px 0px 0px 0px;
    height: 20px;
    position: relative;

    span.or {
      width: 40px;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: 100;
      position: absolute;
      background-color: #fff;
      color: #999;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }

    span.border-bottom-left {
      position: absolute;
      left: 20px;
      width: 50vw;
      border-bottom: 2px solid #ddd;
    }

    span.border-bottom-right {
      position: absolute;
      right: 20px;
      width: 50vw;
      border-bottom: 2px solid #ddd;
    }
  }

  .service-img {
    svg {
      width: 80px;
      height: 80px;
      fill: #5e5e5e;
    }
  }

  .source-block {
    max-width: 420px;
    margin: 0 auto;

    &.other {
      svg {
        margin-bottom: 5px;
        width: 58px;
        height: 58px;
      }

      .icloud-note {
        padding-left: 10px;

        p {
          margin-bottom: 0;
        }

        .note {
          font-size: 14px;
          color: #666;
        }
      }
    }

    &.google {
      p {
        text-align: center;
        font-size: 15px;
      }
    }
  }
}
