<div class="wizard-page">
  <div class="body rounded overflow-hidden">
    <div class="mb-3 d-flex justify-content-center logo-holder">
      <a [routerLink]="['/']">
        <svg class="logo">
          <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
        </svg>
      </a>
    </div>
    <div *ngIf="isLoaded">
      <div *ngIf="data" class="mt-3">
        <p
          class="subheader"
          [innerHtml]="
            'REQUEST_TO_LOGIN_SOURCE'
              | translate
                : {
                    name: data.FullName,
                    userName: data.CreatedBy,
                    sourceName: data.UserName
                  }
          "
        ></p>
        <div class="form-group form-container">
          <div *ngIf="data.SyncSystem === 2">
            <div class="action-controls">
              <button
                class="btn btn-block btn-warning icon"
                (click)="confirm()"
                [translate]="'LOGIN_TO_GOOGLE'"
              ></button>
            </div>
          </div>
          <div *ngIf="data.SyncSystem === 9 || data.SyncSystem === 8">
            <div class="action-controls">
              <button
                class="btn btn-block btn-warning icon"
                (click)="confirm()"
                [translate]="'LOGIN_TO_OUTLOOK'"
              ></button>
            </div>
          </div>
          <div
            class="source-block other"
            *ngIf="data.SyncSystem === 4 || data.SyncSystem === 1"
          >
            <form [formGroup]="form" (ngSubmit)="confirm(true)" novalidate>
              <div class="my-3 text-center" *ngIf="data.SyncSystem == 1">
                <svg>
                  <title>{{ 1 | system }}</title>
                  <use
                    xlink:href="/Images/svg-sprite.svg#microsoft-circle-icon-grey"
                  ></use>
                </svg>
              </div>

              <div class="mt-3 text-center" *ngIf="data.SyncSystem == 4">
                <svg>
                  <title>{{ 4 | system }}</title>
                  <use
                    attr.xlink:href="/Images/sources.svg#{{
                      4 | system | lowercase
                    }}"
                  ></use>
                </svg>
              </div>

              <div *ngIf="data.SyncSystem == 1">
                <h5 class="text-center mt-3">
                  {{ "WORK_OR_SCHOOL_ACCOUNT_OFFICE365" | translate }}
                </h5>
                <h6 class="text-center mb-3">
                  {{ "CREATED_BY_YOUR_IT_DEPARTMENT" | translate }}
                </h6>
              </div>
              <div class="form-group" *ngIf="data.SyncSystem == 1">
                <button
                  type="button"
                  (click)="confirm()"
                  class="btn btn-block btn-warning"
                  [translate]="'ADD_SOURCE'"
                >
                  {{ "ADD_SOURCE" | translate }}
                </button>
              </div>

              <div class="border-whole my-3" *ngIf="data.SyncSystem == 1">
                <div class="separator-whole d-flex align-items-center">
                  <span class="border-bottom-left"></span>
                  <span class="or" [translate]="'OR'"></span>
                  <span class="border-bottom-right"></span>
                </div>
              </div>

              <h4
                class="text-center my-3 py-3"
                [ngClass]="{ isCloud: data.SyncSystem == 4 }"
              >
                {{
                  (data.SyncSystem == 1
                    ? "MICROSOFT_OR_OFFICE365"
                    : "PLEASE_LOGIN"
                  ) | translate
                }}
              </h4>

              <div class="form-group">
                <input
                  type="email"
                  name="Email"
                  id="Email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidAccount.username }"
                  maxlength="120"
                  formControlName="UserName"
                  (ngModelChange)="invalidAccount.username = false"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="Password"
                  id="Password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidAccount.password }"
                  maxlength="256"
                  formControlName="Password"
                  (ngModelChange)="invalidAccount.password = false"
                  placeholder="{{
                    (data.SyncSystem == 1
                      ? 'ENTER_CREDENTIALS_LABEL_PASSWORD'
                      : 'APP_SPECIFIC_PASS'
                    ) | translate
                  }}"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngIf="invalidAccount.password"
                  [translate]="'REQUIRED_FIELD'"
                ></div>
              </div>
              <div class="form-group icloud-note" *ngIf="data.SyncSystem == 4">
                <p>
                  <span
                    class="link"
                    (click)="icloudHelp()"
                    [translate]="'ICLOUD_HOW_TO_GENERATE_APP_PASS'"
                  ></span>
                </p>
              </div>
              <div *ngIf="data.SyncSystem == 1">
                <div class="form-group">
                  <div class="checkbox">
                    <input
                      type="checkbox"
                      id="AutoDiscovery"
                      name="AutoDiscovery"
                      formControlName="AutoDiscovery"
                    />
                    <label
                      for="AutoDiscovery"
                      [translate]="'ENTER_CREDENTIALS_CHECKBOX'"
                    ></label>
                  </div>
                </div>
                <div
                  class="form-group hidden-overflow"
                  *ngIf="!form.get('AutoDiscovery')?.value"
                  [@inputAnimation]
                >
                  <input
                    type="text"
                    name="Server"
                    id="Server"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': invalidAccount.server }"
                    maxlength="2000"
                    formControlName="Server"
                    (ngModelChange)="invalidAccount.server = false"
                    placeholder="{{
                      'ENTER_CREDENTIALS_LABEL_SERVER' | translate
                    }}"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="invalidAccount.server"
                    [translate]="'REQUIRED_FIELD'"
                  ></div>
                </div>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-block btn-warning"
                  [translate]="'ADD_SOURCE'"
                >
                  {{ "ADD_SOURCE" | translate }}
                </button>
              </div>
              <a
                *ngIf="data.SyncSystem == 1"
                [routerLink]="['/forgotpassword']"
                [translate]="'FORGOT_PASSWORD'"
              ></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
