<div class="wizard-page" *ngIf="loaded">
  <div class="wizard-header">
    <div class="title">
      <svg>
        <title>SyncGene</title>
        <use xlink:href="/Images/svg-sprite.svg#syncgene-icon"></use>
      </svg>
      <span [translate]="'POWERED_BY'"></span>
    </div>
    <div class="row steps">
      <div class="progress-line"></div>
      <div class="progress-line current {{ 'step' + step }}"></div>
      <div
        class="col-4 col-md-3"
        [ngClass]="{ current: step == 1, completed: step > 1 }"
      >
        <div class="cont">
          <div class="bubble" title="{{ 'STEP' | translate: { var0: 1 } }}">
            <span>1</span>
            <svg>
              <use xlink:href="/Images/svg-sprite.svg#check-icon"></use>
            </svg>
          </div>
          <svg>
            <title>SyncGene</title>
            <use xlink:href="/Images/svg-sprite.svg#syncgene-icon"></use>
          </svg>
        </div>
      </div>
      <div
        class="col-4 col-md-3"
        [ngClass]="{ current: step == 2, completed: step > 2 }"
      >
        <div class="cont">
          <div class="bubble" title="{{ 'STEP' | translate: { var0: 2 } }}">
            <span>2</span>
            <svg>
              <use xlink:href="/Images/svg-sprite.svg#check-icon"></use>
            </svg>
          </div>
          <svg *ngIf="currentResp.IsSourceOneSpecified">
            <title>{{ currentResp.Pages[0].Source1.Name }}</title>
            <use
              attr.xlink:href="/Images/sources.svg#{{
                currentResp.Pages[0].Source1.Icon | lowercase
              }}"
            ></use>
          </svg>
          <img
            *ngIf="!currentResp.IsSourceOneSpecified"
            src="/Images/unknown-source-quick-setup.svg"
          />
        </div>
      </div>
      <div
        class="col-4 col-md-3"
        [ngClass]="{ current: step == 3, completed: step > 3 }"
      >
        <div class="cont">
          <div class="bubble" title="{{ 'STEP' | translate: { var0: 3 } }}">
            <span>3</span>
            <svg>
              <use xlink:href="/Images/svg-sprite.svg#check-icon"></use>
            </svg>
          </div>
          <svg *ngIf="currentResp.IsSourceTwoSpecified">
            <title>{{ currentResp.Pages[0].Name }}</title>
            <use
              attr.xlink:href="/Images/sources.svg#{{
                currentResp.Pages[0].Source2.Icon | lowercase
              }}"
            ></use>
          </svg>
          <img
            *ngIf="!currentResp.IsSourceTwoSpecified"
            src="/Images/unknown-source-quick-setup.svg"
          />
        </div>
      </div>
      <div
        class="col-4 col-md-3"
        [ngClass]="{
          current: step == 4 || step == 5 || step == 6,
          completed: step > 5
        }"
      >
        <div class="cont">
          <div class="bubble" title="{{ 'STEP' | translate: { var0: 4 } }}">
            <span>4</span>
            <svg>
              <use xlink:href="/Images/svg-sprite.svg#check-icon"></use>
            </svg>
          </div>
          <svg>
            <title [translate]="'SYNCHRONIZATION'"></title>
            <use xlink:href="/Images/svg-sprite.svg#sync-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="body overflow-hidden">
    <div class="step1" *ngIf="step == 1">
      <div *ngIf="loginView">
        <h1 [translate]="'WIZARD_LOGIN_HEADER'"></h1>
        <p class="subheader">{{ subheader }}</p>
        <form novalidate>
          <div class="form-group" *ngIf="!isEmailLogin">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-google"
              (click)="externalLogin('Google')"
              [attr.title]="
                'LOGIN_USING_TITLE' | translate: { service: 'Google' }
              "
            >
              <div class="icon">
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#google-color-icon"
                  ></use>
                </svg>
              </div>
              <span
                [translate]="'LOGIN_USING' | translate: { service: 'Google' }"
                >Login in with Google</span
              >
            </button>
          </div>
          <div class="form-group" *ngIf="!isEmailLogin">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-facebook"
              (click)="externalLogin('Facebook')"
              [attr.title]="
                'LOGIN_USING_TITLE' | translate: { service: 'Facebook' }
              "
            >
              <div class="icon">
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#fb-icon"></use>
                </svg>
              </div>
              <span
                [translate]="'LOGIN_USING' | translate: { service: 'Facebook' }"
                >Login in with Facebook</span
              >
            </button>
          </div>
          <div class="form-group" *ngIf="!isEmailLogin">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-microsoft"
              (click)="externalLogin('Microsoft')"
              [attr.title]="
                'LOGIN_USING_TITLE' | translate: { service: 'Microsoft' }
              "
            >
              <div class="icon">
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#ms-icon"></use>
                </svg>
              </div>
              <span
                [translate]="
                  'LOGIN_USING' | translate: { service: 'Microsoft' }
                "
                >Login in with Microsoft</span
              >
            </button>
          </div>
        </form>
        <div class="separator" *ngIf="!isEmailLogin">
          <span [translate]="'OR'"></span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control icon email"
              [ngClass]="{ 'is-invalid': invalidLogin.username }"
              maxlength="120"
              formControlName="username"
              (ngModelChange)="invalidLogin.username = false"
              placeholder="{{ 'ENTER_EMAIL_ADDRESS' | translate }}"
            />
            <div
              class="invalid-feedback"
              *ngIf="invalidLogin.username"
              [translate]="'EMAIL_ADDRESS_INVALID'"
            ></div>
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control icon key"
              [ngClass]="{ 'is-invalid': invalidLogin.password }"
              maxlength="50"
              formControlName="password"
              (ngModelChange)="invalidLogin.password = false"
              placeholder="{{ 'ENTER_PASSWORD' | translate }}"
            />
            <div
              class="invalid-feedback"
              *ngIf="invalidLogin.password"
              [translate]="this.invalidLogin.invalidPasswordMessage"
              [translateParams]="{ var0: '8' }"
            ></div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-warning icon">
              <svg>
                <use xlink:href="/Images/svg-sprite.svg#login-icon"></use>
              </svg>
              <span [translate]="'LOG_IN'"></span>
            </button>
          </div>
        </form>
        <div class="policy-block">
          <p class="text-center">
            <span [translate]="'DONT_HAVE_AN_ACCCOUNT'"></span>&nbsp;<a
              [routerLink]="['/quick-setup/step1']"
              queryParamsHandling="merge"
              [translate]="'SIGNUP_HERE'"
            ></a>
          </p>
          <app-trusted-logos></app-trusted-logos>
        </div>
      </div>
      <div *ngIf="!loginView">
        <h1 [translate]="'WIZARD_SIGNUP_HEADER'"></h1>
        <p class="subheader">{{ subheader }}</p>
        <form novalidate>
          <div class="form-group">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-google"
              (click)="externalSignup('Google')"
              [attr.title]="
                'SIGNUP_USING_TITLE' | translate: { service: 'Google' }
              "
            >
              <div class="icon">
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#google-color-icon"
                  ></use>
                </svg>
              </div>
              <span
                [translate]="'SIGNUP_USING' | translate: { service: 'Google' }"
              ></span>
            </button>
          </div>
          <div class="form-group">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-facebook"
              (click)="externalSignup('Facebook')"
              [attr.title]="
                'SIGNUP_USING_TITLE' | translate: { service: 'Facebook' }
              "
            >
              <div class="icon">
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#fb-icon"></use>
                </svg>
              </div>
              <span
                [translate]="
                  'SIGNUP_USING' | translate: { service: 'Facebook' }
                "
              ></span>
            </button>
          </div>
          <div class="form-group">
            <button
              type="button"
              name="provider"
              class="btn btn-block btn-social btn-microsoft"
              (click)="externalSignup('Microsoft')"
              [attr.title]="
                'SIGNUP_USING_TITLE' | translate: { service: 'Microsoft' }
              "
            >
              <div class="icon">
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#ms-icon"></use>
                </svg>
              </div>
              <span
                [translate]="
                  'SIGNUP_USING' | translate: { service: 'Microsoft' }
                "
              ></span>
            </button>
          </div>
        </form>
        <div class="separator">
          <span [translate]="'OR'"></span>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control icon email"
              [ngClass]="{ 'is-invalid': invalidSignup.Email }"
              maxlength="120"
              formControlName="Email"
              (ngModelChange)="invalidSignup.Email = false"
              placeholder="{{ 'ENTER_EMAIL_ADDRESS' | translate }}"
            />
            <div
              class="invalid-feedback"
              *ngIf="invalidSignup.Email"
              [translate]="'EMAIL_ADDRESS_INVALID'"
            ></div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-warning icon">
              <svg class="signup">
                <use xlink:href="/Images/svg-sprite.svg#signup-icon"></use>
              </svg>
              <span [translate]="'SIGN_UP'"></span>
            </button>
          </div>
        </form>
        <div class="policy-block">
          <p class="text-center" [innerHTML]="'SIGNUP_POLICY' | translate"></p>
          <hr />
          <p class="text-center">
            <span [translate]="'ALREADY_HAVE_AN_ACCOUNT'"></span>&nbsp;<a
              [routerLink]="['/quick-setup/step1/login']"
              [translate]="'LOGIN_HERE'"
              queryParamsHandling="merge"
            ></a>
          </p>
          <app-trusted-logos></app-trusted-logos>
        </div>
      </div>
    </div>
    <div class="step2-3" *ngIf="step == 2 || step == 3">
      <h1>{{ header }}</h1>
      <p class="text-center">{{ subheader }}</p>
      <div
        class="source-block other"
        *ngIf="isCurrentSourceSpecified && current.SyncSystem != 2"
      >
        <div *ngIf="!selectAccountView">
          <div class="my-3 text-center" *ngIf="current.SyncSystem == 1">
            <svg>
              <title>{{ 1 | system }}</title>
              <use
                xlink:href="/Images/svg-sprite.svg#microsoft-circle-icon-grey"
              ></use>
            </svg>
          </div>

          <div class="mt-3 text-center" *ngIf="current.SyncSystem == 4">
            <svg>
              <title>{{ 4 | system }}</title>
              <use
                attr.xlink:href="/Images/sources.svg#{{
                  4 | system | lowercase
                }}"
              ></use>
            </svg>
          </div>

          <div *ngIf="current.SyncSystem == 1">
            <h5 class="text-center mt-3">
              {{ "WORK_OR_SCHOOL_ACCOUNT_OFFICE365" | translate }}
            </h5>
            <h6 class="text-center mb-3">
              {{ "CREATED_BY_YOUR_IT_DEPARTMENT" | translate }}
            </h6>
          </div>

          <form
            [formGroup]="addAccountForm"
            (ngSubmit)="accountAdd()"
            novalidate
          >
            <div class="form-group" *ngIf="current.SyncSystem == 1">
              <button
                type="button"
                (click)="externalAccountAdd('Office365')"
                class="btn btn-block btn-warning"
                [translate]="'ADD_SOURCE'"
              >
                {{
                  (step == 3 ? "ADD_SOURCE_AND_SYNC" : "ADD_SOURCE") | translate
                }}
              </button>
            </div>

            <div class="border-whole my-3" *ngIf="current.SyncSystem == 1">
              <div class="separator-whole d-flex align-items-center">
                <span class="border-bottom-left"></span>
                <span class="or" [translate]="'OR'"></span>
                <span class="border-bottom-right"></span>
              </div>
            </div>

            <h4
              class="text-center my-3 py-3"
              [ngClass]="{ isCloud: current.SyncSystem == 4 }"
            >
              {{
                (current.SyncSystem == 1
                  ? "MICROSOFT_OR_OFFICE365"
                  : "PLEASE_LOGIN"
                ) | translate
              }}
            </h4>

            <div class="form-group">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': invalidAccount.username }"
                maxlength="120"
                formControlName="username"
                (ngModelChange)="invalidAccount.username = false"
                placeholder="{{
                  (current.SyncSystem == 1
                    ? 'ENTER_CREDENTIALS_LABEL_EMAIL_OR_USERNAME'
                    : 'ENTER_CREDENTIALS_LABEL_USERNAME'
                  ) | translate
                }}"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="current.SyncSystem == 4 && invalidAccount.username"
                [translate]="'EMAIL_ADDRESS_INVALID'"
              ></div>
              <div
                class="invalid-feedback"
                *ngIf="current.SyncSystem == 1 && invalidAccount.username"
                [translate]="'REQUIRED_FIELD'"
              ></div>
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': invalidAccount.password }"
                maxlength="256"
                formControlName="password"
                (ngModelChange)="invalidAccount.password = false"
                placeholder="{{
                  (current.SyncSystem == 1
                    ? 'ENTER_CREDENTIALS_LABEL_PASSWORD'
                    : 'APP_SPECIFIC_PASS'
                  ) | translate
                }}"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="invalidAccount.password"
                [translate]="'REQUIRED_FIELD'"
              ></div>
            </div>
            <div class="form-group icloud-note" *ngIf="current.SyncSystem == 4">
              <p>
                <span
                  class="link"
                  (click)="icloudHelp()"
                  [translate]="'ICLOUD_HOW_TO_GENERATE_APP_PASS'"
                ></span>
              </p>
            </div>
            <div *ngIf="current.SyncSystem == 1">
              <div class="form-group">
                <div class="checkbox">
                  <input
                    type="checkbox"
                    id="autoDiscovery"
                    name="autoDiscovery"
                    value="true"
                    formControlName="autoDiscovery"
                  />
                  <label
                    for="autoDiscovery"
                    [translate]="'ENTER_CREDENTIALS_CHECKBOX'"
                  ></label>
                </div>
              </div>
              <div
                class="form-group hidden-overflow"
                *ngIf="!addAccountForm.get('autoDiscovery')?.value"
                [@inputAnimation]
              >
                <input
                  type="text"
                  name="server"
                  id="server"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidAccount.server }"
                  maxlength="2000"
                  formControlName="server"
                  (ngModelChange)="invalidAccount.server = false"
                  placeholder="{{
                    'ENTER_CREDENTIALS_LABEL_SERVER' | translate
                  }}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="invalidAccount.server"
                  [translate]="'REQUIRED_FIELD'"
                ></div>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-block btn-warning"
                [translate]="'ADD_SOURCE'"
              >
                {{
                  (step == 3 ? "ADD_SOURCE_AND_SYNC" : "ADD_SOURCE") | translate
                }}
              </button>
            </div>
            <div class="form-group" *ngIf="current.SyncSystem == 1">
              <a
                (click)="openHelp('FORGOT_PASSWORD_EXCHANGE_DESC')"
                href="javascript:void(0)"
                >{{ "FORGOT_PASSWORD_WITHOUT_YOUR" | translate }}</a
              >
            </div>
          </form>
        </div>
        <div *ngIf="selectAccountView">
          <div class="accounts-box">
            <div class="body">
              <ul>
                <ng-container *ngFor="let account of accounts">
                  <li
                    (click)="addExistinAccount(account)"
                    title="{{ account.email }}"
                    *ngIf="account.system == current.SyncSystem"
                  >
                    <span>{{ account.email }}</span>
                  </li>
                </ng-container>
                <li (click)="selectAccountView = false">
                  <svg>
                    <use xlink:href="/Images/svg-sprite.svg#account-icon"></use>
                  </svg>
                  <span [translate]="'USE_ANOTHER_ACCOUNT'"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="source-block google"
        *ngIf="isCurrentSourceSpecified && current.SyncSystem == 2"
      >
        <div class="accounts-box">
          <div class="head">
            <svg>
              <use xlink:href="/Images/sources.svg#google"></use>
            </svg>
            <span
              [translate]="'SIGNUP_USING' | translate: { service: 'Google' }"
            ></span>
          </div>
          <div class="body">
            <ul>
              <ng-container *ngFor="let account of accounts">
                <li
                  (click)="addExistinAccount(account)"
                  title="{{ account.email }}"
                  *ngIf="account.system == current.SyncSystem"
                >
                  <span>{{ account.email }}</span>
                </li>
              </ng-container>
              <li (click)="externalAccountAdd('Google')">
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#account-icon"></use>
                </svg>
                <span [translate]="'USE_ANOTHER_ACCOUNT'"></span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          <span
            class="link"
            (click)="googleHelp()"
            [translate]="'WHY_SYNCGENE_REQUIRES_PERMISSIONS'"
          ></span>
        </p>
      </div>
      <div class="add-source-block" *ngIf="!isCurrentSourceSpecified">
        <div class="source-block">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text border border-0">SYNC:</span>
            </div>
            <input
              type="text"
              placeholder="{{ 'SEARCH' | translate }}"
              [formControl]="searchControl"
              class="form-control search border border-0"
            />
            <div class="input-group-append">
              <button
                type="submit"
                class="btn btn-search orange"
                title="Click here to search border border-0"
              >
                <svg>
                  <use xlink:href="/Images/svg-sprite.svg#search-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="scroll-block mt-5">
          <div class="row icons-block mx-auto">
            <div
              class="col-6 col-sm-4 col-md-3 col-lg-2"
              *ngFor="let source of filteredSourcesToSelect; let i = index"
            >
              <a
                class="button text-center d-flex flex-column align-items-center mb-0"
                role="button"
                (click)="sourceSelected(i)"
              >
                <svg class="icon-source">
                  <title>{{ source.Name }}</title>
                  <use
                    attr.xlink:href="/Images/sources.svg#{{
                      source.Icon | lowercase
                    }}"
                  ></use>
                </svg>
                <p class="text-center mt-3 mb-0">{{ source.Name }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-trusted-logos></app-trusted-logos>
      <p class="mt-4 mb-0 text-center font-weight-bold" *ngIf="currentUser">
        <span
          [innerHtml]="
            'YOU_ARE_LOGGED_IN' | translate: { var0: currentUser.Login }
          "
        ></span
        >&nbsp;
        <a class="link" (click)="logOut()" [translate]="'LOG_OUT'"></a>
      </p>
    </div>
    <div class="step4" *ngIf="step == 4">
      <h1>
        <svg>
          <use xlink:href="/Images/svg-sprite.svg#check-icon"></use>
        </svg>
        <span [translate]="'WIZARD_START_SYNC_HEADER'"></span>
      </h1>
      <p
        class="subheader"
        [innerHTML]="
          'YOU_CAN_START_SYNC'
            | translate
              : {
                  var0: currentResp.Pages[0].Source1.Name,
                  var1: currentResp.Pages[0].Source2.Name
                }
        "
      ></p>
      <p class="mb-3 mb-md-5 text-center">
        <button
          class="btn btn-warning"
          (click)="sync()"
          [translate]="'START_SYNC'"
        ></button>
      </p>
      <p
        class="text-center font-weight-bold"
        [innerHTML]="'NOTICE_BEFORE_SYNC_QUICK_SETUP' | translate"
      ></p>
      <p
        class="d-none d-md-block text-center font-weight-bold"
        [innerHTML]="'IF_YOU_WANT_MANAGE' | translate"
      ></p>
      <app-stores class="d-none d-md-block"></app-stores>
      <app-trusted-logos></app-trusted-logos>
    </div>
    <div class="step5-6" *ngIf="step == 5 || step == 6">
      <div *ngIf="step == 5">
        <div class="sync-header mt-3 mb-4 text-center">
          <svg>
            <title>{{ currentResp.Pages[0].Source1.Icon }}</title>
            <use
              attr.xlink:href="/Images/sources.svg#{{
                currentResp.Pages[0].Source1.Icon | lowercase
              }}"
            ></use>
          </svg>
          <svg class="sync">
            <use xlink:href="/Images/svg-sprite.svg#syncgene-icon"></use>
          </svg>
          <svg>
            <title>{{ currentResp.Pages[0].Source2.Icon }}</title>
            <use
              attr.xlink:href="/Images/sources.svg#{{
                currentResp.Pages[0].Source2.Icon | lowercase
              }}"
            ></use>
          </svg>
        </div>
        <h1 [translate]="'WIZARD_SYNC_HEADER'"></h1>
        <p class="mb-1 text-center">{{ progress.status }}</p>
        <p
          class="text-center font-weight-bold"
          [translate]="'FIRST_SYNC_NOTE'"
        ></p>
        <div class="separator"></div>
      </div>
      <div *ngIf="step == 6">
        <h1 [translate]="'WIZARD_SYNC_ENDED_HEADER'"></h1>
        <p class="mb-1 text-center">{{ progress.status }}</p>
        <div class="cards row">
          <div class="col-12 col-sm-6 d-flex justify-content-end">
            <div class="card">
              <div class="head">
                <img
                  src="/Images/card1.png"
                  [attr.alt]="'WIZARD_CARD1_TEXT' | translate"
                  [attr.title]="'WIZARD_CARD1_TEXT' | translate"
                />
              </div>
              <div class="body">
                <p [translate]="'WIZARD_CARD1_TEXT'"></p>
                <a
                  [routerLink]="['/synchronization/management']"
                  [translate]="'ADD_ACCOUNT'"
                ></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-start">
            <div class="card">
              <div class="head">
                <img
                  src="/Images/card2.png"
                  [attr.alt]="'WIZARD_CARD2_TEXT' | translate"
                  [attr.title]="'WIZARD_CARD2_TEXT' | translate"
                />
              </div>
              <div class="body">
                <p [translate]="'WIZARD_CARD2_TEXT'"></p>
                <a
                  [routerLink]="['/share/manage-shared-calendars']"
                  [translate]="'SHARE_CALENDAR'"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p
        class="d-none d-md-block text-center font-weight-bold"
        [innerHTML]="'NOTIFY_WHEN_SYNC_ENDS' | translate"
      ></p>
      <app-stores class="d-none d-md-block"></app-stores>
      <div class="mt-md-5 text-center">
        <p class="mb-2 font-weight-bold" [translate]="'VIEW_SYNC_STATUS'"></p>
        <a
          class="btn btn-warning"
          [routerLink]="['/synchronization/status']"
          [translate]="'STATUS'"
        ></a>
      </div>
      <p class="mt-4 mb-0 text-center font-weight-bold" *ngIf="currentUser">
        <span
          [innerHtml]="
            'YOU_ARE_LOGGED_IN' | translate: { var0: currentUser.Login }
          "
        ></span
        >&nbsp;
        <a class="link" (click)="logOut()" [translate]="'LOG_OUT'"></a>
      </p>
    </div>
  </div>
</div>
