.wizard-page {
  .wizard-header {
    margin-bottom: 10px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    line-height: 1;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);

    .title {
      padding: 12px 20px;
      background-color: #f2f2f2;

      svg {
        width: 28px;
        height: 28px;
      }

      span {
        vertical-align: middle;
        margin-left: 15px;
        font-weight: 500;
      }
    }

    .steps {
      position: relative;
      padding: 20px 15px;

      .progress-line {
        width: 80%;
        height: 4px;
        top: 0;
        bottom: 0;
        margin: auto 78px;
        position: absolute;
        background: url(/img/dot.svg);

        &.current {
          background: url(/img/dot-green.svg);

          &.step1 {
            width: 0;
          }

          &.step2 {
            width: 25%;
          }

          &.step3 {
            width: 50%;
          }

          &.step4 {
            width: 80%;
          }
        }
      }

      .col-md-3 {
        position: relative;
        padding: 0;
        text-align: center;

        .cont {
          display: inline-block;
          padding: 0 16px;
          position: relative;
          background-color: #fff;
          z-index: 1;

          .bubble {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            text-align: center;
            background-color: #7f7f7f;
            color: #fff;

            svg {
              width: 17px;
              height: 16px;
              fill: #fff;
              display: none;
            }
          }

          > svg {
            width: 50px;
            height: 50px;
            fill: #7f7f7f;
          }

          img {
            width: 50px;
            height: 50px;
          }
        }

        &.current {
          .cont {
            .bubble {
              background-color: #4285f4;
            }
          }
        }

        &.completed {
          .cont {
            .bubble {
              background-color: #5daf3c;

              span {
                display: none;
              }

              svg {
                display: inline-block;
              }
            }
          }
        }

        &:first-child .cont {
          padding-left: 0;
        }

        &:last-child .cont {
          padding-right: 0;
        }
      }
    }
  }

  .step2-3 {
    .isCloud {
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      font-size: 16px;
      font-weight: bold;
    }

    .separator-whole {
      margin: 10px 0px 0px 0px;
      height: 20px;
      position: relative;

      span.or {
        width: 40px;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 100;
        position: absolute;
        background-color: #fff;
        color: #999;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
      }

      span.border-bottom-left {
        position: absolute;
        left: 20px;
        width: 50vw;
        border-bottom: 2px solid #ddd;
      }

      span.border-bottom-right {
        position: absolute;
        right: 20px;
        width: 50vw;
        border-bottom: 2px solid #ddd;
      }
    }

    .service-img {
      svg {
        width: 80px;
        height: 80px;
        fill: #5e5e5e;
      }
    }

    .source-block {
      max-width: 420px;
      margin: 0 auto;

      &.other {
        svg {
          margin-bottom: 5px;
          width: 58px;
          height: 58px;
        }

        .icloud-note {
          padding-left: 10px;

          p {
            margin-bottom: 0;
          }

          .note {
            font-size: 14px;
            color: #666;
          }
        }
      }
    }

    .add-source-block {
      .input-group-prepend .input-group-text {
        background-color: #f4f4f4;
      }

      input {
        background-color: #f9f9f9;
      }

      h1 span {
        font-weight: 400;
      }

      .input-group {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
      }

      .btn-search {
        min-width: 50px;
        background-color: #fc9841;

        svg {
          fill: #ffff;
          width: 20px;
          height: 20px;
        }
      }

      .scroll-block {
        margin: 0 -20px;
        height: 250px;
        overflow-y: scroll;
        padding: 20px;

        .icons-block {
          max-width: 700px;

          svg {
            width: 50px;
            height: 50px;
          }

          p {
            font-size: 12px;
          }

          a {
            transition: background 0.06s ease-in-out;
            color: black;
            text-decoration: none;
            padding: 10px 8px 0 10px;
            min-height: 130px;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
    }

    &.google {
      p {
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .step4 {
    h1 {
      margin: 0 0 30px -120px;

      svg,
      span {
        vertical-align: middle;
      }

      svg {
        margin-right: 60px;
        width: 80px;
        height: 80px;
        fill: #5daf3c;
      }
    }
  }

  .step5-6 {
    .sync-header {
      svg {
        width: 70px;
        height: 70px;

        &.sync {
          margin: 0 25px;
          width: 36px;
          height: 36px;
          animation-name: spin;
          animation-duration: 4000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(360deg);
          }
        }
      }
    }

    .cards {
      margin: 3rem 0;

      > div {
        .card {
          max-width: 350px;
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          overflow: hidden;

          .head {
            border-bottom: 1px solid #ccc;

            img {
              width: 100%;
              height: auto;
            }
          }

          .body {
            padding: 20px;
            box-shadow: none;

            a {
              text-transform: uppercase;
              color: #ea8d01;
            }
          }
        }
      }
    }
  }

  .btn {
    min-width: 250px;
  }

  .accounts-box {
    margin-bottom: 15px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    overflow: hidden;

    .head {
      padding: 5px 15px;
      background-color: transparent;
      box-shadow: none;
      border-bottom: 1px solid #dadce0;

      svg {
        margin: 0 12px 0 0;
        width: 16px;
        height: 16px;
      }

      span {
        color: #5f6368;
        font-size: 14px;
      }
    }

    .body {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          padding: 15px 20px;
          transition: background 0.2s;
          user-select: none;
          border-bottom: 1px solid #dadce0;

          &:last-child {
            font-size: 14px;
            font-weight: 500;
            border-bottom: none;

            svg {
              margin: 0;
              width: 20px;
              height: 20px;
              fill: rgb(117, 117, 117);
            }

            span {
              margin-left: 12px;
              vertical-align: middle;
            }
          }

          &:hover {
            background-color: #eee;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .wizard-page {
    .wizard-header {
      position: relative;
      margin: 0;
      border-radius: 0;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
      z-index: 1;

      .title {
        display: none;
      }

      .steps {
        padding: 8px 15px;

        .progress-line {
          width: 100%;
          margin: auto 0;
          height: 3px;

          &.current {
            &.step2 {
              width: 50%;
            }

            &.step3 {
              width: 100%;
            }
          }
        }

        .col-md-3 {
          .cont {
            .bubble {
              width: 24px;
              height: 24px;
              margin-right: 13px;
              line-height: 24px;
              border-radius: 12px;
              font-size: 15px;

              svg {
                width: 15px;
                height: 14px;
              }
            }

            > svg {
              width: 36px;
              height: 36px;
            }

            img {
              width: 36px;
              height: 36px;
            }
          }

          &:nth-child(3) {
            text-align: left;
          }

          &:nth-child(5) {
            text-align: right;
          }

          &:last-child {
            display: none;
          }
        }
      }
    }

    .step4 h1 {
      margin: 0 0 30px;

      svg {
        display: inline-block;
        margin-right: 0;
      }

      span {
        display: block;
      }
    }

    .step5-6 {
      .sync-header {
        svg {
          width: 54px;
          height: 54px;

          &.sync {
            margin: 0 20px;
            width: 30px;
            height: 30px;
          }
        }
      }

      .cards {
        margin: 2rem 0;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .wizard-page {
    .wizard-header {
      .steps {
        .progress-line {
          height: 2px;
        }

        .col-md-3 {
          .cont {
            padding: 0 10px;

            .bubble {
              width: 20px;
              height: 20px;
              margin-right: 10px;
              line-height: 20px;
              border-radius: 10px;
              font-size: 13px;

              svg {
                width: 12px;
                height: 11px;
              }
            }

            > svg {
              width: 30px;
              height: 30px;
            }

            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .step5-6 {
      .sync-header {
        svg {
          width: 48px;
          height: 48px;

          &.sync {
            margin: 0 18px;
            width: 28px;
            height: 28px;
          }
        }
      }

      .cards {
        margin: 1rem 0;

        > div {
          margin: 10px 0;

          .card {
            margin: 0 auto;
            max-width: 350px;
          }
        }
      }
    }
  }
}
