h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul li img,
button svg {
  width: 11px;
  height: 11px;
  background-color: transparent !important;
}

.btn-light:nth-of-type(2) {
  border-right: 1px solid #d3d9df;
  border-left: 1px solid #d3d9df;
}
select.form-control {
  width: 76px;
}

.trust-icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.badges .partner-badge {
  display: inline-block;
  padding: 16px;
  vertical-align: middle;

  a {
    color: #594165;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    outline: 0;

    :hover {
      opacity: 0.75;
      cursor: pointer;
    }

    .icon-ms-gold-partner {
      width: 127px;
      height: 58px;
      fill: #969696;
    }

    .icon-money-back {
      width: 106.25px;
      height: 95px;
      fill: #969696;
    }

    .comodo-logo {
      height: 100px;
      width: 167px;
      fill: #969696;
    }

    [class^="icon-"] {
      display: inline-block;
      vertical-align: middle;
      max-width: 250px;
    }
  }
}

.button {
  border-radius: 0 !important;
  border-width: 1px;
  border-top: 1px solid rgb(211, 217, 223);
  border-bottom: 1px solid rgb(211, 217, 223);

  svg {
    fill: #868686;
    width: 22px;
    height: 22px;
  }

  span {
    color: #868686;
    font-family: Roboto;
  }

  &.active {
    border-bottom-style: none;
    background-color: white !important;

    svg {
      fill: #383838 !important;
    }

    span {
      color: black;
    }
  }
}

.pricing-cards {
  text-align: center;
  width: 100%;

  .pricing-card:hover {
    -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }

  .pricing-card.yearly:hover {
    -moz-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.4);
  }

  .pricing-card {
    min-height: 530px;
    max-width: 324px;
    flex: 1;
    background-color: #fff;
    display: inline-block;
    margin: 10px;
    width: 31%;
    min-width: 190px;
    vertical-align: top;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.enterprise {
      .head {
        color: #fff;

        .period {
          color: #fff;
        }
      }
    }

    &.yearly {
      -moz-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);

      .head {
        background-color: #ea8d01;
        color: #fff;

        .period {
          color: #fff;
        }
      }

      .body {
        .anual {
          color: #757575;

          .introductory-price {
            > div {
              display: block;
            }
          }
        }

        .notice {
          color: #383838;
        }
      }
    }

    .head {
      min-height: 192px;
      position: relative;
      font-weight: 400;
      padding: 20px;
      background-color: #2f63ad;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      text-align: center;
      color: white;

      .bottom {
        min-height: 73px;
      }

      .enterprise-fsb-explanation {
        font-size: 12px;
      }

      .name {
        font-size: 18px;
        padding: 8px 0;
        font-weight: 500;
      }

      .price {
        font-size: 30px;
        font-weight: bold;
      }

      .period {
        max-width: 75%;
        margin-top: -8px;
        font-size: 12px;
      }

      .best-value {
        position: absolute;
        top: -20px;
        right: 5px;
        width: 70px;
        height: 70px;
      }

      .best-value-fr-de {
        top: -14px !important;
      }

      .percentage-save {
        position: absolute;
        top: 84px;
        right: -15px;
        width: 60px;
        height: 60px;
        padding: 5px;
        text-align: center;
        border-radius: 50%;
        background-color: #34bf5e;
        color: white;

        div {
          font-size: 12.5px;
          word-break: break-all;
          hyphens: auto;
        }

        div.save-fr {
          font-size: 9px;
        }

        span.number {
          line-height: 1rem;
          font-size: 16px;
        }
      }
    }
  }

  .body {
    height: calc(100% - 192px);
    padding: 20px;

    .anual {
      font-size: 16px;
      color: #757575;
      width: 100%;
      font-weight: 500;

      .introductory-price {
        height: 24px;
        padding-top: 2px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;

        > div {
          color: #fff;
          font-size: 14px;
          margin: -22px -20px;
          padding: 2px 0 1px;
          text-transform: uppercase;
          position: relative;

          .introductory-price-item {
            border-radius: 15px;
            background-color: #34bf5e;
            position: absolute;
            border: 1px solid white;
            top: -12px;
            width: calc(100% - 40px);
            margin-right: 20px;
            margin-left: 20px;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 300;
        text-align: left;

        li {
          margin-bottom: 6px;
          padding-left: 17px;
          font-size: 14.5px;
        }
      }
    }

    .cart-icon {
      svg {
        background-color: #ea8d01;
        fill: white;
      }
    }

    .guaranty-container {
      min-height: 18px;

      .guaranty {
        display: block;
        font-size: 12px;
        color: #757575;
      }
    }

    .learn-more-container {
      min-height: 24px;
      margin-top: 10px;

      .learn-more {
        margin-top: 0px;
        display: block;
        margin-top: 10px;
        font-weight: bold;
        font-size: 0.8rem;
        color: #ea8d01;
      }
    }

    .purchased {
      padding: 5px 0;
      background-color: #ededed;
      font-weight: 500;
      color: #2f63ad;
      cursor: default;

      svg {
        width: 17.7px;
        height: 15.3px;
        fill: #007bff;
      }
    }

    .buttons {
      .old-price {
        text-decoration: line-through;
        color: #848484;
      }

      .notice {
        margin-bottom: 7px;
        font-size: 18px;
        text-align: center;
        padding: 13px 0 0;
        color: #383838;
      }
    }
  }

  button {
    width: 66%;
    height: 40px;
    background-color: #ea8d01;
    font-size: 11.9px;
    font-weight: 500;
    border: none;
  }
}
.mobile-container {
  ::ng-deep .carousel {
    .mobile-header {
      font-size: 2rem;
    }

    .slick-prev {
      width: 15%;
      height: 100%;
      left: 0;
      z-index: 999;

      &:hover svg {
        fill: #000;
      }

      svg {
        transform: rotate(180deg);
        height: 25px;
        width: 25px;
        fill: #808080;
      }

      &:before {
        font-size: 0;
      }
    }

    .slick-next {
      width: 15%;
      height: 100%;
      right: 0;
      z-index: 999;

      svg {
        min-height: 150px;
        height: 25px;
        width: 25px;
        fill: #808080;
      }

      &:hover svg {
        fill: #000;
      }

      &:before {
        font-size: 0;
      }
    }

    .title {
      color: black;
      font-weight: 900;
      font-size: 24px;
    }

    .text-block {
      min-height: 100px;
    }

    .text {
      color: #848484;
    }

    ::ng-deep .slick-dots li.slick-active button {
      background: none;
    }

    ::ng-deep .slick-dots li button:before {
      font-size: 10px;
    }

    ::ng-deep .slick-dots li.slick-active button:before {
      font-size: 10px;
    }
  }

  ::ng-deep .carousel-control-next,
    ::ng-deep .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
  }

  ::ng-deep .carousel-indicators li {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 100%;
    background-color: black !important;
  }

  .carousel-content {
    height: 300px;

    .carousel-caption {
      top: 0;

      .text-block {
        min-height: 100px;
      }

      svg {
        min-height: 150px;
      }

      .title {
        color: black;
        font-weight: 900;
        font-size: 24px;
      }

      .text {
        color: #848484;
      }
    }
  }

  .mobile-plans {
    .mobile-plan {
      cursor: pointer;
      box-shadow: 0 0 0 1px #d3d9df;
      margin: 0 0 1px 1px;
      flex: 1;
      transition: background-color 0.15s ease-in-out;

      &.active {
        background-color: #dcf3ff;
      }

      .plan-content {
        padding-top: 26px;
      }

      .full-price {
        font-size: 30px;
        font-weight: bold;
      }

      .price-month {
        color: #848484;
      }

      .mobile-percentage-save {
        font-size: 12.5px;
        color: white;
        background-color: red;

        &.mobile-save-fr {
          font-size: 9px;
        }
      }
    }
  }

  .btn-primary {
    width: 66%;
    height: 40px;
    background-color: #ea8d01;
    font-size: 11.9px;
    font-weight: 500;
    border: none;
  }

  .footer-container {
    background-color: #e5e5e5;

    .text-footer {
      ::ng-deep a {
        text-decoration: underline;
        color: #000;
      }
    }
  }
}

.bottom-text {
  font-size: 12px;
}
/* mobile media queries start */
//fixes for different languages start
@media all and (min-width: 765px) and (max-width: 815px) {
  .head .bottom .price {
    font-size: 25px !important;
  }
}

@media all and (min-width: 993px) and (max-width: 1085px) {
  .head .bottom .price {
    font-size: 25px !important;
  }
}

@media all and (min-width: 767px) and (max-width: 1200px) {
  .yearly {
    .name {
      max-width: 45%;
    }
  }
}
//fixes for different languages end

@media all and (max-width: 767px) {
  .pricing-cards {
    .pricing-card {
      width: 43%;
      min-width: 43%;
      max-width: 43%;
    }
  }
  .mobile-container .carousel-content .carousel-caption svg {
    max-height: 130px;
  }
}

@media all and (max-width: 610px) {
  div.d-flex
    button.btn.btn-light.col-6.d-flex.justify-content-center.button.font-weight-bold {
    border: none;
    border-bottom: 1px solid rgb(211, 217, 223);
    background-color: white !important;

    &.active {
      border-bottom: 1px solid black;
      border-bottom-width: 2px;
    }
  }

  .pricing-cards {
    .pricing-card {
      width: 70%;
      max-width: 70%;
      min-width: 70%;
    }
  }
}

@media all and (max-width: 480px) {
  .btn-light span {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 18px;
    font-weight: 300;
  }

  .btn.btn-light.text-capitalize {
    min-width: unset;
  }

  .pricing-cards {
    .pricing-card {
      width: 80%;
      max-width: 80%;
      min-width: 80%;
    }
  }

  .mobile-container {
    .carousel-content {
      .carousel-caption {
        .title {
          font-size: 18px;
        }

        .text {
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 380px) {
  h3 {
    font-size: 16px;
  }

  .btn-light {
    background-color: #efefef !important;
    padding-left: 5px;
    padding-right: 0px;

    span {
      font-size: 0.8rem;
    }

    svg {
      width: 17px;
      height: 17px;
    }
  }

  .pricing-cards {
    .pricing-card {
      width: 100%;
      max-width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .mobile-container {
    .carousel-content {
      .carousel-caption {
        .title {
          font-size: 16px;
        }

        .text {
          font-size: 16px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .name {
    font-size: 16.5px !important;
    padding: 5px 0 !important;
    font-weight: 500 !important;
  }
}
/* mobile media queries end */
