<div class="content col-12 p-0">
  <div *ngIf="isLoaded">
    <div *ngIf="pricingPlans.length > 0 && !isAppOnIos">
      <div
        class="p-3 mx-md-3 px-0 d-flex justify-content-between align-items-center"
      >
        <h3
          class="align-middle mb-0"
          [translate]="'SG_SUBSCRIPTION_PLANS'"
        ></h3>
        <div
          class="form-group mb-0"
          *ngIf="(subscription && !subscription.IsPaid) || !subscription"
        >
          <select name="currency" class="form-control" [(ngModel)]="currency">
            <option *ngFor="let cur of currencies" [ngValue]="cur">
              {{ cur }}
            </option>
          </select>
        </div>
      </div>
      <div class="d-flex">
        <button
          type="button"
          [ngClass]="{ active: chosenPlansType === 0 }"
          class="btn btn-light text-capitalize col-4 d-flex justify-content-center button active border-left-0 font-weight-bold"
          (click)="changeType(0)"
        >
          <svg class="user align-self-center mr-1">
            <use xlink:href="/Images/svg-sprite.svg#user"></use>
          </svg>
          <span>
            {{ "INDIVIDUAL" | translate }}
          </span>
        </button>
        <button
          type="button"
          [ngClass]="{ active: chosenPlansType === 1 }"
          class="btn btn-light text-capitalize col-4 d-flex justify-content-center button font-weight-bold"
          (click)="changeType(1)"
        >
          <svg class="user-group align-self-center mr-1">
            <use xlink:href="/Images/svg-sprite.svg#user-group"></use>
          </svg>
          <span>
            {{ "TEAMS" | translate }}
          </span>
        </button>
        <button
          type="button"
          [ngClass]="{ active: chosenPlansType === 2 }"
          class="btn btn-light text-capitalize col-4 d-flex justify-content-center button border-right-0 font-weight-bold"
          (click)="changeType(2)"
        >
          <svg class="user-group align-self-center mr-1">
            <use xlink:href="/Images/svg-sprite.svg#enterprise-icon"></use>
          </svg>
          <span>
            {{ "ENTERPRISE" | translate }}
          </span>
        </button>
      </div>
      <div class="pricing-cards justify-content-center row p-3 m-auto">
        <div
          class="pricing-card m-3"
          [ngClass]="{
            yearly: pricingPlan.Name === 'PREMIUM_YEARLY',
            enterprise: pricingPlan.IsMultiAccount
          }"
          *ngFor="let pricingPlan of pricingPlans; let i = index"
        >
          <div
            class="head py-3 px-2 p-lg-2 p-xl-3 d-flex flex-column justify-content-between"
          >
            <div class="upper mt-l-0 d-flex flex-column align-items-center">
              <div class="name" [translate]="pricingPlan.Name"></div>
              <span
                class="enterprise-fsb-explanation"
                *ngIf="pricingPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY'"
                >{{ "RECOMMENDED_5_TO_100" | translate }}</span
              >
              <span
                class="enterprise-fsb-explanation"
                *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'"
                >{{ "RECOMMENDED_OVER_100" | translate }}</span
              >
              <span
                class="enterprise-fsb-explanation"
                *ngIf="
                  pricingPlan.Name === 'FAMILY_PREMIUM_YEARLY' ||
                  pricingPlan.Name === 'FAMILY_PREMIUM_MONTHLY'
                "
                >{{ "FSB_PLANS_DESCRIPTION" | translate }}</span
              >
            </div>
            <div class="bottom mb-1 d-flex flex-column align-items-center">
              <div
                class="price"
                *ngIf="pricingPlan.Name === 'FREE'"
                [translate]="'FREE'"
              ></div>
              <div
                class="price"
                *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'"
                [translate]="'VOLUME'"
              ></div>
              <div
                class="period"
                *ngIf="pricingPlan.Name === 'FREE'"
                [translate]="'ALWAYS_FREE'"
              ></div>
              <div
                class="period"
                *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'"
                [translate]="'PRICING'"
              ></div>
              <div
                class="price"
                *ngIf="pricingPlan.Name !== 'FREE' && pricingPlan.IsPrePaid"
              >
                {{
                  pricingPlan.Strategies[currency][0].PricePerMonth
                    | currency: currency:"symbol"
                }}
              </div>
              <div
                class="price"
                *ngIf="pricingPlan.Name !== 'FREE' && !pricingPlan.IsPrePaid"
              >
                {{
                  pricingPlan.Strategies[currency][0].PricePerMember
                    | currency: currency:"symbol"
                }}
              </div>
              <div
                class="period"
                *ngIf="
                  pricingPlan.Strategies[currency][0].PricePerMonth != '0' &&
                  pricingPlan.Name !== 'FREE'
                "
              >
                {{
                  (pricingPlan.Name.endsWith("YEARLY")
                    ? "PER_MONTH_YEARLY"
                    : pricingPlan.IsPrePaid
                    ? "PER_MONTH"
                    : "PER_MONTH_PER_MEMBER"
                  ) | translate
                }}
              </div>
            </div>
            <svg
              class="best-value"
              [ngClass]="{ 'best-value-fr-de': user.Language != 'en' }"
              *ngIf="pricingPlan.Name === 'PREMIUM_YEARLY'"
            >
              <use
                attr.xlink:href="/Images/svg-sprite.svg#{{
                  user.Language
                }}-best-value"
              ></use>
            </svg>

            <div
              *ngIf="pricingPlan.Strategies[currency][0].DiscountInPercents"
              class="percentage-save d-flex flex-column justify-content-center"
            >
              <div [ngClass]="{ 'save-fr': user.Language == 'fr' }">
                {{ "SAVE" | translate | uppercase }}
              </div>
              <span class="number"
                >{{
                  pricingPlan.Strategies[currency][0].DiscountInPercents
                }}%</span
              >
            </div>
          </div>
          <div class="body d-flex flex-column justify-content-between">
            <div class="anual">
              <div class="introductory-price">
                <div
                  *ngIf="
                    pricingPlan.Name === 'PREMIUM_YEARLY' ||
                    pricingPlan.Name === 'FAMILY_PREMIUM_YEARLY'
                  "
                >
                  <div class="introductory-price-item">
                    {{ "INTRODUCTORY_PRICE" | translate }}
                  </div>
                </div>
                <div
                  *ngIf="!pricingPlan.IsMultiAccount && promoCode"
                  class="promo-price"
                  [translate]="'PROMO_PRICE'"
                ></div>
              </div>
              <ul
                *ngIf="
                  pricingPlan.Name !== 'FREE' && !pricingPlan.IsMultiAccount
                "
              >
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE2" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE3" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE6" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE4" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE1" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FEATURE5" | translate
                  }}
                </li>
                <li
                  *ngIf="
                    pricingPlan.Strategies[currency][0].RecurrenceIntervalId ===
                    4
                  "
                >
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ANNUAL_BILLING" | translate
                  }}
                </li>
              </ul>
              <ul
                *ngIf="
                  pricingPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY' ||
                  pricingPlan.Name === 'ENTERPRISE_CUSTOM'
                "
              >
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_1" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_2" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_3" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_4" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_5" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_9" | translate
                  }}
                </li>
                <li *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'">
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_7" | translate
                  }}
                </li>
                <li *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'">
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_8" | translate
                  }}
                </li>
                <li *ngIf="pricingPlan.Name === 'ENTERPRISE_CUSTOM'">
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ENTERPRISE_BENEFIT_6" | translate
                  }}
                </li>
                <li *ngIf="pricingPlan.Name !== 'ENTERPRISE_CUSTOM'">
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "FLEXIBLE_PLAN_BILLED_MONTHLY" | translate
                  }}
                </li>
              </ul>
              <ul
                *ngIf="
                  pricingPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY' &&
                  pricingPlan.Name !== 'ENTERPRISE_CUSTOM' &&
                  pricingPlan.IsMultiAccount
                "
              >
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ALL_PREMIUM_FEATURES" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "UP_TO_4_MEMBERS" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "UP_TO_20_SOURCES" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ONE_BILLING_PER_TEAM" | translate
                  }}
                </li>
                <li
                  *ngIf="
                    pricingPlan.Strategies[currency][0].RecurrenceIntervalId ===
                    2
                  "
                >
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "TEAM_PRICE_STARTS_FROM_MONTHLY" | translate
                  }}
                </li>
                <li
                  *ngIf="
                    pricingPlan.Strategies[currency][0].RecurrenceIntervalId ===
                    4
                  "
                >
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "TEAM_PRICE_STARTS_FROM_YEARLY" | translate
                  }}
                </li>
                <li
                  *ngIf="
                    pricingPlan.Strategies[currency][0].RecurrenceIntervalId ===
                    4
                  "
                >
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "ANNUAL_BILLING" | translate
                  }}
                </li>
              </ul>
              <ul *ngIf="pricingPlan.Name === 'FREE'">
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FREE_FEATURE2" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FREE_FEATURE3" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FREE_FEATURE5" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/green-tick.svg" />{{
                    "PURCHASE_PLAN_FREE_FEATURE4" | translate
                  }}
                </li>
                <li>
                  <img class="mr-2" src="/Images/red-tick.svg" />{{
                    "PURCHASE_PLAN_FREE_FEATURE1" | translate
                  }}
                </li>
              </ul>
            </div>
            <div
              class="buttons"
              *ngIf="
                user &&
                (pricingPlan.Strategies[currency][0].PriceWithDiscount != 0 ||
                  pricingPlan.Name == 'ENTERPRISE_CUSTOM')
              "
            >
              <div
                class="notice"
                ng-class="{
                  'has-discount': pricingPlan.Strategies[currency][0].Discount
                }"
                *ngIf="
                  (user.Subscription &&
                    user.Subscription.PricingPlanId != pricingPlan.Id) ||
                  (subscription && !subscription.IsPaid) ||
                  !subscription
                "
              >
                <span
                  *ngIf="
                    !pricingPlan.IsPrePaid &&
                    pricingPlan.Name !== 'ENTERPRISE_CUSTOM'
                  "
                  >{{
                    pricingPlan.Strategies[currency][0].PricePerMemberYearly
                      | currency: currency:"symbol"
                  }}
                  / {{ "YEAR" | translate }}</span
                >
                <span *ngIf="pricingPlan.IsPrePaid"
                  >{{
                    pricingPlan.Strategies[currency][0].PriceWithDiscountPerYear
                      | currency: currency:"symbol"
                  }}
                  / {{ "YEAR" | translate }}</span
                >
                <span *ngIf="pricingPlan.Strategies[currency][0].IsPerMember">
                  / {{ "PER_MEMBER" | translate }}</span
                >
                <span
                  class="old-price ml-1"
                  *ngIf="
                    pricingPlan.Strategies[currency][0].FullPricePerYear !==
                    pricingPlan.Strategies[currency][0].PriceWithDiscountPerYear
                  "
                  >{{
                    pricingPlan.Strategies[currency][0].FullPricePerYear
                      | currency: currency:"symbol"
                  }}</span
                >
              </div>
              <button
                type="button"
                class="btn btn-primary"
                (click)="selectPlan(pricingPlan)"
                *ngIf="
                  pricingPlan.Name !== 'ENTERPRISE_CUSTOM' &&
                  ((subscription && !subscription.IsPaid) ||
                    !subscription ||
                    pricingPlan.IsMultiAccount)
                "
              >
                <span class="mx-1 cart-icon">
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#shopping-cart"
                    ></use>
                  </svg>
                </span>
                <span [translate]="'BTN_PURCHASE'"></span>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="changePlan(pricingPlan.Id.toString())"
                *ngIf="
                  subscription &&
                  subscription.IsPaid &&
                  user.Subscription.PricingPlanId != pricingPlan.Id &&
                  !pricingPlan.IsMultiAccount
                "
              >
                <span class="mx-1 cart-icon">
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#shopping-cart"
                    ></use>
                  </svg>
                </span>
                <span [translate]="'CHANGE_PLAN'"></span>
              </button>

              <button
                class="purchased btn btn-primary"
                *ngIf="
                  subscription &&
                  subscription.IsPaid &&
                  user.Subscription.PricingPlanId == pricingPlan.Id &&
                  !pricingPlan.IsMultiAccount
                "
              >
                <span class="mx-1 cart-icon text-primary">
                  <svg>
                    <use xlink:href="/Images/svg-sprite.svg#blue-tick"></use>
                  </svg>
                </span>
                <span>
                  {{ "CURRENT_PLAN" | translate }}
                </span>
              </button>

              <button
                class="btn btn-primary"
                *ngIf="pricingPlan.Name == 'ENTERPRISE_CUSTOM'"
                (click)="
                  externalLink(
                    'https://secure.livechatinc.com/licence/10998812/v2/open_chat.cgi?groups=0'
                  )
                "
              >
                <span>
                  {{ "CONTACT_US" | translate }}
                </span>
              </button>

              <div class="guaranty-container">
                <span
                  class="guaranty"
                  *ngIf="
                    pricingPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY' &&
                    pricingPlan.Name !== 'ENTERPRISE_CUSTOM' &&
                    ((user.Subscription &&
                      user.Subscription.PricingPlanId != pricingPlan.Id) ||
                      (subscription && !subscription.IsPaid) ||
                      !subscription)
                  "
                  [translate]="'MONEY_BACK_GUARANTY'"
                ></span>
              </div>
              <div class="learn-more-container">
                <div
                  *ngIf="
                    (user.Subscription &&
                      user.Subscription.PricingPlanId != pricingPlan.Id) ||
                    (subscription && !subscription.IsPaid) ||
                    !subscription
                  "
                >
                  <a
                    class="learn-more"
                    href="http://www.syncgene.com/{{ user.Language }}/premium"
                    *ngIf="!pricingPlan.IsMultiAccount"
                  >
                    {{ "LEARN_MORE" | translate | uppercase }}</a
                  >
                  <a
                    class="learn-more"
                    href="http://www.syncgene.com/enterprise"
                    *ngIf="
                      pricingPlan.IsMultiAccount &&
                      (pricingPlan.Name == 'ENTERPRISE_PREMIUM_MONTHLY' ||
                        pricingPlan.Name == 'ENTERPRISE_CUSTOM')
                    "
                  >
                    {{ "LEARN_MORE" | translate | uppercase }}</a
                  >
                  <a
                    class="learn-more"
                    href="http://www.syncgene.com/team-family-small-business"
                    *ngIf="
                      pricingPlan.IsMultiAccount &&
                      pricingPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY' &&
                      pricingPlan.Name !== 'ENTERPRISE_CUSTOM'
                    "
                  >
                    {{ "LEARN_MORE" | translate | uppercase }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="px-md-3 mb-2 bottom-text">
        <p
          class="px-3 mt-2 mb-0 col-12"
          [innerHtml]="'FAIR_USE_EXPLAIN' | translate"
        >
          <br />
        </p>
        <div class="note-money-back-badges-container px-3 mt-2 mb-0">
          <div class="d-flex flex-column flex-xl-row">
            <div
              class="d-inline-block money-back-guarantee-text col-12 col-xl-6 px-0"
            >
              <div class="trust-container">
                <span>
                  <svg class="trust-icon">
                    <use xlink:href="/Images/svg-sprite.svg#trust-icon"></use>
                  </svg>
                </span>
                <span>
                  {{ "MONEY_BACK_GUARANTEE_WITHOUT_STAR" | translate }}
                </span>
              </div>
              <span>
                <p [innerHTML]="'MONEY_BACK_GURANTEE_TEXT' | translate"></p>
              </span>
            </div>
            <div
              class="badges top-badges col-12 col-xl-6 text-center px-0 pt-3 pt-sm-0"
            >
              <div class="partner-badge align-self-center">
                <a
                  class="d-flex justify-content-center align-items-center"
                  href="https://www.microsoft.com/en-US/solution-providers/partnerdetails/4TeamCorporation_8f3139b7-1562-47c5-9b4a-69733c9e3428/c45387e1-49cc-49e0-a68c-2cfb52d19729"
                  target="_blank"
                  title="{{ 'MICROSOFT_CERTIFIED_PARTNER' | translate }}"
                >
                  <svg class="icon-ms-gold-partner">
                    <use
                      xlink:href="/Images/svg-sprite.svg#icon-ms-gold-partner"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="partner-badge align-self-center px-3 py-xs-1">
                <a
                  class="d-flex justify-content-center align-items-center"
                  href="http://www.syncgene.com/{{
                    user.Language
                  }}/refund-policy"
                  target="_blank"
                  title="{{ 'MONEY_BACK_SATISFACTION_GUARANTEE' | translate }}"
                >
                  <svg class="icon-money-back">
                    <use
                      xlink:href="/Images/svg-sprite.svg#icon-money-back"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="partner-badge align-self-center">
                <a
                  class="d-flex justify-content-center align-items-center"
                  href="https://www.comodo.com/"
                  target="_blank"
                  title="{{ 'COMODO_SECURE' | translate }}"
                >
                  <svg class="comodo-logo">
                    <use xlink:href="/Images/svg-sprite.svg#comodo-logo"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-container mt-4" *ngIf="isAppOnIos">
      <div>
        <h3 class="text-center mb-3 mobile-header">
          {{ "GET_SYNCGENE_PREMIUM" | translate }}
        </h3>
        <!--                <ngb-carousel *ngIf="pricingPlans" [interval]="5000" appCarouselSwipe>
                   <ng-template ngbSlide *ngFor="let item of singlePlans[0].ListBenefits, let i = index">
                       <div class="text-center carousel-content">
                           <div class="carousel-caption d-flex flex-column align-items-center justify-content-end">
                               <svg >

                                   <use attr.xlink:href="/Images/svg-sprite.svg#{{item.iconName}}"></use>
                               </svg>
                               <div class="text-block">
                                   <p class="title mb-0">{{item.title | translate}}</p>
                                   <p class="text mb-0">{{item.text | translate}}</p>
                               </div>
                           </div>
                       </div>
                   </ng-template>
               </ngb-carousel>-->
        <ngx-slick-carousel
          class="carousel mb-5"
          #slickModal="slick-carousel"
          [config]="slideConfig"
          keyboard="true"
          (afterChange)="afterChange($event)"
        >
          <div
            ngxSlickItem
            *ngFor="let item of singlePlans[0].ListBenefits; let i = index"
            class="slide"
          >
            <div class="">
              <div
                class="d-flex flex-column align-items-center justify-content-end"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{ item.iconName }}"
                  ></use>
                </svg>
                <div class="text-block text-center">
                  <p class="title mb-0">{{ item.title | translate }}</p>
                  <p class="text mb-0">{{ item.text | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
        <div class="mobile-plans d-flex">
          <ng-container *ngFor="let singlePlan of singlePlans; let i = index">
            <div
              *ngIf="i !== 1"
              [ngClass]="{ active: singlePlan.Name === selectedProductName }"
              class="mobile-plan"
              (click)="selectProduct(singlePlan.Name)"
            >
              <p
                *ngIf="singlePlan.Strategies[currency][0].DiscountInPercents"
                [ngClass]="{ 'mobile-save-fr': user.Language == 'fr' }"
                class="mobile-percentage-save text-center mb-2"
              >
                {{ "SAVE" | translate | uppercase
                }}<span class="number ml-1"
                  >{{
                    singlePlan.Strategies[currency][0].DiscountInPercents
                  }}%</span
                >
              </p>
              <div
                [ngClass]="{
                  'plan-content':
                    !singlePlan.Strategies[currency][0].DiscountInPercents
                }"
                class="px-4 pb-3"
              >
                <p class="mb-1">
                  {{
                    singlePlan.Name.slice(-6) === "YEARLY"
                      ? "1 Year"
                      : "1 month"
                  }}
                </p>
                <app-currency
                  [currencyCode]="currency"
                  [price]="singlePlan.Strategies[currency][0].FullPrice"
                ></app-currency>
                <p class="price-month mb-0 mb-0">
                  {{
                    singlePlan.Strategies[currency][0].PricePerMonth
                      | currency: currency:"symbol"
                  }}/mo
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="footer-container">
        <div class="px-md-3">
          <div class="action-controls d-flex justify-content-center py-3">
            <button
              type="button"
              class="btn btn-primary"
              [translate]="'CONTINUE'"
              [disabled]="!selectedProductName"
              (click)="openNextPage()"
            ></button>
          </div>
          <p
            class="text-center font-weight-bold text-footer pt-3 mb-0"
            [innerHTML]="'TAPPING_CONTINUE_YOUR_PAYMENT_CHANGED' | translate"
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
