<div class="content col-12">
  <div *ngIf="loaded">
    <h4 class="mb-3" [translate]="'YOU_HAVE_SUCCESFULLY'"></h4>
    <p [innerHtml]="'YOUR_ACCOUNT_WAS_REMOVED' | translate"></p>
    <p class="action-controls">
      <a
        [routerLink]="['/']"
        class="btn btn-primary"
        [translate]="'GO_BACK_TO_SG'"
      ></a>
    </p>
  </div>
</div>
