<div class="content col-12">
  <p [translate]="'ADD_NEW_LOGIN_TEXT'"></p>
  <div class="row">
    <div class="col-sm-10 col-md-6 left-side right-divider">
      <form [formGroup]="form" (ngSubmit)="addLogin()" novalidate>
        <div class="form-group">
          <label for="email" [translate]="'ENTER_EMAIL_ADDRESS'"></label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.Email }"
            maxlength="120"
            formControlName="Email"
            required
          />
          <app-show-errors
            [control]="form.get('email')!"
            [errorMessage]="usernameErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label for="password" [translate]="'ENTER_PASSWORD'"></label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.Password }"
            maxlength="50"
            formControlName="Password"
            required
          />
          <app-show-errors
            [control]="form.get('password')!"
            [errorMessage]="passwordErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label for="confirmPassword" [translate]="'CONFIRM_PASSWORD'"></label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.ConfirmedPassword }"
            maxlength="50"
            formControlName="ConfirmedPassword"
            required
          />
          <app-show-errors
            [control]="form.get('password')!"
            [errorMessage]="passwordErrorList"
          ></app-show-errors>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-block btn-primary"
            [translate]="'SIGN_UP'"
          ></button>
        </div>
      </form>
    </div>
    <div class="col-sm-10 col-md-6 right-side">
      <div class="horizontal-divider d-md-none">
        <span [translate]="'OR'"></span>
      </div>
      <form novalidate>
        <div class="form-group">
          <button
            type="button"
            name="provider"
            class="btn btn-block btn-social btn-google"
            (click)="addExternalLogin('Google')"
            [title]="'SIGNUP_USING_TITLE' | translate: { service: 'Google' }"
          >
            <div class="icon">
              <svg class="d-block">
                <use
                  xlink:href="/Images/svg-sprite.svg#google-color-icon"
                ></use>
              </svg>
            </div>
            <span
              [translate]="'SIGNUP_USING' | translate: { service: 'Google' }"
            ></span>
          </button>
        </div>
        <div class="form-group">
          <button
            type="button"
            name="provider"
            class="btn btn-block btn-social btn-facebook"
            (click)="addExternalLogin('Facebook')"
            [title]="'SIGNUP_USING_TITLE' | translate: { service: 'Facebook' }"
          >
            <div class="icon">
              <svg class="d-block">
                <use xlink:href="/Images/svg-sprite.svg#fb-icon"></use>
              </svg>
            </div>
            <span
              [translate]="'SIGNUP_USING' | translate: { service: 'Facebook' }"
            ></span>
          </button>
        </div>
        <div class="form-group">
          <button
            type="button"
            name="provider"
            class="btn btn-block btn-social btn-microsoft"
            (click)="addExternalLogin('Microsoft')"
            [title]="'SIGNUP_USING_TITLE' | translate: { service: 'Microsoft' }"
          >
            <div class="icon">
              <svg class="d-block">
                <use xlink:href="/Images/svg-sprite.svg#ms-icon"></use>
              </svg>
            </div>
            <span
              [translate]="'SIGNUP_USING' | translate: { service: 'Microsoft' }"
            ></span>
          </button>
        </div>
        <div class="form-group">
          <button
            type="button"
            name="provider"
            class="btn btn-block btn-social btn-apple"
            (click)="addExternalLogin('Apple')"
            [title]="'SIGNUP_USING_TITLE' | translate: { service: 'Apple' }"
          >
            <div class="icon">
              <svg class="d-block">
                <use xlink:href="/Images/svg-sprite.svg#apple-icon"></use>
              </svg>
            </div>
            <span
              [translate]="'SIGNUP_USING' | translate: { service: 'Apple' }"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
