<div class="first-start">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (afterChange)="afterChange($event)"
  >
    <div ngxSlickItem class="slide step1">
      <div class="mx-auto">
        <div
          *ngIf="!sharingApp"
          class="wizard-header"
          [translate]="'WIZARD_WELCOME'"
        ></div>
        <div
          *ngIf="sharingApp"
          class="wizard-header"
          [innerHtml]="'WIZARD_SHARING_WELCOME' | translate"
        ></div>
        <div class="step-img text-center">
          <img
            *ngIf="!sharingApp"
            src="/Images/app-step-1.png"
            width="280"
            alt="{{ 'SYNCGENE_APP_WIZARD' | translate }}"
          />
          <img
            *ngIf="sharingApp"
            src="/Images/app-sharing-step-1.png"
            width="280"
            alt="{{ 'SYNCGENE_APP_WIZARD' | translate }}"
          />
        </div>
        <div
          *ngIf="!sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_STEP1' | translate"
        ></div>
        <div
          *ngIf="sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_SHARING_STEP1' | translate"
        ></div>
      </div>
    </div>
    <div ngxSlickItem class="slide step2">
      <div class="mx-auto">
        <div class="step-img text-center">
          <img
            src="/Images/app-step-2.png"
            width="280"
            alt="{{ 'SYNCGENE_APP_WIZARD' | translate }}"
          />
        </div>
        <div
          *ngIf="!sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_STEP2' | translate"
        ></div>
        <div
          *ngIf="sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_SHARING_STEP2' | translate"
        ></div>
      </div>
    </div>
    <div ngxSlickItem class="slide step3">
      <div class="mx-auto">
        <div class="step-img text-center">
          <img
            src="/Images/app-step-3.png"
            width="280"
            alt="{{ 'SYNCGENE_APP_WIZARD' | translate }}"
          />
        </div>
        <div
          *ngIf="!sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_STEP3' | translate"
        ></div>
        <div
          *ngIf="sharingApp"
          class="step-text"
          [innerHtml]="'WIZARD_SHARING_STEP3' | translate"
        ></div>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="buttons-holder">
    <a
      *ngIf="currentSlide < 2"
      class="btn next"
      (click)="slickModal.slickGoTo(currentSlide + 1)"
      >{{ "NEXT" | translate }}</a
    >
    <a
      *ngIf="currentSlide > 1"
      class="btn signup"
      (click)="closeWizard(true)"
      [translate]="'SIGN_UP'"
    ></a
    ><a
      *ngIf="currentSlide > 1"
      class="btn login"
      (click)="closeWizard()"
      [translate]="'LOG_IN'"
    ></a>
  </div>
</div>
