<div class="content col-12">
  <form [formGroup]="form" (ngSubmit)="save()" novalidate *ngIf="loaded">
    <div class="row">
      <div class="col-sm-10 col-md-6 mx-auto">
        <div class="form-group">
          <label
            for="fname"
            [translate]="'PURCHASE_FORM_LABEL_FIRST_NAME'"
          ></label>
          <input
            type="text"
            name="fname"
            autocomplete="given-name"
            id="firstname"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.FirstName }"
            maxlength="50"
            formControlName="FirstName"
            (ngModelChange)="invalid.FirstName = false"
          />
          <app-show-errors
            [control]="form.get('FirstName')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="lname"
            [translate]="'PURCHASE_FORM_LABEL_LAST_NAME'"
          ></label>
          <input
            type="text"
            autocomplete="family-name"
            name="lname"
            id="lastname"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.LastName }"
            maxlength="50"
            formControlName="LastName"
            (ngModelChange)="invalid.LastName = false"
          />
          <app-show-errors
            [control]="form.get('LastName')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="company"
            [translate]="'PURCHASE_FORM_LABEL_COMPANY'"
          ></label>
          <input
            type="text"
            autocomplete="organization"
            name="company"
            id="company"
            class="form-control"
            maxlength="70"
            formControlName="Company"
          />
        </div>
        <div class="form-group">
          <label for="phone" [translate]="'PURCHASE_FORM_LABEL_PHONE'"></label>
          <input
            type="tel"
            autocomplete="tel"
            name="phone"
            id="phone"
            class="form-control"
            maxlength="50"
            formControlName="PhoneNumber"
          />
        </div>
        <div class="form-group">
          <label for="email" [translate]="'PURCHASE_FORM_LABEL_EMAIL'"></label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.Email }"
            maxlength="127"
            formControlName="Email"
            (ngModelChange)="invalid.Email = false"
          />
          <app-show-errors
            [control]="form.get('Email')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 mx-auto">
        <div class="form-group">
          <label
            for="country"
            [translate]="'PURCHASE_FORM_LABEL_COUNTRY'"
          ></label>
          <select
            name="country"
            id="country"
            autocomplete="country"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.CountryId }"
            formControlName="CountryId"
            (change)="invalid.CountryId = false; stateDetect()"
          >
            <option value=""></option>
            <option *ngFor="let country of countries" [value]="country.Id">
              {{ country.Name }}
            </option>
          </select>
          <app-show-errors
            [control]="form.get('CountryId')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group" *ngIf="states && states.length > 0">
          <label for="state" [translate]="'PURCHASE_FORM_LABEL_STATE'"></label>
          <select
            name="state"
            id="state"
            autocomplete="address-level1"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.StateProvinceId }"
            formControlName="StateProvinceId"
            (ngModelChange)="invalid.StateProvinceId = false"
          >
            <option value=""></option>
            <option *ngFor="let state of states" [value]="state.Id">
              {{ state.Name }}
            </option>
          </select>
          <app-show-errors
            [control]="form.get('StateProvinceId')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="city"
            autocomplete="address-level2"
            [translate]="'PURCHASE_FORM_LABEL_CITY'"
          ></label>
          <input
            type="text"
            name="city"
            id="city"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.City }"
            maxlength="50"
            formControlName="City"
            (ngModelChange)="invalid.City = false"
          />
          <app-show-errors
            [control]="form.get('City')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="address"
            [translate]="'PURCHASE_FORM_LABEL_STREET'"
          ></label>
          <input
            type="text"
            name="address"
            autocomplete="street-address"
            id="address1"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.Address1 }"
            maxlength="70"
            formControlName="Address1"
            (ngModelChange)="invalid.Address1 = false"
          />
          <app-show-errors
            [control]="form.get('Address1')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label for="zip" [translate]="'PURCHASE_FORM_LABEL_ZIP'"></label>
          <input
            type="text"
            name="zip"
            autocomplete="postal-code"
            id="zip"
            class="form-control"
            [ngClass]="{ 'is-invalid': invalid.ZipPostalCode }"
            maxlength="10"
            formControlName="ZipPostalCode"
            (ngModelChange)="invalid.ZipPostalCode = false"
          />
          <app-show-errors
            [control]="form.get('ZipPostalCode')!"
            [errorMessage]="editErrorList"
          ></app-show-errors>
        </div>
      </div>
      <div class="action-controls col-12 text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [translate]="'SAVE'"
        ></button>
        <a
          [routerLink]="['/account/billinginformation']"
          class="btn btn-primary"
          [translate]="'CANCEL'"
        ></a>
      </div>
    </div>
    <div class="row"></div>
  </form>
</div>
