<div class="wizard-page" *ngIf="loaded">
  <div class="body rounded">
    <div class="logo-holder">
      <a [routerLink]="['/']">
        <svg>
          <title>SyncGene</title>
          <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
        </svg>
      </a>
    </div>
    <h1 [translate]="'EMAIL_CONFIRMATION'"></h1>
    <p class="subheader" [translate]="'EMAIL_CONFIRMATION_DESC'"></p>
    <form [formGroup]="form" (ngSubmit)="confirm()" novalidate>
      <div class="form-group">
        <input
          type="password"
          name="newPassword"
          id="newPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': invalid.NewPassword }"
          minlength="8"
          maxlength="50"
          formControlName="NewPassword"
          (ngModelChange)="invalid.NewPassword = ''"
          placeholder="{{ 'PASSWORD' | translate }}"
          required
        />
        <app-show-errors
          [control]="form.get('FirstName')!"
          [errorMessage]="usernameErrorList"
        ></app-show-errors>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': invalid.ConfirmPassword }"
          maxlength="50"
          formControlName="ConfirmPassword"
          (ngModelChange)="invalid.ConfirmPassword = false"
          placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
          required
        />
        <app-show-errors
          [control]="form.get('FirstName')!"
          [errorMessage]="usernameErrorList"
        ></app-show-errors>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-block btn-warning"
          [translate]="'CONFIRM'"
        ></button>
      </div>
    </form>
  </div>
</div>
