.help-block {
  width: 300px;
  height: 100%;
  max-height: 600px;
  position: absolute;
  border-radius: 0;
  border-left: 1px solid #ccc;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1040;

  .header {
    height: 86px;
    padding: 32px 15px 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    line-height: 19px;

    svg {
      fill: #666;
      vertical-align: middle;

      &.search-icon {
        width: 21px;
        height: 21px;
        margin-right: 15px;
      }

      &.close-icon {
        width: 18px;
        height: 18px;
        float: right;
        transition: fill 0.15s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: #222;
        }
      }
    }

    form {
      display: inline;
      vertical-align: top;

      input {
        border: 0;
        outline: none;
      }
    }
  }

  .body {
    padding: 15px;

    img {
      width: 85px;
      height: 110px;
    }

    .telephone {
      color: #2b81d8;
      font-size: 20px;

      a:hover {
        text-decoration: none;
      }
    }

    .status {
      position: relative;
      width: 145px;
      height: 48px;
      padding: 5px 15px;
      margin-top: 10px;
      border: 1px solid #f4f4f4;
      background-color: #f4f4f4;
      font-size: 12px;

      &:after {
        top: 17px;
        right: -30px;
        bottom: auto;
        left: auto;
        border-width: 15px 0 0 30px;
        border-color: transparent #f4f4f4;
        content: "";
        position: absolute;
        width: 0;
        display: block;
        border-style: solid;
      }

      .text {
        text-transform: uppercase;
        font-weight: 400;
      }

      &.online {
        .text {
          color: #2b81d8;

          .ofl {
            display: none;
          }
        }
      }

      &.offline {
        .text {
          color: #ef452e;

          .onl {
            display: none;
          }
        }
      }
    }

    ul {
      font-size: 0.95rem;
      margin: 10px 0;
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 991px) {
  .help-block {
    box-shadow: none;
    border-bottom: 1px solid #ccc;

    .header {
      height: 82px;
    }
  }
}
/* mobile media queries end */
