<div class="help-block" *ngIf="show" @helpAnimation>
  <div class="header">
    <svg class="search-icon">
      <use xlink:href="/Images/svg-sprite.svg#search-icon"></use>
    </svg>
    <form (ngSubmit)="search()">
      <input
        type="text"
        name="phrase"
        [(ngModel)]="phrase"
        placeholder="{{ 'SEARCH_HELP' | translate }}"
      />
    </form>
    <svg class="close-icon" (click)="close()">
      <use xlink:href="/Images/svg-sprite.svg#close-icon"></use>
    </svg>
  </div>
  <div class="body">
    <div class="float-left">
      <div class="telephone">
        <a href="tel:+19547968161">+1 (954) 796-8161</a>
      </div>
      <div class="status" [ngClass]="{ online: isOnline, offline: !isOnline }">
        <div [translate]="'QUESTIONS'"></div>
        <div class="text">
          <span class="onl" [translate]="'IM_ONLINE'"></span>
          <span class="ofl" [translate]="'IM_OFFLINE'"></span>
        </div>
      </div>
    </div>
    <img src="/Images/help.png" alt="" class="float-right" />
    <div class="clearfix"></div>
    <a
      id="liveChat"
      class="btn btn-primary btn-block"
      href="https://lc.chat/now/10998812?external=true"
      target="_blank"
    >
      <div *ngIf="isOnline">{{ "START_LIVE_CHAT" | translate }}</div>
      <div *ngIf="!isOnline">{{ "LEAVE_FEEDBACK" | translate }}</div>
    </a>
    <ul>
      <li *ngFor="let result of results">
        <a href="{{ result.url }}" target="_blank">{{
          result.name | translate
        }}</a>
      </li>
    </ul>
  </div>
</div>
