<div class="content col-12">
  <p *ngIf="this.activeAccounts < 2" [translate]="'SYNC_STATUS_1'"></p>
  <p
    *ngIf="
      !mobile &&
      this.activeAccounts === 2 &&
      ((currentUser && !currentUser.Subscription) ||
        (currentUser &&
          currentUser.Subscription &&
          currentUser.Subscription.SubscriptionStatus != 'Active')) &&
      !sharingApp &&
      (!returnUrl || returnUrl.indexOf('share') < 0)
    "
    [translate]="'ADD_3RD_ACCOUNT_NOTE_FREE'"
  ></p>
  <p
    *ngIf="
      syncCompanies &&
      syncCompanies.length > 0 &&
      !sharingApp &&
      (!returnUrl || returnUrl.indexOf('share') < 0)
    "
    [translate]="'SELECT_FROM_PREVIOUSLY_ADDED'"
  ></p>
  <ul
    class="list-group"
    *ngIf="
      syncCompanies &&
      syncCompanies.length > 0 &&
      !sharingApp &&
      (!returnUrl || returnUrl.indexOf('share') < 0)
    "
  >
    <li
      class="list-group-item list-group-item-action"
      (click)="addFromSyncCompany(syncCompany)"
      *ngFor="let syncCompany of syncCompanies; let i = index"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use attr.xlink:href="{{ syncCompany.systemSvg + '-bulk' }}"></use>
          </svg>
        </div>
        <div class="col-8 col-sm-10 d-flex align-items-center">
          {{ syncCompany.name }}
        </div>
        <div class="col-2 col-sm-1 arrow text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
  </ul>
  <p
    [ngClass]="{
      'pt-3':
        syncCompanies &&
        syncCompanies.length > 0 &&
        !sharingApp &&
        (!returnUrl || returnUrl.indexOf('share') < 0)
    }"
    *ngIf="!sharingApp && (!returnUrl || returnUrl.indexOf('share') < 0)"
    [translate]="'SELECT_ACCOUNT_TO_ADD'"
  ></p>
  <p
    *ngIf="sharingApp || (returnUrl && returnUrl.indexOf('share') > -1)"
    [translate]="'SELECT_ACCOUNT_TO_ADD_FOR_SHARE'"
  ></p>
  <ul class="list-group">
    <li
      id="google"
      class="list-group-item list-group-item-action"
      (click)="select('Google')"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#google-circle-icon"></use>
          </svg>
        </div>
        <div
          class="col-8 col-sm-10 d-flex align-items-center"
          [translate]="'Google'"
        ></div>
        <div class="col-2 col-sm-1 arrow text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="outlook-rest"
      class="list-group-item list-group-item-action"
      (click)="select('OutlookRest')"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use
              xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon"
            ></use>
          </svg>
        </div>
        <div class="col-8 col-sm-10 d-flex align-items-center">
          <span>
            {{ "OUTLOOK_REST" | translate }}
            <span class="grey">({{ "MODERN" | translate }})</span>
          </span>
        </div>
        <div class="col-2 col-sm-1 arrow text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="exchange"
      class="list-group-item list-group-item-action"
      (click)="select('Exchange')"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#exchange-circle-icon"></use>
          </svg>
        </div>
        <div class="col-8 col-sm-10 d-flex align-items-center">
          <span>
            {{ "EXCHANGE_ON_PREMISES" | translate }}
            <span class="grey">({{ "LEGACY" | translate }})</span>
          </span>
        </div>
        <div class="col-2 col-sm-1 arrow text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="iCloud"
      class="list-group-item list-group-item-action"
      (click)="select('iCloud')"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#icloud-circle-icon"></use>
          </svg>
        </div>
        <div
          class="col-8 col-sm-10 d-flex align-items-center"
          [translate]="'iCloud'"
        ></div>
        <div class="col-2 col-sm-1 arrow text-center d-flex align-items-center">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="bulk-o365"
      class="list-group-item list-group-item-action"
      (click)="selectBulk('Office365')"
      *ngIf="isPurchaseLogicAvailable"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use
              xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon-bulk"
            ></use>
          </svg>
        </div>
        <div
          class="col-8 col-sm-10 d-flex align-items-center justify-content-between"
        >
          <span>
            {{ "BULK_ADD_OUTLOOK" | translate }}
          </span>
          <div
            class="enterprise text-bold text-uppercase d-flex"
            *ngIf="isNotEnterprise"
          >
            <svg class="enterprise-icon ml-2">
              <use
                xlink:href="/Images/svg-sprite.svg#enterprise-icon-add-sync-account"
              ></use>
            </svg>
            <span class="d-none d-md-flex pl-2">
              {{ "SIGN_UP_FOR_ENTERPRISE" | translate }}
            </span>
            <span class="d-md-none pl-2">
              {{ "ENTERPRISE" | translate }}
            </span>
          </div>
        </div>
        <div
          class="col-2 col-sm-1 arrow text-center d-flex align-items-center"
          [ngClass]="{ enterprise: isNotEnterprise }"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="bulk-exchange"
      class="list-group-item list-group-item-action"
      (click)="selectBulk('Exchange')"
      *ngIf="isPurchaseLogicAvailable"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use
              xlink:href="/Images/svg-sprite.svg#exchange-circle-icon-bulk"
            ></use>
          </svg>
        </div>
        <div
          class="col-8 col-sm-10 d-flex align-items-center justify-content-between"
        >
          <span>
            {{ "BULK_ADD_EXCHANGE" | translate }}
          </span>
          <div
            class="enterprise text-bold text-uppercase d-flex"
            *ngIf="isNotEnterprise"
          >
            <svg class="enterprise-icon ml-2">
              <use
                xlink:href="/Images/svg-sprite.svg#enterprise-icon-add-sync-account"
              ></use>
            </svg>
            <span class="d-none d-md-flex pl-2">
              {{ "SIGN_UP_FOR_ENTERPRISE" | translate }}
            </span>
            <span class="d-md-none pl-2">
              {{ "ENTERPRISE" | translate }}
            </span>
          </div>
        </div>
        <div
          class="col-2 col-sm-1 arrow text-center d-flex align-items-center"
          [ngClass]="{ enterprise: isNotEnterprise }"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
    <li
      id="salesforce"
      class="list-group-item list-group-item-action"
      (click)="select('SalesForce')"
      *ngIf="isPurchaseLogicAvailable"
    >
      <div class="list-group-item-heading row">
        <div class="col-2 col-sm-1 text-center d-flex align-items-center">
          <svg>
            <use
              xlink:href="/Images/svg-sprite.svg#salesforce-circle-icon"
            ></use>
          </svg>
        </div>
        <div
          class="col-8 col-sm-10 d-flex align-items-center justify-content-between"
        >
          <span>
            {{ "Salesforce" | translate }}
            <span class="grey">({{ "CONTACTS" | translate }})</span>
          </span>
          <div
            class="enterprise text-bold text-uppercase d-flex"
            *ngIf="isNotEnterprise"
          >
            <svg class="enterprise-icon ml-2">
              <use
                xlink:href="/Images/svg-sprite.svg#enterprise-icon-add-sync-account"
              ></use>
            </svg>
            <span class="d-none d-md-flex pl-2">
              {{ "SIGN_UP_FOR_ENTERPRISE" | translate }}
            </span>
            <span class="d-md-none pl-2">
              {{ "ENTERPRISE" | translate }}
            </span>
          </div>
        </div>
        <div
          class="col-2 col-sm-1 arrow text-center d-flex align-items-center"
          [ngClass]="{ enterprise: isNotEnterprise }"
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#arrow-r-icon"></use>
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
