.list-group {
  margin: 0 -20px;

  .list-group-item {
    padding: 12px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .list-group-item-heading {
      .enterprise {
        color: #ea8d01;
        font-family: "Roboto";

        svg {
          fill: #ea8d01;
        }
      }

      svg.enterprise-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        fill: #ea8d01;
      }

      .col-2 {
        svg {
          width: 45px;
          height: 45px;
          min-height: 45px;
          min-width: 45px;
          vertical-align: middle;
          fill: #777;
        }

        &.enterprise {
          svg {
            fill: #ea8d01;
          }
        }
      }

      .col-sm-10 {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;

        .grey {
          font-size: 0.95rem;
          color: #777;
        }
      }

      .arrow {
        line-height: 45px;

        svg {
          width: 22px;
          height: 22px;
          min-height: 22px;
          min-width: 22px;
        }
      }
    }
  }
}
/* mobile media queries start */
@media all and (max-width: 576px) {
  .list-group {
    margin: 0 -15px;

    .list-group-item {
      padding: 0.9rem 0.8rem;

      .list-group-item-heading {
        .enterprise {
          font-size: 0.85rem;
        }

        svg.enterprise-icon {
          display: none;
        }

        .col-sm-10 {
          padding-left: 0;
          padding-right: 0;
          font-size: 18px;
          word-wrap: break-word;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  div.col-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  div.col-8 {
    padding-left: 5px !important;
  }
}
/* mobile media queries end */
