.navbar {
  display: block;
  padding: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px 0;

  .admin-links {
    max-height: 400px;
    overflow: auto;
  }

  .dropdown-menu-right {
    right: 0 !important;
  }

  .navbar-holder {
    padding: 0.5rem 1rem;
    transition: padding 0.15s ease-in-out;

    .navbar-back {
      width: 49px;
      height: 40px;
      padding: 0;
      -webkit-appearance: none;
      border: 0;
      background: none;
      outline: none;
      overflow: hidden;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #007bff;
      }
    }

    .navbar-brand {
      padding: 4px 0;

      svg {
        transition: height 0.15s ease-in-out;
        width: 169px;
        height: 40px;
      }
    }

    .ml-auto {
      &.show {
        .dropdown {
          > span {
            color: #333;
            background-color: #e9e9e9;
          }
        }
      }
    }

    .dropdown {
      padding-top: 0px;

      .dropdown-item {
        padding: 0.2rem 1.5rem;
      }

      &.paid {
        padding-top: 0;

        a {
          vertical-align: middle;
        }
      }

      > span:first-child {
        text-align: right;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #2972d8;
        cursor: pointer;
        border-radius: 0;
        transition: all 0.1s ease-in;

        &:hover {
          color: #333;

          svg path {
            fill: #333;
          }
        }
      }

      .subscription-info {
        text-transform: none;
        color: #999;
        font-weight: 500;
      }

      .dropdown-toggle {
        padding: 0.25rem 0;

        &:after {
          display: none;
        }
      }

      .username {
        svg {
          width: 1.04em;
          height: 1.04em;
          vertical-align: middle;

          path {
            fill: #2972d8;
          }
        }
      }
    }
  }

  .navbar-progress {
    width: 100%;
    height: 3px;
  }

  .progress-data {
    overflow: hidden;
    width: 643px;
    padding: 0 38px;
    margin: 0 auto;

    .progress-title {
      font-size: 20px;
      font-weight: 500;
      padding: 25px 0;
    }

    .progress-desc {
      font-size: 15px;
      padding: 10px 0 15px;
      font-weight: 500;
    }

    .warning-msg-icon {
      width: 28px;
      height: 28px;
      fill: #ffda40;
      margin: 0 12px 0 -38px;
    }

    .progress-accounts {
      overflow: hidden;
      overflow-y: auto;
      max-height: 170px;

      .account-progress {
        margin: 20px 5px 10px 0;
        overflow: hidden;

        .account-title {
          margin-bottom: 4px;

          .username {
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;

            svg {
              width: 20px;
              height: 20px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .controls {
      padding: 10px 0;

      button,
      a {
        display: inline-block;
        width: 100%;
        max-width: 240px;
        margin: 10px 5px;
      }
    }
  }
}

.collapse-btn {
  a {
    font-size: 13px;
    font-weight: 500;
    color: #2972d8;
    padding: 10px;
    display: inline-block;

    svg {
      width: 1.2em;
      vertical-align: middle;
      fill: #2972d8;
    }

    span {
      vertical-align: middle;
    }
  }

  a:hover {
    text-decoration: none;
    color: #333;

    svg {
      fill: #333;
    }
  }

  &.only-progress {
    top: 80px !important;
  }

  &.only-red-top {
    top: 89px !important;
  }

  &.red-and-progress {
    top: 107px !important;
  }

  &.down {
    min-width: 115px;
    position: fixed;
    left: 50%;
    top: 62px;
    margin-left: -115px;
    text-align: center;
    z-index: 2;

    .trapezoid:before,
    .trapezoid:after {
      content: "";
      background: #fff;
      position: absolute;
      z-index: 3;
      box-shadow: 0 1px 0 rgba(100, 100, 100, 0.1);
      border-bottom: 1px solid rgba(50, 50, 50, 0.3);
      width: 45px;
      height: 45px;
      top: 6px;
    }

    .trapezoid:before {
      margin: -23px 0 0 -20px;
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg);
    }

    .trapezoid:after {
      margin: -23px 0 0 85px;
      -moz-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
      -o-transform: rotate(-50deg);
      -webkit-transform: rotate(-50deg);
      transform: rotate(-50deg);
    }

    .trapezoid a {
      position: absolute;
      text-transform: uppercase;
      box-shadow: 0 1px 0 rgba(100, 100, 100, 0.1);
      border-bottom: 1px solid rgba(50, 50, 50, 0.3);
      background: #fff;
      width: 110px;
      height: 37px;
      padding: 8px 0px 4px;
      z-index: 4;
      overflow: hidden;
    }
  }
}

.mobile-buttons {
  button {
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-appearance: none;
    border: 0;
    background: none;
    outline: none;
    vertical-align: middle;

    svg {
      width: 1.7rem;
      height: 1.7rem;
      fill: #666;
      vertical-align: middle;
      transition: fill 0.3s ease-in-out;
    }

    &.info {
      margin-right: 4px;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &.active {
      svg {
        fill: #2972d8;
      }
    }
  }
}

.mobile-menu {
  z-index: 3;
  background-color: #fafafa;
  right: 0;
  position: fixed;
  top: 51px;
  width: 260px;
  height: 100%;
  height: calc(100% - 51px);
  transition: top 0.15s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);

  .user-info {
    display: block;
    padding: 15px;
    background: linear-gradient(to right, #4286de, #73a1dd);
    color: #fff;
    text-decoration: none;

    .user-icon {
      width: 38px;
      height: 38px;
      padding: 6px;
      margin-bottom: 10px;
      border-radius: 19px;
      background-color: #fff;

      svg {
        width: 26px;
        height: 26px;
      }
    }

    .user-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.share-menu {
    svg {
      width: 24px;
      height: 24px;
      fill: #2972d8;
      vertical-align: middle;
      margin-right: 10px;
    }

    span {
      vertical-align: middle;
    }
  }

  .dropdown-header {
    padding-left: 15px;
  }

  a {
    display: block;
    color: #2972d8;
    padding: 15px;

    &:active {
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

.bg-overflow {
  z-index: 2;
}

/* mobile media queries start */
@media all and (max-width: 991px) {
  .navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    box-shadow: none;

    .navbar-holder {
      padding: 0.313rem 1rem;

      &.back-btn {
        padding-left: 0;
      }

      .navbar-brand {
        svg {
          width: 134px;
          height: 32px;
        }
      }
    }
  }

  .collapse-btn {
    &.down {
      margin-top: -2px;
      top: 50px;
    }

    &.only-progress {
      top: 68px !important;
    }

    &.only-red-top {
      top: 77px !important;
    }

    &.red-and-progress {
      top: 95px !important;
    }
  }
}

@media all and (max-width: 767px) {
  .navbar {
    .navbar-holder {
      padding: 0.313rem 0.7rem;

      .progress-data {
        width: 500px;
      }
    }

    .progress-data {
      padding: 0 15px;

      .warning-msg-icon {
        margin: 0 12px 0 0;
      }
    }
  }

  .collapse-btn {
    &.down {
      z-index: 2;
    }
  }
}

@media all and (max-width: 576px) {
  .navbar {
    .progress-data {
      width: 100%;
    }
  }
}
/* mobile media queries end */
