<nav class="navbar navbar-expand-md navbar-light fixed-top d-print-none">
  <div
    class="navbar-holder d-flex justify-content-between"
    [ngClass]="{
      'back-btn':
        !noBackBtn &&
        hasHistory &&
        url &&
        url !== previousUrl &&
        url != '/' &&
        url.toLowerCase() != '/synchronization/status' &&
        url.toLowerCase() != '/share/manage-shared-calendars',
      'border-bottom': progressBar && progressBar.progress == 100
    }"
  >
    <button
      type="button"
      class="d-inline d-lg-none navbar-back align-top"
      *ngIf="
        !noBackBtn &&
        hasHistory &&
        url &&
        url !== previousUrl &&
        url != '/' &&
        url.toLowerCase() != '/synchronization/status' &&
        url.toLowerCase() != '/share/manage-shared-calendars'
      "
      (click)="back()"
      @backButtonAnimation
    >
      <svg class="align-middle" viewBox="0 0 32 32">
        <path
          d="M6.88 16c0-0.573 0.219-1.147 0.656-1.584l13.76-13.759c0.875-0.875 2.294-0.875 3.169 0s0.875 2.294 0 3.169l-12.175 12.174 12.174 12.175c0.875 0.875 0.875 2.294 0 3.169s-2.294 0.876-3.169 0l-13.76-13.759c-0.437-0.437-0.655-1.011-0.655-1.584z"
        />
      </svg>
    </button>
    <a class="align-middle navbar-brand" [routerLink]="['/']">
      <svg class="d-inline-block align-top" *ngIf="!sharingApp">
        <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
      </svg>
      <svg class="d-inline-block align-top" *ngIf="sharingApp">
        <use xlink:href="/Images/svg-sprite.svg#sharegene-logo"></use>
      </svg>
    </a>
    <div
      ngbDropdown
      placement="bottom-right"
      class="ml-auto my-auto"
      *ngIf="currentUser"
    >
      <div class="mobile-buttons d-lg-none">
        <button type="button" (click)="mobileHelp()" class="info">
          <svg viewBox="0 0 20 20">
            <path
              d="M3.053 17.193c-1.884-1.821-3.053-4.37-3.053-7.193 0-5.523 4.477-10 10-10 2.823 0 5.372 1.169 7.19 3.050l0.003 0.003c1.737 1.796 2.807 4.247 2.807 6.947 0 5.523-4.477 10-10 10-2.7 0-5.151-1.070-6.95-2.81l0.003 0.003zM15.783 15.783c1.449-1.449 2.344-3.45 2.344-5.66 0-4.421-3.584-8.004-8.004-8.004-2.21 0-4.211 0.896-5.66 2.344v0c-1.449 1.449-2.344 3.45-2.344 5.66 0 4.421 3.584 8.004 8.004 8.004 2.21 0 4.211-0.896 5.66-2.344v0zM9.123 11.123v-2h2v6h-2v-4zM9.123 5.123h2v2h-2v-2z"
            />
          </svg>
        </button>
        <button
          type="button"
          (click)="toggleMenu()"
          [ngClass]="{ active: showMenu || showShare }"
        >
          <svg viewBox="0 0 32 32">
            <path
              d="M0 4.8h32v3.2h-32v-3.2zM0 14.4h32v3.2h-32v-3.2zM0 24h32v3.2h-32v-3.2z"
            />
          </svg>
        </button>
      </div>
      <div class="dropdown d-none d-lg-block" [ngClass]="'paid'">
        <span class="btn" id="userMenu" ngbDropdownToggle>
          <span class="username">
            {{ currentUser.Name }}&nbsp;<svg viewBox="0 0 32 32">
              <path
                d="M26.266 11.743q0 0.258-0.221 0.479l-9.584 9.584q-0.184 0.184-0.479 0.184t-0.442-0.184l-9.584-9.584q-0.221-0.221-0.221-0.479t0.221-0.479l0.995-1.032q0.221-0.221 0.479-0.221t0.479 0.221l8.073 8.073 8.109-8.073q0.184-0.221 0.479-0.221t0.442 0.221l1.032 1.032q0.221 0.184 0.221 0.479z"
              />
            </svg>
          </span>
          <span *ngIf="currentUser?.isNotEnterprise">
            <span
              class="subscription-info"
              *ngIf="
                currentUser.Subscription &&
                subscriptionData &&
                subscriptionData?.Status !== 'New' &&
                (subscriptionEndDateValid || subscriptionData?.IsGracePeriod)
              "
            >
              <br />
              <span
                [ngClass]="{ 'text-danger': subscriptionData?.IsGracePeriod }"
              >
                {{
                  (subscriptionData?.IsGracePeriod
                    ? "SUBSCRIPTION_EXPIRED_ON"
                    : "SUBSCRIPTION_VALID_TILL"
                  ) | translate
                }}
                &nbsp;{{
                  currentUser.Subscription.EndDate | date: "mediumDate"
                }}
              </span>
            </span>
            <span
              class="subscription-info"
              *ngIf="
                isPurchaseLogicAvailabe &&
                (!currentUser.Subscription ||
                  !(
                    subscriptionEndDateValid || subscriptionData?.IsGracePeriod
                  ) ||
                  subscriptionData?.Status === 'New')
              "
            >
              <br />
              <span
                *ngIf="currentUser.IsTrial"
                [translate]="'TRIAL_VALID_TILL'"
                [translateParams]="{ var0: currentUser.DaysTillTrialEnd }"
              ></span>
              <span
                *ngIf="!currentUser.IsTrial"
                [translate]="'FREE_PLAN'"
              ></span
              >&nbsp;
              <a [routerLink]="['/purchase']" [translate]="'UPGRADE_NOW'"></a
              >&nbsp;
              <span
                [translate]="'FOR_MONTHLY_PRICE'"
                [translateParams]="{ var0: currentUser.MonthlyPrice }"
              ></span>
            </span>
          </span>
        </span>
        <div
          aria-labelledby="userMenu"
          ngbDropdownMenu
          class="dropdown-menu-right"
        >
          <a
            [routerLink]="['/account/billinginformation']"
            class="dropdown-item"
            [translate]="'PROFILE_SETTINGS'"
          ></a>
          <a
            [routerLink]="['/account/mylogins']"
            class="dropdown-item"
            [translate]="'MY_LOGINS'"
          ></a>
          <a
            href="/admin/sync-history?userid={{ currentUser.Id }}"
            target="_blank"
            class="dropdown-item"
            *ngIf="showAdminMenu"
            >Sync History</a
          >
          <a
            href="/admin/sync-details-history?userid={{ currentUser.Id }}"
            target="_blank"
            class="dropdown-item"
            *ngIf="showAdminMenu"
            >Sync Details History</a
          >
          <a
            href="/teams/members"
            class="dropdown-item"
            [translate]="'SYNCGENE_TEAMS'"
            *ngIf="isTeamsManagementAvailable"
          ></a>
          <a
            (click)="logout()"
            class="dropdown-item"
            [translate]="'LOGOUT'"
          ></a>
          <div *ngIf="showAdminMenu" class="admin-links">
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">ADMIN PAGES</h6>
            <a href="/admin/users" target="_blank" class="dropdown-item"
              >Users</a
            >
            <a href="/admin/fake-users" target="_blank" class="dropdown-item"
              >Fake Users</a
            >
            <a
              href="/admin/current-synchronizations"
              target="_blank"
              class="dropdown-item"
              >Current Synchronizations</a
            >
            <a
              href="/admin/auto-sync-schedule"
              target="_blank"
              class="dropdown-item"
              >Auto-Sync Schedule</a
            >
            <a
              href="/admin/auto-sync-disabled-by-us"
              target="_blank"
              class="dropdown-item"
              >Auto-Sync Disabled by Us</a
            >
            <a
              href="/admin/scheduler-jobs"
              target="_blank"
              class="dropdown-item"
              >Scheduler Jobs</a
            >
            <a href="/admin/service" target="_blank" class="dropdown-item"
              >Service</a
            >
            <a href="/admin/maintenance" target="_blank" class="dropdown-item"
              >Maintenance</a
            >
            <a
              href="/admin/exchange-servers"
              target="_blank"
              class="dropdown-item"
              >Exchange Servers</a
            >
            <a
              href="/admin/new-users-stats"
              target="_blank"
              class="dropdown-item"
              >New Users Stats</a
            >
            <a href="/admin/logs" target="_blank" class="dropdown-item">Logs</a>
            <a href="/admin/grouped-logs" target="_blank" class="dropdown-item"
              >Grouped Logs</a
            >
            <a
              href="/admin/estimation-mailing"
              target="_blank"
              class="dropdown-item"
              >Estimation/Mailing</a
            >
            <a
              href="/admin/notification-templates"
              target="_blank"
              class="dropdown-item"
              >Notification Templates</a
            >
            <a
              href="/admin/message-templates"
              target="_blank"
              class="dropdown-item"
              >Message templates</a
            >
            <a href="/admin/sharing" target="_blank" class="dropdown-item"
              >Sharing</a
            >
            <a href="/admin/grafana-stats" target="_blank" class="dropdown-item"
              >Grafana stats</a
            >
            <a href="/admin/failingusers" target="_blank" class="dropdown-item"
              >Failing Users</a
            >
            <a href="/admin/modifiedusers" target="_blank" class="dropdown-item"
              >Recently Modified Users</a
            >
            <a
              href="/admin/features"
              target="_blank"
              class="dropdown-item"
              *ngIf="isFeaturesModifier"
              >Features</a
            >
            <a
              href="/admin/features-packs"
              target="_blank"
              class="dropdown-item"
              *ngIf="isFeaturesModifier"
              >Features packs</a
            >
            <a
              href="/admin/pricing-plans"
              target="_blank"
              class="dropdown-item"
              *ngIf="isFeaturesModifier"
              >Pricing plans</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="navbar-progress success"
    *ngIf="
      progressBar && progressBar.progress > 0 && progressBar.progress < 100
    "
    [@progressBarAnimation]
  >
    <ngb-progressbar
      [value]="progressBar.progress"
      height="18px"
    ></ngb-progressbar>
  </div>
  <div class="clearfix"></div>
  <div
    class="progress-data"
    *ngIf="progressBar && progressBar.progress > 0 && progressBar.expanded"
    [@progressBarAnimation]
  >
    <div
      class="progress-title"
      [ngClass]="{ 'text-center': !progressBar.status }"
    >
      {{ progressBar.title }}
    </div>
    <div class="progress-desc" *ngIf="progressBar.status">
      {{ progressBar.status }}
    </div>
    <div
      *ngIf="progressBar.showLongRunningSyncWarning"
      class="d-flex align-items-center"
    >
      <svg class="warning-msg-icon">
        <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
      </svg>
      <span [innerHTML]="'LONG_SYNC_WARNING' | translate"></span>
    </div>
    <div
      class="progress-accounts"
      *ngIf="
        progressBar.progress > 0 &&
        progressBar.progress < 100 &&
        progressBar.accounts &&
        progressBar.accounts.length > 2
      "
      [@progressBarAnimation]
    >
      <div
        class="account-progress"
        *ngFor="let account of progressBar.accounts"
      >
        <div class="account-title row col-12 px-0 mx-0">
          <div class="col-10 username pl-0">
            <svg>
              <use
                attr.xlink:href="/Images/svg-sprite.svg#{{
                  account.system | lowercase
                }}-circle-icon"
              ></use>
            </svg>
            {{ account.userName }}
          </div>
          <div class="col-2 text-right px-0">{{ account.progress }}%</div>
        </div>
        <div class="navbar-progress">
          <ngb-progressbar
            type="info"
            [value]="account.progress"
            height="3px"
          ></ngb-progressbar>
        </div>
      </div>
    </div>
    <div class="controls text-center">
      <button
        *ngIf="progressBar.progress == 100 && showViewResultButton"
        (click)="viewResults()"
        class="btn btn-primary btn-sm"
        [translate]="'VIEW_RESULT'"
      ></button>
      <button
        *ngIf="progressBar.progress > 0 && progressBar.progress < 100"
        (click)="cancelAction()"
        class="btn btn-primary btn-sm"
        [disabled]="
          progressBar.progress > 95 || progressBar.actionType == 'CancelAction'
        "
        [translate]="'CANCEL'"
      ></button>
    </div>
    <div class="collapse-btn text-center">
      <a (click)="toggleProgressBar()">
        <svg viewBox="0 0 32 32">
          <path
            d="M24.911 21.143q0 0.232-0.179 0.411l-0.893 0.893q-0.179 0.179-0.411 0.179t-0.411-0.179l-7.018-7.018-7.018 7.018q-0.179 0.179-0.411 0.179t-0.411-0.179l-0.893-0.893q-0.179-0.179-0.179-0.411t0.179-0.411l8.321-8.321q0.179-0.179 0.411-0.179t0.411 0.179l8.321 8.321q0.179 0.179 0.179 0.411z"
          /></svg
        >&nbsp;<span [translate]="'PROGRESSBAR_COLLAPSE'"></span>
      </a>
    </div>
  </div>
  <div
    class="progress-data"
    *ngIf="accountProgressBar.show && accountProgressBar.expanded"
    [@progressBarAnimation]
  >
    <div
      class="progress-desc service"
      [innerHTML]="accountProgressBar.text"
      hrefDirective
    ></div>
    <div class="controls text-center">
      <button
        class="btn btn-primary btn-sm"
        (click)="addSyncAccount()"
        [translate]="'ADD_ACCOUNT'"
      ></button>
      <button
        *ngIf="accountProgressBar.showSyncBtn"
        class="btn btn-primary btn-sm"
        (click)="sync()"
        [translate]="'START_SYNCHRONIZATION'"
      ></button>
    </div>
    <div class="collapse-btn text-center">
      <a (click)="toggleAccountProgressBar()">
        <svg viewBox="0 0 32 32">
          <path
            d="M24.911 21.143q0 0.232-0.179 0.411l-0.893 0.893q-0.179 0.179-0.411 0.179t-0.411-0.179l-7.018-7.018-7.018 7.018q-0.179 0.179-0.411 0.179t-0.411-0.179l-0.893-0.893q-0.179-0.179-0.179-0.411t0.179-0.411l8.321-8.321q0.179-0.179 0.411-0.179t0.411 0.179l8.321 8.321q0.179 0.179 0.179 0.411z"
          /></svg
        >&nbsp;<span [translate]="'PROGRESSBAR_COLLAPSE'"></span>
      </a>
    </div>
  </div>
</nav>
<div
  class="collapse-btn down"
  [ngClass]="{
    'red-and-progress': webMessages && webMessages.length > 0,
    'only-progress': !webMessages || (webMessages && webMessages.length == 0)
  }"
  *ngIf="progressBar && progressBar.progress > 0 && progressBar.progress < 100"
  [@expandAnimation]
>
  <div class="trapezoid">
    <a (click)="toggleProgressBar()" class="flex">
      <svg viewBox="0 0 32 32">
        <path
          d="M26.266 11.743q0 0.258-0.221 0.479l-9.584 9.584q-0.184 0.184-0.479 0.184t-0.442-0.184l-9.584-9.584q-0.221-0.221-0.221-0.479t0.221-0.479l0.995-1.032q0.221-0.221 0.479-0.221t0.479 0.221l8.073 8.073 8.109-8.073q0.184-0.221 0.479-0.221t0.442 0.221l1.032 1.032q0.221 0.184 0.221 0.479z"
        /></svg
      >&nbsp;<span [translate]="'EXPAND'"></span>
    </a>
  </div>
</div>
<div
  class="collapse-btn down"
  [ngClass]="{
    'red-and-progress':
      webMessages &&
      webMessages.length > 0 &&
      progressBar &&
      progressBar.progress > 0 &&
      progressBar.progress < 100,
    'only-progress':
      (!webMessages || (webMessages && webMessages.length == 0)) &&
      progressBar &&
      progressBar.progress > 0 &&
      progressBar.progress < 100,
    'only-red-top':
      webMessages &&
      webMessages.length > 0 &&
      (!progressBar ||
        (progressBar &&
          (progressBar.progress == 0 || progressBar.progress == 100)))
  }"
  *ngIf="accountProgressBar.show"
  [@expandAnimation]
>
  <div class="trapezoid">
    <a (click)="toggleAccountProgressBar()" class="flex">
      <svg viewBox="0 0 32 32">
        <path
          d="M26.266 11.743q0 0.258-0.221 0.479l-9.584 9.584q-0.184 0.184-0.479 0.184t-0.442-0.184l-9.584-9.584q-0.221-0.221-0.221-0.479t0.221-0.479l0.995-1.032q0.221-0.221 0.479-0.221t0.479 0.221l8.073 8.073 8.109-8.073q0.184-0.221 0.479-0.221t0.442 0.221l1.032 1.032q0.221 0.184 0.221 0.479z"
        /></svg
      >&nbsp;<span [translate]="'EXPAND'"></span>
    </a>
  </div>
</div>
<div
  class="mobile-menu d-lg-none share-menu"
  *ngIf="currentUser && showShare"
  @expandMenuAnimation
>
  <a
    (click)="
      openHref(
        'https://www.facebook.com/sharer/sharer.php?u=www.syncgene.com&external=true'
      )
    "
    class="dropdown-item"
  >
    <svg>
      <use xlink:href="/Images/svg-sprite.svg#facebook-square-icon"></use>
    </svg>
    <span>Facebook</span>
  </a>
  <a
    (click)="
      openHref(
        'http://twitter.com/intent/tweet?text=www.syncgene.com&external=true'
      )
    "
    class="dropdown-item"
  >
    <svg>
      <use xlink:href="/Images/svg-sprite.svg#twitter-square-icon"></use>
    </svg>
    <span>Twitter</span>
  </a>
  <a
    (click)="
      openHref(
        'https://plus.google.com/share?url=www.syncgene.com&external=true'
      )
    "
    class="dropdown-item"
  >
    <svg>
      <use xlink:href="/Images/svg-sprite.svg#google+-square-icon"></use>
    </svg>
    <span>Google+</span>
  </a>
  <a
    href="mailto:?subject=www.syncgene.com&body=www.syncgene.com"
    (click)="toggleMenu(false)"
    class="dropdown-item"
  >
    <svg>
      <use xlink:href="/Images/svg-sprite.svg#mail-icon"></use>
    </svg>
    <span>via Mail</span>
  </a>
</div>
<div
  class="mobile-menu d-lg-none"
  *ngIf="currentUser && showMenu"
  @expandMenuAnimation
>
  <a
    [routerLink]="['/account/mylogins']"
    class="user-info"
    (click)="toggleMenu(false)"
  >
    <div class="user-icon">
      <svg>
        <use xlink:href="/Images/svg-sprite.svg#syncgene-icon"></use>
      </svg>
    </div>
    <div class="user-name">
      {{ currentUser.Name }}
    </div>
  </a>
  <a
    [routerLink]="['/share/manage-shared-calendars']"
    *ngIf="sharingApp"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_MANAGE_SHARED_CALENDARS'"
  ></a>
  <a
    [routerLink]="['/synchronization/status']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_STATUS'"
  ></a>
  <a
    [routerLink]="['/synchronization/report']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_REPORT'"
  ></a>
  <a
    [routerLink]="['/synchronization/management']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MANAGE_ACCOUNTS_HEADER'"
  ></a>
  <a
    [routerLink]="['/synchronization/restore']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_BACKUP_RESTORE'"
  ></a>
  <a
    [routerLink]="['/share/manage-shared-calendars']"
    *ngIf="currentUser && !sharingApp"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_MANAGE_SHARED_CALENDARS'"
  ></a>
  <a
    [routerLink]="['/account/billinginformation']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_PROFILE'"
  ></a>
  <a
    [routerLink]="['/account/notifications']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'LEFT_MENU_NOTIFICATIONS_PREFERENCES'"
  ></a>
  <a
    (click)="toggleShare()"
    class="dropdown-item"
    [translate]="'LEFT_MENU_SHARE'"
  ></a>
  <a
    (click)="
      openHref('http://www.syncgene.com/webhelp/Content/Home.htm?external=true')
    "
    class="dropdown-item"
    [translate]="'HELP'"
  ></a>
  <a
    [routerLink]="['/account/feedback']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="'MOBILE_MENU_FEEDBACK'"
  ></a>
  <a
    [routerLink]="['/purchase']"
    class="dropdown-item"
    (click)="toggleMenu(false)"
    [translate]="
      currentUser &&
      currentUser.Subscription &&
      currentUser.Subscription.SubscriptionStatus === 'Active'
        ? 'LEFT_MENU_CHANGE_PLAN'
        : 'LEFT_MENU_PURCHASE'
    "
    *ngIf="
      isPurchaseLogicAvailabe && currentUser && currentUser.isNotEnterprise
    "
  ></a>
  <a
    href="/teams/members"
    class="dropdown-item"
    [translate]="'SYNCGENE_TEAMS'"
    *ngIf="isTeamsManagementAvailable"
  ></a>
  <a (click)="logout()" class="dropdown-item" [translate]="'LOGOUT'"></a>
  <div *ngIf="showAdminMenu">
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">ADMIN PAGES</h6>
    <a (click)="openAdmin('users')" class="dropdown-item">Users</a>
    <a (click)="openAdmin('fake-users')" class="dropdown-item">Fake Users</a>
    <a (click)="openAdmin('current-synchronizations')" class="dropdown-item"
      >Current Synchronizations</a
    >
    <a (click)="openAdmin('auto-sync-schedule')" class="dropdown-item"
      >Auto-Sync Schedule</a
    >
    <a (click)="openAdmin('scheduler-jobs')" class="dropdown-item"
      >Scheduler Jobs</a
    >
    <a (click)="openAdmin('service')" class="dropdown-item">Service</a>
    <a (click)="openAdmin('maintenance')" class="dropdown-item">Maintenance</a>
    <a (click)="openAdmin('exchange-servers')" class="dropdown-item"
      >Exchange Servers</a
    >
    <a (click)="openAdmin('new-users-stats')" class="dropdown-item"
      >New Users Stats</a
    >
    <a (click)="openAdmin('logs')" class="dropdown-item">Logs</a>
    <a (click)="openAdmin('grouped-logs')" class="dropdown-item"
      >Grouped Logs</a
    >
    <a (click)="openAdmin('estimation-mailing')" class="dropdown-item"
      >Estimation/Mailing</a
    >
    <a (click)="openAdmin('notification-templates')" class="dropdown-item"
      >Notification Templates</a
    >
    <a
      (click)="openAdmin('features')"
      class="dropdown-item"
      *ngIf="isFeaturesModifier"
      >Features</a
    >
    <a (click)="openAdmin('message-templates')" class="dropdown-item"
      >Message templates</a
    >
    <a (click)="openAdmin('sharing')" class="dropdown-item">Sharing</a>
    <a (click)="openAdmin('grafana-stats')" class="dropdown-item"
      >Grafana stats</a
    >
    <a (click)="openAdmin('failingusers')" class="dropdown-item"
      >Failing Users</a
    >
  </div>
</div>
<div
  class="bg-overflow d-lg-none"
  *ngIf="
    (currentUser &&
      (showMenu || showShare || (progressBar && progressBar.expanded))) ||
    accountProgressBar.expanded
  "
  (click)="closeAll()"
  [@overflowAnimation]
></div>
