<div class="row stores">
    <div class="col-6 text-right">
        <a href="https://itunes.apple.com/us/app/syncgene-sync-contact-calendar/id1133538068?mt=8&external=true" target="_blank">
            <svg>
                <title [translate]="'APP_STORE_TITLE'"></title>
                <use xlink:href="/Images/svg-sprite.svg#app-store"></use>
            </svg>
        </a>
    </div>
    <div class="col-6 text-left">
        <a href="https://play.google.com/store/apps/details?id=com.forteam.syncgene&hl=en_US&external=true" target="_blank">
            <svg>
                <title [translate]="'PLAY_STORE_TITLE'"></title>
                <use xlink:href="/Images/svg-sprite.svg#play-store"></use>
            </svg>
        </a>
    </div>
</div>