<span
  >(C)&nbsp;{{ year }}&nbsp;<a
    href="{{ 'LINK_4TEAM_BIZ_EXTERNAL' | translate }}"
    target="_blank"
    >4Team Corporation</a
  ></span
>&nbsp;|&nbsp;
<a
  href="{{ 'LINK_SYNCGENE_TERMS_OF_USE' | translate }}"
  target="_blank"
  [translate]="'TERMS_OF_USE'"
></a
>&nbsp;|&nbsp;
<a
  href="{{ 'LINK_SYNCGENE_PRIVACY_POLICY' | translate }}"
  target="_blank"
  [translate]="'PRIVACY'"
></a>
<a
  *ngIf="!hideHeader"
  [routerLink]="['/account/feedback']"
  class="float-right pr-2"
>
  <svg class="feedback-icon">
    <use xlink:href="/Images/svg-sprite.svg#feedback-icon"></use>
  </svg>
  <span [translate]="'MOBILE_MENU_FEEDBACK'"></span>
</a>
