<div class="header col-12">
  <ol class="breadcrumb">
    <li>
      <a
        [routerLink]="['/account/billinginformation']"
        [translate]="'ACCOUNT_HEADER'"
      ></a>
    </li>
    <li [translate]="'FEEDBACK_TITLE'"></li>
  </ol>
  <div
    class="page-title"
    [translate]="
      showThankYou ? 'THANK_YOU_FOR_FEEDBACK_TITLE' : 'FEEDBACK_TITLE'
    "
  ></div>
</div>
<div class="content col-12 feedback">
  <h4
    class="d-md-none mb-3"
    *ngIf="showThankYou"
    [translate]="'THANK_YOU_FOR_FEEDBACK_TITLE'"
  ></h4>
  <p
    [translate]="
      showThankYou
        ? 'THANK_YOU_FOR_FEEDBACK_DESCRIPTION'
        : 'FEEDBACK_PAGE_DESCRIPTION'
    "
  ></p>
  <form (ngSubmit)="submit()" novalidate *ngIf="!showThankYou">
    <div class="form-group">
      <label class="d-block mt-4" [translate]="'HOW_YOU_RATE'"></label>
      <div class="d-flex">
        <button
          class="btn btn-link btn-rate"
          *ngFor="let rateVal of rateValues; let i = index"
          (click)="rate(rateVal)"
          [ngClass]="{ active: rateValue === rateVal }"
          type="button"
          [title]="'RATE_VALUE_' + i | translate"
        >
          <svg class="rate-icon" [ngClass]="'rate' + i">
            <use
              attr.xlink:href="/Images/svg-sprite.svg#rate-icon-{{ i }}"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <label
      class="d-block mt-4 my-3"
      [translate]="'SELECT_FEEDBACK_CATEGORY'"
    ></label>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="MissingFeature"
        name="MissingFeature"
        [(ngModel)]="form.GroupedFeedbacks[0].IsSelected"
        (change)="
          (!form.GroupedFeedbacks[0].IsSelected);
          clearSelection(
            form.GroupedFeedbacks[0].Name,
            form.GroupedFeedbacks[0].IsSelected
          )
        "
        [checked]="form.GroupedFeedbacks[0].IsSelected"
      />
      <label
        for="MissingFeature"
        [title]="'MISSING_FEATURE' | translate"
        [innerHTML]="'MISSING_FEATURE' | translate"
      ></label>
      <div
        class="mb-4 pt-2 pl-5"
        *ngIf="form.GroupedFeedbacks[0].IsSelected"
        [@toggleAnimation]
      >
        <div
          class="checkbox"
          *ngFor="
            let line of form.GroupedFeedbacks[0].FeedbackLines;
            let i = index
          "
        >
          <input
            type="checkbox"
            id="{{ line.Name }}"
            name="{{ line.Name }}"
            [(ngModel)]="line.IsSelected"
            (change)="(!line.IsSelected); clearText(line.Name, line.IsSelected)"
            [checked]="line.IsSelected"
          />
          <label
            for="{{ line.Name }}"
            [title]="'MISSING_FEATURE_' + i | translate"
            >{{ "MISSING_FEATURE_" + i | translate }}</label
          >
        </div>
        <div
          *ngIf="form.GroupedFeedbacks![0].FeedbackLines![7].IsSelected"
          [@toggleAnimation]
        >
          <div class="row">
            <div class="col-12 col-md-7">
              <textarea
                name="OtherFeatureText"
                id="OtherFeatureText"
                [(ngModel)]="
                  form.GroupedFeedbacks![0].FeedbackLines![7].TextValue
                "
                class="form-control"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group checkbox">
      <input
        type="checkbox"
        id="TechnicalIssue"
        name="TechnicalIssue"
        [(ngModel)]="form.GroupedFeedbacks[1].IsSelected"
        (change)="
          (!form.GroupedFeedbacks[1].IsSelected);
          clearSelection(
            form.GroupedFeedbacks[1].Name,
            form.GroupedFeedbacks[1].IsSelected
          )
        "
        [checked]="form.GroupedFeedbacks[1].IsSelected"
      />
      <label
        for="TechnicalIssue"
        [title]="'TECHNICAL_ISSUE' | translate"
        [innerHTML]="'TECHNICAL_ISSUE' | translate"
      ></label>
      <div
        class="mb-4 pt-2 pl-5"
        *ngIf="form.GroupedFeedbacks[1].IsSelected"
        [@toggleAnimation]
      >
        <div
          class="checkbox"
          *ngFor="
            let line of form.GroupedFeedbacks[1].FeedbackLines;
            let i = index
          "
        >
          <input
            type="checkbox"
            id="{{ line.Name }}"
            name="{{ line.Name }}"
            [(ngModel)]="line.IsSelected"
            (change)="(!line.IsSelected); clearText(line.Name, line.IsSelected)"
            [checked]="line.IsSelected"
          />
          <label
            for="{{ line.Name }}"
            [title]="'TECHNICAL_ISSUE_' + i | translate"
            >{{ "TECHNICAL_ISSUE_" + i | translate }}</label
          >
        </div>
        <div
          *ngIf="form.GroupedFeedbacks![1].FeedbackLines![7].IsSelected"
          [@toggleAnimation]
        >
          <div class="row">
            <div class="col-12 col-md-7">
              <textarea
                name="OtherIssueText"
                id="OtherIssueText"
                [(ngModel)]="
                  form.GroupedFeedbacks![1].FeedbackLines![7].TextValue
                "
                class="form-control"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="form-group checkbox"
      *ngFor="let line of form.SingleFeedbacks; let i = index"
    >
      <input
        type="checkbox"
        id="{{ line.Name }}"
        name="{{ line.Name }}"
        [(ngModel)]="line.IsSelected"
        (change)="(!line.IsSelected); clearText(line.Name, line.IsSelected)"
        [checked]="line.IsSelected"
      />
      <label
        for="{{ line.Name }}"
        [title]="'SINGLE_FEEDBACK_' + i | translate"
        [innerHTML]="'SINGLE_FEEDBACK_' + i | translate"
      ></label>
      <div *ngIf="line.IsSelected" [@toggleAnimation]>
        <div class="row">
          <div class="col-12 col-md-7">
            <textarea
              name="{{ line.Name + 'Text' }}"
              id="{{ line.Name + 'Text' }}"
              [(ngModel)]="line.TextValue"
              class="form-control"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button
        type="submit"
        class="btn btn-primary"
        [translate]="'SUBMIT'"
        [disabled]="
          rateValue == 0 &&
          !form.GroupedFeedbacks[0].IsSelected &&
          !form.GroupedFeedbacks[1].IsSelected &&
          !form.SingleFeedbacks[0].IsSelected &&
          !form.SingleFeedbacks[1].IsSelected &&
          !form.SingleFeedbacks[2].IsSelected
        "
      ></button>
    </div>
  </form>
  <div *ngIf="showThankYou" [innerHTML]="'CONTACTS_BLOCK' | translate"></div>
</div>
