.feedback {
  .rate-icon {
    fill: #707070;
    width: 100%;
    max-width: 80px;
    min-width: 40px;
    max-height: 80px;
    height: 100%;
    transition: fill 0.15s ease-in-out;
  }

  .btn-rate {
    min-width: 20px;
    padding: 0;

    &:hover {
      .rate0,
      .rate1,
      .rate2,
      .rate3,
      .rate4 {
        fill: #585858;
      }
    }

    &.active {
      .rate0 {
        fill: #e33840;
      }

      .rate1 {
        fill: #f38831;
      }

      .rate2 {
        fill: #ffcd3a;
      }

      .rate3 {
        fill: #d8db56;
      }

      .rate4 {
        fill: #87b54b;
      }
    }
  }
}
