<div id="toast-container">
  <div
    *ngFor="let toast of toasts"
    class="toast"
    [@toastState]="toasterconfig.animation"
    (click)="click(toast, true, true)"
    (clickEvent)="childClick($event)"
    (mouseover)="stopTimer(toast)"
    (mouseout)="restartTimer(toast)"
  >
    <div class="toast-content">
      <div
        class="toast-close-button"
        *ngIf="toast.showCloseButton"
        (click)="click(toast, true)"
        [innerHTML]="toast.closeHtml! | uppercase | translate"
      ></div>
      <div class="toast-message" [innerHTML]="toast.body"></div>
    </div>
  </div>
</div>
