<form [formGroup]="form" (ngSubmit)="reset()" novalidate>
  <div class="form-group">
    <input
      type="email"
      name="email"
      id="email"
      class="form-control icon email"
      [ngClass]="
        form.get('username')?.invalid &&
        (form.get('username')?.dirty || form.get('username')?.touched)
          ? 'is-invalid'
          : ''
      "
      maxlength="120"
      formControlName="username"
      placeholder="{{ 'ENTER_EMAIL_ADDRESS' | translate }}"
    />
    <app-show-errors
      [control]="form.get('username')!"
      [errorMessage]="usernameErrorList"
    ></app-show-errors>
  </div>
  <button
    type="submit"
    class="btn btn-block btn-warning"
    [translate]="'RESET_PASSWORD'"
  ></button>
</form>
