svg {
  width: 30px;
  height: 30px;
}

svg:not(.no-min-values) {
  min-width: 30px;
  min-height: 30px;
}

svg.two-way-sync {
  fill: #2f7cff;
}

.arrow {
  svg {
    width: 24px;
    height: 24px;
  }
}

.exclamark-icon {
  fill: #ef452e;
}

.row-with-border {
  border-bottom: 1px solid #ccc;
}

.account {
  display: block;
  word-break: break-all;
  font-size: 1rem;
}

select,
select option {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 50px);
  text-overflow: ellipsis;
}

@media all and (max-width: 767px) {
  .two-way-sync,
  .one-way-to-first,
  .free-busy-to-first {
    transform: rotate(90deg);
  }

  .one-way-to-second,
  .free-busy-to-second {
    transform: rotate(270deg);
  }

  form {
    .row-with-border > div {
      max-width: 400px;
    }
  }

  .arrow svg {
    margin-left: 3px;
  }

  .account {
    word-break: break-all;
  }

  .svg-container {
    width: 50px !important;
  }

  .text-account {
    width: auto;
  }
}

@media all and (min-width: 768px) {
  select,
  select option {
    width: calc(100% - 32px);
  }

  .one-way-to-second,
  .free-busy-to-second {
    transform: rotate(180deg);
  }
  .account {
    width: 100%;
  }
}
