<div class="content col-12 p-0">
  <div *ngIf="loaded" class="d-flex justify-content-center">
    <form
      [formGroup]="form"
      class="pt-3 col-12 px-0"
      (ngSubmit)="save()"
      novalidate
    >
      <div
        class="col-12 p-0 pb-2 d-flex flex-column row-with-border border-0 align-items-center"
      >
        <div class="col-12 pb-2 px-lg-3 py-2 d-flex flex-column flex-md-row">
          <p class="text-start col-12 m-0">
            {{ "CHOOSE_SYNC_DIRECTION" | translate }}
          </p>
        </div>
      </div>
      <div
        class="col-12 p-0 pb-2 d-flex flex-column row-with-border align-items-center"
      >
        <div class="col-12 px-2 px-lg-3 pb-2 d-flex flex-column flex-md-row">
          <div
            class="col-lg-4 col-md-4 col-12 d-flex flex-row align-items-center justify-content-start"
          >
            <div
              class="svg-container d-flex align-items-center py-2 pr-2 pl-0 col-md-2"
            >
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    activeAccounts[0].ProviderCode.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
            </div>
            <div
              class="col-10 p-0 account"
              title="{{ activeAccounts[0].Username }}"
            >
              {{ activeAccounts[0].Username }}
            </div>
          </div>
          <div
            class="col-lg-4 col-md-4 col-12 p-2 d-flex justify-content-center align-items-center"
          ></div>
          <div
            class="col-lg-4 col-md-4 col-12 d-flex flex-row align-items-center justify-content-start"
          >
            <div
              class="svg-container d-flex align-items-center py-2 pr-2 pl-0 col-md-2 d-md-none"
            >
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    activeAccounts[1].ProviderCode.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
            </div>
            <div
              class="col-10 p-0 px-md-1 account text-start text-md-right"
              title="{{ activeAccounts[1].Username }}"
            >
              {{ activeAccounts[1].Username }}
            </div>

            <div
              class="svg-container align-items-center justify-content-md-end py-2 pl-2 p-0 col-md-2 d-none d-md-flex"
            >
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    activeAccounts[1].ProviderCode.toLowerCase()
                  }}-circle-icon"
                ></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 p-0 py-2 d-flex flex-column row-with-border align-items-center"
        *ngFor="let permission of permissions; let i = index"
      >
        <div class="col-12 px-2 px-lg-3 py-2 d-flex flex-column flex-md-row">
          <div class="col-lg-4 col-md-4 col-12 d-flex flex-column">
            <div class="d-flex justify-content-start col-12 p-0">
              <div
                class="svg-container d-flex align-items-center py-2 pr-2 pl-0 col-md-2"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      activeAccounts[0].ProviderCode | lowercase
                    }}-{{
                      permission.ProviderType === 1
                        ? 'contacts'
                        : permission.ProviderType === 2
                        ? 'calendar'
                        : 'tasks'
                    }}-permissions-icon"
                  ></use>
                </svg>
              </div>
              <div
                class="text-account d-flex flex-column px-1 py-0 col-md-10 justify-content-center"
              >
                <div class="text-bold d-flex">
                  <div class="p-0 col-12 col-md-10">
                    {{
                      (activeAccounts[0].ProviderCode | uppercase) +
                        "_" +
                        (permission.ProviderType === 1
                          ? "CONTACTS"
                          : permission.ProviderType === 2
                          ? "CALENDAR"
                          : "TASKS") | translate
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-4 col-12 py-2 d-flex justify-content-start justify-content-md-center align-items-center"
          >
            <div
              class="d-flex justify-content-start align-items-center arrow svg-container py-2 pr-2 pl-0"
            >
              <svg
                class="two-way-sync no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 33"
              >
                <use
                  xlink:href="/Images/svg-sprite.svg#two-way-sync-arrows"
                ></use>
              </svg>
              <svg
                class="one-way-to-first no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 32"
              >
                <use
                  xlink:href="/Images/svg-sprite.svg#one-way-sync-arrow"
                ></use>
              </svg>
              <svg
                class="one-way-to-second no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 23"
              >
                <use
                  xlink:href="/Images/svg-sprite.svg#one-way-sync-arrow"
                ></use>
              </svg>
              <svg
                class="free-busy-to-first no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 31"
              >
                <use
                  xlink:href="/Images/svg-sprite.svg#free-busy-sync-arrow"
                ></use>
              </svg>
              <svg
                class="free-busy-to-second no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 13"
              >
                <use
                  xlink:href="/Images/svg-sprite.svg#free-busy-sync-arrow"
                ></use>
              </svg>
              <svg
                class="exclamark-icon no-min-values"
                *ngIf="providerTypePermissions[permission.ProviderType] == 0"
              >
                <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
              </svg>
            </div>

            <select
              *ngIf="permission.ProviderType !== 2"
              name="providerType{{ permission.ProviderType }}Permissions"
              id="providerType{{ permission.ProviderType }}Permissions"
              class="form-control text-center"
              formControlName="providerType{{
                permission.ProviderType
              }}Permissions"
            >
              <option
                title=""
                value="0"
                *ngIf="
                  providerTypePermissions[permission.ProviderType] == 0 &&
                  isDisabled
                "
              ></option>
              <option title="{{ 'TWO_WAY_SYNC' | translate }}" value="33">
                {{ "TWO_WAY_SYNC" | translate }}
              </option>
              <option
                title="{{ 'ONE_WAY_TO' | translate }} {{
                  activeAccounts[0].Username
                }}"
                value="23"
              >
                {{ "ONE_WAY_TO" | translate }} {{ activeAccounts[0].Username }}
              </option>
              <option
                title="{{ 'ONE_WAY_TO' | translate }} {{
                  activeAccounts[1].Username
                }}"
                value="32"
              >
                {{ "ONE_WAY_TO" | translate }} {{ activeAccounts[1].Username }}
              </option>
            </select>

            <select
              *ngIf="permission.ProviderType === 2"
              name="providerType{{ permission.ProviderType }}Permissions"
              id="providerType{{ permission.ProviderType }}Permissions"
              class="form-control text-center"
              formControlName="providerType{{
                permission.ProviderType
              }}Permissions"
            >
              <option
                title=""
                value="0"
                *ngIf="
                  providerTypePermissions[permission.ProviderType] == 0 &&
                  isDisabled
                "
              ></option>
              <option title="{{ 'TWO_WAY_SYNC' | translate }}" value="33">
                {{ "TWO_WAY_SYNC" | translate }}
              </option>
              <option
                title="{{ 'ONE_WAY_TO' | translate }} {{
                  activeAccounts[0].Username
                }}"
                value="23"
              >
                {{ "ONE_WAY_TO" | translate }} {{ activeAccounts[0].Username }}
              </option>
              <option
                title="{{ 'ONE_WAY_TO' | translate }} {{
                  activeAccounts[1].Username
                }}"
                value="32"
              >
                {{ "ONE_WAY_TO" | translate }} {{ activeAccounts[1].Username }}
              </option>
              <option
                title="{{ 'FREE_BUSY_ONLY_TO' | translate }} {{
                  activeAccounts[0].Username
                }}"
                value="13"
              >
                {{ "FREE_BUSY_ONLY_TO" | translate }}
                {{ activeAccounts[0].Username }}
              </option>
              <option
                title="{{ 'FREE_BUSY_ONLY_TO' | translate }}  {{
                  activeAccounts[1].Username
                }}"
                value="31"
              >
                {{ "FREE_BUSY_ONLY_TO" | translate }}
                {{ activeAccounts[1].Username }}
              </option>
            </select>
          </div>
          <div class="col-lg-4 col-md-4 col-12 d-flex flex-column">
            <div
              class="d-flex justify-content-start justify-content-lg-end col-12 p-0"
            >
              <div
                class="svg-container d-flex align-items-center py-2 pr-2 pl-0 col-md-2 d-md-none"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      activeAccounts[1].ProviderCode | lowercase | translate
                    }}-{{
                      (permission.ProviderType === 1
                        ? 'contacts'
                        : permission.ProviderType === 2
                        ? 'calendar'
                        : 'tasks'
                      ) | lowercase
                    }}-permissions-icon"
                  ></use>
                </svg>
              </div>
              <div
                class="text-account text-md-right text-start d-flex flex-column px-1 py-0 col-md-10 justify-content-center"
              >
                <div class="text-bold">
                  {{
                    (activeAccounts[1].ProviderCode | uppercase) +
                      "_" +
                      (permission.ProviderType === 1
                        ? "CONTACTS"
                        : permission.ProviderType === 2
                        ? "CALENDAR"
                        : "TASKS") | translate
                  }}
                </div>
              </div>
              <div
                class="svg-container align-items-center justify-content-md-end py-2 pl-2 p-0 col-md-2 d-none d-md-flex"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      activeAccounts[1].ProviderCode | lowercase
                    }}-{{
                      (permission.ProviderType === 1
                        ? 'contacts'
                        : permission.ProviderType === 2
                        ? 'calendar'
                        : 'tasks'
                      ) | lowercase
                    }}-permissions-icon"
                  ></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-controls text-center mt-3 px-3 pb-3 mb-3">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isDisabled"
          [translate]="'SAVE_DATA'"
          (click)="save()"
        ></button>
        <a
          [routerLink]="['/synchronization/management']"
          class="btn btn-primary ml-md-2"
          [translate]="'CANCEL'"
        ></a>
      </div>
    </form>
  </div>
</div>
