<div class="app-promotion">
  <div *ngIf="mobileBrowserDevice === 'ios'" class="ios-app">
    <div class="close-block" (click)="closeAppPromotion()">
      <svg class="icon-close" role="img">
        <use xlink:href="/Images/svg-sprite.svg#close-icon"></use>
      </svg>
    </div>
    <div class="text-block pt-2" [ngClass]="{ 'pt-2': user.Language == 'en' }">
      <span
        class="app-for-mobile"
        [translate]="'APP_PROMOTION_IOS_TITLE'"
      ></span
      ><br />
      <span class="app-info" [translate]="'APP_PROMOTION_IOS_TEXT'"></span>
    </div>
    <div class="install-block">
      <a
        class="install-button"
        href="https://itunes.apple.com/us/app/syncgene-contacts-calendar/id1133538068?ls=1&mt=8"
        target="_blank"
      >
        <svg role="img">
          <use xlink:href="/Images/svg-sprite.svg#app-store"></use>
        </svg>
      </a>
    </div>
  </div>
  <div *ngIf="mobileBrowserDevice === 'android'" class="android-app">
    <div class="close-block" (click)="closeAppPromotion()">
      <svg class="icon-close" role="img">
        <use xlink:href="/Images/svg-sprite.svg#close-icon"></use>
      </svg>
    </div>
    <div class="text-block" [ngClass]="{ 'pt-2': user.Language == 'en' }">
      <span
        class="app-for-mobile"
        [translate]="'APP_PROMOTION_ANDROID_TITLE'"
      ></span
      ><br />
      <span class="app-info" [translate]="'APP_PROMOTION_ANDROID_TEXT'"></span>
    </div>
    <div class="install-block">
      <a
        class="install-button"
        href="https://play.google.com/store/apps/details?id=com.forteam.syncgene"
        target="_blank"
      >
        <svg role="img">
          <use xlink:href="/Images/svg-sprite.svg#play-store"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
