<div class="content col-12">
  <div class="error">
    <div class="text-center">
      <img src="/Images/error_page_img.png" />
    </div>
    <h1>Page not found</h1>
    <p>
      We are sorry, but we cannot find the webpage you're looking for. It is
      possible that you typed the address incorrectly, or that the page no
      longer exists. Click link below or
      <a href="http://syncgene.com/support?external=true" target="_blank"
        >contact us</a
      >
      if you keep seeing this message.
    </p>
    <a [routerLink]="['/']">SyncGene &gt;</a>
  </div>
</div>
