.error {
  margin: 0 auto;
  max-width: 500px;

  h1 {
    font-size: 18px;
    margin: 32px 0;
  }

  p {
    text-align: justify;
    margin: 32px 0 22px;
    font-weight: 300;
    color: #333;
  }

  > a {
    text-transform: uppercase;
  }
}

/* mobile media queries start */
@media all and (max-width: 576px) {
  img {
    max-width: 200px;
  }
}
/* mobile media queries end */
