.showTimer {
  background: rgba(255, 255, 255, 0.85);
}

.confirm b {
  font-size: 1.4rem;
}

@media all and (min-width: 768px) {
  div.timer-container {
    div.timer {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      padding-top: 290px;
      z-index: 999;
      font-family: "Roboto";
    }
  }
}

@media all and (max-width: 767px) {
  div.timer-container {
    div.timer {
      position: fixed;
      top: calc(50% - 64px);
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 999;
      text-align: center;
      font-family: "Roboto";
    }
  }
}
