<h4 [translate]="'CHANGE_PASSWORD'"></h4>

<form [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
  <div class="form-group">
    <label for="oldPassword" [translate]="'OLD_PASSWORD'"></label>
    <input
      type="password"
      name="oldPassword"
      id="oldPassword"
      class="form-control"
      [ngClass]="
        form.get('oldPassword')?.invalid &&
        (form.get('oldPassword')?.dirty || form.get('oldPassword')?.touched)
          ? 'is-invalid'
          : ''
      "
      maxlength="50"
      formControlName="oldPassword"
      required
    />
    <app-show-errors
      [control]="form.get('oldPassword')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
  </div>
  <div class="form-group">
    <label for="password" [translate]="'NEW_PASSWORD'"></label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      [ngClass]="
        form.get('password')?.invalid &&
        (form.get('password')?.dirty || form.get('password')?.touched)
          ? 'is-invalid'
          : ''
      "
      minlength="8"
      maxlength="50"
      formControlName="password"
      required
    />
    <app-show-errors
      [control]="form.get('password')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
  </div>
  <div class="form-group">
    <label for="confirmPassword" [translate]="'CONFIRM_PASSWORD'"></label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      class="form-control"
      [ngClass]="
        form.get('confirmPassword')?.invalid &&
        (form.get('confirmPassword')?.dirty ||
          form.get('confirmPassword')?.touched)
          ? 'is-invalid'
          : ''
      "
      maxlength="50"
      formControlName="confirmPassword"
      required
    />
    <app-show-errors
      [control]="form.get('confirmPassword')!"
      [errorMessage]="passwordErrorList"
    ></app-show-errors>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-sm"
    [disabled]="partialLoader"
    [translate]="'CHANGE'"
  ></button>
  <button
    type="button"
    class="btn btn-primary btn-sm"
    (click)="closeModal()"
    [disabled]="partialLoader"
    [translate]="'CANCEL'"
  ></button>
</form>
