form {
  display: block;
  width: 100%;

  button {
    height: 40px;
  }

  img {
    max-height: 30px;
  }

  select,
  input {
    height: 40px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.radio {
    margin: 0;

    label {
      display: flex;
      align-items: center;
      height: 34px;
    }

    label:after {
      top: 11px;
      left: 6px;
      width: 12px;
      height: 12px;
    }

    label:before {
      top: 5px;
      width: 24px;
      height: 24px;
    }
  }

  div.checkbox {
    label {
      margin: 0;
      height: 48px;
      padding-left: 32px;
      padding-top: 14px;
    }

    label:before {
      top: 12px;
      width: 24px;
      height: 24px;
    }

    label:after {
      top: 17px;
      height: 8px;
      width: 17px;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
    }
  }

  div.checkbox.height-40px {
    label {
      height: 40px;
      padding-top: 10px;
    }

    label:before {
      top: 8px;
    }

    label:after {
      top: 14px;
    }
  }

  .panel-left {
    height: auto !important;
  }

  .panel-right {
    height: auto !important;
  }

  .form-control.is-invalid::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dc3545 !important;
    opacity: 1; /* Firefox */
  }

  .form-control.is-invalid:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dc3545 !important;
  }

  .form-control.is-invalid::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dc3545 !important;
  }

  .form-control.is-invalid::-webkit-input-placeholder,
  .form-control.is-invalid {
    /* Microsoft Edge */
    color: #dc3545 !important;
  }

  .form-control.is-invalid option {
    color: black !important;
  }

  .invalid-feedback {
    display: block;
  }
}

.panel-left {
  .plan-info {
    padding: 15px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;

    .selected-plan {
      font-size: 20px;
      color: #333;
    }
  }

  .payment-selection {
    padding: 15px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #d2d2d2;

    .sub-selection {
      padding-left: 10px;
    }
  }
}

.panel-right {
  .text {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ccc;
    color: #666;
    overflow: hidden;
  }

  .form-holder {
    padding: 10px 15px 0 15px;
    overflow: hidden;
  }

  .policy {
    padding: 15px 0 0 15px;
  }
}

/* mobile media queries start */
@media all and (max-width: 991px) {
  .content {
    &.no-padding {
      padding: 0 15px !important;

      .panel-left,
      .panel-right {
        float: none;
        width: 100%;
        height: auto;
        border-right: 0;
        overflow: hidden;
      }

      .panel-left {
        .payment-selection {
          .sub-selection {
            padding-left: 0;
          }
        }
      }

      .panel-right {
        .policy {
          margin: 0;
          padding: 20px 15px 15px;

          label {
            line-height: 1.4;
          }
        }

        div.radio {
          label {
            height: 48px;
          }

          label:after {
            top: 18px;
          }

          label:before {
            top: 12px;
          }
        }
      }

      .submit .btn {
        padding: 0.375rem 0.75rem;
        min-width: 240px;
        font-size: 1rem;
      }
    }
  }
}

@media all and (max-width: 576px) {
  .form-control {
    font-size: 0.9rem;
  }

  .submit .btn {
    width: 100%;
  }
}
/* mobile media queries end */
