<div class="content no-padding col-12">
  <div *ngIf="isLoaded">
    <form
      [formGroup]="form"
      (ngSubmit)="isChangeAction ? changeInfo() : reviewOrder()"
      novalidate
    >
      <div class="row d-block d-md-flex">
        <div class="panel-left d-flex flex-column flex-md-row col-12 p-0">
          <div
            class="plan-info col-12 col-md-6 pb-md-1"
            *ngIf="!isChangeAction"
          >
            <div class="d-flex justify-content-between align-items-center">
              <div [translate]="'YOUR_CHOICE'"></div>
              <div class="form-group mb-0">
                <select
                  name="currency"
                  id="currency"
                  class="form-control"
                  formControlName="Currency"
                >
                  <option *ngFor="let cur of currencies" [ngValue]="cur">
                    {{ cur }}
                  </option>
                </select>
              </div>
            </div>
            <div
              *ngFor="
                let selectedPlanStrategy of selectedPlan.Strategies[
                  form.value.Currency
                ];
                let i = index
              "
            >
              <div class="selected-plan" *ngIf="i !== 0">
                {{ "AFTER_THAT" | translate }}
              </div>
              <div class="d-flex">
                <div
                  class="selected-plan"
                  *ngIf="
                    selectedPlanStrategy.length > 1 &&
                    selectedPlanStrategy.Count !== null
                  "
                >
                  <span *ngIf="i === 0">{{ "FIRST" | translate }} </span>
                  <span *ngIf="selectedPlanStrategy.Count > 1">{{
                    selectedPlanStrategy.Count
                  }}</span>
                  <span *ngIf="selectedPlanStrategy.Count > 1">{{
                    "INTERVAL_NAMES_" +
                      selectedPlanStrategy.RecurrenceIntervalId | translate
                  }}</span>
                  <span *ngIf="selectedPlanStrategy.Count === 1">{{
                    "INTERVAL_NAME_" + selectedPlanStrategy.RecurrenceIntervalId
                      | translate
                  }}</span>
                  <span class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PriceWithDiscount
                        | currency: form.value.Currency:"symbol"
                    }}
                  </span>
                </div>
                <div
                  class="selected-plan"
                  *ngIf="
                    (selectedPlanStrategy.length === 1 ||
                      selectedPlanStrategy.Count === null) &&
                    !selectedPlan.IsMultiAccount
                  "
                >
                  <span>{{
                    "PREMIUM_" + selectedPlanStrategy.RecurrenceIntervalId
                      | translate
                  }}</span>
                  <span class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PriceWithDiscount
                        | currency: form.value.Currency:"symbol"
                    }}
                  </span>
                </div>
                <div
                  class="selected-plan"
                  *ngIf="
                    (selectedPlanStrategy.length === 1 ||
                      selectedPlanStrategy.Count === null) &&
                    selectedPlan.IsMultiAccount
                  "
                >
                  <span>{{
                    selectedPlan.Name +
                      "_" +
                      selectedPlanStrategy.RecurrenceIntervalId | translate
                  }}</span>
                  <span
                    *ngIf="selectedPlan && !selectedPlan.IsPrePaid"
                    class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PricePerMember
                        | currency: form.value.Currency:"symbol"
                    }}
                    <span
                      *ngIf="
                        selectedPlanStrategy && selectedPlanStrategy.IsPerMember
                      "
                      >{{ "PER_USER" | translate }}</span
                    >
                  </span>
                  <span
                    *ngIf="selectedPlan && selectedPlan.IsPrePaid"
                    class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PriceWithDiscount
                        | currency: form.value.Currency:"symbol"
                    }}
                  </span>
                </div>
              </div>
            </div>
            <span *ngIf="selectedPlan && selectedPlan.IsPromo">{{
              "NOT_REFUNDABLE_OFFER" | translate
            }}</span
            ><br />
            <span *ngIf="selectedPlan && selectedPlan.IsPromo">{{
              "CANCEL_ANYTIME" | translate
            }}</span>
          </div>
          <div class="payment-selection col-12 col-md-6 pb-md-1">
            {{ "SELECT_PAYMENT" | translate }}
            <div class="d-flex col-12 p-0">
              <div class="sub-selection pb-1 col-12 p-0">
                <div class="radio my-2 my-lg-0 d-flex">
                  <div class="col-6 p-0">
                    <input
                      type="radio"
                      id="credit"
                      name="PaymentMethod"
                      value="credit"
                      formControlName="PaymentMethod"
                    />
                    <label for="credit" [translate]="'CREDIT_CARD'"></label>
                  </div>
                  <div
                    class="col-6 p-0 d-flex align-items-center justify-content-center"
                  >
                    <img
                      src="/Images/visa-americanexpress-mastercard-discover.png"
                    />
                  </div>
                </div>
                <div class="radio my-2 my-lg-0 d-flex">
                  <div class="col-6 p-0">
                    <input
                      type="radio"
                      id="paypal"
                      name="PaymentMethod"
                      value="paypal"
                      formControlName="PaymentMethod"
                    />
                    <label for="paypal" [translate]="'PAYPAL'"></label>
                  </div>
                  <div
                    class="col-6 p-0 d-flex align-items-center justify-content-center"
                  >
                    <img src="/Images/paypal.png" />
                  </div>
                </div>
                <div
                  class="radio my-2 my-lg-0"
                  *ngIf="selectedPlan && !selectedPlan.IsPrePaid"
                >
                  <input
                    type="radio"
                    id="other"
                    name="PaymentMethod"
                    value="other"
                    formControlName="PaymentMethod"
                  />
                  <label for="other" [translate]="'OTHER'"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-right col-12 p-0">
          <div
            class="text py-md-2"
            *ngIf="form.value.PaymentMethod == 'credit'"
            [translate]="'ENTER_BILLING_INFORMATION'"
            @expandAnimation
          ></div>
          <div
            class="form-holder d-flex flex-column flex-md-row"
            *ngIf="form.value.PaymentMethod == 'credit'"
            @expandAnimation
          >
            <div
              formGroupName="address"
              class="d-flex flex-wrap col-12 col-md-6 p-0 pr-md-3"
            >
              <div class="form-group col-6 px-1">
                <input
                  placement="bottom"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.FirstName ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  type="text"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_FIRST_NAME' | translate
                  }}"
                  name="fname"
                  autocomplete="given-name"
                  id="firstname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.FirstName }"
                  maxlength="50"
                  formControlName="FirstName"
                  (ngModelChange)="invalid.FirstName = false"
                />
              </div>
              <div class="form-group col-6 px-1">
                <input
                  placement="bottom"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.LastName ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  type="text"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_LAST_NAME' | translate
                  }}"
                  name="lname"
                  autocomplete="family-name"
                  id="lastname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.LastName }"
                  maxlength="50"
                  formControlName="LastName"
                  (ngModelChange)="invalid.LastName = false"
                />
              </div>

              <div
                class="form-group px-1 col-12"
                [ngClass]="
                  states && states.length > 0 ? 'col-md-6' : 'col-md-12'
                "
              >
                <input
                  placement="bottom"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Email ? ('EMAIL_ADDRESS_INVALID' | translate) : ''
                  }}"
                  type="email"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_EMAIL' | translate }}"
                  name="email"
                  id="email"
                  autocomplete="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Email }"
                  maxlength="127"
                  formControlName="Email"
                  (ngModelChange)="invalid.Email = false"
                />
              </div>

              <div class="form-group col-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Company ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  type="text"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_COMPANY' | translate }}"
                  name="company"
                  id="company"
                  autocomplete="organization"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Company }"
                  maxlength="70"
                  formControlName="Company"
                  (ngModelChange)="invalid.Company = false"
                />
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="states && states.length > 0"
              >
                <select
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.StateProvinceId
                      ? ('REQUIRED_FIELD' | translate)
                      : ''
                  }}"
                  name="state"
                  autocomplete="address-level1"
                  id="state"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.StateProvinceId }"
                  formControlName="StateProvinceId"
                  (ngModelChange)="invalid.StateProvinceId = false"
                >
                  <option selected="selected" [ngValue]="null">
                    {{ "PURCHASE_FORM_LABEL_STATE" | translate }}
                  </option>
                  <option *ngFor="let state of states" [value]="state.Id">
                    {{ state.Name }}
                  </option>
                </select>
              </div>

              <div
                class="form-group px-1 col-md-6"
                [ngClass]="states && states.length > 0 ? 'col-12' : 'col-6'"
              >
                <select
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.CountryId ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  #country
                  name="country"
                  autocomplete="country"
                  id="country"
                  class="form-control"
                  (focus)="countryFocus()"
                  [ngClass]="{ 'is-invalid': invalid.CountryId }"
                  formControlName="CountryId"
                  (change)="invalid.CountryId = false; stateDetect()"
                >
                  <option selected="selected" [ngValue]="null">
                    {{ "PURCHASE_FORM_LABEL_COUNTRY" | translate }}
                  </option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.Id"
                  >
                    {{ country.Name }}
                  </option>
                </select>
              </div>

              <div class="form-group col-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.City ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_CITY' | translate }}"
                  type="text"
                  name="city"
                  id="city"
                  autocomplete="address-level2"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.City }"
                  maxlength="50"
                  formControlName="City"
                  (ngModelChange)="invalid.City = false"
                />
              </div>
              <div class="form-group col-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Address1 ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_STREET' | translate }}"
                  type="text"
                  name="address"
                  id="address1"
                  autocomplete="street-address"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Address1 }"
                  maxlength="70"
                  formControlName="Address1"
                  (ngModelChange)="invalid.Address1 = false"
                />
              </div>
              <div class="form-group col-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.ZipPostalCode ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_ZIP' | translate }}"
                  type="text"
                  name="zip"
                  id="zip"
                  class="form-control"
                  autocomplete="postal-code"
                  [ngClass]="{ 'is-invalid': invalid.ZipPostalCode }"
                  maxlength="10"
                  formControlName="ZipPostalCode"
                  (ngModelChange)="invalid.ZipPostalCode = false"
                />
              </div>
              <div class="form-group col-6 px-1">
                <input
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_PHONE_OPTIONAL' | translate
                  }}"
                  type="tel"
                  name="phone"
                  id="phone"
                  autocomplete="tel"
                  class="form-control"
                  maxlength="50"
                  formControlName="PhoneNumber"
                />
              </div>
            </div>
            <div
              formGroupName="PaymentInformation"
              name="billing"
              class="d-flex flex-wrap col-12 col-md-6 p-0 pl-md-3"
            >
              <div class="form-group col-12 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Number ? ('WRONG_CARD_NUMBER' | translate) : ''
                  }}"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_CARD_NUMBER' | translate
                  }}"
                  type="text"
                  name="cardnumber"
                  autocomplete="cc-number"
                  id="ccnumber"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Number }"
                  maxlength="19"
                  formControlName="Number"
                  (ngModelChange)="invalid.Number = false"
                />
              </div>
              <div class="form-group col-4 col-md-4 px-1">
                <select
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Type ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  #cardType
                  name="card-type"
                  id="cc-type"
                  autocomplete="cc-type"
                  (focus)="cardTypeFocus()"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Type }"
                  formControlName="Type"
                  (ngModelChange)="invalid.Type = false"
                >
                  <option [ngValue]="null" selcted="selected">
                    {{ "PURCHASE_FORM_LABEL_CARD_TYPE" | translate }}
                  </option>
                  <option *ngFor="let card of cards" [value]="card">
                    {{ card }}
                  </option>
                </select>
              </div>
              <div
                class="form-group col-8 col-md-8 px-1 d-flex"
                placement="top"
                tooltipClass="white-tooltip-red-text"
                ngbTooltip="{{
                  invalid.ExpirationMonth || invalid.ExpirationYear
                    ? ('WRONG_DATE' | translate)
                    : ''
                }}"
              >
                <div class="col-6 pr-1 pl-0">
                  <select
                    class="col-12 form-control"
                    #month
                    name="ccmonth"
                    autocomplete="cc-exp-month"
                    id="cc-exp-month"
                    (focus)="monthFocus()"
                    [ngClass]="{ 'is-invalid': invalid.ExpirationMonth }"
                    formControlName="ExpirationMonth"
                    (ngModelChange)="invalid.ExpirationMonth = false"
                  >
                    <option [ngValue]="null" selected="selected">
                      {{ "PURCHASE_FORM_LABEL_EXPIRATION_DATE" | translate }}
                    </option>
                    <option *ngFor="let month of months" [value]="month">
                      {{ month }}
                    </option>
                  </select>
                </div>
                <div class="col-6 pl-1 pr-0">
                  <select
                    class="col-12 form-control"
                    #year
                    name="ccyear"
                    autocomplete="cc-exp-year"
                    id="cc-exp-year"
                    (focus)="yearFocus()"
                    [ngClass]="{ 'is-invalid': invalid.ExpirationYear }"
                    formControlName="ExpirationYear"
                    (ngModelChange)="invalid.ExpirationYear = false"
                  >
                    <option [ngValue]="null" selected="selected">YYYY</option>
                    <option *ngFor="let year of years" [value]="year">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col-6 col-md-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalid.Code ? ('WRONG_CVV' | translate) : ''
                  }}"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_SECURITY_CODE' | translate
                  }}"
                  type="text"
                  name="cvc"
                  id="cvv"
                  autocomplete="cc-csc"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalid.Code }"
                  maxlength="4"
                  formControlName="Code"
                  (ngModelChange)="invalid.Code = false"
                />
              </div>
              <div
                class="form-group col-12 px-1 d-flex checkbox height-40px"
                [formGroup]="form"
              >
                <input
                  type="checkbox"
                  id="policy"
                  name="Policy"
                  value="true"
                  formControlName="Policy"
                />
                <label
                  for="policy"
                  [innerHTML]="'PURCHASE_ACCEPT_TOS' | translate"
                ></label>
              </div>
              <div class="form-group col-12 px-1 d-flex mt-2 mt-sm-0">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm mr-lg-1"
                  [translate]="'REVIEW_ORDER'"
                  *ngIf="!isChangeAction"
                ></button>
                <button
                  type="submit"
                  class="btn btn-primary btn-sm mr-lg-1"
                  [translate]="'SAVE'"
                  *ngIf="isChangeAction"
                ></button>
              </div>
            </div>
          </div>
          <div
            class="text"
            *ngIf="form.value.PaymentMethod == 'other'"
            [translate]="'ENTER_CONTACT_INFORMATION'"
            @expandAnimation
          ></div>
          <div
            class="form-holder"
            *ngIf="form.value.PaymentMethod == 'other'"
            @expandAnimation
          >
            <div formGroupName="Contact" class="d-flex flex-wrap">
              <div class="form-group form-group col-12 col-sm-6 px-1">
                <input
                  placement="bottom"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalidContact.UsersToSync
                      ? ('REQUIRED_FIELD' | translate)
                      : ''
                  }}"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_HOW_MANY_USERS' | translate
                  }}"
                  type="number"
                  min="1"
                  name="contact_usersToSync"
                  id="contact_usersToSync"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidContact.UsersToSync }"
                  formControlName="UsersToSync"
                  (ngModelChange)="invalidContact.UsersToSync = false"
                  required
                />
              </div>
              <div class="form-group form-group col-12 col-sm-6 px-1">
                <input
                  placement="bottom"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalidContact.FullName
                      ? ('REQUIRED_FIELD' | translate)
                      : ''
                  }}"
                  placeholder="{{
                    'PURCHASE_FORM_LABEL_FULL_NAME' | translate
                  }}"
                  type="text"
                  name="name"
                  autocomplete="name"
                  id="contact_fullname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidContact.FullName }"
                  maxlength="50"
                  formControlName="FullName"
                  (ngModelChange)="invalidContact.FullName = false"
                />
              </div>
              <div class="form-group form-group col-12 col-sm-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalidContact.Email
                      ? ('EMAIL_ADDRESS_INVALID' | translate)
                      : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_EMAIL' | translate }}"
                  type="email"
                  name="email"
                  autocomplete="email"
                  id="contact_email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidContact.Email }"
                  maxlength="127"
                  formControlName="Email"
                  (ngModelChange)="invalidContact.Email = false"
                />
              </div>
              <div class="form-group form-group col-6 px-1">
                <input
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalidContact.Company ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_COMPANY' | translate }}"
                  type="text"
                  name="contact_company"
                  autocomplete="organization"
                  id="contact_company"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidContact.Company }"
                  maxlength="70"
                  formControlName="Company"
                  (ngModelChange)="invalidContact.Company = false"
                />
              </div>

              <div class="form-group form-group col-6 px-1">
                <select
                  placement="top"
                  tooltipClass="white-tooltip-red-text"
                  ngbTooltip="{{
                    invalidContact.CountryId
                      ? ('REQUIRED_FIELD' | translate)
                      : ''
                  }}"
                  name="country"
                  autocomplete="country"
                  id="contact_country"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': invalidContact.CountryId }"
                  formControlName="CountryId"
                  (change)="invalidContact.CountryId = false; stateDetect()"
                >
                  <option value="null">
                    {{ "PURCHASE_FORM_LABEL_COUNTRY" | translate }}
                  </option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.Id"
                  >
                    {{ country.Name }}
                  </option>
                </select>
              </div>
              <div
                placement="top"
                tooltipClass="white-tooltip-red-text"
                ngbTooltip="{{
                  invalidContact.Number ? ('REQUIRED_FIELD' | translate) : ''
                }}"
                class="form-group form-group col-12 col-sm-6 px-1"
              >
                <input
                  placeholder="{{ 'PURCHASE_FORM_LABEL_PHONE' | translate }}"
                  type="tel"
                  name="phone"
                  autocomplete="tel"
                  id="contact_number"
                  class="form-control"
                  maxlength="50"
                  formControlName="PhoneNumber"
                  [ngClass]="{ 'is-invalid': invalidContact.Number }"
                  (ngModelChange)="invalidContact.Number = false"
                />
              </div>
            </div>
          </div>
          <div
            class="form-group policy d-flex flex-column flex-lg-row"
            [ngClass]="{ 'pt-0': form.value.PaymentMethod === 'other' }"
            *ngIf="form.value.PaymentMethod !== 'credit'"
          >
            <div
              class="form-group other-method-disclaimer px-1 col-12 col-lg-8"
              *ngIf="form.value.PaymentMethod == 'other'"
            >
              <span
                [translate]="'PURCHASE_FORM_OTHER_METHOD_DISCLAIMER'"
              ></span>
            </div>
            <div
              class="checkbox px-1 col-12 col-lg-8"
              *ngIf="form.value.PaymentMethod !== 'other'"
            >
              <input
                type="checkbox"
                id="policy"
                name="Policy"
                value="true"
                formControlName="Policy"
              />
              <label
                for="policy"
                [innerHTML]="'PURCHASE_ACCEPT_TOS' | translate"
              ></label>
            </div>
            <div
              class="col-12 col-lg-4 my-3 px-0 px-lg-3 my-lg-0 d-flex justify-content-center justify-content-lg-end align-items-center submit"
            >
              <button
                type="submit"
                class="btn btn-primary btn-sm mr-lg-1"
                [translate]="'REVIEW_ORDER'"
                *ngIf="!isChangeAction"
              ></button>
              <button
                type="submit"
                class="btn btn-primary btn-sm mr-lg-1"
                [translate]="'UPDATE'"
                *ngIf="isChangeAction && form.value.PaymentMethod == 'paypal'"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
