<div class="content p-0">
  <div *ngIf="isLoaded">
    <p class="m-3">{{ "SELECT_USERS_MAILBOXES_TO_SYNC" | translate }}</p>
    <p class="m-3">
      <b
        >{{ selected }} {{ "OUT_OF" | translate }} {{ users.length }}
        {{ "USERS_SELECTED" | translate }}</b
      >
    </p>
    <form [formGroup]="form" (ngSubmit)="onNext()">
      <div class="px-3 py-3 bg-white select-all">
        <div class="d-flex flex-column pl-1">
          <div
            class="d-flex pl-0 justify-content-start align-items-center checkbox"
          >
            <input
              type="checkbox"
              (click)="toggleAll()"
              [indeterminate]="isIndeterminate"
              id="checkbox-all"
              formControlName="allSelected"
            />
            <label
              for="checkbox-all"
              [ngClass]="{ indeterminate: isIndeterminate }"
              class="align-bottom mb-0 font-weight-bold"
              ><b>{{ "SELECT_ALL" | translate }}</b></label
            >
          </div>
        </div>
      </div>

      <ul
        class="mobile-list list-group list-group-flush mb-1 m-toggle-list px-3 px-lg-0 pb-0"
        formArrayName="users"
      >
        <li
          class="list-group-item px-3 py-2 bg-white"
          *ngFor="let user of users; let i = index"
          [formGroupName]="i"
        >
          <div class="d-flex flex-column pl-1">
            <div class="d-flex text-overflow-hidden">
              <div
                class="d-flex first-col pl-0 justify-content-start align-items-center checkbox"
              >
                <input
                  type="checkbox"
                  (click)="toggleSelection(i)"
                  id="{{ 'IsSelected' + i }}"
                  name="IsSelected"
                  formControlName="IsSelected"
                />
                <label
                  for="{{ 'IsSelected' + i }}"
                  class="text-overflow-hidden"
                ></label>
              </div>
              <div
                class="d-flex flex-column second-col pl-0 justify-content-center"
              >
                <div>
                  <span title="{{ user.value.Name }}" class="text-capitalize">{{
                    user.value.Name
                  }}</span>
                </div>
                <span title="{{ user.value.Email }}">{{
                  user.value.Email
                }}</span>
              </div>
            </div>

            <div
              *ngIf="user.value.IsUsedByOthers"
              class="d-flex py-1 user-already-added"
            >
              <div
                class="d-flex flex-column first-col px-0 justify-content-center align-items-start"
              >
                <svg class="exclamark-icon">
                  <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
                </svg>
              </div>
              <div
                class="d-flex flex-column second-col px-0 justify-content-center"
              >
                <span> {{ "BULK_ACCOUNT_USED_BY_OTHERS" | translate }}</span>
              </div>
            </div>
          </div>
        </li>

        <li
          class="list-group-item px-3 py-2 bg-white"
          *ngIf="users.length === 0"
        >
          {{ "NO_USERS_FOUND" | translate }}...
        </li>
      </ul>
      <div
        class="d-flex align-items-center justify-content-center justify-content-sm-start col-12 p-0"
      >
        <button
          type="submit"
          class="btn btn-sm btn-primary m-3 col-sm-3 col-11 d-flex justify-content-center align-self-center text-center"
          [disabled]="selected === 0"
        >
          <span class="m-auto d-flex align-items-center justify-content-center">
            {{ "CONFIRM" | translate }}
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
