.exclamark-icon {
  fill: #ef452e;
  width: 20px;
  height: 20px;
  margin-left: -1px;
}

.first-col {
  width: 30px;
}

.second-col {
  width: calc(100% - 30px);
}

.select-all {
  border-top: 1px solid rgba(0, 0, 0, 0.125);

  label {
    color: #212529;
    padding-left: 30px;
  }
}

ul {
  div,
  span {
    word-break: break-all;
  }

  .user-already-added span {
    word-break: break-word;
  }

  label {
    margin-bottom: 18px !important;
  }
}

label.indeterminate {
  &:before {
    border: 2px solid #2972d8;
    background: #2972d8;
    transition: all 0.3s;
  }

  &:after {
    color: #fff;
    transform: scale(1) rotate(0deg);
    border-left: none;
    transition: all 0s;
    opacity: 1;
    top: 4px;
    left: 2px;
    height: 6px;
    width: 14px;
  }
}
