<header class="d-none d-md-block d-print-none">
  <a
    [routerLink]="['/share/manage-shared-calendars']"
    *ngIf="sharingApp"
    [class.active]="
      currentRoute.indexOf('share') > -1 &&
      currentRoute.indexOf('synchronization') === -1
    "
    >{{ "HEADER_SHARE" | translate | lowercase }}</a
  >
  <a
    [routerLink]="['/synchronization/status']"
    [class.active]="
      currentRoute.indexOf('synchronization') > -1 &&
      currentRoute.indexOf('restore') === -1
    "
    >{{ "HEADER_SYNC" | translate | lowercase }}</a
  >
  <a
    [routerLink]="['/share/manage-shared-calendars']"
    *ngIf="user && !sharingApp"
    [class.active]="
      currentRoute.indexOf('share') > -1 &&
      currentRoute.indexOf('synchronization') === -1
    "
    >{{ "HEADER_SHARE" | translate | lowercase }}</a
  >
  <a [routerLink]="['/synchronization/restore']" routerLinkActive="active">{{
    "HEADER_BACKUP" | translate | lowercase
  }}</a>
  <a [routerLink]="['/account/notifications']" routerLinkActive="active">{{
    "HEADER_NOTIFICATIONS" | translate | lowercase
  }}</a>
</header>
