.wizard-footer {
  ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        text-transform: uppercase;
        color: #666;
      }
    }
  }
}

@media all and (max-width: 991px) {
  .wizard-footer {
    ul {
      text-align: center;
    }
  }
}

@media all and (max-width: 575px) {
  .wizard-footer {
    ul li a {
      font-size: 15px;
    }
  }
}
