<div class="wizard-footer">
  <ul>
    <li class="d-none d-md-inline">
      <a
        href="http://www.syncgene.com/livehelp?external=true"
        target="_blank"
        [translate]="'CONTACT_US'"
      ></a>
    </li>
    <li>
      <a
        href="http://www.syncgene.com/webhelp/Content/Home.htm?external=true"
        target="_blank"
        [translate]="'HELP'"
      ></a>
    </li>
    <li>
      <a
        href="http://www.syncgene.com/privacy-policy?external=true"
        target="_blank"
        [translate]="'PRIVACY'"
      ></a>
    </li>
    <li>
      <a
        href="http://www.syncgene.com/terms-of-use?external=true"
        target="_blank"
        [translate]="'TERMS'"
      ></a>
    </li>
  </ul>
</div>
