<div class="content col-12 cancel-confirm">
  <div *ngIf="loaded">
    <p [translate]="'ARE_YOU_SURE_TO_CANCEL'"></p>
    <ul>
      <li
        *ngIf="settings.SomeAccountsWillBeDisabled"
        [translate]="'FEATURE_1'"
      ></li>
      <li [translate]="'FEATURE_2'"></li>
      <li
        *ngIf="settings.SomeCalendarsSharingWillBeRemoved"
        [translate]="'FEATURE_3'"
      ></li>
      <li
        *ngIf="settings.PublicSharingLinkWillBeRemoved"
        [translate]="'FEATURE_4'"
      ></li>
      <li
        *ngIf="settings.SomeAcceptedCalendarsSharingWillBeRemoved"
        [translate]="'FEATURE_5'"
      ></li>
      <li *ngIf="settings.ContactsInSync" [translate]="'FEATURE_7'"></li>
      <li [innerHtml]="'OTHER_LIMITATIONS' | translate"></li>
    </ul>
    <div *ngIf="settings.LastMonthsSyncsCount > 0">
      <p class="mt-4" [translate]="'DURING_THE_LAST_MONTH'"></p>
      <div class="row">
        <div class="col-12 col-sm-6 text-center graph">
          <img src="/Images/auto-emails/synced.png" />
          <div class="changes mx-auto">
            <div class="count">{{ settings.LastMonthsChangesCount }}</div>
            <div class="label" [translate]="'CHANGES'"></div>
          </div>
        </div>
        <div class="col-12 col-sm-6 text-center number">
          <h2 [translate]="'NUMBER_OF_SYNCS'"></h2>
          <span class="count">{{ settings.LastMonthsSyncsCount }}</span>
        </div>
      </div>
    </div>
    <p class="mt-4" [translate]="'CANCEL_ON_PAYPAL'"></p>
    <div class="action-controls text-center">
      <button
        type="button"
        class="btn btn-primary"
        (click)="finish()"
        [translate]="'FINISH_CANCELLATION'"
      ></button>
      <a
        [routerLink]="['/billing']"
        class="btn btn-primary"
        [translate]="'KEEP_SUBSCRIPTION'"
      ></a>
    </div>
  </div>
</div>
