<div class="content no-padding col-12">
  <div *ngIf="isLoaded">
    <form [formGroup]="form" (ngSubmit)="continue()" novalidate>
      <div class="row">
        <div class="panel-left">
          <div class="plan-info">
            <div class="d-flex justify-content-between align-items-center">
              <div [translate]="'YOUR_CHOICE'"></div>
              <div class="form-group mb-0">
                <select
                  name="currency"
                  id="currency"
                  class="form-control"
                  formControlName="Currency"
                >
                  <option *ngFor="let cur of currencies" [ngValue]="cur">
                    {{ cur }}
                  </option>
                </select>
              </div>
            </div>
            <div
              *ngFor="
                let selectedPlanStrategy of selectedPlan.Strategies[
                  form.value.Currency
                ];
                let i = index
              "
            >
              <div class="selected-plan" *ngIf="i !== 0">
                {{ "AFTER_THAT" | translate }}
              </div>
              <div class="d-flex">
                <div
                  class="selected-plan"
                  *ngIf="
                    selectedPlanStrategy.length > 1 &&
                    selectedPlanStrategy.Count !== null
                  "
                >
                  <span *ngIf="i === 0">{{ "FIRST" | translate }} </span>
                  <span *ngIf="selectedPlanStrategy.Count > 1">{{
                    selectedPlanStrategy.Count
                  }}</span>
                  <span *ngIf="selectedPlanStrategy.Count > 1">{{
                    "INTERVAL_NAMES_" +
                      selectedPlanStrategy.RecurrenceIntervalId | translate
                  }}</span>
                  <span *ngIf="selectedPlanStrategy.Count === 1">{{
                    "INTERVAL_NAME_" + selectedPlanStrategy.RecurrenceIntervalId
                      | translate
                  }}</span>
                  <span class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PriceWithDiscount
                        | currency: form.value.Currency:"symbol"
                    }}
                  </span>
                </div>
                <div
                  class="selected-plan"
                  *ngIf="
                    selectedPlanStrategy.length === 1 ||
                    selectedPlanStrategy.Count === null
                  "
                >
                  <span>{{
                    selectedPlan.Name +
                      "_" +
                      selectedPlanStrategy.RecurrenceIntervalId | translate
                  }}</span>
                  <span
                    *ngIf="!selectedPlan.IsPrePaid"
                    class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PricePerMember
                        | currency: form.value.Currency:"symbol"
                    }}
                    <span
                      *ngIf="
                        selectedPlanStrategy && selectedPlanStrategy.IsPerMember
                      "
                      >{{ "PER_USER" | translate }}</span
                    >
                  </span>
                  <span
                    *ngIf="selectedPlan.IsPrePaid"
                    class="selected-plan ml-2"
                    >:
                    {{
                      selectedPlanStrategy.PriceWithDiscount
                        | currency: form.value.Currency:"symbol"
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-right">
          <div class="text">
            {{ "ENTER_COMPANY_INFORMATION" | translate }}
            <span [translate]="'SOME_INFO_WILL_BE_SHOWN_WHEN_INVITING'"></span>
            <div
              *ngIf="selectedPlan.IsPrePaid"
              formGroupName="CompanyInfo"
              class="d-flex flex-column"
            >
              <div class="radio col-12 px-1">
                <input
                  type="radio"
                  id="companyType"
                  name="CompanyType"
                  formControlName="CompanyType"
                  value="1"
                />
                <label
                  for="companyType"
                  [translate]="'PURCHASE_FORM_LABEL_COMPANY'"
                ></label>
              </div>
              <div class="radio col-12 px-1">
                <input
                  type="radio"
                  id="family"
                  name="CompanyType"
                  formControlName="CompanyType"
                  value="2"
                />
                <label
                  for="family"
                  [translate]="'PURCHASE_FORM_LABEL_FAMILY'"
                ></label>
              </div>
            </div>
          </div>
          <div class="form-holder pt-3">
            <div formGroupName="CompanyInfo" class="d-flex flex-wrap">
              <div class="form-group col-12 pl-1 px-1 d-md-none">
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="bottom"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_EMAIL' | translate }}"
                  type="email"
                  autocomplete="email"
                  name="email"
                  id="email"
                  class="form-control"
                  [ngClass]="
                    form.get('email')?.invalid &&
                    (form.get('email')?.dirty || form.get('email')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  maxlength="127"
                  formControlName="email"
                />
                <app-show-errors
                  [control]="form.get('email')!"
                  [errorMessage]="emailErrorList"
                ></app-show-errors>
              </div>
              <div class="form-group col-6 pl-0 px-1">
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="bottom"
                  placeholder="{{
                    (form.value.CompanyInfo.CompanyType == 1
                      ? 'PURCHASE_FORM_LABEL_COMPANY'
                      : 'PURCHASE_FORM_LABEL_FAMILY_SHORTER'
                    ) | translate
                  }}"
                  type="text"
                  name="company"
                  id="company"
                  autocomplete="organization"
                  class="form-control"
                  [ngClass]="
                    form.get('company')?.invalid &&
                    (form.get('company')?.dirty || form.get('company')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  maxlength="70"
                  formControlName="company"
                />
                <app-show-errors
                  [control]="form.get('company')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div class="form-group col-6 pl-1 px-1 d-none d-md-block">
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="bottom"
                  ngbTooltip="{{
                    invalid.Email ? ('EMAIL_ADDRESS_INVALID' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_EMAIL' | translate }}"
                  type="email"
                  autocomplete="email"
                  name="email"
                  id="email"
                  class="form-control"
                  [ngClass]="
                    form.get('email')?.invalid &&
                    (form.get('email')?.dirty || form.get('email')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  maxlength="127"
                  formControlName="Email"
                />
                <app-show-errors
                  [control]="form.get('email')!"
                  [errorMessage]="emailErrorList"
                ></app-show-errors>
              </div>
              <div class="form-group col-6 pl-0 px-1">
                <select
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  name="countryId"
                  id="countryId"
                  autocomplete="countryId"
                  class="form-control"
                  [ngClass]="
                    form.get('countryId')?.invalid &&
                    (form.get('countryId')?.dirty ||
                      form.get('countryId')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  formControlName="countryId"
                  (change)="invalid.CountryId = false; stateDetect()"
                >
                  <option [ngValue]="null">
                    {{ "PURCHASE_FORM_LABEL_COUNTRY" | translate }}
                  </option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.Id"
                  >
                    {{ country.Name }}
                  </option>
                </select>
                <app-show-errors
                  [control]="form.get('countryId')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="
                  form.value.CompanyInfo.CompanyType == 1 &&
                  states &&
                  states.length > 0
                "
                @expandAnimation
              >
                <select
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  name="stateProvinceId"
                  autocomplete="address-level1"
                  id="stateProvinceId"
                  class="form-control"
                  [ngClass]="
                    form.get('stateProvinceId')?.invalid &&
                    (form.get('stateProvinceId')?.dirty ||
                      form.get('stateProvinceId')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  formControlName="stateProvinceId"
                >
                  <option [ngValue]="null">
                    {{ "PURCHASE_FORM_LABEL_STATE" | translate }}
                  </option>
                  <option *ngFor="let state of states" [value]="state.Id">
                    {{ state.Name }}
                  </option>
                </select>
                <app-show-errors
                  [control]="form.get('stateProvinceId')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="form.value.CompanyInfo.CompanyType == 1"
                @expandAnimation
              >
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  ngbTooltip="{{
                    invalid.City ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_CITY' | translate }}"
                  type="text"
                  name="city"
                  autocomplete="address-level2"
                  id="city"
                  class="form-control"
                  [ngClass]="
                    form.get('city')?.invalid &&
                    (form.get('city')?.dirty || form.get('city')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  maxlength="50"
                  formControlName="city"
                />
                <app-show-errors
                  [control]="form.get('city')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="form.value.CompanyInfo.CompanyType == 1"
                @expandAnimation
              >
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_STREET' | translate }}"
                  type="text"
                  autocomplete="street-address"
                  name="address"
                  id="address1"
                  class="form-control"
                  maxlength="70"
                  formControlName="address1"
                  [ngClass]="
                    form.get('address1')?.invalid &&
                    (form.get('address1')?.dirty ||
                      form.get('address1')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                />
                <app-show-errors
                  [control]="form.get('address1')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="form.value.CompanyInfo.CompanyType == 1"
                @expandAnimation
              >
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_ZIP' | translate }}"
                  type="text"
                  name="zipPostalCode"
                  autocomplete="postal-code"
                  id="zipPostalCode"
                  class="form-control"
                  maxlength="10"
                  formControlName="zipPostalCode"
                  [ngClass]="
                    form.get('zipPostalCode')?.invalid &&
                    (form.get('zipPostalCode')?.dirty ||
                      form.get('zipPostalCode')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                />
                <app-show-errors
                  [control]="form.get('zipPostalCode')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
              <div
                class="form-group col-6 px-1"
                *ngIf="form.value.CompanyInfo.CompanyType == 1"
                @expandAnimation
              >
                <input
                  tooltipClass="white-tooltip-red-text"
                  placement="top"
                  ngbTooltip="{{
                    invalid.PhoneNumber ? ('REQUIRED_FIELD' | translate) : ''
                  }}"
                  placeholder="{{ 'PURCHASE_FORM_LABEL_PHONE' | translate }}"
                  type="tel"
                  name="phoneNumber"
                  autocomplete="tel"
                  id="phoneNumber"
                  class="form-control"
                  [ngClass]="
                    form.get('phoneNumber')?.invalid &&
                    (form.get('phoneNumber')?.dirty ||
                      form.get('phoneNumber')?.touched)
                      ? 'is-invalid'
                      : ''
                  "
                  maxlength="50"
                  formControlName="phoneNumber"
                />
                <app-show-errors
                  [control]="form.get('phoneNumber')!"
                  [errorMessage]="requiredErrorList"
                ></app-show-errors>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [translate]="'CONTINUE'"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
