.panel-left {
  background-color: #f2f2f2;

  .text,
  .billing-info {
    padding: 15px;
    border-bottom: 1px solid #d2d2d2;
  }

  .billing-info {
    .info-header {
      line-height: 22px;
      margin-bottom: 18px;

      .title {
        width: 85%;
        float: left;
        font-size: 22px;
      }

      .edit {
        float: left;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
      }
    }

    .info-content {
      font-size: 14px;
      font-weight: 500;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
}

.panel-right {
  .preview-header {
    margin: 12px 0 0 20px;
    padding-bottom: 13px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
  }

  .preview-prices,
  .preview-payment,
  .preview-promo {
    padding-left: 60px;

    .row {
      padding: 12px 0;
      margin: 2px 0;
      font-weight: 500;
      .enterprise-text {
        font-size: 12px;
      }

      .col-7,
      .col-8,
      .col-12 {
        padding-left: 0;
      }
    }
  }

  .preview-payment,
  .preview-promo {
    .col-7,
    .col-8 {
      line-height: 36px;
    }
  }

  .preview-promo {
    .col-md-6 {
      &.promo-text {
        padding-left: 0;
      }
    }

    .btn {
      min-width: 80px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .note {
    margin-top: 20px;
    color: #ed1722;
    font-weight: 400;
    font-size: 12px;
  }

  .subscription-extended {
    color: #999;
  }

  .blue {
    color: #2972d8;
  }

  .border-bottom {
    border-bottom: 1px solid #ccc;
  }
}

/* mobile media queries start */
@media all and (max-width: 991px) {
  .content {
    &.no-padding {
      padding: 0 15px !important;

      .panel-right {
        float: none;
        width: 100%;
        height: auto;
        overflow: hidden;

        .preview-header {
          margin: 12px 0 0 15px;
        }

        .info-header {
          .title {
            font-size: 18px;
          }

          a {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
          }
        }

        .preview-prices,
        .preview-payment,
        .preview-promo {
          padding-left: 15px;
        }
      }

      .panel-footer {
        text-align: center;
        margin: 0 0 25px;
        padding: 15px;
        box-shadow: none;
        border: none;

        .btn {
          padding: 0.375rem 0.75rem;
          min-width: 240px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  .content {
    &.no-padding {
      .panel-right {
        .preview-promo {
          .promo-text {
            margin-bottom: 0.5rem;
          }

          .btn {
            min-width: 100px;
          }
        }
      }

      .panel-footer {
        .btn {
          width: 100%;
        }
      }
    }
  }
}
/* mobile media queries end */
