<div class="content no-padding col-12" *ngIf="isLoaded">
  <form (ngSubmit)="submit()" novalidate>
    <div class="row">
      <div class="panel-left d-none d-lg-block">
        <div class="text">
          <div
            *ngIf="selectedPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY'"
            [translate]="'PURCHASE_ORDER_REVIEW_TEXT'"
          ></div>
          <span
            *ngIf="selectedPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY'"
            [translate]="'PURCHASE_ORDER_REVIEW_TEXT_ENTERPRISE'"
          ></span>
        </div>
        <div
          class="billing-info"
          *ngIf="data && data.PaymentMethod == 'credit'"
        >
          <div class="info-header">
            <div class="title">
              {{ "PURCHASE_BILLING_ADDRESS" | translate }}:
            </div>
            <div class="edit">
              <a
                [routerLink]="['/purchase/billinginformation']"
                [translate]="'EDIT'"
              ></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="info-content">
            {{ data.Address.FirstName }} {{ data.Address.LastName }}<br />
            <span *ngIf="data.Address.Address1"
              >{{ data.Address.Address1 }}<br
            /></span>
            <span *ngIf="data.Address.Address2"
              >{{ data.Address.Address2 }}<br
            /></span>
            <span *ngIf="data.Address.City">{{ data.Address.City }}, </span>
            <span *ngIf="data.Address.State">{{ data.Address.State }}, </span>
            <span *ngIf="data.Address.ZipPostalCode"
              >{{ data.Address.ZipPostalCode }}<br
            /></span>
            <span *ngIf="data.Address.Email">{{ data.Address.Email }}</span>
          </div>
        </div>
      </div>
      <div class="panel-right">
        <div
          class="preview-header"
          [translate]="'PURCHASE_ORDER_SUMMARY'"
        ></div>
        <div class="preview-prices">
          <div
            class="row border-bottom info-header d-md-none"
            *ngIf="data && data.PaymentMethod == 'credit'"
          >
            <div class="col-8 title">
              {{ "PURCHASE_BILLING_ADDRESS" | translate }}:
            </div>
            <div class="col-4 text-right">
              <a
                [routerLink]="['/purchase/billinginformation']"
                [translate]="'EDIT'"
              ></a>
            </div>
            <div class="col-12 mt-4 font-weight-normal">
              {{ data.Address.FirstName }} {{ data.Address.LastName }}<br />
              <span *ngIf="data.Address.Address1"
                >{{ data.Address.Address1 }}<br
              /></span>
              <span *ngIf="data.Address.Address2"
                >{{ data.Address.Address2 }}<br
              /></span>
              <span *ngIf="data.Address.City">{{ data.Address.City }}, </span>
              <span *ngIf="data.Address.state">{{ data.Address.state }}, </span>
              <span *ngIf="data.Address.ZipPostalCode"
                >{{ data.Address.ZipPostalCode }}<br
              /></span>
              <span *ngIf="data.Address.Email">{{ data.Address.Email }}</span>
            </div>
          </div>
          <div class="row" *ngIf="isExtensionProcess">
            <div class="col-3 text-capitalize pl-0">
              {{ "NAME" | translate }}:
            </div>
            <div class="col-9 text-right d-flex flex-column">
              <span>{{ "SYNCGENE_ADDITIONAL" | translate }}</span>
              <span>{{ selectedPlan.Name | translate }}</span>
              <span>{{ "SUBSCRIPTION" | translate }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              {{ "PURCHASE_ITEMS" | translate }}: <br /><span
                *ngIf="selectedPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY'"
                class="enterprise-text"
                [translate]="'MIN_5_SEATS'"
              ></span>
            </div>
            <div class="col-4 text-right">
              {{
                selectedPlan.Strategies[data.Currency][0].FullPrice
                  | currency: data.Currency:"symbol"
              }}
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col-8">{{ "PURCHASE_DISCOUNT" | translate }}:</div>
            <div class="col-4 text-right">
              {{
                (selectedPlan.Strategies[data.Currency][0].Discount
                  ? selectedPlan.Strategies[data.Currency][0].Discount
                  : 0
                ) | currency: data.Currency:"symbol"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              {{ "PURCHASE_TOTAL_BEFORE_TAX" | translate }}:
            </div>
            <div class="col-4 text-right">
              {{
                selectedPlan.Strategies[data.Currency][0].PriceWithDiscount
                  | currency: data.Currency:"symbol"
              }}
            </div>
          </div>
          <div class="row border-bottom">
            <div class="col-8">{{ "PURCHASE_TAX" | translate }}:</div>
            <div class="col-4 text-right">
              {{ 0 | currency: data.Currency:"symbol" }}
            </div>
          </div>
          <div class="row border-bottom blue">
            <div
              *ngIf="selectedPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY'"
              class="col-8"
            >
              {{ "PURCHASE_TOTAL_ORDER" | translate }}:
            </div>
            <div
              *ngIf="selectedPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY'"
              class="col-8"
            >
              {{ "PURCHASE_ESTIMATED_PAYMENT" | translate }}:
            </div>
            <div class="col-4 text-right">
              {{
                selectedPlan.Strategies[data.Currency][0].PriceWithDiscount
                  | currency: data.Currency:"symbol"
              }}
            </div>
          </div>
        </div>
        <div class="preview-payment border-bottom" *ngIf="!isExtensionProcess">
          <div class="row">
            <div class="col-8">
              {{ "PURCHASE_REVIEW_PAYMENT_METHOD" | translate }}:
            </div>
            <div class="col-4 text-right">
              <img
                src="/Images/credit-cards/{{
                  data.PaymentMethod == 'credit'
                    ? (data.PaymentInformation.Type | lowercase)
                    : 'paypal'
                }}.png"
                width="60"
                alt="{{ 'PURCHASE_REVIEW_PAYMENT_METHOD' | translate }}"
              />
            </div>
          </div>
        </div>
        <div
          class="preview-promo"
          *ngIf="
            !selectedPlan.Strategies[data.Currency][0].IsPredefinedDiscount
          "
        >
          <div class="row" *ngIf="!isExtensionProcess">
            <div class="col-12 col-sm-5 col-md-6 align-self-center promo-text">
              {{ "PURCHASE_REVIEW_PROMO_CODE" | translate }}:
            </div>
            <div class="col-12 col-sm-7 col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    [(ngModel)]="promoCode"
                    [ngModelOptions]="{ standalone: true }"
                    [ngClass]="{ 'is-valid': applied, 'is-invalid': invalid }"
                    maxlength="50"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-sm btn-primary"
                      type="button"
                      (click)="checkPromo()"
                      [translate]="'APPLY'"
                      [disabled]="!promoCode"
                    ></button>
                  </div>
                  <div
                    class="valid-feedback"
                    *ngIf="applied"
                    [translate]="'PROMO_CODE_APPLIED'"
                  ></div>
                  <div
                    class="invalid-feedback"
                    *ngIf="invalid"
                    [translate]="'PROMO_CODE_INVALID'"
                  ></div>
                </div>
              </div>
            </div>
            <div
              class="col-12 note"
              [translate]="'PURCHASE_REVIEW_PROMO_CODE_NOTE'"
            ></div>
          </div>
          <div class="row" *ngIf="isExtensionProcess">
            <div class="col-12 note mt-0">
              <p>{{ "PURCHASE_PLACE_ORDER_NOTE" | translate }}</p>
              <p>{{ "PURCHASE_CANNOT_BE_REFUNDED_NOTE" | translate }}</p>
              <p class="subscription-extended">
                {{
                  "PURCHASE_SUBSCRIPTION_EXTENDED_NOTE"
                    | translate: { var0: (expirationDate | date: "mediumDate") }
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button
          *ngIf="selectedPlan.Name !== 'ENTERPRISE_PREMIUM_MONTHLY'"
          type="submit"
          class="btn btn-primary btn-sm"
          [translate]="'PLACE_ORDER'"
        ></button>
        <button
          *ngIf="selectedPlan.Name === 'ENTERPRISE_PREMIUM_MONTHLY'"
          type="submit"
          class="btn btn-primary btn-sm"
          [translate]="'START_PLAN'"
        ></button>
      </div>
    </div>
  </form>
</div>
