<div class="header col-12 filters-page" [ngClass]="{ loaded: loaded }">
  <svg class="help-icon d-none d-md-inline-block" (click)="openHelp()">
    <use xlink:href="/Images/svg-sprite.svg#question-circle-icon"></use>
  </svg>
  <ol class="breadcrumb d-none d-md-block">
    <li>
      <a
        [routerLink]="['/synchronization/status']"
        [translate]="'SYNCHRONIZATION'"
      ></a>
    </li>
    <li>
      <a
        [routerLink]="['/synchronization/management']"
        [translate]="'ACCOUNTS'"
      ></a>
    </li>
    <li [translate]="'PAGE_TITLE_FILTERS'"></li>
  </ol>
  <div
    class="page-title d-none d-md-block"
    [translate]="'PAGE_TITLE_FILTERS'"
  ></div>
</div>
<div class="content col-12 pb-3 mb-3 what-to-sync-page">
  <div *ngIf="loaded">
    <div>
      <p class="mb-0">
        {{ "SELECT_DATA_YOU_WANT_TO_SYNC" | translate }}
      </p>
      <div class="pt-3 desktop d-none">
        <div *ngFor="let type of types; let i = index">
          <div
            class="d-flex align-items-center"
            [ngClass]="{ 'border-top-grey': i !== 0 }"
          >
            <div class="pl-0 my-3 pr-3 checkbox d-flex flex-column min-width">
              <div class="d-flex">
                <input
                  [disabled]="types[i].isDisabled"
                  [ngClass]="{ grey: types[i].isDisabled }"
                  type="checkbox"
                  id="IsEnabled-{{ type.Type }}"
                  name="IsEnabled{{ type.Type }}"
                  [checked]="type.IsEnabled"
                  (change)="toggleIsEnabled(i)"
                />
                <label for="IsEnabled-{{ type.Type }}" class="no-max-width">
                  <svg class="type">
                    <use
                      attr.xlink:href="/Images/svg-sprite.svg#{{
                        type.Type === 1
                          ? 'person-icon-blue'
                          : type.Type === 2
                          ? 'calendar-icon-blue'
                          : 'edit-folder-icon-blue'
                      }}"
                    ></use>
                  </svg>

                  <span class="checkbox-label">
                    {{
                      (type.Type === 1
                        ? "SYNCHRONIZE_CONTACTS"
                        : type.Type === 2
                        ? "SYNCHRONIZE_CALENDAR"
                        : "SYNCHRONIZE_TASKS"
                      ) | translate
                    }}
                  </span>
                </label>
                <div class="checkbox-warning">
                  <span class="warning" *ngIf="types[i].isDisabled">
                    <svg>
                      <use
                        xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                      ></use>
                    </svg>
                  </span>
                </div>
              </div>
              <div
                [ngClass]="{
                  disabled: !types[i].IsEnabled || types[i].isDisabled
                }"
                class="content-above-map"
              >
                <div
                  *ngFor="let map of type.Maps; let j = index"
                  [ngClass]="{
                    disabled: map.IsSuspended || types[i].isDisabled
                  }"
                >
                  <div
                    class="position-relative map mb-2 my-md-2 py-2 d-flex flex-wrap border-bottom"
                    *ngIf="map.Show"
                  >
                    <div
                      [ngClass]="map.Folders.length == 1 ? 'first' : 'w-100'"
                      class="folders d-flex flex-wrap aling-items-end"
                    >
                      <div
                        *ngFor="let folder of map.Folders; let z = index"
                        class="folder d-flex my-1"
                        [ngClass]="{
                          first: z === 0 && map.Folders.length > 1,
                          'not-first-two': z !== 0 && z !== 1,
                          'justify-content-end': z === 0,
                          'justify-content-start': z !== 0 && z !== 1,
                          second: z === 1
                        }"
                      >
                        <div
                          class="d-flex mr-1 mr-md-3 w-100"
                          [ngClass]="{
                            'margin-left-space': z !== 0 && z !== 1
                          }"
                        >
                          <div
                            class="direction-container mr-2 mr-md-3 d-flex align-items-center"
                            *ngIf="z !== 0"
                          >
                            <svg class="direction">
                              <use
                                xlink:href="/Images/svg-sprite.svg#refresh-icon-blue"
                              ></use>
                            </svg>
                          </div>
                          <div
                            class="d-flex folder-name-source-username-container px-0 px-md-2"
                            [ngClass]="{ 'red-border': folder.IsAccountFailed }"
                            tooltipClass="white-tooltip"
                            ngbTooltip="{{
                              folder.IsAccountFailed
                                ? ('SOURCE_CANT_BE_ACCESSED_RECONNECT'
                                  | translate)
                                : ''
                            }}"
                          >
                            <div class="warning d-none">
                              <svg>
                                <use
                                  xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                                ></use>
                              </svg>
                            </div>
                            <div
                              class="my-auto m-0 source-foldername-username-container d-flex cursor-pointer"
                              (click)="deleteFolder(i, j, z)"
                            >
                              <div class="d-flex dropdown p-0 m-0 after-none">
                                <div
                                  class="p-0 d-flex align-items-center"
                                  id="dropdown-change-1-level-{{ i }}"
                                >
                                  <div
                                    class="source-container justify-content-start mr-2 d-flex align-items-center"
                                  >
                                    <svg class="source">
                                      <use
                                        attr.xlink:href="/Images/sources.svg#{{
                                          folder.System | system | lowercase
                                        }}-circle-icon"
                                      ></use>
                                    </svg>
                                  </div>
                                  <div
                                    class="d-flex flex-column justify-content-center folder-name-username-container"
                                  >
                                    <div
                                      class="folder-name font-weight-bold"
                                      [ngClass]="{
                                        'newly-created-folder':
                                          folder.wasFolderCreated
                                      }"
                                      title="{{
                                        folder.translatedFolderName
                                          ? folder.translatedFolderName
                                          : folder.FolderName
                                      }}"
                                    >
                                      {{
                                        folder.translatedFolderName
                                          ? folder.translatedFolderName
                                          : folder.FolderName
                                      }}
                                    </div>
                                    <div
                                      class="username"
                                      title="{{ folder.UserName }}"
                                    >
                                      {{ folder.UserName }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="opacity-0 delete-folder align-items-center"
                              >
                                <svg class="remove">
                                  <use
                                    xlink:href="/Images/svg-sprite.svg#remove-icon"
                                  ></use>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        types[i].Maps[j].NotFailedAccountsCount <
                          types[i].AccountsCount && !showMobileDialog
                      "
                      class="folder d-flex my-1 justify-content-end select-folder-group-container-line"
                      [ngClass]="
                        types[i].Maps[j].Folders.length == 1
                          ? 'second'
                          : 'w-100'
                      "
                    >
                      <div
                        class="d-flex w-100"
                        [ngClass]="
                          types[i].Maps[j].Folders.length > 1
                            ? 'justify-content-end'
                            : 'justify-content-start'
                        "
                      >
                        <div
                          *ngIf="types[i].Maps[j].Folders.length === 0"
                          class="first d-flex select-folder-group-container px-0 px-md-2"
                        >
                          <div
                            ngbDropdown
                            placement="bottom-left"
                            class="my-auto m-0"
                            [autoClose]="'outside'"
                          >
                            <ul class="dropdown p-0 m-0 after-none">
                              <li
                                class="p-0 d-flex align-items-center"
                                id="dropdown-1-level-{{ i }}"
                                ngbDropdownToggle
                              >
                                <div
                                  class="mr-2 d-flex align-items-center select-folder-group-svg-container"
                                >
                                  <svg class="select-folder-group-svg">
                                    <use
                                      attr.xlink:href="/Images/svg-sprite.svg#{{
                                        type.Type === 1
                                          ? 'contacts-icon-in-circle'
                                          : type.Type === 3
                                          ? 'task-icon-in-circle'
                                          : 'calendar-icon-in-circle'
                                      }}"
                                    ></use>
                                  </svg>
                                </div>
                                <div
                                  class="select-folder-group-text d-flex align-items-center"
                                >
                                  {{
                                    (type.Type === 1
                                      ? "SELECT_CONTACTS_FOLDER_GROUP"
                                      : type.Type === 2
                                      ? "SELECT_CALENDAR"
                                      : "SELECT_TASKS_FOLDER_LIST"
                                    ) | translate
                                  }}
                                </div>

                                <ul
                                  class="dropdown-menu choices start-hover"
                                  ngbDropdownMenu
                                  attr.aria-labelledby="dropdown-1-level-{{
                                    i
                                  }}"
                                >
                                  <li
                                    (click)="selectSource(i, choice)"
                                    class="dropdown-submenu position-relative start-hover"
                                    *ngFor="
                                      let choice of type.Choices;
                                      let y = index
                                    "
                                  >
                                    <div
                                      class="dropdown-item px-2 dropdown-toggle d-flex"
                                      [ngClass]="{
                                        'red-text': choice.IsFailed,
                                        'italic-only': !choice.IsAccessable
                                      }"
                                    >
                                      <div
                                        class="source-container justify-content-center mr-2 d-flex align-items-center"
                                      >
                                        <svg class="source">
                                          <use
                                            attr.xlink:href="/Images/sources.svg#{{
                                              choice.System | system | lowercase
                                            }}-circle-icon"
                                          ></use>
                                        </svg>
                                      </div>
                                      <div
                                        class="username"
                                        title="{{ choice.UserName }}"
                                      >
                                        {{ choice.UserName }}
                                      </div>
                                    </div>
                                    <ul
                                      *ngIf="
                                        !choice.IsFailed && choice.IsAccessable
                                      "
                                      class="dropdown-menu folders"
                                    >
                                      <li>
                                        <div
                                          title="{{
                                            (type.Type === 1
                                              ? 'CREATE_CONTACTS_FOLDER_GROUP'
                                              : type.Type === 2
                                              ? 'CREATE_CALENDAR'
                                              : 'CREATE_TASKS_FOLDER_LIST'
                                            ) | translate
                                          }}"
                                          class="dropdown-item text-overflow px-2"
                                          (click)="
                                            createNewGroupFolder(i, j, y)
                                          "
                                        >
                                          <div
                                            class="mr-1 d-inline-block align-items-center"
                                          >
                                            <svg class="create-new">
                                              <use
                                                xlink:href="/Images/svg-sprite.svg#plus-sign-black"
                                              ></use>
                                            </svg>
                                          </div>
                                          {{
                                            (type.Type === 1
                                              ? "CREATE_CONTACTS_FOLDER_GROUP"
                                              : type.Type === 2
                                              ? "CREATE_CALENDAR"
                                              : "CREATE_TASKS_FOLDER_LIST"
                                            ) | translate
                                          }}
                                        </div>
                                      </li>
                                      <li
                                        *ngFor="
                                          let folder of choice.Folders;
                                          let x = index
                                        "
                                        (click)="
                                          checkBeforeFolderAdd(i, j, y, x)
                                        "
                                      >
                                        <div
                                          class="dropdown-item text-overflow px-2"
                                          [ngClass]="{
                                            'font-weight-bold': folder.IsMapped
                                          }"
                                          title="{{
                                            folder.translatedFolderName
                                              ? folder.translatedFolderName
                                              : folder.FolderName
                                          }}"
                                        >
                                          {{
                                            folder.translatedFolderName
                                              ? folder.translatedFolderName
                                              : folder.FolderName
                                          }}
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div
                          class="d-flex second"
                          *ngIf="types[i].Maps[j].Folders.length >= 0"
                        >
                          <div
                            class="direction-container mr-2 mr-md-3 d-flex align-items-center"
                            *ngIf="z !== 0"
                          >
                            <svg class="direction">
                              <use
                                xlink:href="/Images/svg-sprite.svg#refresh-icon-blue"
                              ></use>
                            </svg>
                          </div>

                          <div
                            class="d-flex select-folder-group-container px-0 px-md-2"
                          >
                            <div
                              ngbDropdown
                              placement="bottom-left"
                              class="ml-auto my-auto"
                              [autoClose]="'outside'"
                            >
                              <ul class="dropdown p-0 m-0 after-none">
                                <li
                                  class="p-0 d-flex align-items-center"
                                  id="dropdown-1-level-{{ i }}"
                                  ngbDropdownToggle
                                >
                                  <div
                                    class="mr-2 d-flex align-items-center select-folder-group-svg-container"
                                  >
                                    <svg class="select-folder-group-svg">
                                      <use
                                        attr.xlink:href="/Images/svg-sprite.svg#{{
                                          type.Type === 1
                                            ? 'contacts-icon-in-circle'
                                            : type.Type === 3
                                            ? 'task-icon-in-circle'
                                            : 'calendar-icon-in-circle'
                                        }}"
                                      ></use>
                                    </svg>
                                  </div>
                                  <div
                                    class="select-folder-group-text d-flex align-items-center"
                                  >
                                    {{
                                      (type.Type === 1
                                        ? "SELECT_CONTACTS_FOLDER_GROUP"
                                        : type.Type === 2
                                        ? "SELECT_CALENDAR"
                                        : "SELECT_TASKS_FOLDER_LIST"
                                      ) | translate
                                    }}
                                  </div>
                                  <ul
                                    class="dropdown-menu choices start-hover"
                                    ngbDropdownMenu
                                    attr.aria-labelledby="dropdown-1-level-{{
                                      i
                                    }}"
                                  >
                                    <li
                                      (click)="selectSource(i, choice)"
                                      class="dropdown-submenu position-relative start-hover"
                                      *ngFor="
                                        let choice of types[i].Choices;
                                        let y = index
                                      "
                                    >
                                      <div
                                        class="dropdown-item px-2 dropdown-toggle d-flex"
                                        [ngClass]="{
                                          'red-text': choice.IsFailed,
                                          'italic-only': !choice.IsAccessable
                                        }"
                                      >
                                        <div
                                          class="source-container justify-content-center mr-2 d-flex align-items-center"
                                        >
                                          <svg class="source">
                                            <use
                                              attr.xlink:href="/Images/sources.svg#{{
                                                choice.System
                                                  | system
                                                  | lowercase
                                              }}-circle-icon"
                                            ></use>
                                          </svg>
                                        </div>
                                        <div
                                          class="username"
                                          title="{{ choice.UserName }}"
                                        >
                                          {{ choice.UserName }}
                                        </div>
                                      </div>
                                      <ul
                                        *ngIf="
                                          !choice.IsFailed &&
                                          choice.IsAccessable
                                        "
                                        class="dropdown-menu folders"
                                      >
                                        <li>
                                          <div
                                            title="{{
                                              (type.Type === 1
                                                ? 'CREATE_CONTACTS_FOLDER_GROUP'
                                                : type.Type === 2
                                                ? 'CREATE_CALENDAR'
                                                : 'CREATE_TASKS_FOLDER_LIST'
                                              ) | translate
                                            }}"
                                            class="dropdown-item text-overflow px-2"
                                            (click)="
                                              createNewGroupFolder(i, j, y)
                                            "
                                          >
                                            <div
                                              class="mr-1 d-inline-block align-items-center"
                                            >
                                              <svg class="create-new">
                                                <use
                                                  xlink:href="/Images/svg-sprite.svg#plus-sign-black"
                                                ></use>
                                              </svg>
                                            </div>
                                            {{
                                              (type.Type === 1
                                                ? "CREATE_CONTACTS_FOLDER_GROUP"
                                                : type.Type === 2
                                                ? "CREATE_CALENDAR"
                                                : "CREATE_TASKS_FOLDER_LIST"
                                              ) | translate
                                            }}
                                          </div>
                                        </li>
                                        <li
                                          *ngFor="
                                            let folder of choice.Folders;
                                            let x = index
                                          "
                                          (click)="
                                            checkBeforeFolderAdd(i, j, y, x)
                                          "
                                        >
                                          <div
                                            class="dropdown-item text-overflow px-2"
                                            [ngClass]="{
                                              'font-weight-bold':
                                                folder.IsMapped
                                            }"
                                            title="{{
                                              folder.translatedFolderName
                                                ? folder.translatedFolderName
                                                : folder.FolderName
                                            }}"
                                          >
                                            {{
                                              folder.translatedFolderName
                                                ? folder.translatedFolderName
                                                : folder.FolderName
                                            }}
                                          </div>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        types[i].Maps[j].NotFailedAccountsCount <
                          types[i].AccountsCount && showMobileDialog
                      "
                      class="folder d-flex my-1 justify-content-end select-folder-group-container-line"
                      [ngClass]="
                        types[i].Maps[j].Folders.length == 1
                          ? 'second'
                          : 'w-100'
                      "
                    >
                      <div
                        class="d-flex w-100"
                        [ngClass]="
                          types[i].Maps[j].Folders.length > 1
                            ? 'justify-content-end'
                            : 'justify-content-start'
                        "
                      >
                        <div
                          *ngIf="types[i].Maps[j].Folders.length === 0"
                          class="first d-flex select-folder-group-container px-0 px-md-2"
                          (click)="selectFolderMobile(i, j)"
                        >
                          <div class="my-auto m-0">
                            <ul class="dropdown p-0 m-0 after-none">
                              <li class="p-0 d-flex align-items-center">
                                <div
                                  class="mx-1 d-flex align-items-center select-folder-group-svg-container"
                                >
                                  <svg class="select-folder-group-svg">
                                    <use
                                      attr.xlink:href="/Images/svg-sprite.svg#{{
                                        type.Type === 1
                                          ? 'contacts-icon-in-circle'
                                          : type.Type === 3
                                          ? 'task-icon-in-circle'
                                          : 'calendar-icon-in-circle'
                                      }}"
                                    ></use>
                                  </svg>
                                </div>
                                <div
                                  class="select-folder-group-text d-flex align-items-center"
                                >
                                  {{
                                    (type.Type === 1
                                      ? "SELECT_CONTACTS_FOLDER_GROUP"
                                      : type.Type === 2
                                      ? "SELECT_CALENDAR"
                                      : "SELECT_TASKS_FOLDER_LIST"
                                    ) | translate
                                  }}
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div
                          class="d-flex second"
                          *ngIf="types[i].Maps[j].Folders.length >= 0"
                        >
                          <div
                            class="direction-container mx-1 mr-md-3 d-flex align-items-center"
                            *ngIf="z !== 0"
                          >
                            <svg class="direction">
                              <use
                                xlink:href="/Images/svg-sprite.svg#refresh-icon-blue"
                              ></use>
                            </svg>
                          </div>
                          <div
                            class="d-flex select-folder-group-container px-0 px-md-2"
                            (click)="selectFolderMobile(i, j)"
                          >
                            <div class="ml-auto my-auto">
                              <ul class="dropdown p-0 m-0 after-none">
                                <li class="p-0 d-flex align-items-center">
                                  <div
                                    class="mr-2 d-flex align-items-center select-folder-group-svg-container"
                                  >
                                    <svg class="select-folder-group-svg">
                                      <use
                                        attr.xlink:href="/Images/svg-sprite.svg#{{
                                          type.Type === 1
                                            ? 'contacts-icon-in-circle'
                                            : type.Type === 3
                                            ? 'task-icon-in-circle'
                                            : 'calendar-icon-in-circle'
                                        }}"
                                      ></use>
                                    </svg>
                                  </div>
                                  <div
                                    class="select-folder-group-text d-flex align-items-center"
                                  >
                                    {{
                                      (type.Type === 1
                                        ? "SELECT_CONTACTS_FOLDER_GROUP"
                                        : type.Type === 2
                                        ? "SELECT_CALENDAR"
                                        : "SELECT_TASKS_FOLDER_LIST"
                                      ) | translate
                                    }}
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="three-black-dots d-none  disable-remove-{{ i }}-{{
                        j
                      }}"
                      ngbDropdown
                      placement="bottom-right"
                      *ngIf="types[i].IsEnabled && !types[i].isDisabled"
                    >
                      <div class="dropdown">
                        <div
                          ngbDropdownToggle
                          id="disable-remove-{{ i }}-{{ j }}"
                          class="disable-remove-{{ i }}-{{ j }}"
                        >
                          <svg>
                            <use
                              xlink:href="/Images/svg-sprite.svg#three-black-dots"
                            ></use>
                          </svg>
                        </div>

                        <div
                          attr.aria-labelledby="disable-remove-{{ i }}-{{ j }}"
                          ngbDropdownMenu
                          class="dropdown-menu-right disable-remove-{{ i }}-{{
                            j
                          }}"
                        >
                          <div
                            class="dropdown-item d-flex px-3"
                            (click)="toggleMap(i, j)"
                          >
                            <div
                              class="mr-1 d-flex align-items-center disable-button-space"
                            ></div>
                            <span>
                              {{
                                (types[i].Maps[j].IsSuspended
                                  ? "ENABLE_FIRST_LETTER_UPPERCASE"
                                  : "DISABLE_FIRST_LETTER_UPPERCASE"
                                ) | translate
                              }}
                            </span>
                          </div>
                          <div
                            class="dropdown-item d-flex px-3"
                            (click)="deleteMap(i, j)"
                          >
                            <div class="mr-1 d-flex align-items-center">
                              <svg class="remove-icon">
                                <use
                                  xlink:href="/Images/svg-sprite.svg#remove-icon-red"
                                ></use>
                              </svg>
                            </div>
                            <span class="text-danger">
                              {{ "REMOVE" | translate }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="folder d-flex my-2 justify-content-start first px-md-2 add-map"
                (click)="addMap(i)"
                [ngClass]="{
                  disabled: !types[i].IsEnabled || types[i].isDisabled
                }"
              >
                <div class="d-flex mr-1 mr-md-3 w-100">
                  <div class="d-flex add-folder-container">
                    <div
                      class="plus-icon-container mr-2 d-flex align-items-center justify-content-start justify-content-md-center"
                    >
                      <svg class="plus-icon">
                        <use
                          xlink:href="/Images/svg-sprite.svg#plus-icon-grey"
                        ></use>
                      </svg>
                    </div>
                    <div class="d-flex align-items-center add-folder">
                      {{
                        (type.Type === 1
                          ? "ADD_CONTACTS_FOLDER_GROUP"
                          : type.Type === 2
                          ? "ADD_CALENDAR_FOLDER_GROUP"
                          : "ADD_TASKS_FOLDER_GROUP"
                        ) | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="map errors">
                <div
                  *ngIf="
                    types[i].failedSourcesList &&
                    types[i].failedSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="text-danger d-flex">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div>
                          {{ "SOURCES_CANT_BE_ACCESSED_LIST" | translate }}
                        </div>

                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].failedSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    types[i].noPermissionsSourcesList &&
                    types[i].noPermissionsSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="d-flex text-danger">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div
                          class="text-danger"
                          [translate]="'NO_ACCESS_FOR_SOURCES_LIST_TEXT'"
                          [translateParams]="{
                            var0:
                              types[i].Type | dataType | lowercase
                          }"
                        ></div>
                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].noPermissionsSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    types[i].notSupportedSourcesList &&
                    types[i].notSupportedSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="d-flex">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div
                          class="text-danger"
                          [translate]="'NOT_SUPPORTED_SOURCES_LIST_TEXT'"
                          [translateParams]="{
                            var0:
                              types[i].Type | dataType | lowercase
                          }"
                        ></div>
                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].notSupportedSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-3 d-none mobile">
        <div *ngFor="let type of types; let i = index">
          <div
            class="d-flex align-items-center"
            [ngClass]="{ 'border-top-grey': i !== 0 }"
          >
            <div class="pl-0 my-3 pr-3 checkbox d-flex flex-column min-width">
              <div class="d-flex">
                <input
                  type="checkbox"
                  [ngClass]="{ grey: types[i].isDisabled }"
                  [disabled]="types[i].isDisabled"
                  id="IsEnabled-{{ type.Type }}"
                  name="IsEnabled{{ type.Type }}"
                  [checked]="type.IsEnabled"
                  (change)="toggleIsEnabled(i)"
                />
                <label
                  for="IsEnabled-{{ type.Type }}"
                  class="no-max-width"
                  [ngClass]="{ 'red-icon-type': types[i].isDisabled }"
                >
                  <svg class="type">
                    <use
                      attr.xlink:href="/Images/svg-sprite.svg#{{
                        type.Type === 1
                          ? 'person-icon-blue'
                          : type.Type === 2
                          ? 'calendar-icon-blue'
                          : 'edit-folder-icon-blue'
                      }}"
                    ></use>
                  </svg>

                  <span class="checkbox-label">
                    {{
                      (type.Type === 1
                        ? "SYNCHRONIZE_CONTACTS"
                        : type.Type === 2
                        ? "SYNCHRONIZE_CALENDAR"
                        : "SYNCHRONIZE_TASKS"
                      ) | translate
                    }}
                  </span>
                </label>
                <div class="checkbox-warning">
                  <span class="warning" *ngIf="types[i].isDisabled">
                    <svg>
                      <use
                        xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                      ></use>
                    </svg>
                  </span>
                </div>
              </div>
              <div
                [ngClass]="{
                  disabled: !types[i].IsEnabled || types[i].isDisabled
                }"
                class="content-above-map"
              >
                <div
                  *ngFor="let map of type.Maps; let j = index"
                  [ngClass]="{
                    disabled: map.IsSuspended || types[i].isDisabled
                  }"
                >
                  <div
                    class="position-relative map my-2 py-2 d-flex flex-wrap border-bottom"
                    *ngIf="map.Show"
                  >
                    <div
                      [ngClass]="map.Folders.length == 1 ? 'first' : 'w-100'"
                      class="folders d-flex flex-wrap aling-items-end"
                    >
                      <div
                        *ngFor="let folder of map.Folders; let z = index"
                        class="folder d-flex my-1"
                        [ngClass]="{
                          first: z === 0 && map.Folders.length > 1,
                          'not-first-two': z !== 0 && z !== 1,
                          'justify-content-end': z === 0,
                          'justify-content-start': z !== 0 && z !== 1,
                          second: z === 1
                        }"
                      >
                        <div
                          class="d-flex mr-1 mr-md-3 w-100"
                          [ngClass]="{
                            'margin-left-space': z !== 0 && z !== 1
                          }"
                        >
                          <div
                            class="direction-container mx-1 mr-md-3 d-flex align-items-center"
                            *ngIf="z !== 0"
                          >
                            <svg class="direction">
                              <use
                                xlink:href="/Images/svg-sprite.svg#refresh-icon-blue"
                              ></use>
                            </svg>
                          </div>
                          <div
                            class="d-flex folder-name-source-username-container px-0 px-md-2"
                            [ngClass]="{ 'red-border': folder.IsAccountFailed }"
                            tooltipClass="white-tooltip"
                            ngbTooltip="{{
                              folder.IsAccountFailed
                                ? ('SOURCE_CANT_BE_ACCESSED_RECONNECT'
                                  | translate)
                                : ''
                            }}"
                          >
                            <div class="warning d-none">
                              <svg>
                                <use
                                  xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                                ></use>
                              </svg>
                            </div>
                            <div
                              class="my-auto m-0 source-foldername-username-container d-flex cursor-pointer"
                              (click)="deleteFolder(i, j, z)"
                            >
                              <div class="d-flex dropdown p-0 m-0 after-none">
                                <div class="d-flex align-items-center">
                                  <div
                                    class="source-container justify-content-start mx-1 d-flex align-items-center"
                                  >
                                    <svg class="source">
                                      <use
                                        attr.xlink:href="/Images/sources.svg#{{
                                          folder.System | system | lowercase
                                        }}-circle-icon"
                                      ></use>
                                    </svg>
                                  </div>
                                  <div
                                    class="d-flex flex-column justify-content-center folder-name-username-container"
                                  >
                                    <div
                                      class="folder-name pr-1 font-weight-bold"
                                      [ngClass]="{
                                        'newly-created-folder':
                                          folder.wasFolderCreated
                                      }"
                                      title="{{
                                        folder.translatedFolderName
                                          ? folder.translatedFolderName
                                          : folder.FolderName
                                      }}"
                                    >
                                      {{
                                        folder.translatedFolderName
                                          ? folder.translatedFolderName
                                          : folder.FolderName
                                      }}
                                    </div>
                                    <div
                                      class="username pr-1"
                                      title="{{ folder.UserName }}"
                                    >
                                      {{ folder.UserName }}
                                    </div>
                                  </div>

                                  <div
                                    class="opacity-1 delete-folder align-items-center"
                                  >
                                    <svg class="remove">
                                      <use
                                        xlink:href="/Images/svg-sprite.svg#remove-icon"
                                      ></use>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        types[i].Maps[j].NotFailedAccountsCount <
                        types[i].AccountsCount
                      "
                      class="folder d-flex my-1 justify-content-end select-folder-group-container-line"
                      [ngClass]="
                        types[i].Maps[j].Folders.length == 1
                          ? 'second'
                          : 'w-100'
                      "
                    >
                      <div
                        class="d-flex w-100"
                        [ngClass]="
                          types[i].Maps[j].Folders.length > 1
                            ? 'justify-content-end'
                            : 'justify-content-start'
                        "
                      >
                        <div
                          *ngIf="types[i].Maps[j].Folders.length === 0"
                          class="first d-flex select-folder-group-container px-0 px-md-2"
                          (click)="selectFolderMobile(i, j)"
                        >
                          <div class="my-auto m-0">
                            <ul class="dropdown p-0 m-0 after-none">
                              <li class="p-0 d-flex align-items-center">
                                <div
                                  class="mx-1 d-flex align-items-center select-folder-group-svg-container"
                                >
                                  <svg class="select-folder-group-svg">
                                    <use
                                      attr.xlink:href="/Images/svg-sprite.svg#{{
                                        type.Type === 1
                                          ? 'contacts-icon-in-circle'
                                          : type.Type === 3
                                          ? 'task-icon-in-circle'
                                          : 'calendar-icon-in-circle'
                                      }}"
                                    ></use>
                                  </svg>
                                </div>
                                <div
                                  class="select-folder-group-text d-flex align-items-center"
                                >
                                  {{
                                    (type.Type === 1
                                      ? "SELECT_CONTACTS_FOLDER_GROUP"
                                      : type.Type === 2
                                      ? "SELECT_CALENDAR"
                                      : "SELECT_TASKS_FOLDER_LIST"
                                    ) | translate
                                  }}
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div
                          class="d-flex second"
                          *ngIf="types[i].Maps[j].Folders.length >= 0"
                        >
                          <div
                            class="direction-container mx-1 mr-md-3 d-flex align-items-center"
                            *ngIf="z !== 0"
                          >
                            <svg class="direction">
                              <use
                                xlink:href="/Images/svg-sprite.svg#refresh-icon-blue"
                              ></use>
                            </svg>
                          </div>
                          <div
                            class="d-flex select-folder-group-container px-0 px-md-2"
                            (click)="selectFolderMobile(i, j)"
                          >
                            <div class="ml-auto my-auto">
                              <ul class="dropdown p-0 m-0 after-none">
                                <li class="p-0 d-flex align-items-center">
                                  <div
                                    class="mr-2 d-flex align-items-center select-folder-group-svg-container"
                                  >
                                    <svg class="select-folder-group-svg">
                                      <use
                                        attr.xlink:href="/Images/svg-sprite.svg#{{
                                          type.Type === 1
                                            ? 'contacts-icon-in-circle'
                                            : type.Type === 3
                                            ? 'task-icon-in-circle'
                                            : 'calendar-icon-in-circle'
                                        }}"
                                      ></use>
                                    </svg>
                                  </div>
                                  <div
                                    class="select-folder-group-text d-flex align-items-center"
                                  >
                                    {{
                                      (type.Type === 1
                                        ? "SELECT_CONTACTS_FOLDER_GROUP"
                                        : type.Type === 2
                                        ? "SELECT_CALENDAR"
                                        : "SELECT_TASKS_FOLDER_LIST"
                                      ) | translate
                                    }}
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="three-black-dots d-none"
                      ngbDropdown
                      placement="bottom-right"
                      *ngIf="types[i].IsEnabled && !types[i].isDisabled"
                    >
                      <div class="dropdown">
                        <div
                          ngbDropdownToggle
                          id="disable-remove-{{ i }}-{{ j }}"
                        >
                          <svg>
                            <use
                              xlink:href="/Images/svg-sprite.svg#three-black-dots"
                            ></use>
                          </svg>
                        </div>

                        <div
                          attr.aria-labelledby="disable-remove-{{ i }}-{{ j }}"
                          ngbDropdownMenu
                          class="dropdown-menu-right"
                        >
                          <div
                            class="dropdown-item d-flex px-3"
                            (click)="toggleMap(i, j)"
                          >
                            <div
                              class="mr-1 d-flex align-items-center disable-button-space"
                            ></div>
                            <span>
                              {{
                                (types[i].Maps[j].IsSuspended
                                  ? "ENABLE_FIRST_LETTER_UPPERCASE"
                                  : "DISABLE_FIRST_LETTER_UPPERCASE"
                                ) | translate
                              }}
                            </span>
                          </div>
                          <div
                            class="dropdown-item d-flex px-3"
                            (click)="deleteMap(i, j)"
                          >
                            <div class="mr-1 d-flex align-items-center">
                              <svg class="remove-icon">
                                <use
                                  xlink:href="/Images/svg-sprite.svg#remove-icon-red"
                                ></use>
                              </svg>
                            </div>
                            <span class="text-danger">
                              {{ "REMOVE" | translate }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="folder d-flex my-2 justify-content-start first px-md-2 add-map"
                (click)="addMap(i)"
                [ngClass]="{
                  disabled: !types[i].IsEnabled || types[i].isDisabled
                }"
              >
                <div class="d-flex mr-1 mr-md-3 w-100">
                  <div class="d-flex add-folder-container">
                    <div
                      class="plus-icon-container mx-1 d-flex align-items-center justify-content-start justify-content-md-center"
                    >
                      <svg class="plus-icon">
                        <use
                          xlink:href="/Images/svg-sprite.svg#plus-icon-grey"
                        ></use>
                      </svg>
                    </div>
                    <div class="d-flex align-items-center add-folder">
                      {{
                        (type.Type === 1
                          ? "ADD_CONTACTS_FOLDER_GROUP"
                          : type.Type === 2
                          ? "ADD_CALENDAR_FOLDER_GROUP"
                          : "ADD_TASKS_FOLDER_GROUP"
                        ) | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="content-above-map errors">
                <div
                  *ngIf="
                    types[i].failedSourcesList &&
                    types[i].failedSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="text-danger d-flex">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div>
                          {{ "SOURCES_CANT_BE_ACCESSED_LIST" | translate }}
                        </div>

                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].failedSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    types[i].noPermissionsSourcesList &&
                    types[i].noPermissionsSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="d-flex text-danger">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div
                          class="text-danger"
                          [translate]="'NO_ACCESS_FOR_SOURCES_LIST_TEXT'"
                          [translateParams]="{
                            var0:
                              types[i].Type | dataType | lowercase
                          }"
                        ></div>
                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].noPermissionsSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    types[i].notSupportedSourcesList &&
                    types[i].notSupportedSourcesList.length > 0
                  "
                >
                  <div class="d-flex flex-column">
                    <div class="d-flex">
                      <div class="warning d-inline-block mr-1">
                        <svg>
                          <use
                            xlink:href="/Images/svg-sprite.svg#warning-circle-icon"
                          ></use>
                        </svg>
                      </div>
                      <div class="d-flex flex-column">
                        <div
                          class="text-danger"
                          [translate]="'NOT_SUPPORTED_SOURCES_LIST_TEXT'"
                          [translateParams]="{
                            var0:
                              types[i].Type | dataType | lowercase
                          }"
                        ></div>
                        <div
                          class="text-danger"
                          *ngFor="
                            let source of types[i].notSupportedSourcesList;
                            let i = index
                          "
                        >
                          {{ source.UserName }} - ({{
                            source.System | system
                          }})<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="action-controls text-center my-3 pb-3">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="
            progressBar &&
            progressBar.progress > 0 &&
            progressBar.progress < 100
          "
          [translate]="'SAVE_DATA'"
          (click)="checkBeforeSave()"
        ></button>
        <button
          type="button"
          class="btn btn-primary"
          [translate]="'ADVANCED'"
          (click)="advancedSettings()"
        ></button>
      </div>
    </div>
  </div>
</div>
