ul {
  list-style: none;

  #navbarDropdownMenuLink::after {
    display: none;
  }

  li.start-hover:hover > ul.dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
    margin-top: -6px;
    /* rotate caret on hover */
    .dropdown-menu > li > a:hover:after {
      text-decoration: underline;
      transform: rotate(-90deg);
    }
  }
}

.action-controls {
  margin-bottom: 50px !important;
}

ul.dropdown-menu.folders {
  top: 0px !important;
  left: 100% !important;
  max-height: 150px;
  overflow-y: auto;
}

.warning {
  svg {
    width: 16px;
    height: 16px;
  }
}

.checkbox-warning {
  position: relative;

  .warning {
    svg {
      position: absolute;
      right: -25px;
      top: -5px;
    }
  }
}

.newly-created-folder {
  color: #105cc2;
}

div.checkbox input.grey[type="checkbox"]:checked + label:before {
  border: 2px solid #b6babf !important;
  background: #b6babf !important;
  transition: all 0.3s;
}

svg.create-new,
svg.remove-icon,
.disable-button-space {
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
}

svg.remove-icon {
  fill: red;
}

ul.dropdown.after-none li::after,
div.dropdown.after-none div::after {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.disabled {
  .add-folder,
  .add-folder-container,
  .select-folder-group-container,
  .folder .folder-name-source-username-container,
  .direction-container {
    opacity: 0.6;
    pointer-events: none;
    cursor: none;
  }
}

.disabled.add-map,
.three-black-dots.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: none;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  display: flex;
  align-self: center;
  transform: rotate(270deg);
}
//
.exclamark-icon {
  fill: #ef452e;
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.what-to-sync-page {
  .opacity-0 {
    opacity: 0;
  }

  .first {
    width: 40%;
  }

  .second {
    width: 60%;
  }

  .min-width {
    min-width: 700px;
  }

  .three-black-dots {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    .dropdown-toggle::after {
      display: none;
    }

    svg {
      width: 42px;
      height: 42px;
    }

    .dropdown-menu-right.dropdown-menu.show {
      display: block;
    }

    .dropdown-menu-right.dropdown-menu {
      display: none;
    }
  }

  .map:hover .three-black-dots {
    display: flex !important;
  }

  .plus-icon-container {
    width: 25px;

    .plus-icon {
      width: 25px;
      max-width: 25px;
      height: 25px;
      max-height: 25px;
    }
  }

  .dropdown-menu.choices,
  .dropdown-menu.folders {
    max-width: 220px;
    width: 220px;
  }

  .border-top-grey {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .no-max-width {
    max-width: none;
  }

  div.checkbox input[type="checkbox"]:checked + label:before {
    border: 2px solid #28b446;
    background: #28b446;
    transition: all 0.3s;
  }

  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    padding-left: 26px !important;
    margin-bottom: 0px !important;
  }

  .type {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
  }

  .add-folder,
  .select-folder,
  .choices-container,
  .folder-name,
  .username,
  .select-folder-group-text {
    width: 230px;
    white-space: normal;
  }

  .add-folder-container,
  .select-folder-group-container {
    font-size: 0.9rem;
    cursor: pointer;
  }

  .select-folder-group-container {
    .select-folder-group-svg {
      width: 25px;
      max-width: 25px;
      height: 25px;
      max-height: 25px;
    }
  }

  .direction-container,
  .source-container {
    width: 25px;

    .direction,
    .source {
      width: 25px;
      max-width: 25px;
      height: 25px;
      max-height: 25px;
    }
  }

  .choices-1-level-item,
  .folder-name,
  .username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .folder {
    &.add-map {
      margin-left: 30px;
    }

    height: 55px;

    &.first {
      width: 40%;
    }

    &.second {
      width: 60%;
    }

    &.not-first-two {
      width: 100%;
    }
    /*        &.select-folder-group-container-line {
            width: 100%;
        }*/
    .margin-left-space {
      margin-left: 40%;
    }

    .folder-name-source-username-container {
      &.red-border {
        border: 1px solid red;
        position: relative;

        .warning {
          display: flex !important;

          svg {
            width: 16px;
            height: 16px;
            position: absolute;
            left: -8px;
            top: -8px;
          }
        }
      }

      border-radius: 3px;

      .delete-folder {
        display: flex;
        width: 15px;

        svg.remove {
          width: 15px;
          height: 15px;
        }
      }
    }

    .folder-name-source-username-container:hover {
      background-color: #f7f7f7;
      background: #f7f7f7;

      .delete-folder {
        opacity: 1 !important;
        cursor: pointer;
      }
    }

    .delete-folder:hover {
      display: flex !important;
    }

    .source-container {
      width: 25px;

      .source {
        width: 25px;
        max-width: 25px;
        height: 25px;
        max-height: 25px;
      }
    }

    .folder-name {
      font-size: 1.1rem;
    }

    .red-text,
    .italic-only {
      .username {
        font-style: italic;
      }
    }

    .red-text::after,
    .italic-only::after {
      display: none;
    }

    .red-text {
      .username {
        color: red;
      }
    }

    .username {
      font-size: 0.8rem;
    }
  }

  .map {
    max-width: 800px;
    width: 800px;
    margin-left: 30px;
  }
}

/* mobile media queries start */
@media all and (min-width: 1300px) {
  .what-to-sync-page {
    .dropdown-menu.choices,
    .dropdown-menu.folders {
      max-width: 240px;
      width: 240px;
      .dropdown-item,
      .username {
        font-size: 16px;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1160px) {
  .what-to-sync-page {
    .add-folder,
    .select-folder,
    .choices-container,
    .select-folder-group-text,
    .folder-name,
    .username {
      width: 180px;
    }

    .map {
      max-width: 680px;
      width: 680px;
    }

    .dropdown-menu.choices,
    .dropdown-menu.folders {
      max-width: 180px;
      width: 180px;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 767px) {
  .what-to-sync-page {
    .content-above-map,
    .add-map {
      padding-left: 30px;
      margin-left: 30px;
    }

    .dropdown-menu.choices,
    .dropdown-menu.folders {
      max-width: 180px;
      width: 180px;
    }

    .select-folder-group-container:not(:first-of-type),
    .folder-name-source-username-container:not(:first-of-type) {
      padding-left: 15px !important;
    }

    .first {
      width: 45%;
    }

    .second {
      width: 55%;
    }

    .folder-name-source-username-container {
      background-color: #f7f7f7;
      background: #f7f7f7;

      .delete-folder {
        opacity: 1 !important;
        cursor: pointer;
        width: 12px !important;

        svg {
          width: 8px !important;
          height: 8px !important;
        }
      }
    }

    .min-width {
      min-width: 0;
    }

    .three-black-dots {
      display: flex !important;
      top: -34px;
      right: -3px;
    }

    .add-folder,
    .select-folder,
    .choices-container,
    .select-folder-group-text,
    .folder-name,
    .username {
      width: 135px;
    }

    .add-folder-container,
    .select-folder-group-container {
      font-size: 0.8rem;
    }

    .plus-icon-container,
    .source-container {
      .select-folder-group,
      .plus-icon,
      .direction,
      .source {
        width: 25px !important;
        max-width: 25px !important;
        height: 25px !important;
        max-height: 25px !important;
      }
    }

    .direction-container,
    .select-folder-group-svg-container {
      width: 25px;

      .direction,
      .select-folder-group-svg {
        width: 25px;
        max-width: 25px;
        height: 25px;
        max-height: 25px;
      }
    }

    .folder-name,
    .username,
    .choices-1-level-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .folder {
      &.first {
        width: 45%;
      }

      &.second {
        width: 55%;
      }

      .margin-left-space {
        margin-left: 45%;
      }

      .folder-name {
        font-size: 1rem;
      }

      .username {
        font-size: 0.8rem;
      }
    }

    .map {
      max-width: 450px;
      width: 450px;
      margin-left: 0px;
    }

    .map.errors {
      margin-left: 30px;
      padding-left: 30px;
    }

    .content-above-map .map {
      margin-top: 40px !important;
    }
  }
}

.desktop {
  @media all and (min-width: 700px) {
    display: block !important;
  }
}

.mobile {
  @media all and (max-width: 699px) {
    display: block !important;
  }
}

/* mobile media queries start */
@media all and (max-width: 560px) {
  .what-to-sync-page {
    .content-above-map,
    .add-map {
      padding-left: 20px;
      margin-left: 0px !important;
    }

    .add-folder,
    .select-folder,
    .choices-container,
    .select-folder-group-text,
    .folder-name,
    .username {
      width: 115px;
    }

    .select-folder-group-container:not(:first-of-type),
    .folder-name-source-username-container:not(:first-of-type) {
      padding-left: 0px !important;
    }

    .plus-icon-container,
    .source-container {
      .select-folder-group,
      .plus-icon,
      .direction,
      .source {
        width: 20px !important;
        max-width: 20px !important;
        height: 20px !important;
        max-height: 20px !important;
      }
    }

    .direction-container,
    .select-folder-group-svg-container {
      width: 20px;

      .direction,
      .select-folder-group-svg {
        width: 20px;
        max-width: 20px;
        height: 20px;
        max-height: 20px;
      }
    }
    .folder .source-container {
      width: 20px;
    }

    .map {
      max-width: 420px;
      width: 420px;
      margin-left: 0px;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 490px) {
  .what-to-sync-page {
    .content-above-map,
    .add-map {
      padding-left: 20px;
    }

    .add-folder,
    .select-folder,
    .choices-container,
    .select-folder-group-text,
    .folder-name,
    .username {
      width: 95px;
    }

    .map {
      max-width: 350px;
      width: 350px;
      margin-left: 0px;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 430px) {
  .what-to-sync-page {
    .map {
      max-width: 320px;
      width: 320px;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 370px) {
  .what-to-sync-page {
    .content-above-map,
    .add-map {
      padding-left: 15px !important;
    }

    .map {
      max-width: 300px;
      width: 300px;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 350px) {
  .what-to-sync-page {
    .add-folder,
    .select-folder,
    .choices-container,
    .select-folder-group-text,
    .folder-name,
    .username {
      width: 80px;
      font-size: 0.76rem;
    }

    .content-above-map,
    .add-map {
      padding-left: 5px !important;
    }

    .map {
      max-width: 280px;
      width: 280px;
    }
  }
}
