.last-check {
  padding: 0 0 10px 0;
  font-size: 14px;
}

.status-block .status-icon {
  margin: 0 10px 0 -38px;
}

.legend {
  > div {
    margin: 10px 0px 0px 0px;

    &:before {
      min-width: 8px;
    }
    svg {
      min-width: 22px;
    }
  }
}

.no-syncs {
  padding-bottom: 10px;

  a {
    border-bottom: 2px solid;

    .text-danger {
      color: red;
      border-bottom: 2px solid red;
    }
  }
}

.buttons-block.top-sources {
  .action-controls.accounts {
    max-height: 130px;
    overflow: auto;
    max-width: 340px;

    button.ellipsis {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.status-bars {
  margin-top: 20px;
  padding-left: 40px;
  opacity: 1;
  animation: opacity 0.2 linear;

  .bars {
    &.overlay {
      opacity: 0.5;
    }

    span {
      font-size: 15px;
    }

    .bar {
      position: relative;
      width: 90%;
      height: 36px;
      margin: 5px 0 15px;
      padding: 0 20px 0 0;
      border-radius: 17px;
      overflow: hidden;
      line-height: 36px;
      color: #fff;
      text-align: right;
      background-color: #d6d6d6;

      svg {
        position: absolute;
        top: 7px;
        left: 13px;
        z-index: 1;
        fill: #fff;
        width: 22px;
        height: 22px;
        vertical-align: middle;
      }

      > div {
        width: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        text-align: left;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;

        > span {
          vertical-align: middle;
          opacity: 0;
          -webkit-transition: opacity 1.1s ease-in-out;
          -moz-transition: opacity 1.1s ease-in-out;
          -o-transition: opacity 1.1s ease-in-out;
          transition: opacity 1.1s ease-in-out;

          &.visible {
            opacity: 1;
          }
        }
      }

      > span {
        opacity: 0;
        -webkit-transition: opacity 1.1s ease-in-out;
        -moz-transition: opacity 1.1s ease-in-out;
        -o-transition: opacity 1.1s ease-in-out;
        transition: opacity 1.1s ease-in-out;

        &.visible {
          opacity: 1;
        }
      }

      .success {
        background-color: #0e9b0e;

        svg {
          top: 6px;
          right: 7px;
          left: auto;
          width: 24px;
          height: 24px;
        }
      }

      .warning {
        opacity: 0;
        padding: 0 15px 0 0;
        text-align: right;
      }

      .error {
        padding: 0;
        text-align: center;
        background-color: #e54326;
      }

      &.Filtered {
        background-color: #7b7b7b;

        .success {
          background-color: #2972d8;
        }
      }
    }

    &.animated {
      .bar {
        background-image: linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.25) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.25) 50%,
          rgba(255, 255, 255, 0.25) 75%,
          transparent 75%,
          transparent
        );
        background-size: 20px 20px;
        background-color: #b2cbf2;
        -webkit-animation: progress 1s linear infinite;
        animation: progress 1s linear infinite;
      }
    }
  }

  .total-bar {
    margin-top: 25px;
  }
}

.switch-holder {
  padding: 10px 15px 7px;

  svg {
    margin-left: 8px;
    width: 22px;
    height: 22px;
    fill: #2972d8;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.legend {
  > div {
    &.success:before {
      background-color: #0e9b0e;
    }

    &.error:before {
      background-color: #e54326;
    }

    &.neutral:before {
      background-color: #d6d6d6;
    }

    &.filtered:before {
      background-color: #2972d8;
    }

    &.neutral-f:before {
      background-color: #7b7b7b;
    }
  }

  &.second {
    margin-top: 25px;
  }
}

div.switch {
  & + label {
    text-transform: uppercase;
  }
}

.btn {
  svg {
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}

/* mobile media queries start */
@media all and (min-width: 768px) {
  .legend {
    .success,
    .neutral,
    .error {
      width: 100%;
    }
    div.legend-text {
      max-width: calc(100% - 23px - 30px - 15px);
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 767px) {
  .buttons-block.top-sources {
    .action-controls.accounts {
      max-height: 155px;
    }
  }

  .legend {
    > div {
      display: inline-block;
      margin: 10px 10px 20px 0px;

      &:before {
        margin-right: 10px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &.second {
      margin-top: 0;
    }
  }

  .switch-holder {
    svg {
      display: none;
    }
  }
}

@media all and (max-width: 576px) {
  .no-padding-left-mobile {
    padding-left: 0;
  }

  .buttons-block.top-sources {
    .action-controls.accounts {
      max-height: 165px;
    }
  }

  .status-bars {
    padding-left: 0;

    .bars {
      .bar {
        width: 100%;
      }
    }
  }

  .share-status-block {
    padding-left: 0;
  }

  .share-status-text {
    padding-left: 40px;
  }
}
/* mobile media queries end */
