<div class="content col-12">
  <div class="status-block mb-3 share-status-block" *ngIf="showSharingFirst">
    <div class="status-text share-status-text">
      <span
        attr.class="status-icon {{ stats.SharingIcon }}"
        *ngIf="stats.SharingIcon"
      >
        <svg>
          <use
            attr.xlink:href="/Images/svg-sprite.svg#{{
              stats.SharingIcon
            }}-icon"
          ></use>
        </svg>
      </span>
      <span
        class="status"
        [translate]="'SHARE_STATUS_' + stats.ShareOverallStatus"
        [translateParams]="{ var0: stats.SharingCount }"
      ></span>
    </div>
    <div class="buttons-block">
      <div
        class="action-controls"
        *ngIf="
          stats.SharingCount == 0 &&
          (stats.ShareOverallStatus == 2 || stats.ShareOverallStatus == 3)
        "
      >
        <a
          [routerLink]="['/share/select-account']"
          class="btn btn-primary"
          [translate]="'SHARE_CALENDAR'"
        ></a>
      </div>
      <div class="action-controls" *ngIf="stats.ShareOverallStatus == 4">
        <a
          [routerLink]="['/share/manage-shared-calendars']"
          class="btn btn-primary"
          [translate]="'MANAGE_SHARED_CALENDARS'"
        ></a>
        <a
          [routerLink]="['/share/select-account']"
          class="btn btn-primary"
          [translate]="'SHARE'"
        ></a>
      </div>
    </div>
  </div>
  <div>
    <div
      class="status-block"
      *ngIf="stats && stats.OverallStatus"
      [ngClass]="{
        'no-padding-left-mobile pt-3 pt-md-0 mt-3':
          progressBar && progressBar.progress > 0 && progressBar.progress < 100,
        'mb-3': stats && stats.ShareOverallStatus && !sharingApp,
        'border-top': showSharingFirst
      }"
    >
      <div
        class="sync-in-progress my-2 status-text"
        *ngIf="
          progressBar && progressBar.progress > 0 && progressBar.progress < 100;
          else syncNotInProgress
        "
      >
        <div class="status">
          {{ "SYNC_IN_PROGRESS_STATUS_PAGE" | translate }}
        </div>
      </div>
      <ng-template #syncNotInProgress>
        <div class="status-text">
          <span
            attr.class="status-icon {{
              stats.Icon +
                ' ' +
                (stats.SharingIcon == 'exclamark' &&
                stats.Icon == 'exclamark' &&
                stats.ShareOverallStatus != 4 &&
                showSharingFirst
                  ? 'info'
                  : '')
            }}"
            *ngIf="stats.Icon"
          >
            <svg>
              <use
                attr.xlink:href="/Images/svg-sprite.svg#{{ stats.Icon }}-icon"
              ></use>
            </svg>
          </span>
          <span
            class="status"
            [translate]="'SYNC_STATUS_' + stats.OverallStatus"
          ></span>
        </div>
        <div class="last-check" *ngIf="stats.Date">
          <span [translate]="'LAST_CHECKED'"></span>&nbsp;<span>{{
            stats.Date | statusDate
          }}</span>
        </div>
        <div
          class="no-syncs"
          *ngIf="stats.ManualSyncStatus && isPurchaseLogicAvailable"
          [ngClass]="{
            'text-danger':
              isPurchaseLogicAvailable && stats && !stats.ManualSyncAvailable
          }"
        >
          <span>{{ stats.ManualSyncStatus }}</span>
          <span
            *ngIf="
              !stats || (stats.ManualSyncAvailable && !currentUser.IsTrial)
            "
            >.</span
          >
          <span>&nbsp;</span>
          <span
            *ngIf="stats && !stats.ManualSyncAvailable"
            [translate]="'OR_CAN'"
          ></span>
          <span *ngIf="stats && !stats.ManualSyncAvailable">&nbsp;</span>
          <a
            [ngClass]="{ 'text-danger': stats && !stats.ManualSyncAvailable }"
            class="text-decoration-none"
            *ngIf="
              isPurchaseLogicAvailable &&
              stats &&
              (!stats.ManualSyncAvailable || currentUser.IsTrial)
            "
            [routerLink]="['/purchase']"
            [translate]="'UPGRADE_NOW'"
          ></a>
          <span>&nbsp;</span>
          <span
            *ngIf="stats && (!stats.ManualSyncAvailable || currentUser.IsTrial)"
            [translate]="'FOR_MONTHLY_PRICE'"
            [translateParams]="{ var0: currentUser.MonthlyPrice }"
          ></span>
        </div>
        <div
          class="status-subtext"
          *ngIf="
            stats.OverallStatus &&
            (stats.OverallStatus == 3 ||
              stats.OverallStatus == 4 ||
              stats.OverallStatus == 5 ||
              stats.OverallStatus == 6 ||
              stats.OverallStatus == 7 ||
              stats.OverallStatus == 10 ||
              stats.OverallStatus == 12 ||
              stats.OverallStatus == 13)
          "
          [translate]="'SYNC_STATUS_' + stats.OverallStatus + '_SUBTEXT'"
        ></div>
        <div
          class="status-text"
          *ngIf="maxContactLimitation && isPurchaseLogicAvailable"
        >
          <span class="status">
            {{ "SYNC_STATUS_14_PREFIX" | translate }}
            <a [routerLink]="['/purchase']">{{ "UPGRADE_NOW" | translate }}</a>
            {{ "SYNC_STATUS_14_SUFFIX" | translate }}
          </span>
        </div>
        <div class="buttons-block top-sources">
          <div
            class="action-controls accounts"
            *ngIf="stats.Accounts && stats.Accounts.length > 0"
          >
            <div *ngFor="let account of stats.Accounts">
              <button
                *ngIf="stats.OverallStatus != 12 && stats.OverallStatus != 13"
                class="d-flex align-items-center ellipsis btn btn-primary btn-sm icon-{{
                  account.System.toLowerCase()
                }}"
                (click)="reconnect(account)"
                title="{{ account.Email }}"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      account.System.toLowerCase()
                    }}-icon"
                  ></use></svg
                >&nbsp;
                <span>{{ account.Email }}</span>
              </button>
              <button
                *ngIf="stats.OverallStatus == 12 || stats.OverallStatus == 13"
                class="d-flex align-items-center ellipsis btn btn-primary btn-sm icon-{{
                  account.System.toLowerCase()
                }}"
                [routerLink]="['/synchronization/management']"
                title="{{ account.Email }}"
              >
                <svg>
                  <use
                    attr.xlink:href="/Images/svg-sprite.svg#{{
                      account.System.toLowerCase()
                    }}-icon"
                  ></use></svg
                >&nbsp;
                <span>{{ account.Email }}</span>
              </button>
            </div>
          </div>
          <div class="action-controls" *ngIf="stats.OverallStatus == 6">
            <a
              [routerLink]="['/synchronization/whattosync']"
              class="btn btn-primary"
              *ngIf="stats.Total - stats.Filtered <= 0"
              [translate]="'FILTERS'"
            ></a>
            <button
              class="btn btn-primary"
              (click)="resetFilters()"
              [translate]="'RESET_FILTERS_SYNC'"
            ></button>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row status-bars" *ngIf="stats">
      <div
        class="col-12 col-md-8 bars"
        [ngClass]="{
          overlay: activeAccounts < 2 && stats.Types.length == 0,
          animated: stats.OverallStatus == 2
        }"
      >
        <span
          *ngIf="
            stats.Types[0] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <span [translate]="'CONTACTS'"></span
          ><span
            *ngIf="stats.Types[0]"
            [translate]="'TOTAL_VALUE'"
            [translateParams]="{ var0: stats.Types[0].Total }"
          ></span>
        </span>
        <div
          class="bar Contact"
          *ngIf="
            stats.Types[0] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#contact-icon"></use>
          </svg>
          <div
            class="success Synced"
            [ngStyle]="stats.Graph[0]['Synced']"
            title="{{ 'ITEMS_SYNCED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[0] &&
              (stats.Types[0].Synced > 0 ||
                (stats.Types[0].Synced == 0 &&
                  stats.Types[0].Failed == 0 &&
                  stats.Types[0].NotSynced == 0 &&
                  stats.Types.length > 0))
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[0].Synced
            }}</span>
            <svg
              *ngIf="
                stats.Types[0].Failed == 0 &&
                stats.Types[0].NotSynced == 0 &&
                smileVisible
              "
              @smileAnimation
            >
              <use xlink:href="/Images/svg-sprite.svg#smile-icon"></use>
            </svg>
          </div>
          <div
            class="error Failed"
            [ngStyle]="stats.Graph[0]['Failed']"
            title="{{ 'ITEMS_FAILED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[0] &&
              stats.Types[0].Failed > 0
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[0].Failed
            }}</span>
          </div>
          <span
            class="NotSynced"
            [ngClass]="{ visible: countVisible }"
            title="{{
              (stats.OverallStatus == 9
                ? maxContactLimitation
                  ? 'ITEMS_NOT_SYNED_DUE_TO_FREE_VERSION'
                  : 'ITEMS_NOT_SYNCED'
                : 'ITEMS_PENDING'
              ) | translate
            }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[0] &&
              stats.Types[0].NotSynced > 0
            "
            >{{ stats.Types[0].NotSynced }}</span
          >
        </div>
        <span
          *ngIf="
            stats.Types[1] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <span [translate]="'CALENDAR_EVENTS'"></span
          ><span
            *ngIf="stats.Types[1]"
            [translate]="'TOTAL_VALUE'"
            [translateParams]="{ var0: stats.Types[1].Total }"
          ></span>
        </span>
        <div
          class="bar Calendar"
          *ngIf="
            stats.Types[1] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#calendar-icon"></use>
          </svg>
          <div
            class="success Synced"
            [ngStyle]="stats.Graph[1]['Synced']"
            title="{{ 'ITEMS_SYNCED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[1] &&
              (stats.Types[1].Synced > 0 ||
                (stats.Types[1].Synced == 0 &&
                  stats.Types[1].Failed == 0 &&
                  stats.Types[1].NotSynced == 0 &&
                  stats.Types.length > 0))
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[1].Synced
            }}</span>
            <svg
              *ngIf="
                stats.Types[1].Failed == 0 &&
                stats.Types[1].NotSynced == 0 &&
                smileVisible
              "
              @smileAnimation
            >
              <use xlink:href="/Images/svg-sprite.svg#smile-icon"></use>
            </svg>
          </div>
          <div
            class="error Failed"
            [ngStyle]="stats.Graph[1]['Failed']"
            title="{{ 'ITEMS_FAILED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[1] &&
              stats.Types[1].Failed > 0
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[1].Failed
            }}</span>
          </div>
          <span
            class="NotSynced"
            [ngClass]="{ visible: countVisible }"
            title="{{
              (stats.OverallStatus == 9
                ? maxContactLimitation
                  ? 'ITEMS_NOT_SYNED_DUE_TO_FREE_VERSION'
                  : 'ITEMS_NOT_SYNCED'
                : 'ITEMS_PENDING'
              ) | translate
            }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[1] &&
              stats.Types[1].NotSynced > 0
            "
            >{{ stats.Types[1].NotSynced }}</span
          >
        </div>
        <span
          *ngIf="
            stats.Types[2] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <span [translate]="'TASKS'"></span
          ><span
            *ngIf="stats.Types[2]"
            [translate]="'TOTAL_VALUE'"
            [translateParams]="{ var0: stats.Types[2].Total }"
          ></span>
        </span>
        <div
          class="bar Task"
          *ngIf="
            stats.Types[2] || activeAccounts < 2 || stats.Types.length === 0
          "
        >
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#task-icon"></use>
          </svg>
          <div
            class="success Synced"
            [ngStyle]="stats.Graph[2]['Synced']"
            title="{{ 'ITEMS_SYNCED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[2] &&
              (stats.Types[2].Synced > 0 ||
                (stats.Types[2].Synced == 0 &&
                  stats.Types[2].Failed == 0 &&
                  stats.Types[2].NotSynced == 0 &&
                  stats.Types.length > 0))
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[2].Synced
            }}</span>
            <svg
              *ngIf="
                stats.Types[2].Failed == 0 &&
                stats.Types[2].NotSynced == 0 &&
                smileVisible
              "
              @smileAnimation
            >
              <use xlink:href="/Images/svg-sprite.svg#smile-icon"></use>
            </svg>
          </div>
          <div
            class="error Failed"
            [ngStyle]="stats.Graph[2]['Failed']"
            title="{{ 'ITEMS_FAILED' | translate }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[2] &&
              stats.Types[2].Failed > 0
            "
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Types[2].Failed
            }}</span>
          </div>
          <span
            class="NotSynced"
            [ngClass]="{ visible: countVisible }"
            title="{{
              (stats.OverallStatus == 9
                ? maxContactLimitation
                  ? 'ITEMS_NOT_SYNED_DUE_TO_FREE_VERSION'
                  : 'ITEMS_NOT_SYNCED'
                : 'ITEMS_PENDING'
              ) | translate
            }}"
            *ngIf="
              stats &&
              stats.Types &&
              stats.Types[2] &&
              stats.Types[2].NotSynced > 0
            "
            >{{ stats.Types[2].NotSynced }}</span
          >
        </div>
      </div>
      <div
        class="col-12 col-md-4 legend d-flex flex-wrap flex-md-column"
        *ngIf="activeAccounts > 1 && stats.Types.length > 0"
      >
        <div class="success d-flex align-items-center pr-md-3">
          <div
            title="{{ 'ITEMS_SYNCED' | translate }}"
            [translate]="'ITEMS_SYNCED'"
            class="text-overflow-ellipsis legend-text"
          ></div>
          <svg (click)="openHelp('ITEMS_SYNCED_DESC')">
            <title [translate]="'INFO_TITLE'"></title>
            <use xlink:href="/Images/svg-sprite.svg#info-circle-icon"></use>
          </svg>
        </div>
        <div
          class="error d-flex align-items-center pr-md-3"
          *ngIf="stats.TotalCount && stats.TotalCount.Failed > 0"
        >
          <div
            title="{{ 'ITEMS_FAILED' | translate }}"
            [translate]="'ITEMS_FAILED'"
            class="text-overflow-ellipsis legend-text"
          ></div>
          <svg (click)="openHelp('ITEMS_FAILED_DESC')">
            <title [translate]="'INFO_TITLE'"></title>
            <use xlink:href="/Images/svg-sprite.svg#info-circle-icon"></use>
          </svg>
        </div>
        <div class="neutral d-flex align-items-center pr-md-3">
          <div
            title="{{
              (stats.OverallStatus == 9
                ? maxContactLimitation
                  ? 'ITEMS_NOT_SYNED_DUE_TO_FREE_VERSION'
                  : 'ITEMS_NOT_SYNCED'
                : 'ITEMS_PENDING'
              ) | translate
            }}"
            class="text-overflow-ellipsis legend-text"
          >
            {{
              (stats.OverallStatus == 9
                ? maxContactLimitation
                  ? "ITEMS_NOT_SYNED_DUE_TO_FREE_VERSION"
                  : "ITEMS_NOT_SYNCED"
                : "ITEMS_PENDING"
              ) | translate
            }}
          </div>
          <svg
            (click)="
              openHelp(
                maxContactLimitation
                  ? 'ITEMS_REACHED_MAX_CONTACT_LIMIT'
                  : 'ITEMS_PENDING_DESC'
              )
            "
          >
            <title [translate]="'INFO_TITLE'"></title>
            <use xlink:href="/Images/svg-sprite.svg#info-circle-icon"></use>
          </svg>
        </div>
      </div>
      <div class="col-12 switch-holder">
        <button
          type="button"
          class="btn btn-sm btn-toggle mx-0"
          [ngClass]="{ active: autoSyncStatus }"
          title="{{ 'ENABLE_AUTO_SYNC_SWITCH_TOGGLE' | translate }}"
          (click)="autoSyncToggle()"
          data-toggle="button"
          [attr.aria-pressed]="autoSyncStatus"
          autocomplete="off"
        >
          <div class="handle"></div>
          <div [ngClass]="autoSyncStatus ? 'status-on' : 'status-off'">
            {{ (autoSyncStatus ? "STATUS_ON" : "STATUS_OFF") | translate }}
          </div>
        </button>
        <label
          (click)="autoSyncToggle()"
          [translate]="'ENABLE_AUTO_SYNC'"
          placement="right"
          ngbTooltip="{{ 'ENABLE_AUTO_SYNC_SWITCH' | translate }}"
        ></label>
        <svg (click)="openInfoPlans()">
          <title [translate]="'INFO_TITLE'"></title>
          <use xlink:href="/Images/svg-sprite.svg#info-circle-icon"></use>
        </svg>
      </div>
      <div class="col-12 action-controls" *ngIf="stats">
        <button
          class="btn btn-primary"
          *ngIf="activeAccounts > 1"
          [disabled]="
            activeAccounts < 2 ||
            (progressBar &&
              progressBar.progress > 0 &&
              progressBar.progress < 100)
          "
          (click)="sync()"
          [translate]="'SYNC_NOW'"
        ></button>
        <a
          [routerLink]="['/synchronization/addsyncaccount']"
          class="btn btn-primary"
          *ngIf="activeAccounts < 2"
          [translate]="'ADD_ACCOUNT'"
        ></a>
        <a
          [routerLink]="['/synchronization/management']"
          class="btn btn-primary"
          [translate]="'MANAGE'"
        ></a>
      </div>
      <div
        class="col-12 col-md-8 bars total-bar"
        *ngIf="stats.Total - stats.Filtered > 0"
      >
        <span>
          <span
            class="font-weight-bold"
            [translate]="'TOTAL_ITEMS_IN_ALL_ACCOUNTS'"
          ></span>
        </span>
        <div class="bar Filtered">
          <svg>
            <use xlink:href="/Images/svg-sprite.svg#filter-icon"></use>
          </svg>
          <div
            class="success Synced"
            [ngStyle]="stats.Graph[3]['Synced']"
            title="{{ 'SYNCHRONIZED_ITEMS' | translate }}"
            *ngIf="stats.Filtered > 0"
          >
            <span [ngClass]="{ visible: countVisible }">{{
              stats.Filtered
            }}</span>
          </div>
          <span
            class="NotSynced"
            [ngClass]="{ visible: countVisible }"
            title="{{ 'UNSYNCHRONIZED_ITEMS' | translate }}"
            *ngIf="stats.Total - stats.Filtered > 0"
            >{{ stats.Total - stats.Filtered }}</span
          >
        </div>
      </div>
      <div
        class="col-12 col-md-4 legend second"
        *ngIf="stats.Total - stats.Filtered > 0"
      >
        <div class="filtered" [translate]="'SYNCHRONIZED_ITEMS'"></div>
        <div class="neutral-f" [translate]="'UNSYNCHRONIZED_ITEMS'"></div>
      </div>
      <div
        class="col-12 action-controls"
        *ngIf="stats.Total - stats.Filtered > 0 && activeAccounts > 0"
      >
        <a
          [routerLink]="['/synchronization/whattosync']"
          class="btn btn-primary"
          [attr.disabled]="activeAccounts < 2 ? true : null"
          [translate]="'CHANGE_FILTERS'"
        ></a>
      </div>
    </div>
  </div>
  <div
    class="status-block share-status-block mt-4 mb-2 border-top"
    *ngIf="
      stats &&
      stats.SharingIcon &&
      !showSharingFirst &&
      currentUser &&
      (sharingApp || !sharingApp)
    "
  >
    <div class="status-text share-status-text">
      <span
        attr.class="status-icon {{
          stats.SharingIcon +
            ' ' +
            (stats.Icon == 'exclamark' &&
            stats.SharingIcon == 'exclamark' &&
            stats.OverallStatus != 11
              ? 'info'
              : '')
        }}"
        *ngIf="stats.SharingIcon"
      >
        <svg>
          <use
            attr.xlink:href="/Images/svg-sprite.svg#{{
              stats.SharingIcon
            }}-icon"
          ></use>
        </svg>
      </span>
      <span
        class="status"
        [translate]="'SHARE_STATUS_' + stats.ShareOverallStatus"
        [translateParams]="{ var0: stats.SharingCount }"
      ></span>
    </div>
    <div class="buttons-block">
      <div
        class="action-controls"
        *ngIf="
          stats.SharingCount == 0 &&
          (stats.ShareOverallStatus == 2 || stats.ShareOverallStatus == 3)
        "
      >
        <a
          [routerLink]="['/share/select-account']"
          class="btn btn-primary"
          [translate]="'SHARE_CALENDAR'"
        ></a>
      </div>
      <div class="action-controls" *ngIf="stats.ShareOverallStatus == 4">
        <a
          [routerLink]="['/share/manage-shared-calendars']"
          class="btn btn-primary"
          [translate]="'MANAGE_SHARED_CALENDARS'"
        ></a>
        <a
          [routerLink]="['/share/select-account']"
          class="btn btn-primary"
          [translate]="'SHARE'"
        ></a>
      </div>
    </div>
  </div>
</div>
