<div
  class="header col-12 filters-page"
  [ngClass]="{ loaded: filterAccounts.length > 0 && loaded }"
>
  <svg class="help-icon d-none d-md-inline-block" (click)="openHelp()">
    <use xlink:href="/Images/svg-sprite.svg#question-circle-icon"></use>
  </svg>
  <ol class="breadcrumb d-none d-md-block">
    <li>
      <a
        [routerLink]="['/synchronization/status']"
        [translate]="'SYNCHRONIZATION'"
      ></a>
    </li>
    <li>
      <a
        [routerLink]="['/synchronization/management']"
        [translate]="'ACCOUNTS'"
      ></a>
    </li>
    <li [translate]="'PAGE_TITLE_FILTERS'"></li>
  </ol>
  <div
    class="page-title d-none d-md-block"
    [translate]="'PAGE_TITLE_FILTERS'"
  ></div>
  <div class="filter-tabs" *ngIf="replicasList.length > 0">
    <a
      *ngFor="let replica of replicasList; let i = index"
      [ngClass]="{
        active: currentReplica == replica.TypeCode,
        'd-none d-md-inline': replica.TypeCode == 'Task'
      }"
      (click)="setCurrentReplica(replica.TypeCode)"
      >{{ replica.TypeName | translate }}</a
    >
    <a
      class="d-md-none"
      [ngClass]="{ active: currentReplica == 'Task' }"
      *ngIf="hasTasks"
      (click)="setCurrentReplica('Task')"
      >{{ "SMALL_MOBILE_TASKS" | translate }}</a
    >
  </div>
</div>
<div class="content col-12 filters-page">
  <p
    *ngIf="filterAccounts.length == 0 && loaded"
    [translate]="'MORE_ACCOUNTS_REQUIRED'"
  ></p>
  <div class="row filter-table-header" *ngIf="filterAccounts.length > 0">
    <div class="col-6 col-sm-4 align-self-end pb-2">
      <span
        *ngIf="isAdmin"
        (click)="toggleAllFiltersOnTab()"
        [translate]="'FILTER_FOLDERS_1'"
      ></span>
      <span *ngIf="!isAdmin" [translate]="'FILTER_FOLDERS_1'"></span>&nbsp;<span
        *ngIf="isAdmin"
        (click)="toggleFoldersInTab()"
        [translate]="'FILTER_FOLDERS_2'"
      ></span>
      <span *ngIf="!isAdmin" [translate]="'FILTER_FOLDERS_2'"></span>
    </div>
    <div class="col-6 col-sm-8 pl-0 pr-0">
      <div class="row">
        <ngx-slick-carousel class="carousel slider1" [config]="slide1Config">
          <div
            ngxSlickItem
            *ngFor="let account of filterAccounts"
            class="slide"
          >
            <div class="title left-border">
              <svg>
                <use
                  attr.xlink:href="/Images/svg-sprite.svg#{{
                    account.ProviderCode.toLowerCase()
                  }}-circle-icon"
                ></use></svg
              >&nbsp;
              <span title="{{ account.Username }}">{{ account.Username }}</span>
            </div>
            <ng-template ngFor let-replica [ngForOf]="account.Replicas">
              <div *ngIf="replica.TypeCode == currentReplica">
                <div
                  *ngIf="
                    (replica.IsAccessable &&
                      !replica.FoldersReadonly &&
                      account.ProviderCode !== 'OutlookRest' &&
                      account.ProviderCode !== 'Office365') ||
                    (account.ProviderCode == 'SalesForce' &&
                      currentReplica == 'Contact')
                  "
                  class="filter-line account-switch left-border"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-toggle mx-0"
                    [ngClass]="{ active: replica.IsSelected }"
                    (click)="toggleFiltersOn(account.Id)"
                    title="{{ 'FILTERS_TOGGLE_LABEL' | translate }}"
                    data-toggle="button"
                    [attr.aria-pressed]="replica.IsSelected"
                    autocomplete="off"
                  >
                    <div class="handle"></div>
                    <div
                      [ngClass]="
                        replica.IsSelected ? 'status-on' : 'status-off'
                      "
                    >
                      {{
                        (replica.IsSelected ? "STATUS_ON" : "STATUS_OFF")
                          | translate
                      }}
                    </div>
                  </button>
                  <label
                    class="d-none d-sm-inline"
                    (click)="toggleFiltersOn(account.Id)"
                    [translate]="'FILTERS_TOGGLE_LABEL'"
                    title="{{ 'FILTERS_TOGGLE_LABEL' | translate }}"
                  ></label>
                </div>

                <div
                  *ngIf="
                    replica.IsAccessable &&
                    !replica.FoldersReadonly &&
                    (account.ProviderCode == 'OutlookRest' ||
                      account.ProviderCode == 'Office365') &&
                    currentReplica !== 'Task'
                  "
                  class="filter-line left-border no-access mr-1"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-toggle mx-0"
                    [ngClass]="{ active: replica.IsSelected }"
                    (click)="toggleFiltersOn(account.Id)"
                    title="{{ 'FILTERS_TOGGLE_LABEL' | translate }}"
                    data-toggle="button"
                    [attr.aria-pressed]="replica.IsSelected"
                    autocomplete="off"
                  >
                    <div class="handle"></div>
                    <div
                      [ngClass]="
                        replica.IsSelected ? 'status-on' : 'status-off'
                      "
                    >
                      {{
                        (replica.IsSelected ? "STATUS_ON" : "STATUS_OFF")
                          | translate
                      }}
                    </div>
                  </button>
                  <label
                    class="d-none d-sm-inline"
                    (click)="toggleFiltersOn(account.Id)"
                    [translate]="'FILTERS_TOGGLE_LABEL'"
                    title="{{ 'FILTERS_TOGGLE_LABEL' | translate }}"
                  ></label>
                </div>
                <div
                  *ngIf="
                    replica.IsAccessable &&
                    (account.ProviderCode == 'OutlookRest' ||
                      account.ProviderCode == 'Office365') &&
                    currentReplica == 'Task'
                  "
                  class="filter-line left-border no-access mr-1"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exclamark-icon"
                    ></use></svg
                  >&nbsp;
                  <span>{{ "TASKS_CANNOT_BE_LOADED" | translate }}</span>
                </div>
                <div
                  *ngIf="
                    !replica.IsAccessable && account.ProviderCode !== 'ICloud'
                  "
                  class="filter-line left-border no-access"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exclamark-icon"
                    ></use></svg
                  >&nbsp;
                  <span>{{
                    "ACCESS_NOT_GRANTED" | translate: { var0: replica.TypeCode }
                  }}</span>
                </div>
                <div
                  *ngIf="
                    (!replica.IsAccessable || replica.FoldersReadonly) &&
                    (account.ProviderCode === 'ICloud' ||
                      account.ProviderCode === 'SalesForce') &&
                    currentReplica !== 'Contact'
                  "
                  class="filter-line left-border no-access mr-1"
                >
                  <svg *ngIf="currentReplica !== 'Contact'">
                    <use
                      xlink:href="/Images/svg-sprite.svg#exclamark-icon"
                    ></use></svg
                  >&nbsp;
                  <span
                    class="mr-3 mr-md-0"
                    *ngIf="currentReplica == 'Calendar'"
                    >{{ "CALLENDAR_CANNOT_BE_LOADED" | translate }}</span
                  >
                  <span class="mr-3 mr-md-0" *ngIf="currentReplica == 'Task'">{{
                    "REMINDERS_CANNOT_BE_LOADED" | translate
                  }}</span>
                </div>
              </div>
            </ng-template>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
  <div class="row filter-table" *ngIf="filterAccounts.length > 0">
    <div class="col-6 col-sm-4 p-0">
      <ng-template ngFor let-replica [ngForOf]="filterFolders">
        <div *ngIf="replica.title == currentReplica">
          <div
            class="filter-line"
            *ngFor="let folder of replica.list; let i = index"
          >
            <div
              class="checkbox"
              [ngClass]="{ partial: folder.isSelected == 2 }"
            >
              <input
                type="checkbox"
                id="{{ 'folder' + i + folder.name }}"
                name="{{ 'folder' + i + folder.name }}"
                [checked]="folder.isSelected == 1 || folder.isSelected == 2"
                (change)="toggleAllFolders(folder)"
              />
              <label
                for="{{ 'folder' + i + folder.name }}"
                title="{{ folder.name }}"
                >{{ folder.name }}</label
              >
            </div>
          </div>
          <div class="filter-line" *ngIf="replica.list.length == 0"></div>
        </div>
      </ng-template>
      <ng-template ngFor let-replica [ngForOf]="filterFolders">
        <div *ngIf="replica.title == currentReplica">
          <div class="controls border-top">
            <div
              class="checkbox"
              [ngClass]="{ partial: currentAutoSyncStatusPartial }"
            >
              <input
                type="checkbox"
                id="currentAutoSyncStatus"
                name="currentAutoSyncStatus"
                [checked]="currentAutoSyncStatus"
                (change)="toggleAllAutoSync()"
                [disabled]="replica.list.length == 0"
              />
              <label
                for="currentAutoSyncStatus"
                [translate]="'SYNC_NEW_FOLDERS'"
                title="{{ 'SYNC_NEW_FOLDERS' | translate }}"
              ></label>
            </div>
          </div>
          <div class="controls border-top">
            <div
              class="checkbox"
              [ngClass]="{ partial: currentAutoDeleteStatusPartial }"
            >
              <input
                type="checkbox"
                id="currentAutoDeleteStatus"
                name="currentAutoDeleteStatus"
                [checked]="currentAutoDeleteStatus"
                (change)="toggleAllAutoDelete()"
                [disabled]="replica.list.length == 0"
              />
              <label
                for="currentAutoDeleteStatus"
                [translate]="'IN_CASE_FOLDER_REMOVED'"
                title="{{ 'IN_CASE_FOLDER_REMOVED' | translate }}"
              ></label>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-6 col-sm-8 pl-0 pr-0">
      <div class="row minimum-height">
        <ngx-slick-carousel class="carousel slider2" [config]="slide2Config">
          <div
            ngxSlickItem
            *ngFor="let account of filterAccounts"
            class="slide"
          >
            <ng-template
              ngFor
              let-replica
              [ngForOf]="account.Replicas"
              let-rIndex="index"
            >
              <div *ngIf="replica.TypeCode == currentReplica">
                <div
                  class="filter-line left-border"
                  *ngFor="let folder of replica.Folders; let fIndex = index"
                  [ngClass]="{
                    'pt-0': account.ProviderCode == 'SalesForce' && fIndex == 1,
                    'bg-white':
                      account.ProviderCode == 'SalesForce' && fIndex > 0
                  }"
                >
                  <div
                    class="checkbox"
                    *ngIf="
                      account.ProviderCode == 'SalesForce' &&
                      (fIndex == 0 || fIndex == 1)
                    "
                  >
                    <div *ngIf="fIndex == 0">
                      <input
                        type="checkbox"
                        id="{{ 'fold' + account.Id + fIndex }}"
                        name="{{ 'fold' + account.Id + fIndex }}"
                        [disabled]="
                          !folder.IsSourceSelected || !replica.IsSelected
                        "
                        [checked]="folder.IsSelected"
                        (change)="
                          toggleFolderSelected(folder, replica.IsSelected)
                        "
                      />
                      <label
                        for="{{ 'fold' + account.Id + fIndex }}"
                        class="small"
                      >
                        <span
                          *ngFor="let src of folder.SourceAccounts"
                          title="{{ src.Username }}"
                        >
                          <svg>
                            <use
                              attr.xlink:href="/Images/svg-sprite.svg#{{
                                src.ProviderCode.toLowerCase()
                              }}-circle-icon"
                            ></use></svg
                          >&nbsp;
                        </span>
                        <span
                          *ngIf="
                            filterAccounts[0].Replicas[rIndex].Folders[
                              fIndex
                            ] &&
                            folder.Name !=
                              filterAccounts[0].Replicas[rIndex].Folders[fIndex]
                                .Name
                          "
                          >{{ folder.Name }}&nbsp;</span
                        >
                        <span
                          *ngIf="
                            folder.AccessRights == 2 ||
                            folder.AccessRights == 1 ||
                            folder.AccessRights == 0
                          "
                        >
                          <span>{{
                            "FOLDER_ACCESS_RIGHTS_" + folder.AccessRights
                              | translate
                          }}</span> </span
                        >&nbsp;
                      </label>
                    </div>
                    <div
                      *ngIf="fIndex == 1"
                      class="allow-access SalesForce-text"
                    >
                      <div
                        class="col-12 p-0 pt-1 bg-white overflow-visible d-flex flex-column"
                      >
                        <span
                          [innerHTML]="
                            'SALESFORCE_FILTERS_NOT_SUPPORTED' | translate
                          "
                          class="p-0 col-12 align-self-start mr-3 mr-md-0"
                        ></span>
                        <a
                          class="btn btn-primary col-7 mt-1 m-0 read-more"
                          href="https://www.syncgene.com/livehelp"
                          target="_blank"
                          [translate]="'CONTACT_US'"
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="checkbox"
                    *ngIf="account.ProviderCode !== 'SalesForce'"
                  >
                    <input
                      type="checkbox"
                      id="{{ 'fold' + account.Id + fIndex }}"
                      name="{{ 'fold' + account.Id + fIndex }}"
                      [disabled]="
                        !folder.IsSourceSelected || !replica.IsSelected
                      "
                      [checked]="folder.IsSelected"
                      (change)="
                        toggleFolderSelected(folder, replica.IsSelected)
                      "
                    />
                    <label
                      for="{{ 'fold' + account.Id + fIndex }}"
                      class="small"
                    >
                      <span
                        *ngFor="let src of folder.SourceAccounts"
                        title="{{ src.Username }}"
                      >
                        <svg>
                          <use
                            attr.xlink:href="/Images/svg-sprite.svg#{{
                              src.ProviderCode.toLowerCase()
                            }}-circle-icon"
                          ></use></svg
                        >&nbsp;
                      </span>
                      <span
                        *ngIf="
                          filterAccounts[0].Replicas[rIndex].Folders[fIndex] &&
                          folder.Name !=
                            filterAccounts[0].Replicas[rIndex].Folders[fIndex]
                              .Name
                        "
                        >{{ folder.Name }}&nbsp;</span
                      >
                      <span
                        *ngIf="
                          folder.AccessRights == 2 ||
                          folder.AccessRights == 1 ||
                          folder.AccessRights == 0
                        "
                      >
                        <span>{{
                          "FOLDER_ACCESS_RIGHTS_" + folder.AccessRights
                            | translate
                        }}</span> </span
                      >&nbsp;
                    </label>
                  </div>
                </div>
                <div *ngIf="replica.Folders.length == 0" class="allow-access">
                  <ng-template ngFor let-replica [ngForOf]="filterFolders">
                    <div
                      *ngIf="
                        replica.title == currentReplica &&
                        account.ProviderCode !== 'ICloud' &&
                        account.ProviderCode !== 'OutlookRest' &&
                        account.ProviderCode !== 'Office365' &&
                        account.ProviderCode !== 'SalesForce'
                      "
                    >
                      <div
                        class="filter-line left-border"
                        *ngFor="let folder of replica.list; let i = index"
                      >
                        <button
                          *ngIf="i == 0"
                          type="button"
                          class="btn btn-primary"
                          [disabled]="
                            progressBar &&
                            progressBar.progress > 0 &&
                            progressBar.progress < 100
                          "
                          [translate]="'ALLOW_ACCESS'"
                          (click)="allowFullAccess(account)"
                        ></button>
                      </div>
                      <div
                        class="filter-line left-border"
                        *ngIf="replica.list.length == 0"
                      >
                        <button
                          type="button"
                          class="btn btn-primary"
                          [disabled]="
                            progressBar &&
                            progressBar.progress > 0 &&
                            progressBar.progress < 100
                          "
                          [translate]="'ALLOW_ACCESS'"
                          (click)="allowFullAccess(account)"
                        ></button>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        replica.title == currentReplica &&
                        account.ProviderCode === 'ICloud'
                      "
                      class="iCloud-text"
                    >
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngFor="let folder of replica.list; let i = index"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            *ngIf="i == 0"
                            [innerHTML]="
                              'APPLE_ID_WEB_ONLY_ACCESS'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            *ngIf="i == 0"
                            class="btn btn-primary col-7 mt-1 mx-3 read-more"
                            href="https://support.apple.com/en-us/HT204174"
                            target="_blank"
                            [translate]="'READ_MORE'"
                          ></a>
                        </div>
                      </div>
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngIf="replica.list.length == 0"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            [innerHTML]="
                              'APPLE_ID_WEB_ONLY_ACCESS'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            class="btn btn-primary col-7 mt-1 mx-3"
                            href="https://support.apple.com/en-us/HT204174"
                            target="_blank"
                            [translate]="'READ_MORE'"
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        replica.title == currentReplica &&
                        (account.ProviderCode === 'OutlookRest' ||
                          account.ProviderCode === 'Office365')
                      "
                      class="outlookRest-text"
                    >
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngFor="let folder of replica.list; let i = index"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            *ngIf="i == 0"
                            [innerHTML]="
                              'OFFICE365_OUTLOOK_TASKS_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            *ngIf="i == 0"
                            class="btn btn-primary col-7 mt-1 mx-3 read-more"
                            href="https://www.syncgene.com/livehelp"
                            target="_blank"
                            [translate]="'CONTACT_US'"
                          ></a>
                        </div>
                      </div>
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngIf="replica.list.length == 0"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            [innerHTML]="
                              'OFFICE365_OUTLOOK_TASKS_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            class="btn btn-primary col-7 mt-1 mx-3"
                            href="https://www.syncgene.com/livehelp"
                            target="_blank"
                            [translate]="'CONTACT_US'"
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        replica.title == currentReplica &&
                        account.ProviderCode === 'SalesForce'
                      "
                      class="SalesForce-text"
                    >
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngFor="let folder of replica.list; let i = index"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            *ngIf="i == 0 && currentReplica == 'Task'"
                            [innerHTML]="
                              'SALESFORCE_TASKS_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <span
                            *ngIf="i == 0 && currentReplica == 'Calendar'"
                            [innerHTML]="
                              'SALESFORCE_CALENDAR_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            *ngIf="i == 0"
                            class="btn btn-primary col-7 mt-1 mx-3 read-more"
                            href="https://www.syncgene.com/livehelp"
                            target="_blank"
                            [translate]="'CONTACT_US'"
                          ></a>
                        </div>
                      </div>
                      <div
                        class="filter-line p-0 left-border bg-white"
                        *ngIf="replica.list.length == 0"
                      >
                        <div
                          class="col-12 p-0 bg-white overflow-visible d-flex flex-column"
                        >
                          <span
                            *ngIf="currentReplica == 'Task'"
                            [innerHTML]="
                              'SALESFORCE_TASKS_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <span
                            *ngIf="currentReplica == 'Calendar'"
                            [innerHTML]="
                              'SALESFORCE_CALENDAR_NOT_SUPPORTED'
                                | translate: { var0: account.Username }
                            "
                            class="px-3 col-12 align-self-start mr-3 mr-md-0"
                          ></span>
                          <a
                            class="btn btn-primary col-7 mt-1 mx-3"
                            href="https://www.syncgene.com/livehelp"
                            target="_blank"
                            [translate]="'CONTACT_US'"
                          ></a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="controls left-border border-top">
                  <div
                    *ngIf="
                      replica.Folders.length > 0 &&
                      account.ProviderCode !== 'SalesForce'
                    "
                    class="checkbox"
                  >
                    <input
                      type="checkbox"
                      id="{{ 'auto' + account.Id + replica.Id }}"
                      name="{{ 'auto' + account.Id + replica.Id }}"
                      [disabled]="!replica.IsSelected"
                      [checked]="replica.AutoSyncNewFolders"
                      (change)="toggleAutoSync(account.Id, replica.Id)"
                    />
                    <label
                      for="{{ 'auto' + account.Id + replica.Id }}"
                      class="small"
                      >&nbsp;</label
                    >
                  </div>
                </div>
                <div class="controls left-border border-top">
                  <div
                    *ngIf="
                      replica.Folders.length > 0 &&
                      account.ProviderCode !== 'SalesForce'
                    "
                    class="checkbox"
                  >
                    <input
                      type="checkbox"
                      id="{{ 'delete' + account.Id + replica.Id }}"
                      name="{{ 'delete' + account.Id + replica.Id }}"
                      [disabled]="!replica.IsSelected"
                      [checked]="replica.AutoDeleteRemovedFolders"
                      (change)="toggleAutoDelete(account.Id, replica.Id)"
                    />
                    <label
                      for="{{ 'delete' + account.Id + replica.Id }}"
                      class="small"
                      >&nbsp;</label
                    >
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
  <div
    class="action-controls text-center mt-3"
    *ngIf="filterAccounts.length > 0"
  >
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="
        progressBar && progressBar.progress > 0 && progressBar.progress < 100
      "
      [translate]="'SAVE_DATA'"
      (click)="save()"
    ></button>
    <a
      [routerLink]="['/synchronization/management']"
      class="btn btn-primary"
      [translate]="'CANCEL'"
    ></a>
  </div>
</div>
