.header.filters-page {
  .filter-tabs {
    margin: 0 -15px;
  }
}

.content.filters-page {
  .minimum-height {
    min-height: 250px;
  }

  .iCloud-text,
  .outlookRest-text,
  .SalesForce-text {
    z-index: 100;

    div div,
    div {
      font-size: 13px;

      span,
      b {
        white-space: initial;
        word-break: break-word !important;
      }
    }
  }

  .overflow-visible {
    overflow: visible !important;
  }

  padding: 0 15px 25px !important;

  label {
    margin-bottom: 0;

    &:before {
      top: 5px !important;
    }

    &:after {
      top: 9px !important;
    }
  }

  .filter-line.account-switch label {
    font-size: 14px;
  }

  div.title {
    padding: 20px 15px !important;
    height: 60px !important;
    svg {
      width: 35px;
      height: 35px;
    }
  }

  svg {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #666;
  }

  .filter-table {
    min-height: 250px;
    max-height: 430px;
    overflow: hidden;
    overflow-y: scroll;

    .filter-line,
    .controls {
      height: 55px;
      padding: 18px 15px;
    }

    .controls {
      font-size: 12px;
      color: #666;
    }

    .filter-line:nth-child(2n + 1) {
      background: #f9f9f9;
    }
  }

  .filter-table-header {
    overflow: hidden;
    overflow-y: scroll;
  }

  .filter-line {
    div.checkbox {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    div.switch + label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.account-switch {
      padding: 0 10px 15px !important;
    }

    &.no-access {
      padding: 0 10px 15px !important;

      svg {
        fill: #ef452e;
      }

      span {
        color: #333;
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
      }
    }
  }

  div.checkbox {
    label {
      min-height: 25px;
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }
  }

  .filter-table-header .title,
  .filter-table .title {
    padding: 15px 10px;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #666;
    background: #f9f9f9;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .filter-table-header .title {
    background: transparent;
  }

  .border-top {
    border-top: 1px solid #ccc;
  }

  .left-border {
    border-left: 1px solid #ccc;
  }

  .filter-table-header .filter-line {
    padding-left: 15px;
  }

  .carousel {
    width: 100%;
  }

  .allow-access {
    .filter-line {
      padding: 8px 10px;
    }
    .btn-primary {
      min-width: 240px;
    }
  }
}

/* mobile media queries start */

@media all and (max-width: 1100px) {
  .filter-table-header div.filter-line {
    min-height: 63px !important;
  }
}

@media all and (max-width: 767px) {
  .header.filters-page {
    border-top: 0 !important;

    &.loaded {
      display: block !important;
    }

    .filter-tabs {
      text-align: center;
    }
  }
}

@media all and (max-width: 576px) {
  .filters-page {
    .filter-tabs {
      a {
        padding: 12px 15px;
      }
    }
  }
}
@media all and (max-width: 500px) {
  .read-more {
    font-size: 0.9rem;
  }

  .content.filters-page {
    .allow-access,
    .SalesForce-text {
      .btn-primary {
        min-width: 120px;
        width: 100%;
      }
    }
  }
}
/* mobile media queries end */
