
    <!--<div class="ios-bar"
           [ngClass]="{ 'iphoneX': iPhone && iPhone.iPhoneX && !iPhone.notchPos }"
           *ngIf="device === 'ios'"></div>
      <div class="wrapper"
           [ngClass]="{ 'fluid': hideNavbar && hideHeader && hideLeftMenu, 'top-message': webMessages && webMessages.length > 0 && !hideNavbar && !hideHeader && !hideLeftMenu, 'ios': device === 'ios', 'iphoneX': iPhone && iPhone.iPhoneX && !iPhone.notchPos, 'pt-15px':  progressBar && progressBar.progress > 0}">
          <div *ngIf="user && !hideAppPromotion && !device && mobileBrowserDevice"
               class="fixed-top"
               [@scrollAnimation]="state">
              <div class="app-promotion">
                  <div *ngIf="mobileBrowserDevice === 'ios'" class="ios-app">
                      <div class="close-block" (click)="closeAppPromotion()">
                          <svg class="icon-close" role="img">
                              <use xlink:href="/Images/svg-sprite.svg#close-icon"></use>
                          </svg>
                      </div>
                      <div class="text-block pt-2"
                           [ngClass]="{'pt-2': user.Language == 'en'}">
                          <span class="app-for-mobile"
                                [translate]="'APP_PROMOTION_IOS_TITLE'"></span><br />
                          <span class="app-info"
                                [translate]="'APP_PROMOTION_IOS_TEXT'"></span>
                      </div>
                      <div class="install-block">
                          <a class="install-button"
                             href="https://itunes.apple.com/us/app/syncgene-contacts-calendar/id1133538068?ls=1&mt=8"
                             target="_blank">
                              <svg role="img">
                                  <use xlink:href="/Images/svg-sprite.svg#app-store"></use>
                              </svg>
                          </a>
                      </div>
                  </div>
                  <div *ngIf="mobileBrowserDevice === 'android'" class="android-app">
                      <div class="close-block" (click)="closeAppPromotion()">
                          <svg class="icon-close" role="img">
                              <use xlink:href="/Images/svg-sprite.svg#close-icon"></use>
                          </svg>
                      </div>
                      <div class="text-block" [ngClass]="{'pt-2': user.Language == 'en'}">
                          <span class="app-for-mobile"
                                [translate]="'APP_PROMOTION_ANDROID_TITLE'"></span><br />
                          <span class="app-info"
                                [translate]="'APP_PROMOTION_ANDROID_TEXT'"></span>
                      </div>
                      <div class="install-block">
                          <a class="install-button"
                             href="https://play.google.com/store/apps/details?id=com.forteam.syncgene"
                             target="_blank">
                              <svg role="img">
                                  <use xlink:href="/Images/svg-sprite.svg#play-store"></use>
                              </svg>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <app-navbar [webMessages]="webMessages"
                      [ngClass]="{'d-none': hideNavbar}"
                      *ngIf="!hideNavbar"></app-navbar>
          <div class="content-wrapper"
               [ngClass]="{ 'ios-left': iPhone.notchPos === 'left', 'ios-right': iPhone.notchPos === 'right' }">
              <div class="container-fluid">
                  <header *ngIf="!hideHeader" class="d-none d-md-block d-print-none">
                      <a [routerLink]="['/share/manage-shared-calendars']"
                         *ngIf="sharingApp"
                         [class.active]="url.indexOf('share') > -1 && url.indexOf('synchronization') === -1">{{"HEADER_SHARE" | translate | lowercase}}</a>
                      <a [routerLink]="['/synchronization/status']"
                         [class.active]="url.indexOf('synchronization') > -1 && url.indexOf('restore') === -1">{{"HEADER_SYNC" | translate | lowercase}}</a>
                      <a [routerLink]="['/share/manage-shared-calendars']"
                         *ngIf="user && !sharingApp"
                         [class.active]="url.indexOf('share') > -1 && url.indexOf('synchronization') === -1">{{"HEADER_SHARE" | translate | lowercase}}</a>
                      <a [routerLink]="['/synchronization/restore']"
                         routerLinkActive="active">{{"HEADER_BACKUP" | translate | lowercase}}</a>
                      <a [routerLink]="['/account/notifications']"
                         routerLinkActive="active">{{"HEADER_NOTIFICATIONS" | translate | lowercase}}</a>
                  </header>
                  <div class="row">
                      <div class="menu-container col-3 d-none d-lg-block d-print-none"
                           *ngIf="!hideLeftMenu">
                          <app-leftmenu [url]="url"></app-leftmenu>
                      </div>
                      <div class="content-container col-12 col-lg-9">
                          <div class="row">
                              <app-loader *ngIf="!partialLoader"></app-loader>
                              <div class="header col-12" *ngIf="breadcrumb">
                                  <svg class="help-icon"
                                       (click)="openHelp()"
                                       *ngIf="!isHideHelp">
                                      <use xlink:href="/Images/svg-sprite.svg#question-circle-icon"></use>
                                  </svg>
                                  <ol class="breadcrumb">
                                      <ng-container *ngFor="let b of breadcrumb">
                                          <li *ngIf="b.url">
                                              <a [routerLink]="['/' + b.url]" [translate]="b.title">&nbsp;</a>
                                          </li>
                                          <li *ngIf="!b.url"
                                              [innerHtml]="b.title ? (b.title | translate) : '&nbsp;'"></li>
                                      </ng-container>
                                  </ol>
                                  <div class="page-title" [translate]="title">&nbsp;</div>
                              </div>
                              <router-outlet></router-outlet>
                          </div>
                          <app-help class="d-none d-md-block"></app-help>
                      </div>
                  </div>
              </div>
          </div>
          <div class="alerts d-print-none"
               *ngIf="!hideNavbar && !hideHeader && !hideLeftMenu">
              <ng-container *ngFor="let message of webMessages | slice:0:1, let i = index">
                  <div class="alert alert-danger" role="alert" [@alertAnimation]>
                      <a (click)="toggleMessage()">
                          <svg [ngClass]="{ open: showDropDownMessage }">
                              <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
                          </svg>
                          <span>{{ message.Subject | slice:0:70 }}</span>
                      </a>
                      <button type="button"
                              class="close"
                              *ngIf="message.CanBeClosedByRecipient"
                              (click)="closeMessage(message)">
                          &times;
                      </button>
                      <div class="dropdown-message"
                           *ngIf="showDropDownMessage"
                           [@expandAnimation]>
                          <div class="social d-none d-lg-block">
                              <button type="button"
                                      class="close"
                                      aria-label="Close"
                                      (click)="toggleMessage(false)"
                                      [@overflowAnimation]>
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="date-time pt-3"
                               *ngIf="message.CanBeClosedByRecipient && message.CreatedAt">
                              {{message.CreatedAt | statusDate}}
                          </div>
                          <div class="text dropdown-message-content"
                               [ngClass]="{'pt-15px': message.CanBeClosedByRecipient && message.CreatedAt}"
                               [innerHTML]="message.Content | safeHtml"
                               [attr.messageidx]="i"
                               hrefDirective></div>
                      </div>
                  </div>
              </ng-container>
          </div>
          <div class="bg-overflow"
               *ngIf="showBgOverflow"
               (click)="toggleMessage(false)"
               [@overflowAnimation]></div>
          <app-toast-messages></app-toast-messages>
      </div>
      <app-mobile-wizard *ngIf="device && wizardEnabled"></app-mobile-wizard>
      <div class="footer d-none d-lg-block" *ngIf="!hideFooter">
          <span>
              (C)&nbsp;{{ year }}&nbsp;<a href='{{"LINK_4TEAM_BIZ_EXTERNAL" | translate}}'
                                          target="_blank">4Team Corporation</a>
          </span>&nbsp;|&nbsp;
          <a href='{{"LINK_SYNCGENE_TERMS_OF_USE" | translate}}'
             target="_blank"
             [translate]="'TERMS_OF_USE'"></a>&nbsp;|&nbsp;
          <a href='{{"LINK_SYNCGENE_PRIVACY_POLICY" | translate}}'
             target="_blank"
             [translate]="'PRIVACY'"></a>
          <a *ngIf="!hideHeader"
             [routerLink]="['/account/feedback']"
             class="float-right pr-2">
              <svg class="feedback-icon">
                  <use xlink:href="/Images/svg-sprite.svg#feedback-icon"></use>
              </svg>
              <span [translate]="'MOBILE_MENU_FEEDBACK'"></span>
          </a>
      </div>-->
    <!--<ng-template #v2Div>-->

                <router-outlet></router-outlet>

  