<div class="alerts d-print-none">
  <ng-container *ngFor="let message of webMessages | slice: 0:1; let i = index">
    <div class="alert alert-danger" role="alert" [@alertAnimation]>
      <a (click)="toggleMessage()">
        <svg [ngClass]="{ open: showDropDownMessage }">
          <use xlink:href="/Images/svg-sprite.svg#arrow-d-icon"></use>
        </svg>
        <span>{{ message.Subject | slice: 0:70 }}</span>
      </a>
      <button
        type="button"
        class="close"
        *ngIf="message.CanBeClosedByRecipient"
        (click)="closeMessage(message)"
      >
        &times;
      </button>
      <div
        class="dropdown-message"
        *ngIf="showDropDownMessage"
        [@expandAnimation]
      >
        <div class="social d-none d-lg-block">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="toggleMessage(false)"
            [@overflowAnimation]
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="date-time pt-3"
          *ngIf="message.CanBeClosedByRecipient && message.CreatedAt"
        >
          {{ message.CreatedAt | statusDate }}
        </div>
        <div
          class="text dropdown-message-content"
          [ngClass]="{
            'pt-15px': message.CanBeClosedByRecipient && message.CreatedAt
          }"
          [innerHTML]="message.Content | safeHtml"
          [attr.messageidx]="i"
          hrefDirective
        ></div>
      </div>
    </div>
  </ng-container>
</div>
<div
  class="bg-overflow"
  *ngIf="showBgOverflow"
  (click)="toggleMessage(false)"
  [@overflowAnimation]
></div>
