<div
  class="content col-12 report-page"
  [ngClass]="{
    'no-p-h':
      currentUser &&
      currentUser.Subscription &&
      currentUser.Subscription.SubscriptionStatus == 'Active'
  }"
  *ngIf="currentUser"
>
  <div *ngIf="loaded">
    <div class="mb-4" ngbDropdown>
      <span
        class="date-selector"
        [attr.title]="'SELECT_DATE' | translate"
        id="dropdown"
        ngbDropdownToggle
      >
        <svg>
          <use xlink:href="/Images/svg-sprite.svg#calendar-icon"></use>
        </svg>
        <span class="align-middle d-none d-sm-inline">{{
          dates.selected === "TODAY"
            ? ("TODAY" | translate)
            : (dates.startdate | date: "MMMM d, yyyy") +
              " - " +
              (dates.enddate | date: "MMMM d, yyyy")
        }}</span>
        <span class="align-middle d-sm-none">{{
          dates.selected | translate
        }}</span>
      </span>
      <div ngbDropdownMenu attr.aria-labelledby="dropdown">
        <button
          type="button"
          class="dropdown-item"
          (click)="setDate('TODAY')"
          [translate]="'TODAY'"
          [ngClass]="{ active: dates.selected === 'TODAY' }"
        ></button>
        <button
          type="button"
          class="dropdown-item"
          (click)="setDate('THIS_WEEK')"
          [translate]="'THIS_WEEK'"
          [ngClass]="{ active: dates.selected === 'THIS_WEEK' }"
        ></button>
        <button
          type="button"
          class="dropdown-item"
          (click)="setDate('LAST_WEEK')"
          [translate]="'LAST_WEEK'"
          [ngClass]="{ active: dates.selected === 'LAST_WEEK' }"
        ></button>
        <button
          type="button"
          class="dropdown-item"
          (click)="setDate('LAST_2_WEEKS')"
          [translate]="'LAST_2_WEEKS'"
          [ngClass]="{ active: dates.selected === 'LAST_2_WEEKS' }"
        ></button>
        <button
          type="button"
          class="dropdown-item"
          (click)="setDate('LAST_4_WEEKS')"
          [translate]="'LAST_4_WEEKS'"
          [ngClass]="{ active: dates.selected === 'LAST_4_WEEKS' }"
        ></button>
      </div>
    </div>
    <p
      *ngIf="!stats || stats.Types.length === 0"
      [translate]="'EMPTY_SYNC_HISTORY'"
    ></p>
    <div *ngIf="stats && stats.Types.length > 0">
      <div class="row section part1">
        <div class="d-block" ngbDropdown>
          <span id="typeDropdown" ngbDropdownToggle>
            <span [attr.title]="'SELECT_GROUP_BY' | translate">{{
              groupBy | translate
            }}</span>
          </span>
          <div ngbDropdownMenu attr.aria-labelledby="typeDropdown">
            <button
              type="button"
              class="dropdown-item"
              (click)="setGroupBy('GROUP_BY_TYPE')"
              [translate]="'GROUP_BY_TYPE'"
              [ngClass]="{ active: groupBy === 'GROUP_BY_TYPE' }"
            ></button>
            <button
              type="button"
              class="dropdown-item"
              (click)="setGroupBy('GROUP_BY_ACCOUNT')"
              [translate]="'GROUP_BY_ACCOUNT'"
              [ngClass]="{ active: groupBy === 'GROUP_BY_ACCOUNT' }"
            ></button>
          </div>
        </div>
        <div
          class="col-12 mt-4"
          *ngIf="groupBy === 'GROUP_BY_TYPE' && typeView === 'simple'"
        >
          <div class="row">
            <div class="col-12 col-md-7 pr-0">
              <div class="type-graph-wrapper">
                <div class="changes-count">
                  <span>{{ typeTotal }}</span
                  ><br />
                  <span [translate]="'CHANGES'"></span>
                </div>
                <div class="type-graph" id="graph-by-type"></div>
                <div *ngIf="stats.Accounts">
                  <ul>
                    <ng-container *ngFor="let account of stats.Accounts">
                      <li *ngIf="account.Username !== '??'">
                        <svg class="d-inline-block align-middle">
                          <use
                            attr.xlink:href="/Images/svg-sprite.svg#{{
                              account.System.toLowerCase()
                            }}-circle-icon"
                          ></use>
                        </svg>
                        <span class="align-middle">{{ account.Username }}</span>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <div class="legend type">
                <div class="legend-1" [translate]="'CONTACTS'"></div>
                <div class="legend-2" [translate]="'CALENDARS'"></div>
                <div class="legend-3" [translate]="'TASKS'"></div>
              </div>
              <div class="col-12 text-center action-controls d-block d-md-none">
                <button
                  class="btn btn-primary"
                  [disabled]="
                    activeAccounts < 2 ||
                    (progressBar &&
                      progressBar.progress > 0 &&
                      progressBar.progress < 100)
                  "
                  (click)="sync()"
                  [translate]="'SYNC_NOW'"
                ></button>
                <button class="btn btn-primary" (click)="toggleView()">
                  {{
                    (groupBy === "GROUP_BY_TYPE"
                      ? typeView === "simple"
                        ? "VIEW_DETAILS"
                        : "VIEW_SIMPLE"
                      : accountView === "simple"
                      ? "VIEW_DETAILS"
                      : "VIEW_SIMPLE"
                    ) | translate
                  }}
                </button>
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="add-account">
                <div class="col-12 action-controls d-block d-md-none">
                  <a
                    [routerLink]="['/synchronization/addsyncaccount']"
                    class="btn btn-primary"
                    [translate]="'ADD_ACCOUNT'"
                  ></a>
                </div>
                <div
                  class="add-text d-block d-md-none"
                  [translate]="'ADD_ANOTHER_ACCOUNT'"
                ></div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount/add-icloud']"
                  class="btn icloud add-icon"
                  [attr.title]="'iCloud' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#icloud-circle-icon"
                    ></use>
                  </svg>
                </a>
                <button
                  type="button"
                  (click)="addGoogle()"
                  class="btn google add-icon"
                  [attr.title]="'Google' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#google-circle-icon"
                    ></use>
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="addOutlookRest()"
                  class="btn outlook-rest add-icon"
                  [attr.title]="'OUTLOOK_REST_TASKS_NOT_SUPPORTED' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon"
                    ></use>
                  </svg>
                </button>
                <a
                  [routerLink]="[
                    '/synchronization/addsyncaccount/add-exchange'
                  ]"
                  class="btn exchange add-icon"
                  [attr.title]="'Exchange' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exchange-circle-icon"
                    ></use>
                  </svg>
                </a>
                <div
                  class="add-text d-none d-md-block"
                  [translate]="'ADD_ANOTHER_ACCOUNT'"
                ></div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount']"
                  class="add-button d-none d-md-inline"
                  [attr.title]="'CLICK_HERE_TO_ADD_ACCOUNT' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-account-circle-icon"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-4 type-details"
          *ngIf="groupBy === 'GROUP_BY_TYPE' && typeView === 'details'"
        >
          <div class="row">
            <div class="col-12 col-md-8 pr-0">
              <div class="slider-wrapper">
                <ngx-slick-carousel
                  class="carousel"
                  #slickModal="slick-carousel"
                  [config]="slideConfig"
                >
                  <div
                    ngxSlickItem
                    *ngFor="let type of stats.Types; let i = index"
                    class="slide"
                  >
                    <div
                      class="slide-graph"
                      [attr.id]="type.Type.toLowerCase() + i"
                    ></div>
                    <div class="text-center text-uppercase">
                      {{ "DONUT_TYPE_" + type.Type.toUpperCase() | translate }}
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
              <div class="legend type">
                <div class="legend-1" [translate]="'NEW'"></div>
                <div class="legend-2" [translate]="'UPDATED'"></div>
                <div class="legend-3" [translate]="'DELETED'"></div>
              </div>
              <div class="col-12 text-center action-controls d-block d-md-none">
                <button
                  class="btn btn-primary"
                  [disabled]="
                    activeAccounts < 2 ||
                    (progressBar &&
                      progressBar.progress > 0 &&
                      progressBar.progress < 100)
                  "
                  (click)="sync()"
                  [translate]="'SYNC_NOW'"
                ></button>
                <button class="btn btn-primary" (click)="toggleView()">
                  {{
                    (groupBy === "GROUP_BY_TYPE"
                      ? typeView === "simple"
                        ? "VIEW_DETAILS"
                        : "VIEW_SIMPLE"
                      : accountView === "simple"
                      ? "VIEW_DETAILS"
                      : "VIEW_SIMPLE"
                    ) | translate
                  }}
                </button>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="add-account">
                <div class="col-12 action-controls d-block d-md-none">
                  <a
                    [routerLink]="['/synchronization/addsyncaccount']"
                    class="btn btn-primary"
                    [translate]="'ADD_ACCOUNT'"
                  ></a>
                </div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount']"
                  class="add-button d-none d-md-inline"
                  [attr.title]="'CLICK_HERE_TO_ADD_ACCOUNT' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-account-circle-icon"
                    ></use>
                  </svg>
                </a>
                <div class="add-text" [translate]="'ADD_ANOTHER_ACCOUNT'"></div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount/add-icloud']"
                  class="btn icloud add-icon"
                  [attr.title]="'iCloud' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#icloud-circle-icon"
                    ></use>
                  </svg>
                </a>
                <button
                  type="button"
                  (click)="addGoogle()"
                  class="btn google add-icon"
                  [attr.title]="'Google' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#google-circle-icon"
                    ></use>
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="addOutlookRest()"
                  class="btn outlook-rest add-icon"
                  [attr.title]="'OUTLOOK_REST_TASKS_NOT_SUPPORTED' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon"
                    ></use>
                  </svg>
                </button>
                <a
                  [routerLink]="[
                    '/synchronization/addsyncaccount/add-exchange'
                  ]"
                  class="btn exchange add-icon"
                  [attr.title]="'Exchange' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exchange-circle-icon"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-4"
          *ngIf="groupBy === 'GROUP_BY_ACCOUNT' && accountView === 'simple'"
        >
          <div class="row">
            <div class="col-12 col-md-7 pr-0">
              <div class="type-graph-wrapper">
                <div class="type-graph" id="graph-by-account"></div>
              </div>
              <div [attr.class]="'legend account m' + stats.Accounts.length">
                <div
                  *ngFor="
                    let account of stats.Accounts | slice: 0:4;
                    let i = index
                  "
                  [attr.class]="'legend-' + (i + 1)"
                  [attr.title]="account.Username"
                >
                  {{ account.Username }}
                </div>
                <div
                  class="more-acc"
                  *ngIf="stats.Accounts.length > 4"
                  [translate]="'AND_MORE'"
                ></div>
              </div>
              <div class="col-12 text-center action-controls d-block d-md-none">
                <button
                  class="btn btn-primary"
                  [disabled]="
                    activeAccounts < 2 ||
                    (progressBar &&
                      progressBar.progress > 0 &&
                      progressBar.progress < 100)
                  "
                  (click)="sync()"
                  [translate]="'SYNC_NOW'"
                ></button>
                <button class="btn btn-primary" (click)="toggleView()">
                  {{
                    (groupBy === "GROUP_BY_TYPE"
                      ? typeView === "simple"
                        ? "VIEW_DETAILS"
                        : "VIEW_SIMPLE"
                      : accountView === "simple"
                      ? "VIEW_DETAILS"
                      : "VIEW_SIMPLE"
                    ) | translate
                  }}
                </button>
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="add-account">
                <div class="col-12 action-controls d-block d-md-none">
                  <a
                    [routerLink]="['/synchronization/addsyncaccount']"
                    class="btn btn-primary"
                    [translate]="'ADD_ACCOUNT'"
                  ></a>
                </div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount']"
                  class="add-button d-none d-md-inline"
                  [attr.title]="'CLICK_HERE_TO_ADD_ACCOUNT' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-account-circle-icon"
                    ></use>
                  </svg>
                </a>
                <div class="add-text" [translate]="'ADD_ANOTHER_ACCOUNT'"></div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount/add-icloud']"
                  class="btn icloud add-icon"
                  [attr.title]="'iCloud' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#icloud-circle-icon"
                    ></use>
                  </svg>
                </a>
                <button
                  type="button"
                  (click)="addGoogle()"
                  class="btn google add-icon"
                  [attr.title]="'Google' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#google-circle-icon"
                    ></use>
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="addOutlookRest()"
                  class="btn outlook-rest add-icon"
                  [attr.title]="'OUTLOOK_REST_TASKS_NOT_SUPPORTED' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon"
                    ></use>
                  </svg>
                </button>
                <a
                  [routerLink]="[
                    '/synchronization/addsyncaccount/add-exchange'
                  ]"
                  class="btn exchange add-icon"
                  [attr.title]="'Exchange' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exchange-circle-icon"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-4 account-details"
          *ngIf="groupBy === 'GROUP_BY_ACCOUNT' && accountView === 'details'"
        >
          <div class="row">
            <div class="col-12 col-md-8 pr-0">
              <div class="slider-wrapper">
                <ngx-slick-carousel
                  class="carousel"
                  #slickModal="slick-carousel"
                  [config]="slideConfig"
                >
                  <div
                    ngxSlickItem
                    *ngFor="let account of stats.Accounts; let i = index"
                    class="slide"
                  >
                    <a
                      [routerLink]="['/synchronization/management']"
                      *ngIf="account.Invalid"
                    >
                      <div
                        class="slide-graph"
                        [attr.id]="account.Username"
                      ></div>
                    </a>
                    <div
                      class="slide-graph"
                      [attr.id]="account.Username"
                      *ngIf="!account.Invalid"
                    ></div>
                    <div class="text-center mb-2 account-icon">
                      <svg [attr.title]="account.System | translate">
                        <use
                          attr.xlink:href="/Images/svg-sprite.svg#{{
                            account.System.toLowerCase()
                          }}-circle-icon"
                        ></use>
                      </svg>
                    </div>
                    <div
                      class="account-username text-center"
                      [attr.title]="account.Username"
                    >
                      {{ account.Username }}
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
              <div class="legend type">
                <div class="legend-1" [translate]="'NEW'"></div>
                <div class="legend-2" [translate]="'UPDATED'"></div>
                <div class="legend-3" [translate]="'DELETED'"></div>
                <div class="legend-failed" [translate]="'FAILED'"></div>
              </div>
              <div class="col-12 text-center action-controls d-block d-md-none">
                <button
                  class="btn btn-primary"
                  [disabled]="
                    activeAccounts < 2 ||
                    (progressBar &&
                      progressBar.progress > 0 &&
                      progressBar.progress < 100)
                  "
                  (click)="sync()"
                  [translate]="'SYNC_NOW'"
                ></button>
                <button class="btn btn-primary" (click)="toggleView()">
                  {{
                    (groupBy === "GROUP_BY_TYPE"
                      ? typeView === "simple"
                        ? "VIEW_DETAILS"
                        : "VIEW_SIMPLE"
                      : accountView === "simple"
                      ? "VIEW_DETAILS"
                      : "VIEW_SIMPLE"
                    ) | translate
                  }}
                </button>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="add-account">
                <div class="col-12 action-controls d-block d-md-none">
                  <a
                    [routerLink]="['/synchronization/addsyncaccount']"
                    class="btn btn-primary"
                    [translate]="'ADD_ACCOUNT'"
                  ></a>
                </div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount']"
                  class="add-button d-none d-md-inline"
                  [attr.title]="'CLICK_HERE_TO_ADD_ACCOUNT' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-account-circle-icon"
                    ></use>
                  </svg>
                </a>
                <div class="add-text" [translate]="'ADD_ANOTHER_ACCOUNT'"></div>
                <a
                  [routerLink]="['/synchronization/addsyncaccount/add-icloud']"
                  class="btn icloud add-icon"
                  [attr.title]="'iCloud' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#icloud-circle-icon"
                    ></use>
                  </svg>
                </a>
                <button
                  type="button"
                  (click)="addGoogle()"
                  class="btn google add-icon"
                  [attr.title]="'Google' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#google-circle-icon"
                    ></use>
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="addOutlookRest()"
                  class="btn outlook-rest add-icon"
                  [attr.title]="'OUTLOOK_REST_TASKS_NOT_SUPPORTED' | translate"
                >
                  <svg>
                    grop
                    <use
                      xlink:href="/Images/svg-sprite.svg#outlookrest-circle-icon"
                    ></use>
                  </svg>
                </button>
                <a
                  [routerLink]="[
                    '/synchronization/addsyncaccount/add-exchange'
                  ]"
                  class="btn exchange add-icon"
                  [attr.title]="'Exchange' | translate"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#exchange-circle-icon"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4 action-controls d-none d-md-block">
          <button
            class="btn btn-primary"
            [disabled]="
              activeAccounts < 2 ||
              (progressBar &&
                progressBar.progress > 0 &&
                progressBar.progress < 100)
            "
            (click)="sync()"
            [translate]="'SYNC_NOW'"
          ></button>
          <button class="btn btn-primary" (click)="toggleView()">
            {{
              (groupBy === "GROUP_BY_TYPE"
                ? typeView === "simple"
                  ? "VIEW_DETAILS"
                  : "VIEW_SIMPLE"
                : accountView === "simple"
                ? "VIEW_DETAILS"
                : "VIEW_SIMPLE"
              ) | translate
            }}
          </button>
        </div>
      </div>
      <div class="row section part2">
        <div class="col-12 col-md-6 mb-5 mb-md-0">
          <h2 [translate]="'LAST_SYNC_WAS'"></h2>
          <span class="time">{{ stats.LastDate | date: "shortTime" }}</span
          ><br />
          <span class="date">{{ stats.LastDate | date: "shortDate" }}</span>
        </div>
        <div class="col-12 col-md-6">
          <h2 [translate]="'NUMBER_OF_SYNCS'"></h2>
          <span class="count">{{ stats.TotalSessions }}</span>
        </div>
      </div>
      <div
        class="row section part3"
        *ngIf="
          currentUser &&
          (!currentUser.Subscription ||
            currentUser.Subscription.SubscriptionStatus != 'Active')
        "
      >
        <div class="col-12">
          <h2 [translate]="'GET_THE_MOST_OF_SYNCGENE'"></h2>
          <div class="col-12 col-sm-6 col-md-4 mt-4 mb-5 btn-purchase">
            <a
              *ngIf="hidePurchaseLogic"
              [routerLink]="['/purchase']"
              class="btn btn-block btn-primary"
              [translate]="'GO_PRO_NOW'"
            ></a>
            <a
              *ngIf="!hidePurchaseLogic"
              href="http://www.syncgene.com?external=true"
              target="_blank"
              class="btn btn-block btn-primary"
              [translate]="'LEARN_MORE'"
            ></a>
          </div>
          <h2 class="features-title">
            <span [translate]="'PREMIUM_FEATURES'"></span>:
          </h2>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use xlink:href="/Images/svg-sprite.svg#sync-circle-icon"></use>
            </svg>
            <span class="align-middle" [translate]="'FEATURE_1_TITLE'"></span>
          </div>
          <div class="text" [translate]="'FEATURE_1_TEXT'"></div>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use xlink:href="/Images/svg-sprite.svg#time-circle-icon"></use>
            </svg>
            <span class="align-middle" [translate]="'FEATURE_2_TITLE'"></span>
          </div>
          <div class="text" [translate]="'FEATURE_2_TEXT'"></div>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use
                xlink:href="/Images/svg-sprite.svg#unlimited-circle-icon"
              ></use>
            </svg>
            <span class="align-middle" [translate]="'FEATURE_3_TITLE'"></span>
          </div>
          <div class="text" [translate]="'FEATURE_3_TEXT'"></div>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use
                xlink:href="/Images/svg-sprite.svg#unlimited-circle-icon"
              ></use>
            </svg>
            <span class="align-middle" [translate]="'FEATURE_4_TITLE'"></span>
          </div>
          <div class="text" [translate]="'FEATURE_4_TEXT'"></div>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use
                xlink:href="/Images/svg-sprite.svg#sharing-circle-icon"
              ></use>
            </svg>
            <span class="align-middle" [translate]="'FEATURE_5_TITLE'"></span>
          </div>
          <div class="text" [translate]="'FEATURE_5_TEXT'"></div>
        </div>
        <div class="col-12 col-md-4 feature">
          <div class="title">
            <svg class="align-middle">
              <use
                xlink:href="/Images/svg-sprite.svg#settings-circle-icon"
              ></use>
            </svg>
            <span
              class="align-middle"
              [innerHtml]="'FEATURE_6_TITLE' | translate"
            ></span
            ><span class="green">*</span>
          </div>
          <div class="text" [translate]="'FEATURE_6_TEXT'"></div>
        </div>
        <div class="col-12 mt-4 note" [translate]="'FEATURE_NOTE'"></div>
      </div>
    </div>
  </div>
</div>
