.report-page {
  &.no-p-h {
    padding-bottom: 0 !important;
  }

  .dropdown-toggle {
    user-select: none;
    cursor: pointer;

    &:after {
      vertical-align: middle !important;
    }

    svg {
      width: 25px;
      height: 25px;
      margin-right: 3px;
      vertical-align: top;
      fill: #212529;
    }

    &.date-selector {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .section {
    padding: 35px 15px;

    h2 {
      margin: 4px 0 20px 0;
      font-size: 18px;
      text-transform: uppercase;
    }

    &.part1 {
      padding-top: 0;

      .legend {
        max-width: 220px;
        float: left;
        margin-left: 20px;

        > div {
          &.legend-1:before {
            background-color: #3167ac;
          }

          &.legend-2:before {
            background-color: #aad5eb;
          }

          &.legend-3:before {
            background-color: #6eaee1;
          }

          &.legend-failed:before {
            background-color: #ef452e;
          }

          &.more-acc {
            color: #999;
          }
        }

        &.type {
          margin-top: 135px;
        }

        &.account {
          margin-top: 30px;
          margin-left: 0;
          max-width: 135px;

          > div {
            margin-right: 0;
          }

          &.m1 {
            margin-top: 95px;
          }

          &.m2 {
            margin-top: 78px;
          }

          &.m3 {
            margin-top: 62px;
          }

          &.m4 {
            margin-top: 38px;
          }
        }
      }

      .type-graph-wrapper {
        width: 255px;
        float: left;

        .changes-count {
          text-align: center;
          font-weight: 500;
          text-transform: uppercase;

          span {
            &:first-child {
              font-size: 46px;
              line-height: 50px;
            }
          }
        }

        .type-graph {
          width: 245px;
          height: 245px;
          margin: 0 auto;
          overflow: hidden;
        }

        ul {
          height: 94px;
          overflow: hidden;
          overflow-y: auto;
          list-style: none;
          background-color: #fcfcfc;
          padding: 10px 0;
          margin: 15px 0 20px;
          text-align: center;
          font-size: 16px;
          font-weight: 500;

          li {
            padding-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            svg {
              width: 35px;
              height: 35px;
              margin-right: 5px;
            }

            span {
              white-space: nowrap;
            }
          }
        }
      }

      .add-account {
        margin-top: 10px;
        text-align: center;

        .add-icon {
          width: 40px;
          height: 40px;
          padding: 2px;
          min-width: 0;
          margin: 0 3px;
          border: 0;
          border-radius: 0;
          background: #fff;
          transition: background-color 0.15s ease-in-out;

          &.google {
            svg {
              margin: 0 auto;
              display: flex;
            }
          }

          &.outlook-rest {
            svg {
              margin: 0 auto;
              display: flex;
            }
          }

          svg {
            width: 35px;
            height: 35px;
            fill: #fff;
          }
        }

        .add-text {
          margin: 10px 0;
          font-weight: 500;
          text-transform: uppercase;
        }

        .add-button {
          svg {
            width: 235px;
            height: 235px;
            fill: #007bff;
            transition: fill 0.15s ease-in-out;

            &:hover {
              fill: #0062cc;
            }
          }
        }
      }

      .type-details,
      .account-details {
        .slider-wrapper {
          float: left;
          width: 72%;

          .slide-graph {
            width: 200px;
            height: 230px;
            margin: 0 auto;
          }

          .slick-slide a {
            text-decoration: none;
          }

          .slick-current {
            box-shadow: 0 -2px 0 2px #eee;
          }

          .account-icon {
            svg {
              width: 35px;
              height: 35px;
            }
          }

          .account-username {
            width: 93%;
            margin: 0 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .legend {
          width: 28%;
          margin-left: 0;
          margin-top: 60px;
          padding-left: 20px;
        }

        .add-account {
          margin-top: 25px;

          .add-button {
            svg {
              width: 195px;
              height: 195px;
            }
          }
        }
      }

      .account-details {
        .legend {
          margin-top: 35px;
        }
      }
    }

    &.part2 {
      margin: 0 -20px;
      background-color: #e5e5e5;

      h2 {
        margin-bottom: 25px;
      }

      .time {
        font-size: 46px;
        line-height: 46px;
        font-weight: 500;
      }

      .date {
        font-weight: 300;
        font-size: 23px;
      }

      .count {
        font-size: 78px;
        font-weight: 300;
        line-height: 78px;
      }

      .col-12 {
        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }
      }
    }

    &.part3 {
      padding-bottom: 0;

      .btn-purchase {
        padding: 0;
      }

      .feature {
        padding-top: 15px;
        padding-bottom: 15px;

        .title {
          margin-bottom: 12px;
          font-weight: 500;

          svg {
            width: 28px;
            height: 28px;
            margin-right: 10px;
            fill: #63addf;
          }
        }
      }

      .note {
        padding-left: 30px;
        font-size: 14px;
        font-weight: 500;

        &:before {
          margin: 0 8px 0 -15px;
          content: "*";
          color: #0e9b0e;
        }
      }
    }
  }

  .green {
    color: #0e9b0e;
  }
}

/* mobile media queries start */
@media all and (min-width: 1200px) {
  .report-page {
    .legend {
      &.account {
        max-width: 400px !important;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .report-page {
    .section.part1 {
      .pr-0 {
        padding-right: 15px !important;
      }

      .action-controls {
        padding: 0;
      }

      .type-graph-wrapper {
        float: none;
        width: 100%;
      }

      .type-details,
      .account-details {
        .slider-wrapper {
          float: none;
          width: 100%;
        }
      }

      .legend {
        float: none;
        margin: 15px 0 15px !important;
        text-align: center;
        max-width: 100% !important;
        width: 100% !important;
        padding: 0 !important;

        > div {
          display: inline-block;

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }

      .add-account {
        margin-top: 7px !important;

        .add-text {
          margin: 20px 0 10px;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  .report-page {
    .legend {
      > div {
        margin: 10px 15px 10px;

        &:before {
          margin-right: 8px;
        }

        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}

@media all and (max-width: 519px) {
  .report-page .section.part1 .type-details .slider-wrapper .slick-current {
    box-shadow: none;
  }
}
/* mobile media queries end */
