<div class="content col-12">
  <div class="service-img text-center">
    <svg>
      <use xlink:href="/Images/svg-sprite.svg#icloud-logo"></use>
    </svg>
  </div>
  <p
    [translate]="'PLEASE_LOGIN_TO_ADD_ACCOUNT'"
    [translateParams]="{ provider: 'iCloud' }"
  ></p>
  <hr />
  <div class="row">
    <div class="col-12 col-sm-6">
      <form [formGroup]="form" (ngSubmit)="add()" novalidate>
        <div class="form-group">
          <label
            for="email"
            [translate]="'ENTER_CREDENTIALS_LABEL_USERNAME'"
          ></label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [ngClass]="
              form.get('username')?.invalid &&
              (form.get('username')?.dirty || form.get('username')?.touched)
                ? 'is-invalid'
                : ''
            "
            maxlength="120"
            formControlName="username"
          />
          <app-show-errors
            [control]="form.get('username')!"
            [errorMessage]="usernameErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <label
            for="password"
            [translate]="'ENTER_CREDENTIALS_LABEL_SPECIFIC_PASSWORD'"
          ></label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [ngClass]="
              form.get('password')?.invalid &&
              (form.get('password')?.dirty || form.get('password')?.touched)
                ? 'is-invalid'
                : ''
            "
            maxlength="256"
            formControlName="password"
          />
          <app-show-errors
            [control]="form.get('password')!"
            [errorMessage]="passwordErrorList"
          ></app-show-errors>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-block btn-primary"
            [translate]="'ADD_ACCOUNT'"
          ></button>
        </div>
        <div class="form-group">
          <a
            href="https://www.youtube.com/watch?time_continue=28&v=cFUZJKkofjk"
            target="_blank"
            >{{ "ICLOUD_HOW_TO_GENERATE_APP_PASS" | translate }}</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
