<div class="wizard-page">
  <div class="body rounded">
    <div class="logo-holder">
      <a [routerLink]="['/']">
        <svg>
          <title>SyncGene</title>
          <use xlink:href="/Images/svg-sprite.svg#syncgene-logo"></use>
        </svg>
      </a>
    </div>
    <h1
      [translate]="
        currentRoute === 'login'
          ? 'LOG_IN'
          : currentRoute === 'resetPassword'
          ? 'RESET_PASSWORD'
          : 'SIGN_UP'
      "
    ></h1>
    <p
      class="subheader"
      [innerHTML]="
        currentRoute === 'login' || currentRoute === 'resetPassword'
          ? ['LOG_IN_DESC' | translate]
          : ['RESET_PASSWORD_DESC' | translate]
      "
      *ngIf="!isExtendedProcess || currentRoute !== 'login'"
    ></p>
    <p
      class="subheader"
      [innerHTML]="'LOG_IN_DESC_EXT' | translate"
      *ngIf="isExtendedProcess && currentRoute === 'login'"
    ></p>
    <app-external-login
      [returnUrl]="returnUrl"
      [loginHint]="loginHint"
    ></app-external-login>
    <div class="separator" *ngIf="!isExtendedProcess">
      <span [translate]="'OR'"></span>
    </div>
    <div *ngIf="currentRoute === 'login'; else elseBlock">
      <app-login-form [isExtendedProcess]="isExtendedProcess"></app-login-form>
      <div class="policy-block">
        <p class="text-center" *ngIf="!isExtendedProcess">
          <span [translate]="'DONT_HAVE_AN_ACCCOUNT'"></span>&nbsp;<a
            [routerLink]="['/signup']"
            queryParamsHandling="merge"
            [translate]="'SIGNUP_HERE'"
          ></a>
        </p>
        <app-trusted-logos></app-trusted-logos>
      </div>
    </div>
    <ng-template #elseBlock>
      <app-forgot-form
        *ngIf="currentRoute === 'resetPassword'; else elseBlock2"
        [returnUrl]="returnUrl"
        [loginHint]="loginHint"
      ></app-forgot-form>
    </ng-template>
    <ng-template #elseBlock2>
      <app-signup-form> </app-signup-form>
    </ng-template>
  </div>
  <app-footer></app-footer>
</div>
