.border-top-grey {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  height: 57px;
}

.border-bottom-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.exclamark-icon {
  fill: #ef452e;
  width: 20px;
  height: 20px;
  min-width: 20px;
}

button:disabled {
  pointer-events: all;
}

label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
  padding-left: 26px !important;
  margin-bottom: 0px !important;
}

.name {
  width: auto;
}
.plus-container {
  position: relative;

  .plus {
    cursor: pointer;
    .margin-left-8px {
      margin-left: 8px;
    }

    svg {
      width: 25px;
      height: 25px;
      min-width: 25px;
      fill: #2972d8;
    }
  }

  .lower-top {
    top: -11px !important;
  }

  div.last-border-line {
    position: absolute;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    width: 20px;
    height: 31px;
    top: -17px;
    left: -8px;
  }
}

.default {
  position: absolute;

  .default-vertical-line {
    position: absolute;
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    width: 20px;
    height: 18px;
    left: 24px;
    top: 35px;
  }
}

.folder-row {
  position: absolute;
  height: 57px;

  .vertical-line {
    position: absolute;
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    width: 20px;
    height: 57px;
    top: 0px;
    left: 24px;
  }

  .horizontal-line {
    position: absolute;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    width: 20px;
    height: 57px;
    top: -26.5px;
    left: 26px;
  }
}

button.save,
.cancel,
.edit {
  padding: 0px !important;
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: #007bff;
  }
}

button.cancel,
div.cancel {
  transform: rotate(45deg);
}

button.edit {
  svg {
    width: 15px;
    height: 15px;
  }
}
button:disabled {
  svg {
    fill: #6c757d;
  }
}

span {
  color: #2972d8 !important;
}
