<div class="content px-0 pb-3">
  <div *ngIf="isLoaded">
    <div class="p-3">{{ "CHOOSE_WHAT_TO_SYNC" | translate }}</div>
    <form [formGroup]="form" (ngSubmit)="onNext()">
      <div>
        <div class="p-3">{{ "CONTACTS" | translate }}</div>
        <div class="border-top-grey d-flex align-items-center">
          <div class="p-3 checkbox d-flex align-items-center default">
            <input
              type="checkbox"
              id="SyncDefaultContactFolder"
              name="SyncDefaultContactFolder"
              formControlName="SyncDefaultContactFolder"
            />
            <label
              for="SyncDefaultContactFolder"
              [translate]="'DEFAULT_CONTACT_FOLDER'"
            ></label>
            <div class="default-vertical-line"></div>
          </div>
        </div>
        <div formArrayName="ContactFolders">
          <div
            class="border-top-grey d-flex align-items-center"
            *ngFor="let folder of ContactFolders; let i = index"
            [formGroupName]="i"
          >
            <div class="pl-3 d-flex align-items-center folder-row">
              <div class="pl-3 ml-3 checkbox d-flex align-items-center">
                <div
                  class="d-flex align-items-center"
                  *ngIf="!folder.value.IsEditable"
                >
                  <input
                    type="checkbox"
                    id="IsSelectedContact{{ i }}"
                    name="IsSelected"
                    formControlName="IsSelected"
                  />
                  <label for="IsSelectedContact{{ i }}">{{
                    folder.value.Name
                  }}</label>
                  <button
                    type="button"
                    class="edit"
                    (click)="editFolder('ContactFolders', i)"
                  >
                    <svg>
                      <use xlink:href="/Images/svg-sprite.svg#edit"></use>
                    </svg>
                  </button>
                </div>

                <div class="vertical-line"></div>
                <div class="horizontal-line"></div>
                <div
                  class="d-flex align-items-center"
                  *ngIf="folder.value.IsEditable"
                >
                  <input
                    class="form-control form-control-sm name"
                    type="text"
                    placeholder="{{ 'ENTER_CONTACTS_NAME' | translate }}"
                    name="Name"
                    id="ContactFolderName"
                    maxlength="127"
                    formControlName="Name"
                    (ngModelChange)="onFolderNameChanged()"
                  />

                  <div class="d-flex align-items-center">
                    <button
                      type="button"
                      class="save"
                      title="{{ 'SAVE' | translate }}"
                      (click)="saveFolderChanges(true)"
                    >
                      <svg>
                        <use
                          xlink:href="/Images/svg-sprite.svg#check-tick"
                        ></use>
                      </svg>
                    </button>
                  </div>
                  <button
                    title="{{ 'CANCEL' | translate }}"
                    type="button"
                    class="cancel"
                    (click)="discardFolderChanges()"
                  >
                    <svg>
                      <use
                        xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-top-grey d-flex align-items-center">
          <div
            [ngClass]="{
              'pl-3': editNewContactFolder,
              'p-3': !editNewContactFolder
            }"
          >
            <div class="pl-3 ml-3 plus-container">
              <div
                class="plus d-flex align-items-center"
                *ngIf="!editNewContactFolder"
                (click)="addNewContactFolder()"
              >
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                  ></use>
                </svg>

                <span class="margin-left-8px" *ngIf="!editNewContactFolder">{{
                  "ADD_NEW_CONTACT_FOLDER" | translate
                }}</span>
              </div>
              <div
                class="last-border-line"
                [ngClass]="{ 'lower-top': editNewContactFolder }"
              ></div>
              <div class="d-flex" *ngIf="editNewContactFolder">
                <input
                  class="form-control form-control-sm name"
                  type="text"
                  name="NewName"
                  id="NewName"
                  formControlName="NewName"
                  placeholder="{{ 'ENTER_CONTACTS_NAME' | translate }}"
                  (ngModelChange)="validateFolderName()"
                />
                <div class="d-flex align-items-center">
                  <button
                    type="button"
                    class="save"
                    title="{{ 'SAVE' | translate }}"
                    (click)="saveNewFolder(true)"
                  >
                    <svg>
                      <use xlink:href="/Images/svg-sprite.svg#check-tick"></use>
                    </svg>
                  </button>
                </div>
                <div
                  title="{{ 'CANCEL' | translate }}"
                  class="cancel d-flex justify-content-center align-items-center"
                  (click)="discardNewFolder()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                    ></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="p-3 border-top-grey d-flex align-items-center">
          {{ "CALENDAR" | translate }}
        </div>
        <div class="border-top-grey d-flex align-items-center">
          <div class="p-3 checkbox d-flex align-items-center default">
            <input
              type="checkbox"
              id="SyncDefaultCalendarFolder"
              name="SyncDefaultCalendarFolder"
              formControlName="SyncDefaultCalendarFolder"
            />
            <label
              for="SyncDefaultCalendarFolder"
              [translate]="'DEFAULT_CALENDAR_FOLDER'"
            ></label>
            <div class="default-vertical-line"></div>
          </div>
        </div>
        <div formArrayName="CalendarFolders">
          <div
            class="border-top-grey d-flex align-items-center"
            *ngFor="let folder of CalendarFolders; let i = index"
            [formGroupName]="i"
          >
            <div class="pl-3 d-flex align-items-center folder-row">
              <div class="pl-3 ml-3 checkbox d-flex align-items-center">
                <input
                  type="checkbox"
                  id="IsSelectedCalendar{{ i }}"
                  name="IsSelected"
                  formControlName="IsSelected"
                />
                <label
                  for="IsSelectedCalendar{{ i }}"
                  *ngIf="!folder.value.IsEditable"
                  >{{ folder.value.Name }}</label
                >
                <button
                  type="button"
                  *ngIf="!folder.value.IsEditable"
                  class="edit"
                  (click)="editFolder('CalendarFolders', i)"
                >
                  <svg>
                    <use xlink:href="/Images/svg-sprite.svg#edit"></use>
                  </svg>
                </button>
                <div class="vertical-line"></div>
                <div class="horizontal-line"></div>
                <div class="d-flex" *ngIf="folder.value.IsEditable">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="{{ 'ENTER_CALENDAR_NAME' | translate }}"
                    name="Name"
                    id="CalendarFolderName"
                    maxlength="127"
                    formControlName="Name"
                    (ngModelChange)="onFolderNameChanged()"
                  />
                  <div class="d-flex align-items-center">
                    <button
                      type="button"
                      class="save"
                      title="{{ 'SAVE' | translate }}"
                      (click)="saveFolderChanges(true)"
                    >
                      <svg>
                        <use
                          xlink:href="/Images/svg-sprite.svg#check-tick"
                        ></use>
                      </svg>
                    </button>
                  </div>
                  <button
                    title="{{ 'CANCEL' | translate }}"
                    type="button"
                    class="cancel"
                    (click)="discardFolderChanges()"
                  >
                    <svg>
                      <use
                        xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-top-grey d-flex align-items-center">
          <div
            [ngClass]="{
              'pl-3': editNewCalendarFolder,
              'p-3': !editNewCalendarFolder
            }"
          >
            <div class="pl-3 ml-3 plus-container">
              <div
                class="plus d-flex align-items-center"
                *ngIf="!editNewCalendarFolder"
                (click)="addNewCalendarFolder()"
              >
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                  ></use>
                </svg>

                <span class="margin-left-8px" *ngIf="!editNewCalendarFolder">{{
                  "ADD_NEW_CALENDAR_FOLDER" | translate
                }}</span>
              </div>
              <div
                class="last-border-line"
                [ngClass]="{ 'lower-top': editNewCalendarFolder }"
              ></div>
              <div class="d-flex" *ngIf="editNewCalendarFolder">
                <input
                  class="form-control form-control-sm name"
                  type="text"
                  name="NewName"
                  id="NewName"
                  formControlName="NewName"
                  placeholder="{{ 'ENTER_CALENDAR_NAME' | translate }}"
                  (ngModelChange)="validateFolderName()"
                />
                <div class="d-flex align-items-center">
                  <button
                    class="save"
                    title="{{ 'SAVE' | translate }}"
                    type="button"
                    (click)="saveNewFolder(true)"
                  >
                    <svg>
                      <use xlink:href="/Images/svg-sprite.svg#check-tick"></use>
                    </svg>
                  </button>
                </div>
                <button
                  title="{{ 'CANCEL' | translate }}"
                  class="cancel"
                  type="button"
                  (click)="discardNewFolder()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="p-3 border-top-grey">{{ "TASKS" | translate }}</div>
        <div
          class="border-top-grey d-flex align-items-center"
          *ngIf="areTasksSupported"
        >
          <div class="p-3 checkbox d-flex align-items-center default">
            <input
              type="checkbox"
              id="SyncDefaultTaskFolder"
              name="SyncDefaultTaskFolder"
              formControlName="SyncDefaultTaskFolder"
            />
            <label
              for="SyncDefaultTaskFolder"
              [translate]="'DEFAULT_TASKS_FOLDER'"
            ></label>
            <div class="default-vertical-line"></div>
          </div>
        </div>
        <div formArrayName="TaskFolders" *ngIf="areTasksSupported">
          <div
            class="border-top-grey d-flex align-items-center"
            *ngFor="let folder of TaskFolders; let i = index"
            [formGroupName]="i"
          >
            <div class="pl-3 d-flex align-items-center folder-row">
              <div class="pl-3 ml-3 checkbox d-flex align-items-center">
                <input
                  type="checkbox"
                  id="IsSelectedTask{{ i }}"
                  name="IsSelected"
                  formControlName="IsSelected"
                />
                <label
                  for="IsSelectedTask{{ i }}"
                  *ngIf="!folder.value.IsEditable"
                  >{{ folder.value.Name }}</label
                >
                <button
                  type="button"
                  *ngIf="!folder.value.IsEditable"
                  class="edit"
                  (click)="editFolder('TaskFolders', i)"
                >
                  <svg>
                    <use xlink:href="/Images/svg-sprite.svg#edit"></use>
                  </svg>
                </button>
                <div class="vertical-line"></div>
                <div class="horizontal-line"></div>
                <div class="d-flex" *ngIf="folder.value.IsEditable">
                  <input
                    class="form-control form-control-sm name"
                    type="text"
                    placeholder="{{ 'ENTER_TASKS_NAME' | translate }}"
                    name="Name"
                    id="TaskFolderName"
                    maxlength="127"
                    formControlName="Name"
                    (ngModelChange)="onFolderNameChanged()"
                  />
                  <div class="d-flex align-items-center">
                    <button
                      type="button"
                      class="save"
                      title="{{ 'SAVE' | translate }}"
                      (click)="saveFolderChanges(true)"
                    >
                      <svg>
                        <use
                          xlink:href="/Images/svg-sprite.svg#check-tick"
                        ></use>
                      </svg>
                    </button>
                  </div>
                  <button
                    title="{{ 'CANCEL' | translate }}"
                    type="button"
                    class="cancel"
                    (click)="discardFolderChanges()"
                  >
                    <svg>
                      <use
                        xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="border-top-grey d-flex align-items-center"
          *ngIf="areTasksSupported"
        >
          <div
            [ngClass]="{ 'pl-3': editNewTaskFolder, 'p-3': !editNewTaskFolder }"
          >
            <div class="pl-3 ml-3 plus-container">
              <div
                *ngIf="!editNewTaskFolder"
                class="plus d-flex align-items-center"
                (click)="addNewTaskFolder()"
              >
                <svg>
                  <use
                    xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                  ></use>
                </svg>

                <span class="margin-left-8px" *ngIf="!editNewTaskFolder">{{
                  "ADD_NEW_TASKS_FOLDER" | translate
                }}</span>
              </div>
              <div
                class="last-border-line"
                [ngClass]="{ 'lower-top': editNewTaskFolder }"
              ></div>
              <div class="d-flex" *ngIf="editNewTaskFolder">
                <input
                  class="form-control form-control-sm name"
                  type="text"
                  name="NewName"
                  id="NewName"
                  formControlName="NewName"
                  placeholder="{{ 'ENTER_TASKS_NAME' | translate }}"
                  (ngModelChange)="validateFolderName()"
                />
                <div class="d-flex align-items-center">
                  <button
                    type="button"
                    class="save"
                    title="{{ 'SAVE' | translate }}"
                    (click)="saveNewFolder(true)"
                  >
                    <svg>
                      <use xlink:href="/Images/svg-sprite.svg#check-tick"></use>
                    </svg>
                  </button>
                </div>

                <button
                  title="{{ 'CANCEL' | translate }}"
                  type="button"
                  class="cancel"
                  (click)="discardNewFolder()"
                >
                  <svg>
                    <use
                      xlink:href="/Images/svg-sprite.svg#add-circle-icon"
                    ></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="border-top-grey d-flex align-items-center"
          *ngIf="!areTasksSupported"
        >
          <div class="p-3 checkbox d-flex align-items-center">
            <input
              type="checkbox"
              id="SyncDefaultTaskFolder"
              name="SyncDefaultTaskFolder"
              formControlName="SyncDefaultTaskFolder"
            />
            <label
              for="SyncDefaultTaskFolder"
              [translate]="'DEFAULT_TASKS_FOLDER'"
            ></label>
          </div>
        </div>
        <div
          class="border-top-grey d-flex align-items-center"
          *ngIf="!areTasksSupported"
        >
          <div class="p-3 d-flex justify-content-start align-items-center">
            <svg class="exclamark-icon">
              <use xlink:href="/Images/svg-sprite.svg#exclamark-icon"></use>
            </svg>
            <div class="pl-2">
              {{ "THIS_DATA_TYPE_CANNOT_BE_ACCESSED" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="border-top-grey pb-3">
        <div class="p-3">
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            title="{{
              isFilters
                ? 'SAVE'
                : ('CONFIRM_AND_START_SYNC' | translate | uppercase)
            }}"
          >
            {{
              isFilters
                ? "SAVE"
                : ("CONFIRM_AND_START_SYNC" | translate | uppercase)
            }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
