<p class="font-weight-bold">
  <span class="symbol align-text-bottom">{{
    0 | currency: currencyCode:"symbol-narrow" | slice: 0:1
  }}</span>
  <span class="first-number align-middle">{{ firstNumber }}</span>
  <span class="second-number align-text-bottom">{{ secondNumber }}</span>
</p>
