<form [formGroup]="form" (ngSubmit)="retry()" novalidate>
  <div class="form-group" *ngIf="account.ProviderCode == 'ICloud'">
    <p [translate]="'ICLOUD_RECONNECT_SUBTITLE'"></p>
  </div>
  <div class="form-group">
    <label for="email" [translate]="'ENTER_CREDENTIALS_LABEL_USERNAME'"></label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      maxlength="120"
      formControlName="Username"
    />
  </div>
  <p
    *ngIf="retryOld && partialLoader"
    [translate]="'TRYING_CONNECT_WITH_OLD_PASSWORD'"
  ></p>
  <div class="form-group" *ngIf="!retryOld">
    <label for="password">{{
      (account.ProviderCode == "ICloud"
        ? "ENTER_CREDENTIALS_LABEL_SPECIFIC_PASSWORD"
        : "ENTER_CREDENTIALS_LABEL_PASSWORD"
      ) | translate
    }}</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': invalid.Password }"
      maxlength="256"
      formControlName="Password"
      (ngModelChange)="invalid.Password = ''"
    />
    <div class="invalid-feedback" *ngIf="invalid.Password">
      {{ invalid.Password | translate }}
    </div>
    <div
      class="invalid-feedback d-block"
      *ngIf="
        unverifiedAccount &&
        !retryOld &&
        !partialLoader &&
        account.ProviderCode == 'Exchange'
      "
      [innerHtml]="'EXCHANGE_UNVERIFIED_ACCOUNT' | translate"
    ></div>
  </div>
  <div class="form-group" *ngIf="!autoDiscovery">
    <label for="server" [translate]="'ENTER_CREDENTIALS_LABEL_SERVER'"></label>
    <input
      type="text"
      name="server"
      id="server"
      class="form-control"
      [ngClass]="{ 'is-invalid': invalid.Url }"
      maxlength="2000"
      formControlName="Url"
      (ngModelChange)="invalid.Url = false"
      [required]="!autoDiscovery"
    />
  </div>
  <div class="form-group" *ngIf="account.ProviderCode == 'ICloud'">
    <a
      href="https://www.youtube.com/watch?time_continue=28&v=cFUZJKkofjk"
      target="_blank"
      >How to generate an app-specific password?</a
    >
  </div>
</form>
