<div class="content col-12">
  <div *ngIf="addresses && timezones">
    <div class="section" *ngIf="hidePurchaseLogic && user?.isNotEnterprise">
      <div
        class="section-title first"
        [translate]="'CURRENT_SUBSCRIPTION'"
      ></div>
      <div
        class="section-content"
        *ngIf="
          !user?.Subscription ||
          subscriptionData?.Status === 'New' ||
          !user?.Subscription?.EndDate ||
          (!subscriptionEndDateValid &&
            (!subscriptionData || !subscriptionData?.IsGracePeriod))
        "
      >
        <span [innerHTML]="'SUBSCRIPTION_EMPTY' | translate"></span>&nbsp;
        <a
          [routerLink]="['/purchase']"
          [translate]="'CLICK_HERE_TO_UPGRADE'"
        ></a>
      </div>
      <a
        *ngIf="
          !user?.Subscription ||
          subscriptionData?.Status === 'New' ||
          !user?.Subscription?.EndDate ||
          (!subscriptionEndDateValid &&
            (!subscriptionData || !subscriptionData?.IsGracePeriod))
        "
        [routerLink]="['/purchase']"
        class="btn btn-primary"
        [translate]="'CHANGE'"
      ></a>
      <div
        class="section-content"
        *ngIf="
          user?.Subscription?.EndDate &&
          subscriptionData?.Status !== 'New' &&
          (subscriptionEndDateValid || subscriptionData?.IsGracePeriod)
        "
      >
        <strong class="text-capitalize">{{
          "STATUS_VALUE_ACTIVE" | translate
        }}</strong
        ><br />
        <span [ngClass]="{ 'text-danger': subscriptionData?.IsGracePeriod }">
          {{
            (subscriptionData?.IsGracePeriod
              ? "SUBSCRIPTION_EXPIRED_ON"
              : "SUBSCRIPTION_VALID_TILL"
            ) | translate
          }}
          {{ user.Subscription.EndDate | date: "longDate" }}
        </span>
      </div>
      <a
        *ngIf="
          user?.Subscription?.EndDate &&
          subscriptionData?.Status !== 'New' &&
          (subscriptionEndDateValid || subscriptionData?.IsGracePeriod)
        "
        [routerLink]="['/account/billinginformation/currentsubscription']"
        class="btn btn-primary"
        [translate]="'CHANGE'"
      ></a>
    </div>
    <div class="section d-lg-none" *ngIf="canPaymentHistoryBeShown">
      <div class="section-title" [translate]="'PAYMENT_HISTORY'"></div>
      <div class="section-content" [translate]="'VIEW_PAYMENT_HISTORY'"></div>
      <a
        [routerLink]="['/account/paymenthistory']"
        class="btn btn-primary mb-3"
        [translate]="'VIEW'"
      ></a>
    </div>
    <hr class="d-lg-none" />
    <div class="section">
      <div
        class="section-title"
        [ngClass]="{ first: !hidePurchaseLogic }"
        [translate]="'CONTACT_INFORMATION'"
      ></div>
      <div
        class="section-content"
        *ngIf="!addresses.ContactAddress"
        [translate]="'CONTACT_INFORMATION_UNSET'"
      ></div>
      <div class="section-content" *ngIf="addresses.ContactAddress">
        {{ addresses.ContactAddress.FirstName }}
        {{ addresses.ContactAddress.LastName }}<br />
        <span *ngIf="addresses.ContactAddress.Company"
          >{{ addresses.ContactAddress.Company }}<br
        /></span>
        <span *ngIf="addresses.ContactAddress.Email"
          >{{ addresses.ContactAddress.Email }}<br
        /></span>
        <span *ngIf="addresses.ContactAddress.PhoneNumber"
          >{{ addresses.ContactAddress.PhoneNumber }}<br
        /></span>
        <span
          *ngIf="
            addresses.ContactAddress.Address1 || addresses.ContactAddress.City
          "
        >
          {{ addresses.ContactAddress.Address1
          }}<span
            *ngIf="
              addresses.ContactAddress.Address1 && addresses.ContactAddress.City
            "
            >,</span
          >
          {{ addresses.ContactAddress.City }}<br />
        </span>
        <span *ngIf="addresses.ContactAddress.StateProvince"
          >{{ addresses.ContactAddress.StateProvince
          }}<span *ngIf="addresses.ContactAddress.Country">, </span></span
        >
        {{ addresses.ContactAddress.Country }}
        {{ addresses.ContactAddress.ZipPostalCode }}
      </div>
      <a
        [routerLink]="['/editContact']"
        class="btn btn-primary"
        [translate]="'EDIT'"
      ></a>
      <div class="form-group timezone">
        <label [translate]="'MY_TIMEZONE'"></label>
        <select
          name="timezone"
          class="form-control"
          [(ngModel)]="timezones.SelectedTimeZone"
          (ngModelChange)="updateTimezone()"
        >
          <option
            *ngFor="let timezone of timezones.TimeZones"
            [ngValue]="timezone.Id"
          >
            {{ timezone.DisplayName }}
          </option>
        </select>
      </div>
      <div class="form-group timezone">
        <label [translate]="'MY_LANGUAGE'"></label>
        <select
          name="language"
          class="form-control"
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="updateLanguage()"
        >
          <option *ngFor="let lang of languages" [ngValue]="lang">
            {{ lang | languagePipe }}
          </option>
        </select>
      </div>
    </div>
    <hr *ngIf="hidePurchaseLogic && user && user.isNotEnterprise" />
    <div
      class="section"
      *ngIf="hidePurchaseLogic && user && user.isNotEnterprise"
    >
      <div class="section-title" [translate]="'BILLING_INFORMATION'"></div>
      <div
        class="section-content"
        *ngIf="!addresses.BillingAddress"
        [translate]="'BILLING_INFORMATION_UNSET'"
      ></div>
      <div class="section-content" *ngIf="addresses.BillingAddress">
        {{ addresses.BillingAddress.FirstName }}
        {{ addresses.BillingAddress.LastName }}<br />
        <span *ngIf="addresses.BillingAddress.Company"
          >{{ addresses.BillingAddress.Company }}<br
        /></span>
        <span *ngIf="addresses.BillingAddress.Email"
          >{{ addresses.BillingAddress.Email }}<br
        /></span>
        <span *ngIf="addresses.BillingAddress.PhoneNumber"
          >{{ addresses.BillingAddress.PhoneNumber }}<br
        /></span>
        <span
          *ngIf="
            addresses.BillingAddress.Address1 || addresses.BillingAddress.City
          "
        >
          {{ addresses.BillingAddress.Address1
          }}<span
            *ngIf="
              addresses.BillingAddress.Address1 && addresses.BillingAddress.City
            "
            >,</span
          >
          {{ addresses.BillingAddress.City }}<br />
        </span>
        <span *ngIf="addresses.BillingAddress.StateProvince"
          >{{ addresses.BillingAddress.StateProvince
          }}<span *ngIf="addresses.BillingAddress.Country">, </span></span
        >
        {{ addresses.BillingAddress.Country }}
        {{ addresses.BillingAddress.ZipPostalCode }}
      </div>
      <a
        [routerLink]="['/editBilling']"
        class="btn btn-primary"
        [translate]="'EDIT'"
      ></a>
    </div>
    <hr class="d-lg-none" />
    <div class="section d-lg-none">
      <div class="section-title" [translate]="'LOGIN_MANAGEMENT'"></div>
      <div
        class="section-content"
        [translate]="'RESET_YOUR_ACCOUNT_PASSWORD_OR_MANAGE_YOUR_LOGINS'"
      ></div>
      <button
        type="button"
        (click)="resetPassword()"
        class="btn btn-primary mr-3 mb-3"
        [translate]="'RESET_PASSWORD'"
      ></button>
      <a
        [routerLink]="['/account/mylogins']"
        class="btn btn-primary mb-3"
        [translate]="'MY_LOGINS'"
      ></a>
    </div>
    <hr class="d-lg-none" *ngIf="user && user.isNotEnterprise" />
    <div class="section d-lg-none" *ngIf="user && user.isNotEnterprise">
      <div class="section-title" [translate]="'REMOVE_ACCOUNT'"></div>
      <div
        class="section-content"
        [translate]="'REMOVE_ACCOUNT_PERMANENTLY'"
      ></div>
      <button
        type="button"
        (click)="removeAccount()"
        class="btn btn-primary"
        [translate]="'REMOVE_ACCOUNT'"
      ></button>
    </div>
  </div>
</div>
