.questions {
  ul {
    list-style: none;

    li {
      margin-bottom: 15px;

      &:before {
        position: absolute;
        width: 10px;
        height: 10px;
        margin: 7px 5px 0 -20px;
        border-radius: 5px;
        content: "";
        background-color: #594165;
      }
    }
  }
}

.thank-you {
  .col-2.text-center {
    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

/* mobile media queries start */
@media all and (max-width: 576px) {
  .center-mobile {
    text-align: center;
  }
}
/* mobile media queries end */
