<div
  class="content col-12 questions"
  *ngIf="currentRoute === 'cancel'; else finish"
>
  <h4 class="mt-2 mb-4" [translate]="'DO_YOU_WANT_TO_CANCEL'"></h4>
  <p [translate]="'PRESS_CANCEL'"></p>
  <ul>
    <li [innerHtml]="'CANCELLATION_EFFECTIVE' | translate: { var0: date }"></li>
    <li [translate]="'RESTART_PREMIUM'"></li>
  </ul>
  <div class="action-controls text-center">
    <a
      [routerLink]="['/survey']"
      class="btn btn-primary"
      [translate]="'CANCEL_SUBSCRIPTION'"
    ></a>
    <a
      [routerLink]="['/billing']"
      class="btn btn-primary"
      [translate]="'KEEP_SUBSCRIPTION'"
    ></a>
  </div>
</div>

<ng-template #finish>
  <div class="content col-12 thank-you">
    <p [innerHTML]="'THANK_YOU_HEADING_1' | translate"></p>
    <div class="row">
      <div class="col-sm-2 text-center">
        <img src="/Images/logo_60x60.png" alt="SyncGene" title="SyncGene" />
      </div>
      <div class="col-sm-3 center-mobile">
        <b>SyncGene</b>
        <div class="discount-price"><span>$29.70</span>/year</div>
      </div>
      <div class="col-sm-4 center-mobile">
        <a
          [routerLink]="['/purchase']"
          [queryParams]="{ promocode: 'VP00612203346' }"
          class="btn btn-sm btn-primary mt-2"
          [translate]="'GET_THE_OFFER'"
        ></a>
      </div>
    </div>
    <p class="mt-5 center-mobile">
      <b [translate]="'THANK_YOU_HEADING_2'"></b>
    </p>
    <div class="row">
      <div class="col-sm-2 text-center">
        <img src="/Images/mergix_logo.png" alt="Mergix" title="Mergix" />
      </div>
      <div class="col-sm-10 center-mobile">
        <b>Mergix</b><br />
        <span [translate]="'MERGIX_DESCRIPTION'"></span><br />
        <a href="http://www.mergix.com?external=true" target="_blank"
          >www.mergix.com</a
        >
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-2 text-center">
        <img
          src="/Images/sync2cloud_logo.png"
          alt="Sync2 Cloud"
          title="Sync2 Cloud"
        />
      </div>
      <div class="col-sm-10 center-mobile">
        <b>Sync2 Cloud</b><br />
        <span [translate]="'SYNC2_CLOUD_DESCRIPTION'"></span><br />
        <a href="http://cloud.sync2.com?external=true" target="_blank"
          >cloud.sync2.com</a
        >
      </div>
    </div>
  </div>
</ng-template>
